Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, ros2-bridge, api-server

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  ros2-bridge:
    paths:
      - packages/ros2-bridge
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true

feat(api-server): door health monitoring (#233)
  package.json
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/door.py
  packages/api-server/api_server/models/door_health.py
  packages/api-server/api_server/models/door_state.py
  packages/api-server/api_server/models/health_status_mixin.py
  packages/api-server/api_server/repositories/__init__.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/repositories/sql.py
  packages/api-server/api_server/repositories/test_sql.py
  packages/api-server/api_server/rmf_io/__init__.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/gateway.py
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/operators/__init__.py
  packages/api-server/api_server/rmf_io/operators/heartbeat.py
  packages/api-server/api_server/rmf_io/rmf_io.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/rmf_io/test_data/__init__.py
  packages/api-server/api_server/rmf_io/test_data/building_map.py
  packages/api-server/api_server/rmf_io/test_data/door.py
  packages/api-server/api_server/rmf_io/test_data/door_state.py
  packages/api-server/api_server/rmf_io/test_health_watchdog.py
  packages/api-server/api_server/rmf_io/test_rmf_io.py
  packages/api-server/api_server/rmf_io/topics.py
Due: api-server

add smoke tests for different doors and states
  packages/react-components/tests/doors/door-accordion.spec.tsx
Due: react-components

add smoke tests for door marker, fail gracefully when rendering door with unknown type
  packages/react-components/lib/doors/door-marker.tsx
  packages/react-components/tests/doors/door-marker.spec.tsx
Due: react-components

refactor
  packages/react-components/tests/doors/door-accordion.spec.tsx
  packages/react-components/tests/doors/door-marker.spec.tsx
  packages/react-components/tests/doors/test-utils.ts
Due: react-components

fix false positive, it appears headless chrome and chrome may give a different result
  packages/react-components/tests/color-manager.spec.ts
Due: react-components

add smoke tests for various lift motion and states
  packages/react-components/tests/lifts/lift-accordion.spec.tsx
  packages/react-components/tests/lifts/lift-marker.spec.tsx
  packages/react-components/tests/lifts/test-utils.ts
Due: react-components

add smoke tests for varios robot modes
  packages/react-components/tests/robots/robot-accordion.spec.tsx
  packages/react-components/tests/robots/robot-marker.spec.tsx
  packages/react-components/tests/robots/test-utils.ts
Due: react-components

add smoke tests for trajectories
  packages/react-components/tests/robots/trajectory-marker.spec.tsx
Due: react-components

add tests to check basic door information is rendered
  packages/react-components/tests/doors/door-accordion.spec.tsx
Due: react-components

add tests for basic lift information
  packages/react-components/tests/lifts/lift-accordion.spec.tsx
Due: react-components

add test for basic robot information
  packages/react-components/tests/robots/robot-accordion.spec.tsx
Due: react-components

maybe fix setting state after unmounted
  packages/react-components/lib/robots/robot-marker.tsx
  packages/react-components/tests/robots/robot-marker.spec.tsx
Due: react-components

ci: fix path for ros2-bridge workflow
  .github/workflows/ros2-bridge.yml
Due: none

react-components: refactor omnipanel (#230)
  packages/dashboard/package-lock.json
  packages/dashboard/package.json
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/reducers/dashboard-reducer.tsx
  packages/dashboard/src/components/dashboard/reducers/tests/dashboard-reducer.test.tsx
  packages/dashboard/src/hotkeys.ts
  packages/dashboard/src/tests/hotkeys.test.ts
  packages/react-components/lib/omni-panel.tsx
  packages/react-components/lib/stack-navigator.ts
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/stories/omni-panel.stories.tsx
  packages/react-components/tests/omni-panel.spec.tsx
  packages/react-components/tests/stack-navigator.spec.ts
Due: dashboard, react-components

improve tests for basic infos
  packages/react-components/lib/simple-info.tsx
  packages/react-components/tests/doors/door-accordion.spec.tsx
  packages/react-components/tests/lifts/lift-accordion.spec.tsx
  packages/react-components/tests/robots/robot-accordion.spec.tsx
Due: react-components

add tests for dispenser accordion
  packages/react-components/tests/dispensers/dispenser-accordion.spec.tsx
  packages/react-components/tests/dispensers/test-utils.ts
Due: react-components

smoke test for dispenser with no state
  packages/react-components/tests/dispensers/dispenser-accordion.spec.tsx
Due: react-components

smoke test for default marker
  packages/react-components/tests/robots/default-marker.spec.tsx
  packages/react-components/tests/robots/robot-marker.spec.tsx
Due: react-components

remove fixed width fallback as it was really only done to workaround jsdom
  packages/react-components/lib/svg-text.tsx
Due: react-components

test for trashbin reducer
  packages/react-components/lib/trashbin-control-button-group-reducer.tsx
  packages/react-components/tests/trashbin-control-button-group-reducer.spec.tsx
Due: react-components

smoke test for material table icons
  packages/react-components/tests/material-table-icons.spec.tsx
Due: react-components

moar tests
  packages/react-components/tests/geometry-utils.spec.ts
  packages/react-components/tests/lifts/lift-accordion.spec.tsx
  packages/react-components/tests/lifts/test-utils.ts
Due: react-components

moar tests
  packages/react-components/lib/lifts/lift-marker.tsx
  packages/react-components/tests/lifts/lift-marker.spec.tsx
  packages/react-components/tests/robots/trajectory-marker.spec.tsx
  packages/react-components/tests/task-summary/task-summary-accordion.spec.tsx
  packages/react-components/tests/waypoints/waypoint-marker.spec.tsx
Due: react-components

ci: maybe fix nightly e2e builds
  .github/workflows/e2e.yml
Due: none

ci: maybe fix docker build
  .github/workflows/e2e.yml
Due: none

maybe fix ci
  .github/workflows/api-server.yml
  packages/api-server/pyproject.toml
Due: api-server

fix lint errors
  packages/api-server/api_server/rmf_io/test_rmf_io.py
Due: api-server

create venv locally
  .venv/.gitignore
Due: none

move deps to setup.py
  Pipfile
  Pipfile.lock
  packages/api-server/setup.py
Due: api-server

share venv across packages
  Pipfile
  Pipfile.lock
  package.json
  packages/api-server/Pipfile
  packages/api-server/Pipfile.lock
  packages/api-server/package.json
  packages/dashboard/package-lock.json
Due: dashboard, api-server

build: share python venvs (#234)
  .github/workflows/api-server.yml
  .venv/.gitignore
  Pipfile
  Pipfile.lock
  package.json
  packages/api-server/Pipfile
  packages/api-server/Pipfile.lock
  packages/api-server/api_server/rmf_io/test_rmf_io.py
  packages/api-server/package.json
  packages/api-server/pyproject.toml
  packages/api-server/setup.py
  packages/dashboard/package-lock.json
Due: dashboard, api-server

add rev for quick change detection, also update rmf messages
  packages/api-server/api_server/models/mixins/rev
  packages/api-server/api_server/models/mixins/rmf_fleet_msgs_mixins.py
  packages/api-server/api_server/models/mixins/rmf_task_msgs_mixins.py
  packages/api-server/ros_tortoise/__main__.py
  packages/api-server/ros_tortoise/templates/mixin.j2
Due: api-server

fix error when running bootstrap multiple times
  package.json
  packages/api-server/pyproject.toml
  scripts/pipenv-install.js
Due: api-server

build: fix error when running bootstrap multiple times (#240)
  package.json
  packages/api-server/pyproject.toml
  scripts/pipenv-install.js
Due: api-server

generate interfaces from tortoise -> json schema -> ts
  packages/api-client/.gitignore
  packages/api-client/.pylintrc
  packages/api-client/generate-models.js
  packages/api-client/generate-schemas.py
  packages/api-client/lib/models/door-health.ts
  packages/api-client/lib/models/door-state.ts
  packages/api-client/lib/models/door.ts
  packages/api-client/package-lock.json
  packages/api-client/package.json
Due: none

generate all models
  packages/api-client/generate-models.js
  packages/api-client/lib/models/GENERATED
  packages/api-client/package.json
Due: none

minimal client
  packages/api-client/examples/listen.ts
  packages/api-client/generate-models.js
  packages/api-client/lib/index.ts
  packages/api-client/lib/models/generated/GENERATED
  packages/api-client/lib/models/generated/door-health.ts
  packages/api-client/lib/models/generated/door-state.ts
  packages/api-client/lib/models/generated/door.ts
  packages/api-client/lib/models/index.ts
  packages/api-client/package-lock.json
  packages/api-client/package.json
  packages/api-client/static/building/L1-office.z2jxgivpq22767zmmumdrchqyjx2s6ly.png
  packages/api-client/tsconfig.json
Due: none

share eslint config across packages
  .eslintrc.js
  package-lock.json
  package.json
  packages/api-client/.eslintrc.js
  packages/api-client/lib/index.ts
  packages/react-components/.eslintrc.js
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/ros2-bridge/.eslintrc.js
  packages/ros2-bridge/package.json
Due: react-components, ros2-bridge

add linting to ros2-bridge
  .eslintrc.js
  packages/ros2-bridge/package.json
  packages/ros2-bridge/src/authenticator.ts
  packages/ros2-bridge/src/index.ts
  packages/ros2-bridge/src/plugins/ros2/index.ts
  packages/ros2-bridge/src/plugins/ros2/tests/index.test.ts
  packages/ros2-bridge/src/rpc-middleware.ts
  packages/ros2-bridge/src/tests/rpc-middleware.test.ts
  packages/ros2-bridge/src/tests/websocket-connect.test.ts
  packages/ros2-bridge/src/websocket-connect.ts
Due: ros2-bridge

update api; add README
  packages/api-client/README.md
  packages/api-client/examples/listen.ts
  packages/api-client/lib/index.ts
Due: none
