Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth, task-scheduler

Explicitly return null
  packages/react-components/lib/tasks/task-timeline.tsx
Due: react-components

Fix time representations
  packages/dashboard/src/components/tasks/task-logs.tsx
  packages/react-components/lib/tasks/task-timeline.tsx
Due: dashboard, react-components

Fiddle with colors and event name displays
  packages/dashboard/src/components/tasks/task-logs.tsx
  packages/react-components/lib/tasks/task-table.tsx
  packages/react-components/lib/tasks/task-timeline.tsx
Due: dashboard, react-components

add test for dashboard and update tasks test utils
  packages/dashboard/src/components/tasks/tests/make-tasks.ts
  packages/dashboard/src/components/tasks/tests/task-logs.test.tsx
Due: dashboard

add show logs button
  packages/react-components/lib/tasks/task-info.tsx
Due: react-components

remove unused return
  packages/react-components/lib/tasks/task-timeline.tsx
Due: react-components

remove close logs button
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/react-components/lib/tasks/task-info.tsx
  packages/react-components/lib/tasks/task-logs.tsx
Due: dashboard, react-components

hide timeline and logs for queued tasks
  packages/dashboard/src/components/tasks/task-panel.tsx
Due: dashboard

add task-log test
  packages/dashboard/src/components/tasks/tests/make-tasks.ts
  packages/dashboard/src/components/tasks/tests/task-logs.test.tsx
Due: dashboard

add simple test for tasks panel
  packages/dashboard/src/components/tasks/tests/task-panel.test.tsx
Due: dashboard

tasks grid to take 100% of possible width
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard

modify grid to take all empty space, modify ratios for task panel grid
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/react-components/lib/tasks/task-timeline.tsx
Due: dashboard, react-components

remove unused variable
  packages/dashboard/src/components/tasks/task-logs.tsx
Due: dashboard

remove task logs paper
  packages/dashboard/src/components/tasks/task-panel.tsx
Due: dashboard

fix "missing key" warnning in timeline
  packages/react-components/lib/tasks/task-timeline.tsx
Due: react-components

fix parent grid to take full size
  packages/dashboard/src/components/tasks/task-logs.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
Due: dashboard

Support flexible task definitions (#573)
  packages/dashboard/src/components/tasks/task-logs.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/components/tasks/tests/make-tasks.ts
  packages/dashboard/src/components/tasks/tests/task-logs.test.tsx
  packages/dashboard/src/components/tasks/tests/task-panel.test.tsx
  packages/react-components/lib/tasks/task-info.tsx
  packages/react-components/lib/tasks/task-logs.tsx
  packages/react-components/lib/tasks/task-table.tsx
  packages/react-components/lib/tasks/task-timeline.tsx
Due: dashboard, react-components

revert multi sub to compile
  packages/api-client/lib/index.ts
Due: none

bypass validation with Optional type
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-server/api_server/models/rmf_api/dispatch_task_response.py
Due: api-server

Fix api change for Status
  packages/dashboard/src/components/tasks/task-logs.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/dashboard/src/components/tasks/tests/make-tasks.ts
  packages/react-components/lib/tasks/task-logs.tsx
  packages/react-components/lib/tasks/task-table.tsx
  packages/react-components/lib/tasks/task-timeline.tsx
Due: dashboard, react-components

fix infinite refresh
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/react-components/lib/robots/robot-info.tsx
Due: dashboard, react-components

fix build error
  packages/dashboard/src/util/common-subscriptions.ts
Due: dashboard

revert multiple subscriptions fix, clean up api breaks
  packages/api-client/examples/listen.ts
  packages/api-client/lib/index.ts
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
Due: none

fix parsing of dispatch task response
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

update datamodel codegen
  packages/api-server/api_server/models/rmf_api/dispatch_task_response.py
  packages/api-server/api_server/models/rmf_api/robot_state.py
  packages/api-server/api_server/models/rmf_api/task_state.py
  packages/api-server/api_server/models/rmf_api/version.py
  packages/api-server/api_server/models/rmf_ros2/version.py
  packages/api-server/generate-models.sh
Due: api-server

update openapi gen and models
  packages/api-client/generate-openapi.sh
  packages/api-client/lib/openapi/.openapi-generator/VERSION
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/openapi/base.ts
  packages/api-client/lib/openapi/common.ts
  packages/api-client/lib/openapi/git_push.sh
  packages/api-client/lib/version.ts
Due: none

fix wrong payload for cancel task request
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard

fix tests
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/components/tasks/tests/task-panel.test.tsx
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/task-logs.spec.tsx
Due: dashboard, react-components

Prototype/tasks v2 2 merge prune robot panel (#581)
  packages/api-client/examples/listen.ts
  packages/api-client/lib/version.ts
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/components/tasks/tests/make-tasks.ts
  packages/dashboard/src/components/tasks/tests/task-panel.test.tsx
  packages/dashboard/src/util/common-subscriptions.ts
  packages/react-components/lib/robots/robot-info.spec.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-panel.spec.tsx
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/robots/utils.ts
  packages/react-components/lib/tasks/create-task.spec.tsx
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/task-logs.spec.tsx
  packages/react-components/lib/tasks/task-logs.tsx
  packages/react-components/lib/tasks/utils.ts
Due: dashboard, react-components

re-enable skipped test
  packages/react-components/lib/tasks/task-timeline.spec.tsx
Due: react-components

fix task cancellation in dashboard
  packages/dashboard/src/components/tasks/task-panel.tsx
Due: dashboard

refactored robot components, wip fixing locales
  packages/react-components/lib/date-time-picker.spec.tsx
  packages/react-components/lib/date-time-picker.tsx
  packages/react-components/lib/index.ts
  packages/react-components/lib/locale.tsx
  packages/react-components/lib/reports/default-date-form.spec.tsx
  packages/react-components/lib/reports/default-dates-form.tsx
  packages/react-components/lib/reports/log-management/search-log-form.tsx
  packages/react-components/lib/robots/index.ts
  packages/react-components/lib/robots/robot-info.spec.tsx
  packages/react-components/lib/robots/robot-info.stories.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-panel.spec.tsx
  packages/react-components/lib/robots/robot-panel.stories.tsx
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/lib/robots/robot-table.spec.tsx
  packages/react-components/lib/robots/robot-table.stories.tsx
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/robots/test-utils.spec.ts
  packages/react-components/lib/robots/utils.ts
  packages/react-components/lib/tasks/utils.ts
Due: react-components

add time endpoint
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-server/api_server/routes/main.py
Due: api-server

rudimentary working delivery panel
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

fix tests
  packages/react-components/lib/reports/default-date-form.spec.tsx
  packages/react-components/lib/reports/dispenser-state/dispenser-state-report.spec.tsx
  packages/react-components/lib/reports/door-state/door-state-report.spec.tsx
  packages/react-components/lib/reports/fleet-state/fleet-state-report.spec.tsx
  packages/react-components/lib/reports/health/health-report.spec.tsx
  packages/react-components/lib/reports/ingestor-state/ingestor-state-report.spec.tsx
  packages/react-components/lib/reports/lift-state/lift-state-report.spec.tsx
  packages/react-components/lib/reports/log-management/log-management.spec.tsx
  packages/react-components/lib/reports/log-management/search-log-form.spec.tsx
  packages/react-components/lib/reports/task-summary/task-summary-report.spec.tsx
  packages/react-components/lib/tasks/task-timeline.spec.tsx
  packages/react-components/lib/tasks/task-timeline.tsx
  packages/react-components/lib/test/locale.tsx
Due: react-components

fix robot page on dashboard
  packages/dashboard/rmf-launcher.js
  packages/dashboard/src/components/rmf-app/index.tsx
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/react-components/lib/robots/robot-table.tsx
Due: dashboard, react-components

memomize some components for perf
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/react-components/lib/robots/robot-table.tsx
Due: dashboard, react-components

remove use of common-subscriptions as they are on the chopping block
  packages/dashboard/src/components/robots/robot-page.tsx
Due: dashboard

add tests
  packages/react-components/lib/robots/robot-info.spec.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-table.spec.tsx
  packages/react-components/lib/robots/robot-table.tsx
Due: react-components

update puppeteer
  package-lock.json
  packages/react-components/package.json
Due: react-components

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  reporting: any of: packages/reporting
  reporting-server: any of: packages/reporting-server
  rmf-auth: any of: packages/rmf-auth
  task-scheduler: any of: packages/task-scheduler
