Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

Fix debug log, short description parsing
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/tasks/create-task.spec.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Hammer/new on cancel (#890)
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/tasks/create-task.spec.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Fix parsing custom delivery request on server and dashboard
  packages/api-server/api_server/repositories/tasks.py
  packages/react-components/lib/tasks/utils.ts
Due: react-components, api-server

Logging scheduled tasks when server starts
  packages/api-server/api_server/app.py
Due: api-server

Catch dispatch failures with task alert
  packages/api-server/api_server/routes/internal.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/dashboard/src/components/tasks/task-alert.tsx
  packages/react-components/lib/alert-dialog.tsx
Due: dashboard, react-components, api-server

Hammer/fix destination and logs (#891)
  packages/api-server/api_server/app.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/internal.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/dashboard/src/components/tasks/task-alert.tsx
  packages/react-components/lib/alert-dialog.tsx
  packages/react-components/lib/tasks/utils.ts
Due: dashboard, react-components, api-server

Use specific model for TaskQueueEntry instead of pydantic_model_creator
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/task_queue_entry.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components, api-server

Removed unused model field, fixed model loading logic
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/task_queue_entry.py
  packages/api-server/api_server/repositories/tasks.py
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components, api-server

Lint and convert timestamps from seconds to milliseconds
  packages/api-server/api_server/models/task_queue_entry.py
  packages/api-server/api_server/repositories/tasks.py
  packages/react-components/lib/tasks/test-data.spec.ts
Due: react-components, api-server

Added test and documentation for new API
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

Generate api with documentation
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

New prototype delivery query to check destinations based on task ID
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/delivery.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Revert asyncio, use multiple client example
  packages/api-server/api_server/routes/internal.py
Due: api-server

Log connections left
  packages/api-server/api_server/routes/internal.py
Due: api-server

Hammer/catch disconnect (#892)
  packages/api-server/api_server/routes/internal.py
Due: api-server

Refactor task descriptions
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/descriptions/clean.tsx
  packages/react-components/lib/tasks/descriptions/delivery.tsx
  packages/react-components/lib/tasks/descriptions/patrol.tsx
  packages/react-components/lib/tasks/descriptions/utils.ts
Due: react-components

Reverted patrol and delivery
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/descriptions/delivery.tsx
  packages/react-components/lib/tasks/descriptions/patrol.tsx
Due: dashboard, react-components

Fix qos of lift topic
  packages/api-server/api_server/gateway.py
Due: api-server

Remove low resolution warning
  packages/dashboard/src/components/app-base.tsx
Due: dashboard

Remove resolution alert
  packages/dashboard/src/components/app-base.tsx
Due: dashboard

Refactor handling of warn time
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Retain view of scheduler
  packages/dashboard/package.json
  packages/dashboard/src/components/tasks/task-schedule.tsx
  pnpm-lock.yaml
Due: dashboard

Revert changes for view change
  packages/dashboard/package.json
  packages/dashboard/src/components/tasks/task-schedule.tsx
  pnpm-lock.yaml
Due: dashboard

Maintain same view after editing or deleting events, fix bug regarding editing events more than a week later
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
  packages/dashboard/src/components/tasks/task-schedule.tsx
Due: dashboard

Hammer/dispatch race condition (#894)
  packages/api-server/api_server/repositories/tasks.py
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
  packages/dashboard/src/components/tasks/task-schedule.tsx
Due: dashboard, api-server

Catch exceptions arising from race condition in update_or_create
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Remove stale import
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Catch connects as well
  packages/api-server/api_server/routes/internal.py
Due: api-server

Using generic event for both connect and disconnects, add max events within 2 minutes to app config
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/default_config.py
  packages/api-server/api_server/routes/internal.py
Due: api-server

Lint
  packages/api-server/api_server/routes/internal.py
Due: api-server

Make configuration optional, and not enforce if undefined
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/default_config.py
  packages/api-server/api_server/routes/internal.py
Due: api-server

Added tests for before and after 8am for deletion
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
Due: api-server

Tests with added timezone configuration, expect failure
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
  packages/api-server/scripts/sqlite_test_config.py
Due: api-server

Converting deletion event date back to local tz, expect pass
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

Expect tests to fail, revert to pre-fix
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
Due: api-server

Expect tests to pass, using proper fixes
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

Documentation and comments in tests
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
Due: api-server

Shuts down server if internal websocket connections exceed max allowed defined in config
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/default_config.py
  packages/api-server/api_server/routes/internal.py
Due: api-server

Render schedules according to dashboard and server timezones
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
Due: dashboard

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
