Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

Added route to app, fixed return value as tuple
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/tortoise_models/beacons.py
  packages/api-server/api_server/routes/beacons.py
Due: api-server

Small fix in alerts on_next call
  packages/api-server/api_server/routes/internal.py
Due: api-server

Set any newly saved beacon state to next event for subscription
  packages/api-server/api_server/routes/beacons.py
Due: api-server

Add comment to explain change
  packages/dashboard/src/util/url.ts
Due: dashboard

main admin path Navigate to users
  packages/dashboard/src/components/admin/router.tsx
Due: dashboard

Improve function to be more easy to read
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Fix test in log table report and useasync function
  packages/react-components/lib/reports/log-management/log-table.spec.tsx
  packages/react-components/lib/use-async.spec.ts
Due: react-components

Remove unused import
  packages/react-components/lib/alert-dialog.spec.tsx
  packages/react-components/lib/logo-button.spec.tsx
  packages/react-components/lib/map/door-marker.spec.tsx
  packages/react-components/lib/map/lift-marker.spec.tsx
  packages/react-components/lib/map/robot-marker.spec.tsx
  packages/react-components/lib/map/workcell-marker.spec.tsx
  packages/react-components/lib/reports/dispenser-state/dispenser-state-report-table.spec.tsx
  packages/react-components/lib/reports/dispenser-state/dispenser-state-report.spec.tsx
  packages/react-components/lib/reports/door-state/door-state-report-table.spec.tsx
  packages/react-components/lib/reports/door-state/door-state-report.spec.tsx
  packages/react-components/lib/reports/fleet-state/fleet-state-report-table.spec.tsx
  packages/react-components/lib/reports/health/health-report-table.spec.tsx
  packages/react-components/lib/reports/ingestor-state/ingestor-state-report-table.spec.tsx
  packages/react-components/lib/reports/lift-state/lift-state-report-table.spec.tsx
  packages/react-components/lib/reports/multi-level-menu.spec.tsx
  packages/react-components/lib/reports/task-summary/task-summary-report-table.spec.tsx
  packages/react-components/lib/robots/robot-table-datagrid.spec.tsx
  packages/react-components/lib/robots/robot-table.spec.tsx
  packages/react-components/lib/tasks/task-table.spec.tsx
  packages/react-components/lib/transfer-list.spec.tsx
  packages/react-components/lib/workcells/workcell-panel.spec.tsx
Due: react-components

Fix typo on subs call and raise HTTP exception when state is not found
  packages/api-server/api_server/routes/beacons.py
Due: api-server

Lint
  packages/api-server/api_server/routes/beacons.py
Due: api-server

Add react three drei and fiber
  packages/dashboard/package.json
  pnpm-lock.yaml
Due: dashboard

Fix parameter name
  packages/api-server/api_server/routes/beacons.py
Due: api-server

Feature/beacons backend (#726)
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/beacons.py
  packages/api-server/api_server/rmf_io/__init__.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/routes/__init__.py
  packages/api-server/api_server/routes/beacons.py
  packages/api-server/api_server/routes/internal.py
Due: api-server

Adding component to building map
  packages/dashboard/package.json
  packages/dashboard/src/components/cube.tsx
  packages/dashboard/src/components/door.tsx
  packages/dashboard/src/components/level.tsx
  packages/dashboard/src/components/wall.tsx
  pnpm-lock.yaml
Due: dashboard

Migration to react three fiber test
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Convert the timestamp to datetime without changing the timezone
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
Due: api-server

Add until value to the scheduling system
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Aligning items hirozontally
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Remove FormLabel import
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Center camera with bounding box
  packages/dashboard/src/components/level.tsx
Due: dashboard

Ends on scheduling recurrences (#728)
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components, api-server

Adding link to unresolved issue to testing
  packages/dashboard/src/components/admin/tests/permissions-card.test.tsx
  packages/react-components/lib/reports/log-management/log-management.spec.tsx
Due: dashboard, react-components

Export function
  packages/dashboard/src/components/wall.tsx
Due: dashboard

Create Boundingbox per each level
  packages/dashboard/src/components/level.tsx
Due: dashboard

Overall bounding box
  packages/dashboard/src/components/level.tsx
Due: dashboard

Temporal css to style buttons
  packages/dashboard/src/components/temporalStyle.css
Due: dashboard

Added back missing test
  packages/dashboard/src/components/admin/tests/permissions-card.test.tsx
Due: dashboard

Reverting stack navigator tests
  packages/react-components/lib/stack-navigator.spec.ts
Due: react-components

Remove deprecated command forms
  packages/react-components/lib/commands/command-forms.stories.tsx
  packages/react-components/lib/commands/delivery-request-form.spec.tsx
  packages/react-components/lib/commands/delivery-request-form.tsx
  packages/react-components/lib/commands/form-styles.ts
  packages/react-components/lib/commands/index.ts
  packages/react-components/lib/commands/loop-request-form.spec.tsx
  packages/react-components/lib/commands/loop-request-form.tsx
  packages/react-components/lib/commands/test-data.spec.ts
  packages/react-components/lib/index.ts
Due: react-components

Revert to remove expectation of loading text since that is not what we are testing
  packages/dashboard/src/components/admin/tests/permissions-card.test.tsx
Due: dashboard

Add DashboardRoute to the route map since it returns undefined anyway
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Catching MultipleObjectsReturned, logging that only a single map is supported
  packages/api-server/api_server/rmf_io/health_watchdog.py
Due: api-server

Lint
  packages/api-server/api_server/rmf_io/health_watchdog.py
Due: api-server

Catching MultipleObjectsReturned, logging that only a single map is supported (#730)
  packages/api-server/api_server/rmf_io/health_watchdog.py
Due: api-server

Add robot cube
  packages/dashboard/src/components/robot-loader.tsx
Due: dashboard

Move canvas component into map app
  packages/dashboard/src/components/level.tsx
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Remove unused import
  packages/dashboard/src/components/robot-loader.tsx
Due: dashboard
