Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, api-server

test with parsing string logic
  .github/actions/bootstrap/action.yml
  .github/workflows/api-server.yml
Due: none

remove build step to test
  .github/actions/bootstrap/action.yml
Due: none

run when action changes
  .github/workflows/api-server.yml
Due: none

run with basic checkout
  .github/workflows/api-server.yml
Due: none

revert action step, fix test_tasks
  .github/actions/bootstrap/action.yml
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

Run tests on checked out commits only, switch matrix to nightly
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml
  .github/workflows/nightly.yml
  .github/workflows/rmf-dashboard-framework.yml
  .github/workflows/ros-translator.yml
Due: none

api-client
  packages/api-client/lib/openapi/index.ts
Due: none

checkout to default branch if distro is rolling
  .github/workflows/nightly.yml
Due: none

test
  .github/actions/bootstrap/action.yml
Due: none

checkout to temp fix branch for non-rolling distro
  .github/workflows/nightly.yml
Due: none

ros-translator
  .github/workflows/nightly.yml
  .github/workflows/ros-translator.yml
Due: none

ros-translator
  .github/workflows/ros-translator.yml
Due: none

Revert "ros-translator"
  .github/workflows/ros-translator.yml
Due: none

use pushd popd
  packages/ros-translator/ros_translator/pydantic/test/test.sh
  packages/ros-translator/ros_translator/typescript/test/test.sh
Due: none

check path
  packages/ros-translator/ros_translator/pydantic/test/test.sh
  packages/ros-translator/ros_translator/typescript/test/test.sh
Due: none

use out directly without path
  packages/ros-translator/ros_translator/pydantic/test/test.sh
  packages/ros-translator/ros_translator/typescript/test/test.sh
Due: none

ros-translator
  packages/ros-translator/ros_translator/pydantic/test/test.sh
Due: none

add dev deps and lint
  packages/rmf-dashboard-framework/package.json
  packages/rmf-dashboard-framework/src/components/map/map.tsx
Due: dashboard

use workspace
  packages/rmf-dashboard-framework/package.json
Due: dashboard

revert devdeps, add build command before lint and test
  packages/rmf-dashboard-framework/package.json
Due: dashboard

build deps before dashboard lint and test
  packages/rmf-dashboard-framework/package.json
Due: dashboard

revert changes in nightly
  .github/workflows/nightly.yml
Due: none

Fix jazzy ci (#1078)
  .github/actions/bootstrap/action.yml
  packages/rmf-dashboard-framework/package.json
  packages/ros-translator/ros_translator/pydantic/test/test.sh
Due: dashboard

test against jazzy
  .github/workflows/nightly.yml
Due: none

revert test
  .github/workflows/nightly.yml
Due: none

Fix overall CI (#1077)
  .github/actions/bootstrap/action.yml
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml
  .github/workflows/nightly.yml
  .github/workflows/rmf-dashboard-framework.yml
  .github/workflows/ros-translator.yml
  packages/api-client/lib/openapi/index.ts
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/rmf-dashboard-framework/package.json
  packages/rmf-dashboard-framework/src/components/map/map.tsx
  packages/ros-translator/ros_translator/pydantic/test/test.sh
Due: dashboard, api-server

lint
  packages/api-server/api_server/models/beacons.py
Due: api-server

Fix/1073 (#1074)
  .github/workflows/api-server.yml
  packages/api-server/api_server/models/beacons.py
  packages/api-server/api_server/repositories/rmf.py
Due: api-server

no controls for now
  packages/rmf-dashboard-framework/package.json
  packages/rmf-dashboard-framework/src/components/appbar.tsx
  packages/rmf-dashboard-framework/src/components/tasks/flexible-task-form.test.tsx
  packages/rmf-dashboard-framework/src/components/tasks/flexible-task-form.tsx
  packages/rmf-dashboard-framework/src/components/tasks/index.ts
  pnpm-lock.yaml
Due: dashboard

bump versions
  Pipfile.lock
  package.json
  packages/api-client/package.json
  packages/rmf-dashboard-framework/package.json
  pnpm-lock.yaml
Due: dashboard

auth working
  package.json
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/default_config.py
  packages/api-server/package.json
  packages/api-server/supabase/.gitignore
  packages/api-server/supabase/README.md
  packages/api-server/supabase/config.toml
  packages/api-server/supabase/migrations/20260505000000_rmf_auth_setup.sql
  packages/api-server/supabase/migrations/20260505000100_rmf_auth_hook_security_definer.sql
  packages/rmf-dashboard-framework/examples/supabase/.env.example
  packages/rmf-dashboard-framework/examples/supabase/.gitignore
  packages/rmf-dashboard-framework/examples/supabase/README.md
  packages/rmf-dashboard-framework/examples/supabase/api_server_config.py
  packages/rmf-dashboard-framework/examples/supabase/index.html
  packages/rmf-dashboard-framework/examples/supabase/main.tsx
  packages/rmf-dashboard-framework/examples/supabase/run-api-server.bash
  packages/rmf-dashboard-framework/package.json
  packages/rmf-dashboard-framework/src/services/index.ts
  packages/rmf-dashboard-framework/src/services/supabase.ts
  pnpm-lock.yaml
Due: dashboard, api-server

bump versions (#1080)
  Pipfile.lock
  package.json
  packages/api-client/package.json
  packages/rmf-dashboard-framework/package.json
  pnpm-lock.yaml
Due: dashboard

cleared vulnerability audit, local dev working, built dashboard not working
  Pipfile
  Pipfile.lock
  package.json
  packages/api-client/package.json
  packages/dashboard-e2e/package.json
  packages/rmf-dashboard-framework/package.json
  packages/rmf-dashboard-framework/src/components/admin/drawer.tsx
  packages/rmf-dashboard-framework/src/components/admin/manage-roles-dialog.tsx
  packages/rmf-dashboard-framework/src/components/admin/permissions-card.tsx
  packages/rmf-dashboard-framework/src/components/admin/role-list-card.tsx
  packages/rmf-dashboard-framework/src/components/admin/user-list-card.tsx
  packages/rmf-dashboard-framework/src/components/admin/user-profile.tsx
  packages/rmf-dashboard-framework/src/components/appbar.tsx
  packages/rmf-dashboard-framework/src/components/lifts/lift-request-dialog.tsx
  packages/rmf-dashboard-framework/src/components/lifts/lift-table-datagrid.tsx
  packages/rmf-dashboard-framework/src/components/map/layers-controller.tsx
  packages/rmf-dashboard-framework/src/components/robots/linear-progress-bar.tsx
  packages/rmf-dashboard-framework/src/components/tasks/task-form.tsx
  packages/rmf-dashboard-framework/src/components/tasks/task-summary.tsx
  packages/rmf-dashboard-framework/src/components/tasks/task-table-datagrid.tsx
  packages/rmf-dashboard-framework/src/components/tasks/task-timeline.tsx
  packages/rmf-dashboard-framework/src/components/tasks/tasks-window.tsx
  packages/rmf-dashboard-framework/src/components/tasks/types/patrol.tsx
  packages/rmf-dashboard-framework/src/components/transfer-list.tsx
  packages/rmf-dashboard-framework/src/components/window/window-close-button.tsx
  packages/rmf-dashboard-framework/src/components/workspace.tsx
  packages/rmf-models/package.json
  packages/rmf-models/tsconfig.json
  packages/ros-translator/package.json
  packages/ros-translator/ros_translator/typescript/test/test.sh
  pnpm-lock.yaml
Due: dashboard

bump vite down to 7 for mui compatibility
  packages/rmf-dashboard-framework/package.json
  pnpm-lock.yaml
Due: dashboard

fix tests for ros-translator
  packages/ros-translator/ros_translator/typescript/test/spec/bounded-sequences.spec.ts
  packages/ros-translator/ros_translator/typescript/test/spec/fixed-array.spec.ts
  packages/ros-translator/ros_translator/typescript/test/spec/nested.spec.ts
  packages/ros-translator/ros_translator/typescript/test/spec/typed-array.spec.ts
  packages/ros-translator/ros_translator/typescript/test/test.sh
  packages/ros-translator/ros_translator/typescript/test/tsconfig.json
Due: none

fix custom tab
  packages/rmf-dashboard-framework/src/components/workspace.tsx
Due: dashboard

feat(api-server): accept namespaced preferred_username claim fallback
  packages/api-server/README.md
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/default_config.py
  packages/api-server/api_server/test_authenticator.py
Due: api-server

docs: tighten RFC citations + narrow verified-provider claim
  packages/api-server/README.md
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/default_config.py
Due: api-server

Path conditions:
  dashboard: any of: packages/rmf-dashboard-framework, but not: packages/rmf-dashboard-framework/examples, **/*.js, **/*.stories.tsx
  api-server: any of: packages/api-server, but not: packages/rmf-dashboard-framework/examples, **/*.js, **/*.stories.tsx
