Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth, task-scheduler

ability to add new micro apps to workspace
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/workspace.tsx
  packages/react-components/lib/window/window-container.tsx
Due: dashboard, react-components

ported map to microapp, improve state management with the help of rxjs
  packages/dashboard/src/components/.app.tsx.swp
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/doors-app.tsx
  packages/dashboard/src/components/doors-overlay.tsx
  packages/dashboard/src/components/lifts-app.tsx
  packages/dashboard/src/components/lifts-overlay.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/robots-overlay.tsx
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/components/trajectories-overlay.tsx
  packages/dashboard/src/components/waypoints-overlay.tsx
  packages/dashboard/src/components/workcells-overlay.tsx
  packages/react-components/lib/map/affine-image-overlay.tsx
  packages/react-components/lib/map/doors-overlay.spec.tsx
  packages/react-components/lib/map/doors-overlay.tsx
  packages/react-components/lib/map/index.tsx
  packages/react-components/lib/map/lifts-overlay.spec.tsx
  packages/react-components/lib/map/lifts-overlay.tsx
  packages/react-components/lib/map/robots-overlay.spec.tsx
  packages/react-components/lib/map/robots-overlay.tsx
  packages/react-components/lib/map/trajectories-overlay.spec.tsx
  packages/react-components/lib/map/trajectories-overlay.tsx
  packages/react-components/lib/map/utils.ts
  packages/react-components/lib/map/waypoints-overlay.spec.tsx
  packages/react-components/lib/map/waypoints-overlay.tsx
  packages/react-components/lib/map/with-label.tsx
  packages/react-components/lib/map/workcells-overlay.spec.tsx
  packages/react-components/lib/map/workcells-overlay.tsx
Due: dashboard, react-components

add task table app, fixes
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/admin/role-list-page.tsx
  packages/dashboard/src/components/admin/user-list-page.tsx
  packages/dashboard/src/components/admin/user-profile-page.tsx
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/app-registry.ts
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/dashboard.tsx
  packages/dashboard/src/components/doors-app.tsx
  packages/dashboard/src/components/lifts-app.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/micro-app.tsx
  packages/dashboard/src/components/rmf-app/contexts.ts
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/robots-overlay.tsx
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/components/tasks-app.tsx
  packages/dashboard/src/components/tasks-workspace.tsx
  packages/dashboard/src/components/tasks/index.ts
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/components/tasks/utils.ts
  packages/dashboard/src/components/workspace.tsx
  packages/dashboard/src/util/url.ts
Due: dashboard

bug fixes
  packages/dashboard/src/components/admin/role-list-page.tsx
  packages/dashboard/src/components/admin/user-list-page.tsx
  packages/dashboard/src/components/admin/user-profile-page.tsx
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app-contexts.tsx
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/doors-app.tsx
  packages/dashboard/src/components/doors-overlay.tsx
  packages/dashboard/src/components/lifts-app.tsx
  packages/dashboard/src/components/lifts-overlay.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/rmf-app/contexts.ts
  packages/dashboard/src/components/rmf-app/index.tsx
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/robots-overlay.tsx
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/tasks-app.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/components/tests/mock-app-controller.ts
  packages/dashboard/src/components/workspace.tsx
  packages/react-components/lib/window/window.tsx
Due: dashboard, react-components

Bump uvicorn
  packages/api-server/setup.py
  packages/reporting-server/setup.py
Due: api-server, reporting, reporting-server

finish porting tasks page
  packages/api-client/lib/index.ts
  packages/dashboard/src/components/admin/add-permission-dialog.tsx
  packages/dashboard/src/components/admin/create-role-dialog.tsx
  packages/dashboard/src/components/admin/create-user-dialog.tsx
  packages/dashboard/src/components/admin/manage-roles-dialog.tsx
  packages/dashboard/src/components/admin/permissions-card.tsx
  packages/dashboard/src/components/admin/role-list-card.tsx
  packages/dashboard/src/components/admin/user-list-card.tsx
  packages/dashboard/src/components/admin/user-profile.tsx
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app-contexts.tsx
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/app-registry.ts
  packages/dashboard/src/components/tasks-workspace.tsx
  packages/dashboard/src/components/tasks/task-details-app.tsx
  packages/dashboard/src/components/tasks/task-logs-app.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/dashboard/src/components/tests/mock-app-controller.ts
  packages/dashboard/src/components/workspace.tsx
  packages/react-components/lib/error-snackbar.spec.tsx
  packages/react-components/lib/error-snackbar.stories.tsx
  packages/react-components/lib/error-snackbar.tsx
Due: dashboard, react-components

Update requests and python dependencies to 22.04
  Pipfile
  Pipfile.lock
Due: none

Revert "Update requests and python dependencies to 22.04"
  Pipfile
  Pipfile.lock
Due: none

ported and improve robot table
  packages/dashboard/src/components/app-registry.ts
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/robots/robots-app.tsx
  packages/dashboard/src/components/robots/robots-workspace.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/dashboard/src/components/tasks/tasks-workspace.tsx
  packages/react-components/lib/index.ts
  packages/react-components/lib/robots/robot-table.tsx
Due: dashboard, react-components

port robot infos and improve multiple components
  packages/dashboard/src/components/app-registry.ts
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/robots/index.ts
  packages/dashboard/src/components/robots/robot-info-app.tsx
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/robots/robots-app.tsx
  packages/dashboard/src/components/robots/robots-workspace.tsx
  packages/dashboard/src/components/tasks/task-details-app.tsx
  packages/dashboard/src/components/tasks/task-logs-app.tsx
  packages/dashboard/src/components/tasks/task-logs.tsx
  packages/dashboard/src/components/tasks/tasks-workspace.tsx
  packages/react-components/lib/robots/robot-info.tsx
Due: dashboard, react-components

add map to robot workspace; many fixes and improvements
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app-contexts.tsx
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/dashboard.tsx
  packages/dashboard/src/components/drawers/settings-drawer.tsx
  packages/dashboard/src/components/drawers/tests/settings-drawer.test.tsx
  packages/dashboard/src/components/robots/robots-workspace.tsx
  packages/dashboard/src/components/tests/mock-app-controller.ts
  packages/dashboard/src/components/workspace.tsx
  packages/dashboard/src/managers/resource-manager-logos.ts
  packages/dashboard/src/settings.ts
  packages/react-components/lib/appbar-tab.tsx
  packages/react-components/lib/map/map.tsx
  packages/react-components/lib/themes/rmf-dark.tsx
Due: dashboard, react-components

log time with 64 bit
  packages/api-server/api_server/models/tortoise_models/log.py
Due: api-server

fix response body for robot_task
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

nit
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

fully support auto refresh in robots app
  packages/dashboard/src/components/robots/robots-app.tsx
Due: dashboard

show task itinerary even completed and canceled
  packages/dashboard/src/components/tasks/task-panel.tsx
Due: dashboard

enable cancelation for queued task
  packages/dashboard/src/components/tasks/task-panel.tsx
Due: dashboard

log time with 64 bit (#618)
  packages/api-server/api_server/models/tortoise_models/log.py
Due: api-server

fix finish time viz
  packages/dashboard/src/components/robots/robot-page.tsx
Due: dashboard

update battery decimal to .2
  packages/dashboard/src/components/robots/robot-page.tsx
Due: dashboard

update default traj to 5 mins
  packages/dashboard/src/components/schedule-visualizer/index.tsx
Due: dashboard

fix battery value decimals for some val after multiply
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-table.tsx
Due: react-components

fix incorrect task progress bar
  packages/dashboard/src/components/robots/robot-page.tsx
Due: dashboard

add task category in task panel table
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/react-components/lib/tasks/task-table.tsx
Due: dashboard, react-components

accept single place for loop task form
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

fix tests
  package-lock.json
  packages/react-components/karma.conf.js
  packages/react-components/lib/commands/delivery-request-form.spec.tsx
  packages/react-components/lib/doors/door-table.spec.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/doors/index.ts
  packages/react-components/lib/lifts/lift-controls.tsx
  packages/react-components/lib/lifts/lift-request-dialog.spec.tsx
  packages/react-components/lib/lifts/lift-request-dialog.tsx
  packages/react-components/lib/map/schedule-visualizer.stories.tsx
  packages/react-components/lib/robots/robot-table.spec.tsx
  packages/react-components/lib/window/window.spec.tsx
  packages/react-components/package.json
  packages/react-components/webpack.config.js
Due: react-components

properly support auto refresh in tasks app
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

fix robots finish time
  packages/dashboard/src/components/robots/robots-app.tsx
Due: dashboard

fix deps
  package-lock.json
  packages/dashboard/package.json
  packages/react-components/package.json
Due: dashboard, react-components

deps: Humble / 22.04 compatibility (#617)
  Pipfile
  Pipfile.lock
  packages/api-server/setup.py
  packages/reporting-server/setup.py
Due: api-server, reporting, reporting-server

Fix casting and lint
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

fix response body for robot_task (#619)
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

update texts in task form place boxes
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

support multiple places in loop or patrol task form
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

accept single place for loop task form (#622)
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

fix lint on import mui
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

ci(react-components): fix lint on import mui (#626)
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

update minimum node version
  package.json
Due: none

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  reporting: any of: packages/reporting
  reporting-server: any of: packages/reporting-server
  rmf-auth: any of: packages/rmf-auth
  task-scheduler: any of: packages/task-scheduler
