Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, ros2-bridge, api-server, reporting, rmf-auth

Added minio on top list, docker instructions on airgapped section,removed br leftover
  example-deployment/README.md
Due: none

Service and storage are now writed first on the minio.yaml config file
  example-deployment/k8s/minio.yaml
Due: none

Default fluentD conf to production
  example-deployment/k8s/fluentd-configmap.yaml
Due: none

Fixed comments and removed ImageImagePullPolicy
  example-deployment/k8s/fluentd-configmap.yaml
  example-deployment/k8s/fluentd.yaml
Due: none

task view
  packages/react-components/lib/task-summary/index.ts
  packages/react-components/lib/task-summary/task-view.tsx
  packages/react-components/stories/task-view.stories.tsx
Due: react-components

modidify notifications bar
  packages/react-components/lib/navigation-bar.tsx
  packages/react-components/lib/title-bar.tsx
  packages/react-components/tests/navigation-bar.spec.tsx
Due: react-components

add navigation bar to appintrinsics and update routes
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/util/url.ts
Due: dashboard

add temporary placeholder panels
  packages/dashboard/src/components/test-panel.tsx
Due: dashboard

organization
  packages/react-components/lib/task-summary/index.ts
  packages/react-components/lib/task-summary/task-phases.tsx
  packages/react-components/stories/tasks/task-phases.stories.tsx
Due: react-components

example-deployment:Add fluentd and MinIO to kubernetes cluster (#301)
  example-deployment/README.md
  example-deployment/k8s/fluentd-configmap.yaml
  example-deployment/k8s/fluentd.yaml
  example-deployment/k8s/minio.yaml
Due: none

symlink packages on install
  package-lock.json
  package.json
  scripts/bootstrap.js
  scripts/packages.js
  scripts/symlink-packages.js
Due: none

fix missing fonts
  packages/react-components/.storybook/preview.js
  packages/react-components/lib/index.ts
  packages/react-components/lib/task-summary/index.ts
  packages/react-components/lib/task-summary/task-table.tsx
  packages/react-components/lib/task-summary/utils.ts
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/stories/tasks/phases.stories.tsx
  packages/react-components/stories/tasks/table.stories.tsx
  packages/react-components/stories/tasks/task-phases.stories.tsx
  packages/react-components/stories/tasks/test-data.ts
Due: react-components

initial task table
  packages/react-components/lib/task-summary/task-table.tsx
  packages/react-components/stories/tasks/table.stories.tsx
Due: react-components

add button to create task
  packages/react-components/lib/task-summary/task-table.tsx
Due: react-components

fix certain packages not written to index
  packages/rmf-models/test/index.ts
  packages/rmf-models/ts_ros/__main__.py
  packages/rmf-models/ts_ros/templates/index.j2
Due: none

initial commit
  packages/react-components/lib/index.ts
  packages/react-components/lib/theme/theme.tsx
  packages/react-components/stories/theme.stories.tsx
Due: react-components

update model versions
  packages/rmf-models/lib/ros/index.ts
  packages/rmf-models/lib/version.ts
  packages/rmf-models/ts_ros/__main__.py
Due: none

use human readable relative time
  packages/react-components/lib/task-summary/task-table.tsx
  packages/react-components/lib/utils.ts
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: react-components

fix separator between info and phases
  packages/react-components/lib/task-summary/task-table.tsx
Due: react-components

theming
  packages/react-components/stories/theme.stories.tsx
Due: react-components

update readme with theming instructions
  packages/dashboard/README.md
Due: dashboard

remove verbose code in navigation bar in dashboard
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/util/url.ts
  packages/react-components/lib/navigation-bar.tsx
Due: dashboard, react-components

fix test errors
  packages/react-components/tests/navigation-bar.spec.tsx
Due: react-components

use theme, fix unit test, remove readme
  packages/dashboard/README.md
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/dashboard/tour/tests/__snapshots__/tour.test.tsx.snap
  packages/dashboard/src/components/dashboard/tour/tour-manager.tsx
Due: dashboard

create task form
  packages/api-client/lib/index.ts
  packages/react-components/lib/task-summary/create-task.tsx
  packages/react-components/lib/task-summary/index.ts
  packages/react-components/lib/task-summary/task-table.tsx
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/stories/tasks/create-task.stories.tsx
Due: react-components

default to no tasktype
  packages/react-components/lib/task-summary/create-task.tsx
Due: react-components

do not show upload button by default
  packages/react-components/lib/task-summary/create-task.tsx
Due: react-components

fix build error
  packages/reporting/src/components/app.tsx
Due: reporting

add light and dark for main and secondary, revert tour manager
  packages/dashboard/src/components/dashboard/tour/tour-manager.tsx
  packages/react-components/lib/theme/theme.tsx
Due: dashboard, react-components

add event handlers
  packages/react-components/lib/task-summary/create-task.tsx
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/stories/tasks/create-task.stories.tsx
Due: react-components

fix completed task colors
  packages/react-components/lib/task-summary/create-task.tsx
  packages/react-components/lib/task-summary/task-phases.tsx
  packages/react-components/stories/tasks/table.stories.tsx
Due: react-components

pagination and sticky headers/footers
  packages/react-components/lib/task-summary/create-task.tsx
  packages/react-components/lib/task-summary/task-table.tsx
  packages/react-components/stories/tasks/create-task.stories.tsx
  packages/react-components/stories/tasks/table.stories.tsx
Due: react-components

smoke test for createtaskform
  packages/react-components/lib/task-summary/create-task.tsx
  packages/react-components/stories/tasks/phases.stories.tsx
  packages/react-components/stories/tasks/table.stories.tsx
  packages/react-components/tests/task-summary/create-task.spec.tsx
  packages/react-components/tests/test-data/tasks.ts
Due: react-components

add tests
  packages/react-components/lib/task-summary/create-task.tsx
  packages/react-components/lib/task-summary/task-table.tsx
  packages/react-components/stories/tasks/task-phases.stories.tsx
  packages/react-components/stories/tasks/task-table.stories.tsx
  packages/react-components/tests/task-summary/create-task.spec.tsx
  packages/react-components/tests/task-summary/task-table.spec.tsx
Due: react-components

update snapshot
  packages/dashboard/src/components/dashboard/tour/tests/__snapshots__/tour.test.tsx.snap
Due: dashboard

cleanup
  packages/react-components/lib/task-summary/create-task.tsx
Due: react-components

combine headers
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/test-panel.tsx
Due: dashboard

combine react components and remove extra tabs
  packages/dashboard/src/util/url.ts
  packages/react-components/lib/title-bar.tsx
  packages/react-components/stories/title-bar.stories.tsx
Due: dashboard, react-components

add minimal task info
  packages/react-components/lib/task-summary/index.ts
  packages/react-components/lib/task-summary/task-info.tsx
  packages/react-components/lib/task-summary/utils.ts
  packages/react-components/stories/tasks/task-info.stories.tsx
  packages/react-components/tests/task-summary/task-info.spec.tsx
Due: react-components

add task info and task panel
  packages/react-components/lib/task-summary/index.ts
  packages/react-components/lib/task-summary/task-info.tsx
  packages/react-components/lib/task-summary/task-panel.tsx
  packages/react-components/lib/task-summary/task-table.tsx
  packages/react-components/stories/tasks/task-panel.stories.tsx
  packages/react-components/stories/tasks/task-table.stories.tsx
Due: react-components

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  ros2-bridge: any of: packages/ros2-bridge
  api-server: any of: packages/api-server
  reporting: any of: packages/reporting
  rmf-auth: any of: packages/rmf-auth
