Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth, task-scheduler

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  reporting:
    paths:
      - packages/reporting
    carryforward: true
  reporting-server:
    paths:
      - packages/reporting-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true
  task-scheduler:
    paths:
      - packages/task-scheduler
    carryforward: true

Revert markupsafe version to 2.1.1
  Pipfile.lock
Due: none

Using open-rmf logo as default logo (#608)
  packages/dashboard/src/assets/defaultLogo.png
Due: dashboard

Pipenv install and update jinja2 to 3.1.2
  Pipfile
  Pipfile.lock
Due: none

Reverting use of -p flag since already did a cd
  packages/ros-translator/ros_translator/typescript/test/test.sh
Due: none

correctly define jinja dep
  Pipfile
  packages/ros-translator/setup.py
Due: none

update lockfile
  Pipfile.lock
Due: none

Fix ros-translator CI test (#613)
  Pipfile
  Pipfile.lock
  packages/ros-translator/ros_translator/typescript/test/test.sh
  packages/ros-translator/setup.py
Due: none

fix rxpy subscription leak
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

linting
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

fix tests
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

upgrade storybook to 6.5.8
  package-lock.json
  packages/dashboard/package.json
  packages/react-components/package.json
  packages/reporting/package.json
  packages/rmf-auth/package.json
Due: dashboard, react-components, reporting, rmf-auth

add missing deps
  package-lock.json
  packages/rmf-auth/package.json
Due: rmf-auth

upgrade material
  package-lock.json
  packages/dashboard/package.json
  packages/react-components/.storybook/preview.tsx
  packages/react-components/lib/locale.tsx
  packages/react-components/lib/reports/default-dates-form.tsx
  packages/react-components/lib/reports/health/health-report-table.tsx
  packages/react-components/lib/reports/lift-state/lift-state-report-table.tsx
  packages/react-components/lib/reports/log-management/search-log-form.tsx
  packages/react-components/lib/tasks/create-task.stories.tsx
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/test/locale.tsx
  packages/react-components/lib/themes/index.ts
  packages/react-components/lib/themes/rmf-dark.tsx
  packages/react-components/lib/themes/rmf-light.tsx
  packages/react-components/lib/themes/theme-provider.tsx
  packages/react-components/lib/themes/types.d.ts
  packages/react-components/package.json
  packages/rmf-auth/package.json
Due: dashboard, react-components, rmf-auth

fix dashboard tests
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/tests/test-utils.tsx
  packages/react-components/lib/reports/log-management/search-log-form.tsx
Due: dashboard, react-components

ignore lint errors in reporting
  packages/react-components/lib/reports/task-summary/task-summary-report-table.tsx
  packages/react-components/lib/reports/task-summary/utils.tsx
  packages/react-components/lib/tasks/utils.ts
Due: react-components

upgrade puppeteer
  package-lock.json
Due: none

upgrade minor versions
  package-lock.json
Due: none

downgrade history to compatible version
  package-lock.json
  packages/rmf-auth/package.json
Due: rmf-auth

remove legacy peer deps
  .npmrc
  package-lock.json
Due: none

deps: upgrade deps (#615)
  .npmrc
  package-lock.json
  packages/dashboard/package.json
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/tests/test-utils.tsx
  packages/react-components/.storybook/preview.tsx
  packages/react-components/lib/locale.tsx
  packages/react-components/lib/reports/default-dates-form.tsx
  packages/react-components/lib/reports/health/health-report-table.tsx
  packages/react-components/lib/reports/lift-state/lift-state-report-table.tsx
  packages/react-components/lib/reports/log-management/search-log-form.tsx
  packages/react-components/lib/reports/task-summary/task-summary-report-table.tsx
  packages/react-components/lib/reports/task-summary/utils.tsx
  packages/react-components/lib/tasks/create-task.stories.tsx
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/utils.ts
  packages/react-components/lib/test/locale.tsx
  packages/react-components/lib/themes/index.ts
  packages/react-components/lib/themes/rmf-dark.tsx
  packages/react-components/lib/themes/rmf-light.tsx
  packages/react-components/lib/themes/theme-provider.tsx
  packages/react-components/lib/themes/types.d.ts
  packages/react-components/package.json
  packages/reporting/package.json
  packages/rmf-auth/package.json
Due: dashboard, react-components, reporting, rmf-auth

wip converting doors panel
  package-lock.json
  packages/dashboard/package.json
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/dashboard.tsx
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/index.ts
  packages/dashboard/src/components/doors-panel.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/window-manager.ts
  packages/react-components/lib/doors/door-card.stories.tsx
  packages/react-components/lib/doors/door-card.tsx
  packages/react-components/lib/doors/door-controls.tsx
  packages/react-components/lib/doors/index.ts
  packages/react-components/lib/doors/utils.ts
Due: dashboard, react-components

fix lint errors
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/query.py
  packages/api-server/api_server/repositories/static_files.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/test/test_client.py
Due: api-server

add missing localizationprovider
  packages/dashboard/src/components/app.tsx
Due: dashboard

try using newer asyncpg for python 3.10 compatibility https://github.com/MagicStack/asyncpg/discussions/865
  Pipfile
Due: none

fix: fixes from upgrading deps (#616)
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/query.py
  packages/api-server/api_server/repositories/static_files.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/test/test_client.py
  packages/dashboard/src/components/app.tsx
Due: dashboard, api-server

remove old locked version
  Pipfile
Due: none

prevent periodic sub unsub of socketio connections from client
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard

really remove old locked version
  Pipfile.lock
Due: none

really remove old locked version
  Pipfile
Due: none

bump asyncpg version
  packages/api-server/setup.py
Due: api-server

port window system from previous pr
  packages/react-components/lib/icons/CloseFullscreen.tsx
  packages/react-components/lib/icons/OpenInFull.tsx
  packages/react-components/lib/icons/index.ts
  packages/react-components/lib/window/context.ts
  packages/react-components/lib/window/demo.stories.tsx
  packages/react-components/lib/window/index.ts
  packages/react-components/lib/window/test-utils.spec.ts
  packages/react-components/lib/window/window-manager.tsx
  packages/react-components/lib/window/window-toolbar.stories.tsx
  packages/react-components/lib/window/window-toolbar.tsx
  packages/react-components/lib/window/window.spec.tsx
  packages/react-components/lib/window/window.tsx
Due: react-components

rename to window container to prevent naming conflict with actual window manager in dashboard
  packages/react-components/lib/window/demo.stories.tsx
  packages/react-components/lib/window/index.ts
  packages/react-components/lib/window/test-utils.spec.ts
  packages/react-components/lib/window/window-container.tsx
Due: react-components

working doors window
  package-lock.json
  package.json
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/dashboard.tsx
  packages/dashboard/src/components/doors-window.tsx
  packages/dashboard/src/components/window-manager.tsx
  packages/dashboard/src/window-manager.ts
  packages/react-components/lib/index.ts
  packages/react-components/lib/window/window-container.tsx
  packages/react-components/lib/window/window.tsx
  packages/reporting/package.json
Due: dashboard, react-components, reporting

upgrade deps to fix material forwardRef bug
  package-lock.json
  packages/react-components/package.json
  packages/rmf-auth/package.json
Due: react-components, rmf-auth

micro app system
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/dashboard.tsx
  packages/dashboard/src/components/doors-app.tsx
  packages/dashboard/src/components/micro-app.tsx
  packages/dashboard/src/components/window-manager.tsx
  packages/dashboard/src/components/workspace.tsx
  packages/react-components/lib/window/window.tsx
Due: dashboard, react-components

add lifts app, support detecting door level, support mangaing workspace state
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/dashboard.tsx
  packages/dashboard/src/components/doors-app.tsx
  packages/dashboard/src/components/lifts-app.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/workspace.tsx
  packages/react-components/lib/doors/door-panel.spec.tsx
  packages/react-components/lib/doors/door-panel.stories.tsx
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/lifts/index.ts
  packages/react-components/lib/lifts/lift-card.stories.tsx
  packages/react-components/lib/lifts/lift-card.tsx
  packages/react-components/lib/lifts/lift-controls.tsx
  packages/react-components/lib/lifts/lift-panel.spec.tsx
  packages/react-components/lib/lifts/lift-panel.stories.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-request-dialog.spec.tsx
  packages/react-components/lib/lifts/lift-request-dialog.tsx
  packages/react-components/lib/lifts/lift-table.spec.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/window/window-container.tsx
Due: dashboard, react-components

implement controls
  packages/dashboard/src/components/doors-app.tsx
  packages/dashboard/src/components/lifts-app.tsx
  packages/dashboard/src/components/micro-app.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
Due: dashboard

add map app
  packages/dashboard/src/components/dashboard.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/react-components/lib/window/window-container.tsx
  packages/react-components/lib/window/window.tsx
Due: dashboard, react-components

add design mode toggle
  packages/dashboard/src/components/.app.tsx.swp
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/workspace.tsx
  packages/dashboard/src/index.tsx
Due: dashboard
