Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

add missing dep
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

add del and single get endpoints; add tests
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
Due: api-server

use json field to represent task request
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

add docs to the scheduling format
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

linting
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/user.py
  packages/api-server/api_server/routes/tasks/__init__.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

add apis to schedule tasks
  packages/api-server/api_server/app.py
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/routes/tasks/__init__.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
  pipenv-install/package.json
Due: api-server

fix storybook launch
  packages/dashboard/.storybook/main.js
  packages/dashboard/package.json
Due: dashboard

load and run scheduler
  packages/api-server/api_server/app.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/models/user.py
  packages/api-server/api_server/routes/admin.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

use pipenv from outside venv to workaround distro-info bad versioning bug
  .github/actions/bootstrap/action.yml
  Pipfile
  Pipfile.lock
  README.md
  packages/api-server/setup.py
  pipenv-install/package.json
  scripts/pipenv-install.sh
Due: api-server

Minimal export of what is on the datagrid only
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/dashboard/src/components/tasks/utils.ts
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components

Moving export button to toolbar, dropdown for minimal or full exports
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/dashboard/src/components/tasks/utils.ts
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components

Change names of export depending on minimal or full export
  packages/dashboard/src/components/tasks/utils.ts
Due: dashboard

Name functions more semantically
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

No sandbox for windows chrome headless test, to fix disconnect
  packages/react-components/karma.conf.js
Due: react-components

Increase tolerance for windows browser launcher to fail
  packages/react-components/karma.conf.js
Due: react-components

fix lint error
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

fix ci
  .github/workflows/api-server.yml
Due: none

Feat/minimal export (#673)
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/dashboard/src/components/tasks/utils.ts
  packages/react-components/karma.conf.js
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components

Deps/update (#666)
  pnpm-lock.yaml
Due: none

Removing package-lock since migrated to pnpm and using pnpm-lock
  package-lock.json
Due: none

Revert "build(deps): bump cryptography from 38.0.4 to 39.0.1 (#674)". As it breaks api-server
  Pipfile.lock
Due: none

Revert "build(deps): bump cryptography from 38.0.4 to 39.0.1 (#674)". As it breaks api-server (#677)
  Pipfile.lock
Due: none

Adding id into TaskFavorite as optional field
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/rmf_api/task_favorite.py
Due: api-server

Add favorite task id undefined control
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Removing unused component
  packages/react-components/lib/tasks/favorite-task.tsx
Due: react-components

Adding Delete function in favorite task and refresh it when favorite list change
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Adding task favorite structure into rm_api
  packages/api-server/api_server/models/rmf_api/task_favorite.py
  packages/api-server/api_server/models/rmf_api/task_favorite_request.py
  packages/api-server/api_server/models/rmf_api/task_favorite_response.py
Due: api-server

Returning favorites tasks as array of object instead of tuple
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Set id as undefined if edit button have not been called
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Get favorites tasks and send it as props in CreateTaskForm component
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Filter favorite task by user
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Adding delete endpoint and get favorite task by id function
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Adding Delete function in FavoriteTask
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Adding confirmation popup and added statuses to manage favorite task to save
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Add user field into favorite task model
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/rmf_api/task_favorite.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
Due: api-server

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
