Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, api-server

test(authenticator): exercise verify_token instead of protected _get_user
  packages/api-server/api_server/test_authenticator.py
Due: api-server

feat(api-server): accept namespaced preferred_username claim fallback (#1084)
  packages/api-server/README.md
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/default_config.py
  packages/api-server/api_server/test_authenticator.py
Due: api-server

removing the repo only pr template should revert to using the open-rmf org-wide template that has AI usage declarations
  .github/pull_request_template.md
Due: none

removing the repo only pr template should revert to using the open-rmf org-wide template that has AI usage declarations (#1085)
  .github/pull_request_template.md
Due: none

fix docker builds
  .github/actions/bootstrap/action.yml
  .github/api-server/Dockerfile
  .github/demo-dashboard/Dockerfile
  .github/minimal-rmf/Dockerfile
  Pipfile
  Pipfile.lock
Due: none

adding back matrix strategies, and sandbox rolling for API server
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml
  .github/workflows/nightly.yml
  .github/workflows/rmf-dashboard-framework.yml
  .github/workflows/ros-translator.yml
Due: none

Fix/unimplemented endpoint (#1067)
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/openapi/index.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Correct typo (#1068)
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/routes/building_map.py
Due: api-server

Clean up stale API models and tests (#1069)
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/rmf_api/activity_discovery_request.py
  packages/api-server/api_server/models/rmf_api/activity_discovery_response.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

refactor to create scene bounding box taking into account of nav graphs too (#1072)
  packages/rmf-dashboard-framework/src/components/map/map.tsx
  packages/rmf-dashboard-framework/src/components/map/utils.ts
  packages/rmf-dashboard-framework/src/components/map/wall-maker.tsx
Due: dashboard

skip building api-server (#1075)
  .github/workflows/api-server.yml
Due: none

Fix bootstrap action skip-build (#1076)
  .github/actions/bootstrap/action.yml
Due: none

Fix overall CI (#1077)
  .github/actions/bootstrap/action.yml
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml
  .github/workflows/nightly.yml
  .github/workflows/rmf-dashboard-framework.yml
  .github/workflows/ros-translator.yml
  packages/api-client/lib/openapi/index.ts
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/rmf-dashboard-framework/src/components/map/map.tsx
Due: dashboard, api-server

Fix/1073 (#1074)
  .github/workflows/api-server.yml
  packages/api-server/api_server/models/beacons.py
  packages/api-server/api_server/repositories/rmf.py
Due: api-server

bump versions (#1080)
  Pipfile.lock
  package.json
  packages/api-client/package.json
  packages/rmf-dashboard-framework/package.json
  pnpm-lock.yaml
Due: dashboard

use jazzy for jazzy branch
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml
  .github/workflows/rmf-dashboard-framework.yml
  .github/workflows/ros-translator.yml
Due: none

revert to running rolling on CI triggered by changes, matrix is for nightly
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml
  .github/workflows/rmf-dashboard-framework.yml
  .github/workflows/ros-translator.yml
Due: none

sandboxed for now due to #1086
  .github/workflows/api-server.yml.disabled
Due: none

Fix CI (#1087)
  .github/actions/bootstrap/action.yml
  .github/api-server/Dockerfile
  .github/demo-dashboard/Dockerfile
  .github/minimal-rmf/Dockerfile
  .github/workflows/api-server.yml.disabled
  .github/workflows/nightly.yml
  Pipfile
  Pipfile.lock
Due: none

fix(api-server): ignore duplicate task-api responses in RmfService
  packages/api-server/api_server/rmf_io/rmf_service.py
  packages/api-server/api_server/rmf_io/test_rmf_service.py
Due: api-server

fix(api-server): ignore duplicate task-api responses in RmfService (#1089)
  packages/api-server/api_server/rmf_io/rmf_service.py
  packages/api-server/api_server/rmf_io/test_rmf_service.py
Due: api-server

migrated without linting errors
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

add to paths
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml.disabled
  .github/workflows/rmf-dashboard-framework.yml
  .github/workflows/ros-translator.yml
Due: none

run nightly, use ubuntu-latest
  .github/workflows/api-server.yml.disabled
  .github/workflows/dashboard-e2e.yml.disabled
  .github/workflows/nightly.yml
  .github/workflows/rmf-dashboard-framework.yml
  .github/workflows/ros-translator.yml
Due: none

use --no-frozen-lockfile, to accommodate different versions
  .github/actions/bootstrap/action.yml
Due: none

revert running nightly for this PR
  .github/workflows/nightly.yml
Due: none

add steps to set up npx for the tests
  .github/workflows/ros-translator.yml
Due: none

add comment on overrides, do not use no-frozen-lockfile
  .github/actions/bootstrap/action.yml
  pnpm-workspace.yaml
Due: none

move pnpm overrides (#1092)
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml.disabled
  .github/workflows/dashboard-e2e.yml.disabled
  .github/workflows/nightly.yml
  .github/workflows/rmf-dashboard-framework.yml
  .github/workflows/ros-translator.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

undo sandbox
  .github/workflows/nightly.yml
Due: none

run tests
  .github/workflows/nightly.yml
Due: none

fix build version and incompatibility issues, test fixes
  .github/workflows/nightly.yml
  Pipfile
  Pipfile.lock
  build-failure.md
  packages/api-server/api_server/app.py
  packages/api-server/api_server/logging.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/scripts/test.py
  packages/api-server/setup.py
Due: api-server

push testing
  .github/workflows/nightly.yml
Due: none

make lyrical and rolling use feature branch for now
  .github/api-server/Dockerfile
  .github/demo-dashboard/Dockerfile
Due: none

test current branch on all distros
  .github/workflows/nightly.yml
Due: none

Path conditions:
  dashboard: any of: packages/rmf-dashboard-framework, but not: packages/rmf-dashboard-framework/examples, **/*.js, **/*.stories.tsx
  api-server: any of: packages/api-server, but not: packages/rmf-dashboard-framework/examples, **/*.js, **/*.stories.tsx
