Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

cleanup
  packages/ros-translator/ros_translator/pydantic/__init__.py
  packages/ros-translator/ros_translator/typescript/__init__.py
Due: none

rmf-auth
  packages/rmf-auth/lib/components/login.stories.tsx
Due: rmf-auth

Migrate admin
  packages/dashboard/src/components/admin/add-permission-dialog.stories.tsx
  packages/dashboard/src/components/admin/create-role-dialog.stories.tsx
  packages/dashboard/src/components/admin/create-user-dialog.stories.tsx
  packages/dashboard/src/components/admin/drawer.stories.tsx
  packages/dashboard/src/components/admin/drawer.tsx
  packages/dashboard/src/components/admin/manage-roles-dialog.stories.tsx
  packages/dashboard/src/components/admin/permissions-card.stories.tsx
  packages/dashboard/src/components/admin/role-list-card.stories.tsx
  packages/dashboard/src/components/admin/tests/add-permission-dialog.test.tsx
  packages/dashboard/src/components/admin/tests/create-role-dialog.test.tsx
  packages/dashboard/src/components/admin/tests/create-user-dialog.test.tsx
  packages/dashboard/src/components/admin/tests/manage-roles-dialog.test.tsx
  packages/dashboard/src/components/admin/tests/permissions-card.test.tsx
  packages/dashboard/src/components/admin/tests/role-list-card.test.tsx
  packages/dashboard/src/components/admin/tests/user-list-card.test.tsx
  packages/dashboard/src/components/admin/tests/user-profile.test.tsx
  packages/dashboard/src/components/admin/user-list-card.stories.tsx
  packages/dashboard/src/components/admin/user-profile.stories.tsx
Due: dashboard

Migrate doors
  packages/dashboard/src/components/door-summary.tsx
  packages/dashboard/src/components/doors-app.tsx
  packages/react-components/lib/doors/door-table-datagrid.tsx
Due: dashboard, react-components

Migrate dashboard deps, configs, scripts, storybook
  packages/dashboard/.gitignore
  packages/dashboard/.storybook/main.js
  packages/dashboard/.storybook/main.ts
  packages/dashboard/.storybook/preview.js
  packages/dashboard/.storybook/preview.ts
  packages/dashboard/babel.config.js
  packages/dashboard/config/env.js
  packages/dashboard/config/getHttpsConfig.js
  packages/dashboard/config/jest/babelTransform.js
  packages/dashboard/config/jest/cssTransform.js
  packages/dashboard/config/jest/fileTransform.js
  packages/dashboard/config/modules.js
  packages/dashboard/config/paths.js
  packages/dashboard/config/webpack.config.js
  packages/dashboard/config/webpack/persistentCache/createEnvironmentHash.js
  packages/dashboard/config/webpackDevServer.config.js
  packages/dashboard/scripts/build.js
  packages/dashboard/scripts/start.js
Due: dashboard

Migrate delivery alert store
  packages/dashboard/src/components/delivery-alert-store.tsx
Due: dashboard

Lifts
  packages/dashboard/src/components/lift-summary.tsx
  packages/dashboard/src/components/lifts-app.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
Due: dashboard, react-components

Add react-error-boundary
  packages/dashboard/package.json
  packages/dashboard/src/components/map-app.tsx
  pnpm-lock.yaml
Due: dashboard

robot and task summaries and components
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/robots/robot-decommission.tsx
  packages/dashboard/src/components/robots/robot-summary.tsx
  packages/dashboard/src/components/tasks/task-cancellation.tsx
  packages/dashboard/src/components/tasks/task-summary.tsx
  packages/dashboard/src/util/common-subscriptions.ts
Due: dashboard

More fixes, changes and migrations
  packages/api-client/lib/index.ts
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/dashboard/src/components/tasks/utils.ts
  packages/dashboard/src/components/tests/appbar.test.tsx
  packages/dashboard/src/components/three-fiber/door-three.tsx
  packages/dashboard/src/components/three-fiber/layer-control.test.tsx
  packages/dashboard/src/components/utils.ts
  packages/dashboard/src/managers/tests/resource-manager-robots.test.ts
  packages/react-components/lib/tasks/create-task.stories.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components, api-server

fix time between query
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

update api-client
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

fix issues with time between
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/repositories/fleets.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

remove unused code
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

fix timezone
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/repositories/alerts.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
Due: api-server

optimize relative_import
  packages/ros-translator/ros_translator/pydantic/__init__.py
Due: none

add basic pydantic test
  packages/ros-translator/.gitignore
  packages/ros-translator/ros_translator/pydantic/__init__.py
  packages/ros-translator/ros_translator/pydantic/test/test.sh
  packages/ros-translator/test.sh
Due: none

Increase queue for beacon and doors
  packages/api-server/api_server/gateway.py
Due: api-server

Migration of using key=value labels
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
  packages/dashboard/src/components/tasks/task-summary.tsx
  packages/dashboard/src/components/tasks/utils.ts
  packages/react-components/lib/tasks/index.ts
Due: dashboard, react-components

Fix build error in dynamic module and react-scheduler peer dep
  packages/dashboard/package.json
  packages/dashboard/src/managers/resource-manager-logos.ts
  pnpm-lock.yaml
Due: dashboard

fix auth not optional
  packages/api-server/api_server/fast_io/__init__.py
Due: api-server

remove unused import
  packages/api-server/api_server/fast_io/__init__.py
Due: api-server

missing event loop
  packages/api-server/api_server/gateway.py
Due: api-server

remove unnecessary casts
  packages/api-server/api_server/models/lifts.py
  packages/api-server/api_server/models/tortoise_models/user.py
  packages/api-server/api_server/permissions.py
  packages/api-server/api_server/repositories/fleets.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

cleanup
  packages/api-server/asd.py
Due: api-server

Revert default config public url
  packages/api-server/api_server/default_config.py
Due: api-server

Increase queue for beacon and doors (#972)
  packages/api-server/api_server/gateway.py
Due: api-server

rmf-auth install jest-environment-jsdom
  packages/rmf-auth/package.json
  pnpm-lock.yaml
Due: rmf-auth

Fix react-components ci
  packages/react-components/lib/tasks/create-task.stories.tsx
  packages/react-components/lib/tasks/task-timeline.tsx
Due: react-components

Provide default trajectory server URL in minimal rmf build
  .github/minimal-rmf/Dockerfile
Due: none

react-components, install jest-environment-jsdom
  packages/react-components/package.json
  pnpm-lock.yaml
Due: react-components

dashboard, revert env in minimal rmf, user DOTENV_CONFIG_PATH
  .github/minimal-rmf/Dockerfile
  packages/dashboard/package.json
Due: dashboard

dashboard, make test async
  packages/dashboard/package.json
  packages/dashboard/src/components/tests/appbar.test.tsx
  packages/dashboard/src/setupTests.ts
Due: dashboard

api-server, asgi.scope instead of scope
  packages/api-server/api_server/fast_io/__init__.py
Due: api-server

fix wrong environ in socketio
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

fix alerts
  packages/api-server/api_server/routes/alerts.py
Due: api-server

actually fix asgi scope
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server
