Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, api-server

fix deps and security issues (#1052)
  README.md
  eslint.config.mjs
  package.json
  packages/api-client/.eslintignore
  packages/api-client/.eslintrc.js
  packages/api-client/lib/openapi/index.ts
  packages/api-client/package.json
  packages/rmf-dashboard-framework/package.json
  packages/rmf-dashboard-framework/src/components/map/layers-controller.test.tsx
  packages/rmf-dashboard-framework/src/components/map/test-utils.test.tsx
  packages/rmf-dashboard-framework/src/components/tasks/task-form.tsx
  packages/rmf-dashboard-framework/src/components/tasks/task-schedule-utils.test.ts
  packages/rmf-dashboard-framework/src/components/tasks/types/custom-compose.tsx
  packages/rmf-dashboard-framework/src/components/tasks/types/delivery-custom.test.tsx
  packages/rmf-dashboard-framework/src/components/tasks/types/delivery-custom.tsx
  packages/rmf-dashboard-framework/src/components/utils/misc.ts
  packages/rmf-dashboard-framework/src/services/keycloak.ts
  pnpm-lock.yaml
Due: dashboard

Remove legacy submit_task and cancel_task
  packages/api-server/api_server/gateway.py
Due: api-server

Remove e2e badge, until we re-instate it
  README.md
Due: none

Remove legacy services (#1056)
  README.md
  packages/api-server/api_server/gateway.py
Due: api-server

Add triage github action
  .github/workflows/triage.yml
Due: none

Add triage github action (#1059)
  .github/workflows/triage.yml
Due: none

Prep nightly ci to be reused mostly for rolling and kilted, split out jazzy and deps
  .github/api-server/Dockerfile
  .github/minimal-rmf-jazzy/Dockerfile
  .github/minimal-rmf/Dockerfile
  .github/workflows/nightly.yml
Due: none

Update pipfile
  Pipfile.lock
Due: none

Using core image instead of core-noble
  .github/api-server/Dockerfile
  .github/minimal-rmf-jazzy/Dockerfile
  .github/minimal-rmf/Dockerfile
Due: none

Adding kilted
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml
  .github/workflows/nightly.yml
  .github/workflows/rmf-dashboard-framework.yml
  .github/workflows/ros-translator.yml
Due: none

Update readme and revert nightly by pull request
  .github/workflows/nightly.yml
  README.md
Due: none

install ros-dev-tools for ros-translator test, fix tests
  .github/workflows/api-server.yml
  .github/workflows/ghpages.yml
  .github/workflows/ros-translator.yml
Due: none

Update codecov-action to v5
  .github/workflows/api-server.yml
  .github/workflows/rmf-dashboard-framework.yml
Due: none

Install git for codecov-action v5
  .github/workflows/api-server.yml
  .github/workflows/rmf-dashboard-framework.yml
Due: none

cleanup
  .github/api-server/Dockerfile
  .github/minimal-rmf-jazzy/Dockerfile
  .github/minimal-rmf/Dockerfile
Due: none

Trigger rebuild of docker images again
  .github/workflows/nightly.yml
Due: none

Revert nightly trigger by pr
  .github/workflows/nightly.yml
Due: none

Remove nightly trigger, conditionally import orphaned message branch for jazzy
  .github/api-server/Dockerfile
  .github/minimal-rmf-jazzy/Dockerfile
  .github/workflows/nightly.yml
  packages/api-server/api_server/gateway.py
Due: api-server

Lint and import os
  packages/api-server/api_server/gateway.py
Due: api-server

Trigger nightly build
  .github/workflows/nightly.yml
Due: none

Remove pr trigger
  .github/workflows/nightly.yml
Due: none

Lint
  .github/workflows/nightly.yml
  packages/api-server/api_server/gateway.py
Due: api-server

Build jazzy deps in minimal rmf instead of api server
  .github/api-server/Dockerfile
  .github/minimal-rmf/Dockerfile
Due: none

Trigger new builds again
  .github/workflows/nightly.yml
Due: none

Remove nightly trigger
  .github/workflows/nightly.yml
Due: none

Revert pipfile, trigger build
  .github/workflows/nightly.yml
  Pipfile.lock
Due: none

Build on temporary packages
  .github/workflows/tmp-push.yml
Due: none

Run test with tmp-push
  .github/workflows/api-server.yml
  .github/workflows/tmp-push.yml.disabled
Due: none

Build with -w
  .github/api-server/Dockerfile
  .github/workflows/tmp-push.yml
Due: none

Adding build step
  .github/api-server/Dockerfile
Due: none

Build api server with packed wheel
  .github/api-server/Dockerfile
Due: none

Use separate branch
  .github/workflows/tmp-push.yml
Due: none

Revert to build images on nightlies
  .github/workflows/nightly.yml
  .github/workflows/tmp-push.yml
Due: none

Fix name and revert build on pr
  .github/workflows/nightly.yml
Due: none

Remove uses of alert related messages, to be compatible with released jazzy rmf messages
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/routes/alerts.py
Due: api-server

lint
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/routes/alerts.py
Due: api-server

Remove uses of alert related messages, to be compatible with released jazzy rmf messages (#1061)
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/routes/alerts.py
Due: api-server

Bump version to 0.3.0
  packages/api-client/package.json
  packages/api-server/package.json
  packages/api-server/setup.py
  packages/rmf-dashboard-framework/package.json
  packages/rmf-models/package.json
  packages/ros-translator/package.json
  packages/ros-translator/ros_translator/test/ros_translator_test_msgs/package.xml
  packages/ros-translator/setup.py
  pipenv-install/package.json
Due: dashboard, api-server

Path conditions:
  dashboard: any of: packages/rmf-dashboard-framework, but not: packages/rmf-dashboard-framework/examples, **/*.js, **/*.stories.tsx
  api-server: any of: packages/api-server, but not: packages/rmf-dashboard-framework/examples, **/*.js, **/*.stories.tsx
