Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth, task-scheduler

unstaged ./vscode
  packages/dashboard/.vscode/launch.json
Due: dashboard

fix wrong category stored
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

add debug logging to RmfService
  packages/api-server/api_server/rmf_io/rmf_service.py
Due: api-server

fix the fixed task dispatch resp handling
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/rmf_api/activity_discovery_request.py
  packages/api-server/api_server/models/rmf_api/cancel_task_request.py
  packages/api-server/api_server/models/rmf_api/compose_task_description.py
  packages/api-server/api_server/models/rmf_api/dispatch_task_request.py
  packages/api-server/api_server/models/rmf_api/dispatch_task_response.py
  packages/api-server/api_server/models/rmf_api/fleet_log_request.py
  packages/api-server/api_server/models/rmf_api/fleet_log_response.py
  packages/api-server/api_server/models/rmf_api/fleet_log_update.py
  packages/api-server/api_server/models/rmf_api/fleet_state_update.py
  packages/api-server/api_server/models/rmf_api/interrupt_task_request.py
  packages/api-server/api_server/models/rmf_api/kill_task_request.py
  packages/api-server/api_server/models/rmf_api/resume_task_request.py
  packages/api-server/api_server/models/rmf_api/rewind_task_request.py
  packages/api-server/api_server/models/rmf_api/robot_state.py
  packages/api-server/api_server/models/rmf_api/robot_task_request.py
  packages/api-server/api_server/models/rmf_api/robot_task_response.py
  packages/api-server/api_server/models/rmf_api/simple_response.py
  packages/api-server/api_server/models/rmf_api/skip_phase_request.py
  packages/api-server/api_server/models/rmf_api/task_discovery_request.py
  packages/api-server/api_server/models/rmf_api/task_discovery_response.py
  packages/api-server/api_server/models/rmf_api/task_log_request.py
  packages/api-server/api_server/models/rmf_api/task_log_response.py
  packages/api-server/api_server/models/rmf_api/task_log_update.py
  packages/api-server/api_server/models/rmf_api/task_state.py
  packages/api-server/api_server/models/rmf_api/task_state_update.py
  packages/api-server/api_server/models/rmf_api/token_response.py
  packages/api-server/api_server/models/rmf_api/undo_skip_phase_request.py
  packages/api-server/api_server/models/rmf_api/version.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/generate-models.sh
Due: api-server

scrollable logs and task progress
  packages/dashboard/src/components/tasks/task-logs.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/components/tasks/task-progress.tsx
Due: dashboard

add scroll bar for task logs and progress, and fix panel width
  packages/dashboard/src/components/tasks/task-logs.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/components/tasks/task-progress.tsx
Due: dashboard

color event logs by their tier
  packages/dashboard/src/components/tasks/task-logs.tsx
Due: dashboard

clean up
  packages/dashboard/src/components/tasks/task-logs.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/components/tasks/task-progress.tsx
Due: dashboard

fix keys in lists have to be uniqe issue
  packages/dashboard/src/components/tasks/task-logs.tsx
  packages/dashboard/src/components/tasks/task-progress.tsx
Due: dashboard

merge task-v2-2 latest changes
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/components/tasks/task-progress.tsx
Due: dashboard

comment out task timeline from react components
  packages/react-components/lib/tasks/task-info.tsx
Due: react-components

Fix outdated note in README
  README.md
Due: none

move timeline component to task react components package
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/components/tasks/task-progress.tsx
  packages/react-components/lib/tasks/task-info.tsx
  packages/react-components/lib/tasks/task-timeline.tsx
Due: dashboard, react-components

fix task panel window hight
  packages/dashboard/src/components/tasks/task-panel.tsx
Due: dashboard

fix wrong response from post dispatch task
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

Prune robot panel and fix data fields
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/lib/robots/robot-table.tsx
Due: react-components

cleanup excessive logging on rmf_gateway_app
  packages/api-server/api_server/rmf_gateway_app.py
Due: api-server

ci: add dependabot.yml to ignore dev dependencies
  .github/dependabot.yml
Due: none

move fetch calls out of react-components
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/robots/utils.ts
Due: dashboard, react-components

support multiple subscriptions
  packages/api-client/lib/index.ts
Due: none

run linter on react-components
  .github/workflows/react-components.yml
Due: none

run the workflow if their workflow file changed
  .github/workflows/api-server.yml
  .github/workflows/dashboard.yml
  .github/workflows/react-components.yml
  .github/workflows/reporting-server.yml
  .github/workflows/reporting.yml
  .github/workflows/rmf-auth.yml
  .github/workflows/ros-translator.yml
Due: none

ci: run linter on react-components (#578)
  .github/workflows/api-server.yml
  .github/workflows/dashboard.yml
  .github/workflows/react-components.yml
  .github/workflows/reporting-server.yml
  .github/workflows/reporting.yml
  .github/workflows/rmf-auth.yml
  .github/workflows/ros-translator.yml
Due: none

track subscriptions to support multiple subs of same callbacks
  packages/api-client/lib/index.ts
Due: none

add tests for multiplexing subs
  package-lock.json
  packages/api-client/lib/index.spec.ts
  packages/api-client/package.json
  packages/api-client/spec/helpers/typescript.js
  packages/api-client/spec/support/jasmine.json
Due: none

add ci
  .github/workflows/api-client.yml
  README.md
Due: none

do not randomize tests
  packages/api-client/spec/support/jasmine.json
Due: none

feat(api-client): support multiple subscriptions (#577)
  .github/workflows/api-client.yml
  README.md
  package-lock.json
  packages/api-client/lib/index.spec.ts
  packages/api-client/lib/index.ts
  packages/api-client/package.json
  packages/api-client/spec/helpers/typescript.js
  packages/api-client/spec/support/jasmine.json
Due: none

do not allow eslint warnings
  packages/api-client/package.json
  packages/react-components/package.json
  packages/rmf-auth/package.json
Due: react-components, rmf-auth

run linter on rmf-auth and api-client
  .github/workflows/api-client.yml
  .github/workflows/rmf-auth.yml
Due: none

fix missing packages
  package-lock.json
  package.json
Due: none

ci: do not allow eslint warnings (#579)
  .github/workflows/api-client.yml
  .github/workflows/rmf-auth.yml
  package-lock.json
  package.json
  packages/api-client/package.json
  packages/react-components/package.json
  packages/rmf-auth/package.json
Due: react-components, rmf-auth

clean and fix minor issues
  packages/dashboard/src/components/tasks/task-logs.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/react-components/lib/tasks/task-timeline.tsx
Due: dashboard, react-components

fix unit tests temporarily by adding minimal
  packages/dashboard/src/components/dashboard/tests/dashboard.test.tsx
  packages/dashboard/src/components/tasks/tests/task-panel.test.tsx
  packages/react-components/lib/robots/robot-panel.spec.tsx
Due: dashboard, react-components

remove lint error
  packages/react-components/lib/robots/robot-info.spec.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-panel.spec.tsx
  packages/react-components/lib/tasks/create-task.spec.tsx
  packages/react-components/lib/tasks/task-info.tsx
  packages/react-components/lib/tasks/utils.ts
Due: react-components

filter out null function
  packages/dashboard/src/util/common-subscriptions.ts
Due: dashboard

revert unix time hack
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard

remove un used variable, bug fix
  packages/dashboard/src/components/tasks/task-logs.tsx
Due: dashboard

fix trivially inferred boolean literal issue
  packages/react-components/lib/tasks/task-timeline.tsx
Due: react-components

Clean up the timeline
  packages/react-components/lib/tasks/task-timeline.tsx
Due: react-components

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  reporting: any of: packages/reporting
  reporting-server: any of: packages/reporting-server
  rmf-auth: any of: packages/rmf-auth
  task-scheduler: any of: packages/task-scheduler
