Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth, task-scheduler

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  reporting:
    paths:
      - packages/reporting
    carryforward: true
  reporting-server:
    paths:
      - packages/reporting-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true
  task-scheduler:
    paths:
      - packages/task-scheduler
    carryforward: true

try reducing interval
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
Due: dashboard

temp disable chrome
  packages/dashboard-e2e/wdio.conf.js
Due: dashboard

prev change actually increased interval, default is 100ms
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
Due: dashboard

add implicit timeout on safari to maybe make things more reliable
  packages/dashboard-e2e/wdio.conf.js
Due: dashboard

comments
  packages/dashboard-e2e/wdio.conf.js
Due: dashboard

re-enable chrome
  packages/dashboard-e2e/wdio.conf.js
Due: dashboard

remove implicit wait
  packages/dashboard-e2e/wdio.conf.js
Due: dashboard

test(dashboard-e2e): fix safari (#488)
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
  packages/dashboard-e2e/wdio.conf.js
Due: dashboard

submit task sequentially
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard

check if lift_state is None
  packages/api-server/api_server/routes/lifts.py
Due: api-server

improve perf by using fixed update rate and memo
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/lifts/lift-utils.ts
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: dashboard, react-components

perf: dashboard (#490)
  packages/api-server/api_server/routes/lifts.py
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/lifts/lift-utils.ts
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: dashboard, react-components, api-server

change mat ui version
  package-lock.json
  packages/dashboard/package.json
  packages/react-components/package.json
  packages/rmf-auth/package.json
Due: dashboard, react-components, rmf-auth

fix(dashboard): clear interval on unmount
  packages/dashboard/src/components/dashboard/dashboard.tsx
Due: dashboard

fix and organize stories
  packages/react-components/lib/map/door-markers.stories.tsx
  packages/react-components/lib/map/lift-marker.stories.tsx
  packages/react-components/lib/map/robot-markers.stories.tsx
  packages/react-components/lib/map/schedule-visualizer.stories.tsx
  packages/react-components/lib/map/test-utils.spec.tsx
  packages/react-components/lib/map/trajectory-marker.stories.tsx
  packages/react-components/lib/map/waypoint-markers.stories.tsx
  packages/react-components/lib/map/workcell-marker.stories.tsx
Due: react-components

fix icon marker stories
  packages/react-components/lib/map/robot-markers.stories.tsx
Due: react-components

remove rx_ops, write to ttm directly
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

robot markers now render in unit scale; desired position, yaw and size should be applied via transformations
  packages/react-components/lib/index.ts
  packages/react-components/lib/map/base-robot-marker.ts
  packages/react-components/lib/map/default-robot-marker.tsx
  packages/react-components/lib/map/image-marker.tsx
  packages/react-components/lib/map/robot-marker.spec.tsx
  packages/react-components/lib/map/robot-marker.tsx
  packages/react-components/lib/map/robot-markers.stories.tsx
  packages/react-components/lib/utils/geometry.spec.ts
  packages/react-components/lib/utils/geometry.ts
  packages/react-components/lib/utils/index.ts
  packages/react-components/lib/utils/misc.spec.ts
  packages/react-components/lib/utils/misc.ts
Due: react-components

remove some duplicated code
  packages/react-components/lib/geometry-utils.spec.ts
  packages/react-components/lib/geometry-utils.ts
  packages/react-components/lib/map/door-marker.tsx
  packages/react-components/lib/map/lift-marker.tsx
  packages/react-components/lib/map/robot-marker.tsx
  packages/react-components/lib/map/trajectory.ts
  packages/react-components/lib/map/utils.ts
  packages/react-components/lib/map/waypoint-marker.tsx
  packages/react-components/lib/map/workcell-marker.tsx
  packages/react-components/lib/utils/geometry.spec.ts
  packages/react-components/lib/utils/geometry.ts
Due: react-components

change to fixed size mode when zoom is below certain amount
  packages/react-components/lib/map/constants.ts
  packages/react-components/lib/map/robot-marker.tsx
  packages/react-components/lib/map/robots-overlay.tsx
Due: react-components

Fix on task_summaries topic and switch launcher pkg rmf_demos_gz (#486)
  example-deployment/README.md
  packages/api-server/api_server/gateway.py
  packages/dashboard/rmf-launcher.js
Due: dashboard, api-server

basic layout for fire alarm
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/openapi/apis/fire-alarm-api.ts
  packages/api-client/lib/version.ts
  packages/api-server/api_server/app.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/routes/__init__.py
  packages/api-server/api_server/routes/fire_alarm.py
  packages/dashboard/package.json
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
Due: dashboard, api-server

fix args errors
  packages/api-server/api_server/routes/fire_alarm.py
  packages/dashboard/package.json
Due: dashboard, api-server

working version of backend
  packages/api-client/lib/openapi/apis/fire-alarm-api.ts
  packages/api-client/lib/version.ts
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/routes/fire_alarm.py
  packages/dashboard/src/components/dashboard/dashboard.tsx
Due: dashboard, api-server

enable toggling
  packages/dashboard/src/components/dashboard/dashboard.tsx
Due: dashboard

somewhat working name label
  packages/react-components/lib/map/marker-label.stories.tsx
  packages/react-components/lib/map/marker-label.tsx
Due: react-components

functioning ui logic
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/settings.ts
  packages/react-components/lib/header-bar.tsx
  packages/react-components/lib/logo-button.tsx
Due: dashboard, react-components

positioning of switch button
  packages/dashboard/src/components/dashboard/dashboard.tsx
Due: dashboard

allow changing arrow length
  packages/react-components/lib/map/marker-label.stories.tsx
  packages/react-components/lib/map/marker-label.tsx
Due: react-components

fix some components makestyles
  packages/react-components/lib/commands/form-styles.ts
  packages/react-components/lib/confirmation-dialog.tsx
  packages/react-components/lib/date-time-picker.tsx
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/error-overlay.tsx
  packages/react-components/lib/header-bar.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-request-form-dialog.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/loading.tsx
  packages/react-components/lib/logo-button.tsx
  packages/react-components/lib/map/door-marker.tsx
  packages/react-components/lib/map/lift-marker.tsx
  packages/react-components/lib/map/map.tsx
  packages/react-components/lib/map/robot-marker.tsx
  packages/react-components/lib/map/trajectory-time-control.tsx
  packages/react-components/lib/map/waypoint-marker.tsx
  packages/react-components/lib/map/workcell-marker.tsx
  packages/react-components/lib/navigation-bar.tsx
  packages/react-components/lib/reports/log-management/log-table.tsx
  packages/react-components/lib/reports/log-management/search-filter.tsx
  packages/react-components/lib/reports/log-management/search-log-form.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/theme.ts
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
  packages/rmf-auth/lib/components/login-card.tsx
  packages/rmf-auth/lib/components/login-page.tsx
  packages/rmf-auth/lib/components/theme.ts
  packages/rmf-auth/package.json
Due: react-components, rmf-auth

add switch label
  packages/dashboard/src/components/dashboard/dashboard.tsx
Due: dashboard

remaining makestyles and createstyles
  packages/react-components/lib/reports/default-dates-form.tsx
  packages/react-components/lib/reports/default-report-interface.tsx
  packages/react-components/lib/reports/log-management/log-management.tsx
  packages/react-components/lib/simple-filter.tsx
  packages/react-components/lib/simple-info.tsx
  packages/react-components/lib/status-label.tsx
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/task-info.tsx
  packages/react-components/lib/tasks/task-phases.tsx
  packages/react-components/lib/tasks/task-summary-accordion.tsx
  packages/react-components/lib/tasks/task-table.tsx
  packages/react-components/lib/tasks/task-timeline.tsx
  packages/react-components/lib/tooltip.tsx
  packages/react-components/lib/transfer-list.tsx
Due: react-components

add paper background
  packages/dashboard/src/components/dashboard/dashboard.tsx
Due: dashboard

fix core react-components
  packages/react-components/lib/header-bar.tsx
  packages/react-components/lib/tasks/task-timeline.tsx
Due: react-components

current solution to name labels
  packages/react-components/lib/map/constants.ts
  packages/react-components/lib/map/marker-label.stories.tsx
  packages/react-components/lib/map/marker-label.tsx
  packages/react-components/lib/map/robot-marker.tsx
  packages/react-components/lib/map/robot-markers.stories.tsx
  packages/react-components/lib/map/robots-overlay.tsx
  packages/react-components/lib/map/schedule-visualizer.stories.tsx
Due: react-components

revert managers into minimal
  packages/minimal/rmf-launcher.ts
  packages/minimal/src/app-config.ts
  packages/minimal/src/assets/defaultLogo.png
  packages/minimal/src/components/app-contexts.tsx
  packages/minimal/src/components/app.tsx
  packages/minimal/src/managers/__mocks__/resources.ts
  packages/minimal/src/managers/resource-manager-dispensers.ts
  packages/minimal/src/managers/resource-manager-logos.ts
  packages/minimal/src/managers/resource-manager-robots.ts
  packages/minimal/src/managers/resource-manager.ts
  packages/rmf-tools/lib/index.ts
  packages/rmf-tools/lib/managers/__mocks__/trajectories.json
  packages/rmf-tools/lib/managers/index.ts
  packages/rmf-tools/lib/managers/tests/resource-manager-dispensers.test.ts
  packages/rmf-tools/lib/managers/tests/resource-manager-logos.test.ts
  packages/rmf-tools/lib/managers/tests/resource-manager-robots.test.ts
  packages/rmf-tools/lib/managers/tests/resource-manager.test.tsx
  packages/rmf-tools/package.json
  packages/rmf-tools/tsconfig.json
Due: none
