Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

Comment out test for deployment that uses older pydantic
  packages/api-server/api_server/models/rio.py
  packages/api-server/api_server/routes/test_rios.py
Due: api-server

Lint
  packages/api-server/api_server/models/tortoise_models/rio.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

port rio (#960) to hammer-humble (#964)
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/rio.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/rio.py
  packages/api-server/api_server/rmf_io/__init__.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/routes/__init__.py
  packages/api-server/api_server/routes/rios.py
  packages/api-server/api_server/routes/test_rios.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

add except date working!!
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/default_config.py
  packages/api-server/api_server/models/tasks.py
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
  packages/api-server/scripts/test_config.py
  packages/api-server/sqlite_local_config.py
Due: api-server

scheduled task working
  packages/api-server/api_server/app.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
Due: api-server

lint
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
Due: api-server

scheduling round 2, todo add tests to see if except dates are actually skipped
  Pipfile
  Pipfile.lock
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/tasks.py
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/repositories/alerts.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
  packages/api-server/api_server/test/mocks.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/setup.py
Due: api-server

actually test the execution of schedules, not just if the data is correct
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
Due: api-server

improve dep management
  packages/api-server/api_server/app.py
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/fast_io/singleton_dep.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/repositories/__init__.py
  packages/api-server/api_server/repositories/cached_files.py
  packages/api-server/api_server/rmf_io/__init__.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/rmf_io/rmf_service.py
  packages/api-server/api_server/ros.py
  packages/api-server/api_server/ros_time.py
  packages/api-server/api_server/routes/alerts.py
  packages/api-server/api_server/routes/beacons.py
  packages/api-server/api_server/routes/building_map.py
  packages/api-server/api_server/routes/delivery_alerts.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/internal.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_building_map.py
  packages/api-server/api_server/scheduler.py
  packages/api-server/api_server/test/test_stress.py
Due: api-server

cleanup
  packages/api-server/api_server/app.py
  packages/api-server/api_server/fast_io/singleton_dep.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/ros_time.py
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/test/mocks.py
  packages/api-server/api_server/test/test_stress.py
Due: api-server

tests passing!
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/rmf_io/test_rmf_service.py
  packages/api-server/api_server/routes/tasks/favorite_tasks.py
  packages/api-server/api_server/routes/tasks/test_favorite_tasks.py
  packages/api-server/api_server/test/test_data.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

cleanup
  packages/api-server/api_server/app.py
  packages/api-server/api_server/routes/tasks/favorite_tasks.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/scripts/test_config.py
Due: api-server

update client library
  packages/api-client/generate-openapi.sh
  packages/api-client/lib/index.ts
  packages/api-client/lib/openapi/.openapi-generator/VERSION
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/openapi/base.ts
  packages/api-client/lib/openapi/common.ts
  packages/api-client/lib/openapi/configuration.ts
  packages/api-client/lib/version.ts
  packages/api-client/openapitools.json
  packages/api-client/schema/index.ts
Due: none

cleanup
  packages/api-client/openapi-generator.json
Due: none

Updated API, renamed event to pushAlert, filter before
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/repositories/alerts.py
  packages/dashboard/src/components/alert-manager.tsx
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/appbar.tsx
Due: dashboard, api-server

more schedule task execution tests
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
Due: api-server

update some frontend api
  packages/api-client/generate-openapi.sh
  packages/api-client/lib/index.ts
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/alerts.py
  packages/api-server/api_server/models/base.py
  packages/api-server/api_server/models/task_favorite.py
  packages/api-server/api_server/models/tasks.py
  packages/api-server/api_server/models/tortoise_models/alerts.py
  packages/api-server/api_server/models/tortoise_models/delivery_alerts.py
  packages/api-server/api_server/models/user.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/beacons-app.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/robots/robot-info-app.tsx
  packages/dashboard/src/components/robots/robot-summary.tsx
  packages/dashboard/src/components/robots/robots-app.tsx
  packages/dashboard/src/components/tasks/task-alert.tsx
  packages/dashboard/src/components/tasks/task-cancellation.tsx
  packages/dashboard/src/components/tasks/task-details-app.tsx
  packages/dashboard/src/components/tasks/task-inspector.tsx
  packages/dashboard/src/components/tasks/task-logs-app.tsx
  packages/dashboard/src/components/tasks/task-logs.tsx
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/dashboard/src/components/tasks/task-summary.tsx
  packages/dashboard/src/components/tasks/tests/make-tasks.ts
  packages/dashboard/src/components/tasks/utils.ts
  packages/react-components/lib/beacons/beacon-table-datagrid.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/tasks/task-timeline.tsx
  packages/react-components/lib/tasks/utils.ts
Due: dashboard, react-components, api-server

fix tests
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
Due: api-server

fix delivery alert enum
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/delivery_alerts.py
  packages/api-server/api_server/routes/delivery_alerts.py
Due: api-server

fix delivery alert enum
  packages/dashboard/src/components/delivery-alert-store.tsx
Due: dashboard

Remove cart ID fields in double compose delivery form
  packages/react-components/lib/tasks/types/delivery-custom.tsx
Due: react-components

Lint
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/types/delivery-custom.spec.tsx
  packages/react-components/lib/tasks/types/delivery-custom.tsx
Due: react-components

Fix test
  packages/react-components/lib/tasks/types/delivery-custom.spec.tsx
Due: react-components

managed to build react-components
  packages/react-components/lib/alert-dialog.tsx
  packages/react-components/lib/map/with-label.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/tasks/booking-label.ts
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/task-booking-label-utils.tsx
  packages/react-components/lib/tasks/task-info.tsx
  packages/react-components/lib/tasks/task-logs.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
  packages/react-components/lib/tasks/task-table.tsx
  packages/react-components/lib/tasks/task-timeline.tsx
  packages/react-components/lib/tasks/test-data.spec.ts
  packages/react-components/lib/tasks/types/compose-clean.tsx
  packages/react-components/lib/tasks/types/custom-compose.tsx
  packages/react-components/lib/tasks/types/delivery-custom.tsx
  packages/react-components/lib/tasks/types/delivery.tsx
  packages/react-components/lib/tasks/types/patrol.tsx
  packages/react-components/lib/tasks/types/utils.ts
  packages/react-components/lib/tasks/utils.ts
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

Remove cart ID fields in double compose delivery form (#967)
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/types/delivery-custom.spec.tsx
  packages/react-components/lib/tasks/types/delivery-custom.tsx
Due: react-components

update tooling
  packages/react-components/.eslintignore
  packages/react-components/.eslintrc.js
  packages/react-components/.storybook/main.js
  packages/react-components/.storybook/main.ts
  packages/react-components/.storybook/preview.tsx
  packages/react-components/jest.config.ts
  packages/react-components/karma.conf.js
  packages/react-components/test/index.spec.js
  packages/react-components/tsconfig.json
Due: react-components

fix locale
  packages/react-components/lib/locale.tsx
Due: react-components

fixing tests
  packages/react-components/lib/alert-dialog.spec.tsx
  packages/react-components/lib/confirmation-dialog.spec.tsx
  packages/react-components/lib/header-bar.spec.tsx
  packages/react-components/lib/lifts/lift-request-dialog.spec.tsx
  packages/react-components/lib/logo-button.spec.tsx
  packages/react-components/lib/map/door-marker.spec.tsx
  packages/react-components/lib/map/lift-marker.spec.tsx
  packages/react-components/lib/map/robot-marker.spec.tsx
  packages/react-components/lib/map/three-fiber/circle-shape.spec.tsx
  packages/react-components/lib/map/workcell-marker.spec.tsx
  packages/react-components/lib/navigation-bar.spec.tsx
  packages/react-components/lib/robots/mutex-group-table.spec.tsx
  packages/react-components/lib/robots/robot-table-datagrid.spec.tsx
  packages/react-components/lib/tasks/task-schedule-event-edit-delete-popup.spec.tsx
  packages/react-components/lib/tasks/task-table-datagrid.spec.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
  packages/react-components/lib/transfer-list.spec.tsx
Due: react-components

Update dashboard docs with all new build-time configurations, examples, and change osrc-sg to open-rmf
  packages/dashboard/README.md
  packages/dashboard/src/managers/resource-manager.ts
Due: dashboard

jazzy-compatibility for ros-translator
  packages/ros-translator/build/lib/ros_translator/typescript/__init__.py
  packages/ros-translator/ros_translator/library.py
  packages/ros-translator/ros_translator/pydantic/__init__.py
  packages/ros-translator/ros_translator/pydantic/msg.j2
  packages/ros-translator/ros_translator/test/ros_translator_test_msgs/CMakeLists.txt
  packages/ros-translator/ros_translator/test/ros_translator_test_msgs/msg/Constants.msg
  packages/ros-translator/ros_translator/test/ros_translator_test_msgs/msg/Time.msg
  packages/ros-translator/ros_translator/test/ros_translator_test_msgs/srv/TestService.srv
  packages/ros-translator/ros_translator/typescript/__init__.py
  packages/ros-translator/ros_translator/typescript/templates/index.j2
  packages/ros-translator/ros_translator/typescript/templates/srv-ts-definition.j2
  packages/ros-translator/ros_translator/typescript/templates/ts-definition.j2
  packages/ros-translator/ros_translator/typescript/test/spec/bounded-sequences.spec.ts
  packages/ros-translator/ros_translator/typescript/test/spec/fixed-array.spec.ts
  packages/ros-translator/ros_translator/typescript/test/spec/nested.spec.ts
  packages/ros-translator/ros_translator/typescript/test/spec/typed-array.spec.ts
Due: none

Updated readme with dashboard related information
  README.md
Due: none

fix typescript
  packages/ros-translator/ros_translator/library.py
  packages/ros-translator/ros_translator/pydantic/__init__.py
  packages/ros-translator/ros_translator/typescript/__init__.py
  packages/ros-translator/ros_translator/typescript/templates/ts-definition.j2
Due: none

successfully updated rmf-models
  packages/react-components/lib/doors/door-card.stories.tsx
  packages/react-components/lib/doors/door-card.tsx
  packages/react-components/lib/doors/door-table-datagrid.spec.tsx
  packages/react-components/lib/doors/door-table-datagrid.stories.tsx
  packages/react-components/lib/doors/door-table-datagrid.tsx
  packages/react-components/lib/doors/door-utils.ts
  packages/react-components/lib/doors/test-utils.spec.ts
  packages/react-components/lib/lifts/lift-card.stories.tsx
  packages/react-components/lib/lifts/lift-card.tsx
  packages/react-components/lib/lifts/lift-request-dialog.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.spec.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.stories.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
  packages/react-components/lib/lifts/lift-utils.ts
  packages/react-components/lib/lifts/test-utils.spec.ts
  packages/react-components/lib/map/door-marker.spec.tsx
  packages/react-components/lib/map/door-marker.tsx
  packages/react-components/lib/map/door-markers.stories.tsx
  packages/react-components/lib/map/lift-marker.tsx
  packages/react-components/lib/map/three-fiber/door-three-maker.tsx
  packages/react-components/lib/map/three-fiber/lift-three-maker.tsx
  packages/react-components/lib/map/utils.ts
  packages/react-components/lib/robots/utils.ts
  packages/react-components/lib/tasks/utils.ts
  packages/react-components/lib/workcells/test-utils.spec.ts
  packages/react-components/lib/workcells/utils.ts
  packages/react-components/lib/workcells/workcell-table.spec.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
  packages/rmf-models/package.json
  pnpm-lock.yaml
Due: react-components

Fix build
  packages/react-components/lib/map/lift-three-maker.tsx
Due: react-components

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
