Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

Remove basic table and add open and close button column
  packages/dashboard/src/components/doors-app.tsx
  packages/react-components/lib/doors/door-table-datagrid.tsx
Due: dashboard, react-components

Fix map value name in order to be more precise
  packages/dashboard/src/components/lifts-app.tsx
Due: dashboard

Add test and stories file
  packages/react-components/lib/doors/door-table-datagrid.spec.tsx
  packages/react-components/lib/doors/door-table-datagrid.stories.tsx
Due: react-components

Beacon state database model created
  packages/api-server/api_server/models/tortoise_models/beacons.py
Due: api-server

Capitalizing second words
  packages/react-components/lib/doors/door-table-datagrid.tsx
Due: react-components

Capitalizing second words
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
Due: react-components

Changing test file
  packages/react-components/lib/lifts/lift-table-datagrid.spec.tsx
Due: react-components

Changing test file according to the new column text
  packages/react-components/lib/doors/door-table-datagrid.spec.tsx
Due: react-components

Migrate lift table to datagrid (#714)
  packages/dashboard/src/components/lifts-app.tsx
  packages/react-components/lib/lifts/index.ts
  packages/react-components/lib/lifts/lift-table-datagrid.spec.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.stories.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
Due: dashboard, react-components

Migrate door table to datagrid (#715)
  packages/dashboard/src/components/doors-app.tsx
  packages/react-components/lib/doors/door-table-datagrid.spec.tsx
  packages/react-components/lib/doors/door-table-datagrid.stories.tsx
  packages/react-components/lib/doors/door-table-datagrid.tsx
  packages/react-components/lib/doors/index.ts
Due: dashboard, react-components

Help and report issues buttons have been added
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/managers/resource-manager.ts
Due: dashboard

Add OpMode column in doorapp
  packages/dashboard/src/components/doors-app.tsx
  packages/react-components/lib/doors/door-table-datagrid.tsx
Due: dashboard, react-components

Add OpMode column in liftapp
  packages/dashboard/src/components/lifts-app.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
Due: dashboard, react-components

Resolved conflicted use of Dialog vs ConfirmationDialog
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Sorted imports
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Fix typo
  packages/dashboard/src/managers/resource-manager.ts
Due: dashboard

Add tooltip in help and report issues iconbutton
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Styling Op mode column
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
  packages/react-components/lib/lifts/lift-utils.ts
Due: react-components

Styling Op mode column
  packages/react-components/lib/doors/door-table-datagrid.tsx
  packages/react-components/lib/doors/utils.ts
Due: react-components

Remove duplicate instance of theme
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
Due: react-components

Op. Mode column in Lifts (#718)
  packages/dashboard/src/components/lifts-app.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
  packages/react-components/lib/lifts/lift-utils.ts
Due: dashboard, react-components

Op. Mode column in Door (#717)
  packages/dashboard/src/components/doors-app.tsx
  packages/react-components/lib/doors/door-table-datagrid.tsx
  packages/react-components/lib/doors/utils.ts
Due: dashboard, react-components

Moving health and opmode related calls to health utils, minor linting
  packages/react-components/lib/doors/door-card.tsx
  packages/react-components/lib/doors/door-table-datagrid.tsx
  packages/react-components/lib/doors/door-utils.ts
  packages/react-components/lib/doors/index.ts
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
  packages/react-components/lib/lifts/lift-utils.ts
  packages/react-components/lib/utils/health.ts
  packages/react-components/lib/utils/index.ts
Due: react-components

Renaming Door State to Lift State for lift microapp
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
Due: react-components

Help and report issues buttons (#716)
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/managers/resource-manager.ts
Due: dashboard

Fix lift table datagrid test to expect Lift State
  packages/react-components/lib/lifts/lift-table-datagrid.spec.tsx
Due: react-components

Fix/get health status description (#719)
  packages/react-components/lib/doors/door-card.tsx
  packages/react-components/lib/doors/door-table-datagrid.tsx
  packages/react-components/lib/doors/door-utils.ts
  packages/react-components/lib/doors/index.ts
  packages/react-components/lib/lifts/lift-table-datagrid.spec.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
  packages/react-components/lib/lifts/lift-utils.ts
  packages/react-components/lib/utils/health.ts
  packages/react-components/lib/utils/index.ts
Due: react-components

Add hover tooltips
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Add hover tooltips (#720)
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Use Chip instead of Button, refactored submission
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Create function to save acknowledged task completion in logs
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Save ack by in logs
  packages/api-server/api_server/repositories/alerts.py
Due: api-server

Refreshing task queue table after tasks have been submitted
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Minimal scheduling dialog created
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Debugging scheduling range errors
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Fixed Date assignment as copy
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Using startOfMinute and endOfMinute for schedule start and end time to ignore effects of milliseconds
  packages/dashboard/src/components/tasks/tasks-app.tsx
  pnpm-lock.yaml
Due: dashboard

Time of scheduled tasks seem to be fixed
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

api-server lint
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

react-components, lint
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components
