Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth, task-scheduler

update stories with lifts and doors of longer nnames
  packages/react-components/lib/doors/test-utils.spec.ts
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/test-utils.spec.ts
Due: react-components

change building to infrastructure
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

first impl
  package-lock.json
  packages/react-components/lib/icons/CloseFullscreen.tsx
  packages/react-components/lib/icons/OpenInFull.tsx
  packages/react-components/lib/icons/index.ts
  packages/react-components/lib/window/index.ts
  packages/react-components/lib/window/test-utils.spec.ts
  packages/react-components/lib/window/window-container.tsx
  packages/react-components/lib/window/window-toolbar.stories.tsx
  packages/react-components/lib/window/window-toolbar.tsx
  packages/react-components/lib/window/window.spec.tsx
  packages/react-components/lib/window/window.stories.tsx
  packages/react-components/lib/window/window.tsx
  packages/react-components/package.json
Due: react-components

window manager with design mode switch
  packages/react-components/lib/window/context.ts
  packages/react-components/lib/window/demo.stories.tsx
  packages/react-components/lib/window/index.ts
  packages/react-components/lib/window/test-utils.spec.ts
  packages/react-components/lib/window/window-container.tsx
  packages/react-components/lib/window/window-manager.tsx
  packages/react-components/lib/window/window-toolbar.stories.tsx
  packages/react-components/lib/window/window-toolbar.tsx
  packages/react-components/lib/window/window.spec.tsx
  packages/react-components/lib/window/window.stories.tsx
  packages/react-components/lib/window/window.tsx
Due: react-components

fix storybook
  packages/react-components/lib/info-card.stories.tsx
  packages/react-components/lib/reports/utils.spec.ts
  packages/react-components/lib/tasks/task-table.stories.tsx
  packages/react-components/lib/trashbin-control-button-group.stories.tsx
Due: react-components

try increasing watch limit
  .github/workflows/react-components.yml
Due: none

fix coverage
  packages/react-components/karma.conf.js
  packages/react-components/webpack.config.js
Due: react-components

fix test
  packages/react-components/lib/window/window.spec.tsx
Due: react-components

build(react-components): fix coverage
  packages/react-components/karma.conf.js
  packages/react-components/webpack.config.js
Due: react-components

window preference
  .eslintrc.js
  package-lock.json
  packages/react-components/lib/window/window-preference.ts
  packages/react-components/package.json
Due: react-components

update with tooltip and truncating when word is too long
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.spec.tsx
  packages/react-components/lib/doors/test-utils.spec.ts
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
Due: react-components

rename window manager to window container; add new window manager hook to manage windows
  packages/react-components/lib/window/context.ts
  packages/react-components/lib/window/demo.stories.tsx
  packages/react-components/lib/window/index.ts
  packages/react-components/lib/window/window-container.tsx
  packages/react-components/lib/window/window-manager.ts
  packages/react-components/lib/window/window-preference.ts
  packages/react-components/lib/window/window.spec.tsx
  packages/react-components/lib/window/window.tsx
Due: react-components

place bearer token in header
  packages/rmf-auth/lib/components/context.tsx
Due: rmf-auth

place bearer token in header (#528)
  packages/rmf-auth/lib/components/context.tsx
Due: rmf-auth

shift lift panel to virtual grid
  packages/react-components/lib/lifts/lift-panel.tsx
Due: react-components

fix lift cell display
  packages/dashboard/rmf-launcher.js
  packages/react-components/lib/lifts/lift-panel.tsx
Due: dashboard, react-components

use Fixsizelist for lifts
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-table.tsx
Due: react-components

minor fixes and fix lift css
  packages/dashboard/rmf-launcher.js
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/doors/utils.ts
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/lifts/lift-utils.ts
Due: dashboard, react-components

virtualize workcell panel
  packages/react-components/lib/workcells/workcell-panel.stories.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
Due: react-components

virtualize dispenser table list
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

add styles
  packages/react-components/lib/workcells/utils.ts
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

workcell fix table width and styles
  packages/react-components/lib/workcells/utils.ts
  packages/react-components/lib/workcells/workcell-panel.tsx
Due: react-components

fix test and errors
  packages/react-components/lib/doors/door-table.spec.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

use mui theme formatting and colors
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
Due: react-components

standardise workcell tables
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

generate required pydantic fields
  packages/ros-translator/ros_translator/pydantic/msg.j2
Due: none

add browser tooltip for long names
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/doors/test-utils.spec.ts
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

swap battery and task progress
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-panel.spec.tsx
Due: react-components

added visualizer to robot page
  packages/dashboard/src/components/robots/robot-page.tsx
Due: dashboard

update theme colors
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/themes/common-theme.tsx
  packages/react-components/lib/themes/rmf-dark.tsx
  packages/react-components/lib/themes/rmf-light.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
Due: react-components

set map zoom and fix icon not showing finally!
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/react-components/lib/map/map.tsx
Due: dashboard, react-components

update theme colors
  packages/react-components/lib/themes/common-theme.tsx
  packages/react-components/lib/themes/rmf-light.tsx
Due: react-components

add contrast text to components and change label colors
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/map/label-marker.tsx
  packages/react-components/lib/tasks/task-table.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
Due: react-components

add pending and queued for task table story
  packages/react-components/lib/tasks/task-table.stories.tsx
Due: react-components

add dispenser and ingestor
  packages/dashboard/src/components/robots/robot-page.tsx
Due: dashboard

add zoom feature and fix panel style
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/react-components/lib/map/map.tsx
  packages/react-components/lib/robots/robot-panel.tsx
Due: dashboard, react-components

fix task progress display
  packages/react-components/lib/robots/robot-info.tsx
Due: react-components

fix test
  packages/react-components/lib/robots/robot-panel.spec.tsx
Due: react-components

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  reporting: any of: packages/reporting
  reporting-server: any of: packages/reporting-server
  rmf-auth: any of: packages/rmf-auth
  task-scheduler: any of: packages/task-scheduler
