Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

Using attributionprefix in map
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Using default zoom from resources if available (#756)
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/managers/resource-manager.ts
Due: dashboard

Delayed tasks warnings and ack working
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/repositories/alerts.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/internal.py
  packages/dashboard/src/components/tasks/task-alert.tsx
Due: dashboard, api-server

Using a checkbox to enable warn time
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Lint
  packages/api-server/api_server/routes/internal.py
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components, api-server

Map resized
  packages/dashboard/src/components/app.css
Due: dashboard

Resized app base font size, with other components in datagrid
  packages/dashboard/src/components/app-base.tsx
  packages/react-components/lib/beacons/beacon-table-datagrid.tsx
  packages/react-components/lib/doors/door-table-datagrid.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
  packages/react-components/lib/robots/robot-table-datagrid.tsx
Due: dashboard, react-components

Feature/time warning (#757)
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/rmf_api/task_request.py
  packages/api-server/api_server/models/rmf_api/task_state.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/repositories/alerts.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/internal.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/dashboard/src/components/tasks/task-alert.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components, api-server

Hammer/resize (#758)
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app.css
  packages/react-components/lib/beacons/beacon-table-datagrid.tsx
  packages/react-components/lib/doors/door-table-datagrid.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
  packages/react-components/lib/robots/robot-table-datagrid.tsx
Due: dashboard, react-components

Turning off submit task tests for sanity check
  packages/dashboard-e2e/tests/ui-interactions/index.test.ts
Due: dashboard

Submit delivery task instead
  packages/dashboard-e2e/tests/ui-interactions/index.test.ts
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
Due: dashboard

Turning off submit task tests for sanity check (#759)
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
Due: dashboard

Dropoff points to show waypoint/place names instead of ingesters
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Populating request form after favorite is clicked
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Selecting a favorite task changes taskRequests, instead of append
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Dropoff points to show waypoint/place names instead of ingesters (#760)
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Selecting a favorite task changes taskRequests, instead of append (#761)
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Selecting a favorite task changes taskRequests, instead of append (#761) (#762)
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Handler layers
  packages/dashboard/src/components/canvas-handler.tsx
Due: dashboard

Handling layers
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Adding radio button
  packages/dashboard/src/components/canvas-handler.tsx
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Adding lift load and door maker compoennt
  packages/dashboard/src/components/door-maker.tsx
  packages/dashboard/src/components/lift-load.tsx
Due: dashboard

Add levels
  packages/dashboard/src/components/canvas-handler.tsx
Due: dashboard

Disabled layers
  packages/dashboard/src/components/door.tsx
  packages/dashboard/src/components/level.tsx
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Removing unused variables
  packages/dashboard/src/components/canvas-handler.tsx
  packages/dashboard/src/components/level.tsx
  packages/dashboard/src/components/lift-load.tsx
Due: dashboard

Rename component to be more precise
  packages/dashboard/src/components/canvas-handler.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/three-fiber/index.tsx
  packages/dashboard/src/components/three-fiber/layers-controller.tsx
Due: dashboard

Remove unused labels
  packages/dashboard/src/components/three-fiber/layers-controller.tsx
Due: dashboard

Sent refresh counter app event to be void, introduced interval event
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Fix prepend addition
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Add react three fiber into react component
  packages/react-components/package.json
  pnpm-lock.yaml
Due: react-components

Create basic component to render map with react three fiber
  packages/react-components/lib/map/three-fiber/building-walls.tsx
  packages/react-components/lib/map/three-fiber/cube-maker.tsx
  packages/react-components/lib/map/three-fiber/wall-maker.tsx
Due: react-components

Using 5 second periodic query interval
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Add utils react three fiber util functions
  packages/react-components/lib/map/utils.ts
Due: react-components

Add div property in Box material ui component
  packages/react-components/lib/alert-dialog.tsx
  packages/react-components/lib/robots/linear-progress-bar.tsx
Due: react-components

Refactor alert event to use void subject as well
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Add div component as property to material ui box
  packages/react-components/lib/doors/door-table-datagrid.tsx
  packages/react-components/lib/lifts/lift-card.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
  packages/react-components/lib/robots/robot-table-datagrid.tsx
Due: react-components

Moving from dashboard to react component
  packages/dashboard/src/components/door-maker.tsx
  packages/dashboard/src/components/level.tsx
  packages/react-components/lib/map/index.tsx
  packages/react-components/lib/map/three-fiber/building-walls.tsx
  packages/react-components/lib/map/three-fiber/wall-maker.tsx
Due: dashboard, react-components

Using react compnent
  packages/dashboard/src/components/door.tsx
Due: dashboard

Set radius value as standar
  packages/dashboard/src/components/robot-loader.tsx
Due: dashboard

Using react component instead of dashboard compnent
  packages/dashboard/src/components/map-app.tsx
Due: dashboard
