Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth, task-scheduler

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  reporting:
    paths:
      - packages/reporting
    carryforward: true
  reporting-server:
    paths:
      - packages/reporting-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true
  task-scheduler:
    paths:
      - packages/task-scheduler
    carryforward: true

Fixing specified type lint
  packages/react-components/lib/robots/robot-info.tsx
Due: react-components

Fix/dashboard task panel display and cancellation for different task status (#620)
  packages/dashboard/src/components/tasks/task-details-app.tsx
Due: dashboard

Adding timed interval whenever robot updates come in, to trigger if interval runs out
  packages/dashboard/src/components/robots/robot-info-app.tsx
  packages/react-components/lib/robots/robot-info.tsx
Due: dashboard, react-components

safe check ws msg type field
  packages/api-server/api_server/routes/internal.py
Due: api-server

nit logger printout
  packages/api-server/api_server/routes/internal.py
Due: api-server

safe check internal ws msg 'type' field (#634)
  packages/api-server/api_server/routes/internal.py
Due: api-server

Using full last updated time instead of calculating from diff, this aligns with how we have dealt with finish time
  packages/dashboard/src/components/robots/robot-info-app.tsx
  packages/dashboard/src/components/robots/robots-app.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-table.tsx
Due: dashboard, react-components

Added lastUpdateTime to stories and spec
  packages/dashboard/src/components/robots/robot-info-app.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-table.spec.tsx
  packages/react-components/lib/robots/robot-table.stories.tsx
Due: dashboard, react-components

Fix test
  packages/react-components/lib/robots/robot-table.tsx
Due: react-components

Fix starting with psql
  packages/api-server/package.json
  packages/dashboard/package.json
Due: dashboard, api-server

Fix starting with psql (#635)
  packages/api-server/package.json
  packages/dashboard/package.json
Due: dashboard, api-server

add last update time for robot page, automate robot page update [Dashboard] (#597)
  packages/dashboard/src/components/robots/robots-app.tsx
  packages/react-components/lib/robots/robot-table.spec.tsx
  packages/react-components/lib/robots/robot-table.stories.tsx
  packages/react-components/lib/robots/robot-table.tsx
Due: dashboard, react-components

feature sort tasks ready for PR
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/task-table.tsx
Due: dashboard, react-components

added arrows to date title in tasks table
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/task-table.tsx
Due: dashboard, react-components

corrected alphabetical order of imports
  packages/react-components/lib/tasks/task-table.tsx
Due: react-components

go back to pipenv
  .github/actions/bootstrap/action.yml
  .github/workflows/api-server.yml
  .pnpm-debug.log
  Pipfile
  Pipfile.lock
  README.md
  package.json
  packages/api-server/.pnpm-debug.log
  packages/api-server/.venv_local/.gitignore
  packages/api-server/generate-models.sh
  packages/api-server/package.json
  packages/api-server/pyproject.toml
  packages/api-server/setup.py
  packages/ros-translator/build/lib/ros_translator/__init__.py
  packages/ros-translator/build/lib/ros_translator/__main__.py
  packages/ros-translator/build/lib/ros_translator/library.py
  packages/ros-translator/build/lib/ros_translator/pydantic/__init__.py
  packages/ros-translator/build/lib/ros_translator/pydantic/msg.j2
  packages/ros-translator/build/lib/ros_translator/ros_types.py
  packages/ros-translator/build/lib/ros_translator/typescript/__init__.py
  packages/ros-translator/build/lib/ros_translator/typescript/templates/index.j2
  packages/ros-translator/build/lib/ros_translator/typescript/templates/srv-ts-definition.j2
  packages/ros-translator/build/lib/ros_translator/typescript/templates/ts-definition.j2
  packages/ros-translator/package.json
  packages/ros-translator/pyproject.toml
  packages/ros-translator/setup.py
  pipenv-install/README.md
  pipenv-install/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  poetry-install/README.md
  poetry-install/package.json
  poetry.lock
  poetry.toml
  pyproject.toml
  scripts/pipenv-install.sh
  scripts/poetry-install.sh
Due: api-server

fix pipenv not found if compatible version already installed in the system
  package.json
  packages/api-server/package.json
  scripts/pipenv
  scripts/pipenv-install.sh
Due: api-server

react-components: Add arrows to sort by date title (#638)
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/task-table.tsx
Due: dashboard, react-components

First iteration of robot issues app
  packages/dashboard/src/components/app-registry.ts
  packages/dashboard/src/components/robots/robot-issues-app.tsx
  packages/dashboard/src/components/robots/robots-workspace.tsx
  packages/react-components/lib/robots/index.ts
  packages/react-components/lib/robots/robot-issues.tsx
Due: dashboard, react-components

Added spec and stories
  packages/react-components/lib/robots/robot-issues.spec.tsx
  packages/react-components/lib/robots/robot-issues.stories.tsx
  packages/react-components/lib/robots/test-utils.spec.ts
Due: react-components

Change icon, added some spacing, json stringify pretty
  packages/react-components/lib/robots/robot-issues.tsx
Due: react-components

Fix CI
  packages/react-components/lib/robots/robot-issues.spec.tsx
  packages/react-components/lib/robots/test-utils.spec.ts
Due: react-components

use workspace reference
  packages/dashboard/package.json
Due: dashboard

Clean tasks now submit a sequence of goto and perform_action
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Fixing level changing behavior
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Update installation steps in readme
  README.md
Due: none

Change clean task category to compose
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

docs: Update installation steps in readme (#645)
  README.md
Due: none

Adding no-frozen-lockfile for pnpm install
  .github/actions/bootstrap/action.yml
Due: none

Asserting 2 results before lookup
  packages/api-server/api_server/rmf_io/test_rmf_service.py
Due: api-server

Asserting portal is not None before calls
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

use assertTupleEqual
  packages/api-server/api_server/rmf_io/test_rmf_service.py
Due: api-server

Since tests are not static, exit before any other checks are performed
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

Removed unused imports
  packages/api-server/api_server/routes/fleets.py
Due: api-server

assertListEqual instead of assertTupleEqual
  packages/api-server/api_server/rmf_io/test_rmf_service.py
Due: api-server

Explicitly creating a list for results for assertListEqual
  packages/api-server/api_server/rmf_io/test_rmf_service.py
Due: api-server

Using pnpm, workspace absolute path, and removing extra build call
  packages/dashboard-e2e/package.json
  packages/dashboard-e2e/scripts/test-e2e.js
Due: dashboard

Remove unnecessary list comprehension
  packages/api-server/api_server/rmf_io/test_rmf_service.py
Due: api-server
