Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth, task-scheduler

ci: remove extra setup-node
  .github/workflows/react-components.yml
Due: none

update logo resources retrieval
  packages/minimal/src/app-config.ts
  packages/minimal/src/components/appbar.tsx
  packages/minimal/src/managers/resource-manager-logos.ts
  packages/minimal/src/managers/resource-manager.ts
Due: none

update resource managers(temp)
  packages/minimal/src/managers/__mocks__/resources.ts
  packages/minimal/src/managers/__mocks__/trajectories.json
  packages/minimal/src/managers/resource-manager-dispensers.ts
  packages/minimal/src/managers/resource-manager-robots.ts
  packages/minimal/src/managers/tests/resource-manager-dispensers.test.ts
  packages/minimal/src/managers/tests/resource-manager-logos.test.ts
  packages/minimal/src/managers/tests/resource-manager-robots.test.ts
  packages/minimal/src/managers/tests/resource-manager.test.tsx
  packages/rmf-tools/lib/scripts/setup/get-icons.js
  packages/rmf-tools/lib/scripts/setup/setup.js
Due: none

chore: add license
  LICENSE.md
  package-lock.json
  packages/react-components/karma.conf.js
  packages/react-components/package.json
  packages/react-components/webpack.config.js
Due: react-components

fix lint errors in api-server
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/models/tasks.py
  packages/api-server/api_server/models/test_user.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/operators/health.py
  packages/api-server/api_server/rmf_io/operators/test_health.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/rmf_io/test_health_watchdog.py
  packages/api-server/api_server/routes/admin.py
  packages/api-server/api_server/routes/building_map.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/main.py
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/tasks/utils.py
  packages/api-server/api_server/routes/test_doors.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/routes/test_lifts.py
  packages/api-server/api_server/routes/utils.py
  packages/api-server/api_server/services/tasks.py
  packages/api-server/api_server/services/test_tasks.py
  packages/api-server/api_server/test/fast_io_app.py
  packages/api-server/api_server/test/test_data.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/api_server/test_permissions.py
Due: api-server

Revert "chore: add license"
  LICENSE.md
  package-lock.json
  packages/react-components/karma.conf.js
  packages/react-components/package.json
  packages/react-components/webpack.config.js
Due: react-components

chore: add license
  LICENSE.md
Due: none

Created a scheduled task reducer, scheduler componenet, created a task-scheduler story
  packages/react-components/lib/tasks/schedule-task.stories.tsx
  packages/react-components/lib/tasks/schedule-task.tsx
  packages/react-components/lib/tasks/scheduler/rules.ts
  packages/react-components/lib/tasks/scheduler/scheduler.tsx
  packages/react-components/lib/tasks/task-reducer.tsx
Due: react-components

remove utility functions from rmf tools readme
  packages/rmf-tools/README.md
Due: none

show table borders and make buttons not disabled
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/themes/dark-global-theme.tsx
Due: react-components

fix tests
  packages/react-components/lib/color-manager.spec.ts
  packages/react-components/lib/map/robot-marker.spec.tsx
  packages/react-components/lib/map/robots-overlay.spec.tsx
  packages/react-components/lib/map/test-utils.spec.tsx
Due: react-components

remove enzyme
  package-lock.json
  packages/dashboard/package.json
  packages/dashboard/src/setupTests.ts
Due: dashboard

finish refactoring schedule visualizer
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/schedule-visualizer/dispensers-overlay.tsx
  packages/dashboard/src/components/schedule-visualizer/doors-overlay.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/components/schedule-visualizer/lift-overlay.tsx
  packages/dashboard/src/components/schedule-visualizer/robot-trajectories-overlay.tsx
  packages/dashboard/src/components/schedule-visualizer/robots-overlay.tsx
  packages/dashboard/src/components/schedule-visualizer/svg-overlay.tsx
  packages/dashboard/src/components/schedule-visualizer/trajectory-time-control.tsx
  packages/dashboard/src/components/schedule-visualizer/waypoints-overlay.tsx
  packages/dashboard/src/stories/scheduler-visualizer/trajectory-time-control.stories.tsx
  packages/react-components/lib/map/doors-overlay.tsx
  packages/react-components/lib/map/index.tsx
  packages/react-components/lib/map/lifts-overlay.tsx
  packages/react-components/lib/map/robots-overlay.tsx
  packages/react-components/lib/map/schedule-visualizer.stories.tsx
  packages/react-components/lib/map/utils.ts
  packages/react-components/lib/map/workcells-overlay.tsx
Due: dashboard, react-components

waypoints overlay
  packages/react-components/lib/index.ts
  packages/react-components/lib/map/index.tsx
  packages/react-components/lib/map/schedule-visualizer.stories.tsx
  packages/react-components/lib/map/trajectory-time-control.tsx
  packages/react-components/lib/map/waypoint-marker.spec.tsx
  packages/react-components/lib/map/waypoint-marker.tsx
  packages/react-components/lib/map/waypoint-markers.stories.tsx
  packages/react-components/lib/map/waypoints-overlay.tsx
  packages/react-components/lib/waypoints/index.ts
Due: react-components

fix old broken memo logic
  packages/react-components/lib/map/door-marker.spec.tsx
  packages/react-components/lib/map/door-marker.tsx
  packages/react-components/lib/map/doors-overlay.tsx
  packages/react-components/lib/map/index.tsx
  packages/react-components/lib/map/lift-marker.tsx
  packages/react-components/lib/map/lifts-overlay.tsx
  packages/react-components/lib/map/robot-marker.tsx
  packages/react-components/lib/map/robots-overlay.tsx
  packages/react-components/lib/map/trajectory-marker.tsx
  packages/react-components/lib/map/workcell-marker.spec.tsx
  packages/react-components/lib/map/workcell-marker.tsx
  packages/react-components/lib/map/workcells-overlay.tsx
  packages/react-components/lib/robots/robot-info.tsx
Due: react-components

trajectory overlay
  packages/react-components/lib/map/base-robot-marker.ts
  packages/react-components/lib/map/default-marker.spec.tsx
  packages/react-components/lib/map/default-robot-marker.tsx
  packages/react-components/lib/map/index.tsx
  packages/react-components/lib/map/robot-marker.spec.tsx
  packages/react-components/lib/map/robot-marker.tsx
  packages/react-components/lib/map/robots-overlay.tsx
  packages/react-components/lib/map/schedule-visualizer.stories.tsx
  packages/react-components/lib/map/test-utils.spec.tsx
  packages/react-components/lib/map/trajectories-overlay.tsx
  packages/react-components/lib/map/trajectory-marker.spec.tsx
  packages/react-components/lib/map/trajectory-marker.stories.tsx
  packages/react-components/lib/map/trajectory-marker.tsx
  packages/react-components/lib/map/trajectory-paths.tsx
  packages/react-components/lib/map/trajectory.ts
  packages/react-components/lib/robots/index.ts
  packages/react-components/lib/robots/test-utils.spec.ts
Due: react-components

remove usage of web crypto as it requires secure context; use crc32 instead
  package-lock.json
  packages/react-components/lib/color-manager.ts
  packages/react-components/package.json
Due: react-components

migrate overlay tests
  packages/react-components/lib/index.ts
  packages/react-components/lib/map/doors-overlay.spec.tsx
  packages/react-components/lib/map/lifts-overlay.spec.tsx
  packages/react-components/lib/map/lifts-overlay.tsx
  packages/react-components/lib/map/robot-marker.spec.tsx
  packages/react-components/lib/map/robot-marker.tsx
  packages/react-components/lib/map/robots-overlay.spec.tsx
  packages/react-components/lib/map/test-utils.spec.tsx
  packages/react-components/lib/map/trajectories-overlay.spec.tsx
  packages/react-components/lib/map/trajectories-overlay.tsx
  packages/react-components/lib/map/waypoint-marker.tsx
  packages/react-components/lib/map/waypoints-overlay.spec.tsx
  packages/react-components/lib/map/waypoints-overlay.tsx
  packages/react-components/lib/map/workcells-overlay.spec.tsx
  packages/react-components/webpack.config.js
Due: react-components

fix nego trajectory not showing
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/negotiations-panel.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
Due: dashboard

fix e2e tests
  packages/dashboard-e2e/tests/ui-interactions.test.ts
  packages/dashboard-e2e/tests/utils.ts
  packages/dashboard/src/components/schedule-visualizer/index.tsx
Due: dashboard

move material ui core to devdeps
  packages/react-components/package.json
Due: react-components

move leaflet to react-components
  packages/dashboard/package.json
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/index.tsx
  packages/dashboard/src/leaflet/control-positions.css
  packages/dashboard/src/leaflet/control-positions.ts
  packages/react-components/package.json
Due: dashboard, react-components

avoid fetching iconPath every render
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/components/schedule-visualizer/negotiation-colors.ts
  packages/dashboard/src/components/schedule-visualizer/tests/building-map-airport.ts
  packages/dashboard/src/components/schedule-visualizer/tests/building-map-office.ts
  packages/dashboard/src/components/schedule-visualizer/tests/building-map.ts
  packages/dashboard/src/components/schedule-visualizer/tests/dispensers-overlay.test.tsx
  packages/dashboard/src/components/schedule-visualizer/tests/doors-overlay.test.tsx
  packages/dashboard/src/components/schedule-visualizer/tests/fleets.ts
  packages/dashboard/src/components/schedule-visualizer/tests/index.test.tsx
  packages/dashboard/src/components/schedule-visualizer/tests/leaflet-fixture.tsx
  packages/dashboard/src/components/schedule-visualizer/tests/lifts-overlay.test.tsx
  packages/dashboard/src/components/schedule-visualizer/tests/robot-trajectories-overlay.test.tsx
  packages/dashboard/src/components/schedule-visualizer/tests/robots-overlay.test.tsx
  packages/dashboard/src/components/schedule-visualizer/tests/trajectory-time-control.test.tsx
  packages/dashboard/src/components/schedule-visualizer/tests/waypoints-overlay.test.tsx
  packages/react-components/lib/map/robot-marker.tsx
  packages/react-components/lib/map/robots-overlay.tsx
  packages/react-components/lib/map/schedule-visualizer.stories.tsx
Due: dashboard, react-components

restore conflictHighlight
  packages/react-components/lib/color-manager.ts
Due: react-components

remove unneeded fragment
  packages/dashboard/src/components/dashboard/dashboard.tsx
Due: dashboard

Added task scheduler componenet
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/schedule-task.stories.tsx
  packages/react-components/lib/tasks/schedule-task.tsx
  packages/react-components/lib/tasks/scheduler/index.ts
  packages/react-components/lib/tasks/scheduler/task-description-form.tsx
  packages/react-components/lib/tasks/task-reducer.tsx
Due: react-components

Added task rule table
  packages/react-components/lib/tasks/scheduler/task-rules-table.tsx
Due: react-components

Changed task description to name
  packages/task-scheduler/task_scheduler/models/tortoise_models/task_rule.py
  packages/task-scheduler/task_scheduler/models/tortoise_models/test_task_rule.py
  packages/task-scheduler/task_scheduler/repositories/task_rule_handler.py
  packages/task-scheduler/task_scheduler/repositories/test_scheduled_task_handler.py
  packages/task-scheduler/task_scheduler/repositories/test_task_rule_handler.py
  packages/task-scheduler/task_scheduler/routes/test_scheduled_task_router.py
  packages/task-scheduler/task_scheduler/routes/test_task_rule_router.py
Due: task-scheduler

add colors for robot mode table
  packages/react-components/lib/robots/robot-table.tsx
Due: react-components

remove omnipanel
  packages/dashboard/src/components/dashboard/dashboard.tsx
Due: dashboard

working initial version of info panel on omnipanel
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/react-components/lib/omni-panel.tsx
  packages/react-components/lib/robots/robot-accordion.tsx
  packages/react-components/lib/robots/robot-info.tsx
Due: dashboard, react-components

setInterval seems to handle auto refresh lag
  packages/dashboard/src/components/dashboard/dashboard.tsx
Due: dashboard

Fix errors on CI
  Pipfile.lock
  packages/react-components/lib/tasks/scheduler/scheduled-task-table.tsx
  packages/task-scheduler/setup.py
Due: react-components, task-scheduler

Fixed lint errors
  packages/task-scheduler/task_scheduler/models/tortoise_models/scheduled_task.py
  packages/task-scheduler/task_scheduler/scheduler/scheduler.py
  packages/task-scheduler/task_scheduler/scheduler/timer_job.py
Due: task-scheduler

Empty request to server
  packages/api-client/lib/custom/index.ts
  packages/api-client/lib/custom/task-scheduler.ts
  packages/api-client/lib/index.ts
  packages/api-client/lib/openapi/task-scheduler.ts
  packages/dashboard/src/components/tasks/index.ts
  packages/dashboard/src/components/tasks/tab-panel.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/dashboard/src/components/tasks/task-schedule-panel.tsx
  packages/dashboard/src/managers/task-scheduler-manager.ts
  packages/react-components/lib/tasks/index.ts
  packages/react-components/lib/tasks/scheduler/index.ts
  packages/react-components/lib/tasks/scheduler/scheduled-task-table.tsx
  packages/react-components/lib/tasks/scheduler/task-rules-table.tsx
Due: dashboard, react-components

set a min height for info panel
  packages/react-components/lib/omni-panel.tsx
Due: react-components

remove robot panel
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/robots/index.ts
  packages/dashboard/src/components/robots/robot-page.tsx
Due: dashboard

use head_ref from env var
  packages/react-components/karma.conf.js
Due: react-components

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  reporting: any of: packages/reporting
  reporting-server: any of: packages/reporting-server
  rmf-auth: any of: packages/rmf-auth
  task-scheduler: any of: packages/task-scheduler
