Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

Show lift and door summary
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Task summary
  packages/dashboard/src/components/tasks/task-summary.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/dashboard/src/components/tasks/utils.ts
  packages/react-components/lib/tasks/task-table-datagrid.tsx
  packages/react-components/lib/tasks/utils.ts
Due: dashboard, react-components

Lint
  packages/react-components/lib/tasks/utils.ts
Due: react-components

Clicking on task centers on robot (#848)
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Redesign to standardize summary popup
  packages/dashboard/src/components/door-summary.tsx
  packages/dashboard/src/components/lift-door-summary.tsx
Due: dashboard

Remove duplicated dialog content on lift summary
  packages/dashboard/src/components/lift-door-summary.tsx
Due: dashboard

Changing name to LiftSummary
  packages/dashboard/src/components/lift-summary.tsx
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Removing commented out line
  packages/dashboard/src/components/tasks/task-alert.tsx
Due: dashboard

Clicking big lift square opens summary too
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/three-fiber/lift-three.tsx
  packages/react-components/lib/map/three-fiber/lift-three-maker.tsx
Due: dashboard, react-components

Hammer/permissions (#845)
  packages/api-server/api_server/authenticator.py
  packages/dashboard/src/components/delivery-alert-store.tsx
  packages/dashboard/src/components/robots/robot-summary.tsx
  packages/dashboard/src/components/tasks/task-alert.tsx
  packages/dashboard/src/components/tasks/task-cancellation.tsx
  packages/dashboard/src/components/tasks/task-inspector.tsx
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/dashboard/src/components/tasks/task-summary.tsx
  packages/react-components/lib/tasks/task-schedule-event-edit-delete-popup.spec.tsx
  packages/react-components/lib/tasks/task-schedule-event-edit-delete-popup.tsx
Due: dashboard, react-components, api-server

Hammer/summaries (#850)
  packages/dashboard/src/components/tasks/task-summary.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/dashboard/src/components/tasks/utils.ts
  packages/react-components/lib/tasks/task-table-datagrid.tsx
  packages/react-components/lib/tasks/utils.ts
Due: dashboard, react-components

Door and lift summary (#849)
  packages/dashboard/src/components/door-summary.tsx
  packages/dashboard/src/components/lift-summary.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/three-fiber/door-three.tsx
  packages/dashboard/src/components/three-fiber/lift-three.tsx
  packages/react-components/lib/map/three-fiber/cube-maker.tsx
  packages/react-components/lib/map/three-fiber/door-three-maker.tsx
  packages/react-components/lib/map/three-fiber/lift-three-maker.tsx
Due: dashboard, react-components

Server-side sort and filter pickup and destination (#847)
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components, api-server

Center on door
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/doors-app.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/react-components/lib/doors/door-table-datagrid.tsx
Due: dashboard, react-components

Centre on lift
  packages/dashboard/src/components/doors-app.tsx
  packages/dashboard/src/components/lifts-app.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
Due: dashboard, react-components

Hammer/center on infra (#851)
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/doors-app.tsx
  packages/dashboard/src/components/lifts-app.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/react-components/lib/doors/door-table-datagrid.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
Due: dashboard, react-components

clip battery decimal points
  packages/react-components/lib/robots/robot-table-datagrid.tsx
Due: react-components

Filters trajectory segments
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Minor frontend fixes (#852)
  packages/dashboard/src/components/map-app.tsx
  packages/react-components/lib/robots/robot-table-datagrid.tsx
Due: dashboard, react-components

Change style in inputs and datetime picker
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Change styles according to resolution.
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Make buttons and width smaller
  packages/react-components/lib/confirmation-dialog.tsx
Due: react-components

Resize schedule componente contents
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Change alert dialog contents size if they are less than 800
  packages/react-components/lib/alert-dialog.tsx
Due: react-components

Change delivery alert dialog contents size if they are less than 800
  packages/dashboard/src/components/delivery-alert-store.tsx
Due: dashboard

Styling chagnes to the missing textfield
  packages/dashboard/src/components/delivery-alert-store.tsx
Due: dashboard

Added console log for all received delivery alerts
  packages/dashboard/src/components/delivery-alert-store.tsx
Due: dashboard

Create task form - Adapting styles according to resolution (#853)
  packages/react-components/lib/confirmation-dialog.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Increase create task form max width
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Alert dialog - Adapting styles according to resolution (#854)
  packages/react-components/lib/alert-dialog.tsx
Due: react-components

Add small resolution changes to inspect (just in case) and acknowledged
  packages/react-components/lib/alert-dialog.tsx
Due: react-components

Delivery dialog - Adapting styles according to resolution (#855)
  packages/dashboard/src/components/delivery-alert-store.tsx
Due: dashboard

Make task data grid smaller, refactored use of sx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components

Tab font sizes
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components

Schedule font sizes
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Using smaller fonts for othe datagrids
  packages/react-components/lib/beacons/beacon-table-datagrid.tsx
  packages/react-components/lib/doors/door-table-datagrid.tsx
  packages/react-components/lib/lifts/lift-controls.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
  packages/react-components/lib/robots/robot-table-datagrid.tsx
Due: react-components

Cancel button as secondary color
  packages/dashboard/src/components/robots/robot-summary.tsx
  packages/dashboard/src/components/tasks/task-summary.tsx
Due: dashboard

Confirm dialog when cancelling task
  packages/dashboard/src/components/tasks/task-cancellation.tsx
Due: dashboard

Fix scale of robot icons
  packages/react-components/lib/map/three-fiber/circle-shape.tsx
  packages/react-components/lib/map/three-fiber/robot-three-maker.tsx
Due: react-components

Cancel confirmation dialog with subtitle
  packages/dashboard/src/components/tasks/task-cancellation.tsx
Due: dashboard

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
