Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth, task-scheduler

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  reporting:
    paths:
      - packages/reporting
    carryforward: true
  reporting-server:
    paths:
      - packages/reporting-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true
  task-scheduler:
    paths:
      - packages/task-scheduler
    carryforward: true

add numpy dependency
  Pipfile.lock
  packages/api-server/setup.py
Due: api-server

add postgres launch tooling
  Pipfile.lock
  README.md
  packages/api-server/README.md
  packages/api-server/api_server/Pipfile
  packages/api-server/api_server/psql_config.py
  packages/api-server/setup.py
  packages/dashboard/package.json
Due: dashboard, api-server

use theme spacing values over arbitrary values
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
Due: react-components

update to use theme spacing
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
Due: react-components

Revert "rename window manager to window container; add new window manager hook to manage windows"
  packages/react-components/lib/window/context.ts
  packages/react-components/lib/window/demo.stories.tsx
  packages/react-components/lib/window/index.ts
  packages/react-components/lib/window/window-manager.ts
  packages/react-components/lib/window/window-manager.tsx
  packages/react-components/lib/window/window-preference.ts
  packages/react-components/lib/window/window.spec.tsx
  packages/react-components/lib/window/window.tsx
Due: react-components

change cursor when in design mode
  packages/react-components/lib/window/demo.stories.tsx
  packages/react-components/lib/window/window.tsx
Due: react-components

fixed to 12 columns
  packages/react-components/lib/window/demo.stories.tsx
  packages/react-components/lib/window/test-utils.spec.ts
  packages/react-components/lib/window/window-manager.tsx
  packages/react-components/lib/window/window.spec.tsx
Due: react-components

certain css properties messes up react grid layout, so window manager exposes the container div instead
  packages/react-components/lib/window/window-manager.tsx
Due: react-components

revert changes to dashboard
  packages/dashboard/src/components/dashboard/dashboard.tsx
Due: dashboard

rx-rmf to share data across windows
  package-lock.json
  packages/dashboard/package.json
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/rmf-app/contexts.ts
  packages/dashboard/src/components/rmf-app/index.tsx
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/rmf-app/rx-rmf.ts
Due: dashboard

wip converting dashboard to use window system
  packages/dashboard/package.json
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/doors/doors-window.tsx
  packages/dashboard/src/components/doors/index.ts
  packages/dashboard/src/components/lifts/index.ts
  packages/dashboard/src/components/lifts/lifts-window.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/rmf-app/rx-rmf.ts
  packages/dashboard/src/components/window.ts
  packages/dashboard/src/components/workcells/index.ts
  packages/dashboard/src/components/workcells/workcells-window.tsx
  packages/react-components/lib/doors/door-cell.spec.tsx
  packages/react-components/lib/doors/door-cell.stories.tsx
  packages/react-components/lib/doors/door-cell.tsx
  packages/react-components/lib/doors/door-panel.spec.tsx
  packages/react-components/lib/doors/door-panel.stories.tsx
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/index.ts
  packages/react-components/lib/index.ts
  packages/react-components/lib/lifts/index.ts
  packages/react-components/lib/lifts/lift-cell.spec.tsx
  packages/react-components/lib/lifts/lift-cell.stories.tsx
  packages/react-components/lib/lifts/lift-cell.tsx
  packages/react-components/lib/lifts/lift-panel.spec.tsx
  packages/react-components/lib/lifts/lift-panel.stories.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/window/window-manager.tsx
  packages/react-components/lib/workcells/index.ts
  packages/react-components/lib/workcells/workcell-cell.spec.tsx
  packages/react-components/lib/workcells/workcell-cell.stories.tsx
  packages/react-components/lib/workcells/workcell-cell.tsx
  packages/react-components/lib/workcells/workcell-panel.spec.tsx
  packages/react-components/lib/workcells/workcell-panel.stories.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/package.json
  packages/react-components/scripts/prepare.js
Due: dashboard, react-components

prevent windows from going over max rows limit
  packages/react-components/lib/window/window-manager.tsx
Due: react-components

remove infrastructure page test as the windowing system depends on ResizeObserver which is not supported in jsdom
  packages/dashboard/src/components/pages/tests/infrastructure-page.test.tsx
  packages/dashboard/src/components/pages/tests/items.ts
Due: dashboard

refactor schedule visualizer to be fully managed
  packages/dashboard/src/components/rmf-app/contexts.ts
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/schedule-visualizer/schedule-visualizer-window.tsx
  packages/dashboard/src/components/schedule-visualizer/schedule-visualizer.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard

move settings to schedule visualizer window
  packages/dashboard/src/components/schedule-visualizer/schedule-visualizer-window.tsx
  packages/dashboard/src/components/schedule-visualizer/schedule-visualizer.tsx
  packages/dashboard/src/components/window.ts
Due: dashboard

fix window contents rendering over rounded window borders
  packages/react-components/lib/window/window.tsx
Due: react-components

rename dashboard to infrastructure page
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/dashboard/index.ts
  packages/dashboard/src/components/dashboard/reducers/dashboard-reducer.tsx
  packages/dashboard/src/components/pages/index.ts
  packages/dashboard/src/components/pages/infrastructure-page.tsx
  packages/dashboard/src/components/pages/tests/infrastructure-page.test.tsx
  packages/dashboard/src/components/pages/tests/items.ts
  packages/dashboard/src/util/url.ts
Due: dashboard

fix scrollbar appearing when dragging windows
  packages/react-components/lib/window/window-manager.tsx
Due: react-components

add schedule visualizer window
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/doors/doors-window.tsx
  packages/dashboard/src/components/lifts/lifts-window.tsx
  packages/dashboard/src/components/schedule-visualizer/index.ts
  packages/dashboard/src/components/schedule-visualizer/schedule-visualizer-window.tsx
  packages/dashboard/src/components/schedule-visualizer/schedule-visualizer.tsx
  packages/dashboard/src/components/window.ts
  packages/dashboard/src/components/workcells/workcells-window.tsx
Due: dashboard

use rest endpoints to get buildingmap to make use of caching
  packages/dashboard/src/components/doors/doors-window.tsx
  packages/dashboard/src/components/lifts/lifts-window.tsx
Due: dashboard

use contentRect as safari doesnt support contentBoxSize
  packages/react-components/lib/window/window-manager.tsx
Due: react-components

cache apis that list resources
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/routes/building_map.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/lifts.py
Due: api-server

save schedule visualizer window settings
  packages/dashboard/src/components/schedule-visualizer/schedule-visualizer-window.tsx
Due: dashboard

task table window
  packages/dashboard/package.json
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app-contexts.tsx
  packages/dashboard/src/components/tasks/task-table-window.tsx
  packages/dashboard/src/components/window.ts
Due: dashboard

update models
  packages/api-client/lib/index.ts
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
Due: none

fix multiple definitons of RobotState
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-server/api_server/models/fleets.py
Due: api-server

refactor out common subscriptions into custom hooks
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/util/common-subscriptions.ts
Due: dashboard

fix error/warning
  packages/react-components/lib/error-snackbar.tsx
Due: react-components

rename makeTask
  packages/react-components/lib/robots/robot-info.spec.tsx
  packages/react-components/lib/tasks/task-info.spec.tsx
  packages/react-components/lib/tasks/task-info.stories.tsx
  packages/react-components/lib/tasks/task-phases.stories.tsx
  packages/react-components/lib/tasks/task-table.spec.tsx
  packages/react-components/lib/tasks/task-table.stories.tsx
  packages/react-components/lib/tasks/task-timeline.spec.tsx
  packages/react-components/lib/tasks/task-timeline.stories.tsx
  packages/react-components/lib/tasks/test-data.spec.ts
Due: react-components

update filter and lift marker colors
  packages/react-components/lib/map/lift-marker.tsx
  packages/react-components/lib/themes/rmf-dark.tsx
Due: react-components

fix build error
  packages/rmf-auth/lib/components/context.tsx
Due: rmf-auth

use api-client types whenever possible
  package.json
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/tests/items.ts
  packages/dashboard/src/components/rmf-app/contexts.ts
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/components/tasks/tests/make-tasks.ts
  packages/dashboard/src/components/tasks/tests/task-panel.test.tsx
  packages/dashboard/src/components/tasks/utils.ts
  packages/dashboard/src/stories/baseComponents/utils.tsx
  packages/dashboard/src/stories/task-panel.stories.tsx
Due: dashboard

use Pipfile instead of setup.py for dev dependency
  Pipfile
  Pipfile.lock
  packages/api-server/setup.py
Due: api-server

add docker option for psql db and relocate psql server config file
  Pipfile
  Pipfile.lock
  README.md
  packages/api-server/api_server/psql_config.py
  packages/api-server/psql_local_config.py
  packages/dashboard/package.json
Due: dashboard, api-server

remove numpy as a dependency
  Pipfile
  Pipfile.lock
Due: none

improve formatting for README
  README.md
Due: none

Add keycloak tooling
  .gitignore
  README.md
  packages/api-server/auth_local_config.py
  packages/dashboard/package.json
  scripts/bootstrap-keycloak.bash
  scripts/start-local-keycloak.bash
Due: dashboard, api-server

use autosizer for fix cell grid
  package-lock.json
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/package.json
Due: dashboard, react-components
