Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

Set initiator column to minimal export
  packages/dashboard/src/components/tasks/utils.ts
Due: dashboard

In update method, fill the initiator field with the previous db_task_state value
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

AlertDetails and Alert models, with API changes
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/alerts.py
  packages/api-server/api_server/routes/__init__.py
  packages/api-server/api_server/routes/alerts.py
Due: api-server

FloatField for progress, with validation between 0 and 1
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/tortoise_models/alerts.py
  packages/api-server/api_server/routes/alerts.py
Due: api-server

Rollback setuptools to 65.6.3 to avoid PEP440 issues with >=66.0.0
  Pipfile.lock
Due: none

Rollback setuptools to 65.6.3 to avoid PEP440 issues with >=66.0.0 (#696)
  Pipfile.lock
Due: none

allow schedule if at least 1 job can be run
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
  packages/api-server/api_server/test/test_client.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

add start_from and until query
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
Due: api-server

add start_from and until docs
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

change start_from and until to start_before and until_after
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
Due: api-server

fix merge conflicts
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

remove once option
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components, api-server

use old task dispatch for immediate tasks
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

RefreshTask context has been added to refresh task table
  packages/dashboard/src/components/app-contexts.tsx
Due: dashboard

Provide RefreshTaskTable context in app base
  packages/dashboard/src/components/app-base.tsx
Due: dashboard

Add button to create task from any tab
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Update context value when favorite task change
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Remove AddIcon and all unnecessary function from TaskSection
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Using e2e docker image to run translator test
  .github/workflows/ros-translator.yml
Due: none

Remove sudo call in nightly to fix docker image build
  .github/workflows/nightly.yml
Due: none

Temporarily making nightly run on every pull request
  .github/workflows/nightly.yml
Due: none

Revert permissions change for nightly in the past
  .github/workflows/nightly.yml
Due: none

Update build-push-action version to 4
  .github/workflows/nightly.yml
Due: none

Using ubuntu-22.04 instead of self hosted for building and pushing e2e image
  .github/workflows/nightly.yml
Due: none

Revert to using build-push-action v1
  .github/workflows/nightly.yml
Due: none

Remove temporary pull_request trigger for nightly
  .github/workflows/nightly.yml
Due: none

first successful sending schedule from frontend
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard, api-server

Remove test create task button from task section and test new button instead
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
Due: dashboard

fix wrong time being returned
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

calendar working but not refreshing when tasks are created/deleted
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Add updateTaskQueueTable function into AppController context instead of create another one
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app-contexts.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/dashboard/src/components/tests/mock-app-controller.ts
Due: dashboard

Add e2e test to create task from Robots tab
  packages/dashboard-e2e/tests/ui-interactions/create-task-from-any-tab.test.ts
  packages/dashboard-e2e/tests/ui-interactions/index.test.ts
Due: dashboard

workaround lack of refresh by remounting new instance
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Using e2e docker image to run translator test (#698)
  .github/workflows/nightly.yml
  .github/workflows/ros-translator.yml
Due: none

Retry on dashboard-e2e nightly
  .github/workflows/nightly.yml
Due: none

Retry on general dashboard-e2e workflow
  .github/workflows/dashboard-e2e.yml
Due: none

Setting required timeout_minutes to 20, removing optional retry_on
  .github/workflows/dashboard-e2e.yml
  .github/workflows/nightly.yml
Due: none

Adding appEvent subject to udpate task table
  packages/dashboard/src/components/app-events.ts
Due: dashboard

Remove context variable and use AppEvents next function instead to refresh task table
  packages/dashboard/src/components/app-contexts.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/dashboard/src/components/tests/mock-app-controller.ts
Due: dashboard

Remove unnecessary code
  packages/dashboard/src/components/app-base.tsx
Due: dashboard
