Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth, task-scheduler

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  reporting:
    paths:
      - packages/reporting
    carryforward: true
  reporting-server:
    paths:
      - packages/reporting-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true
  task-scheduler:
    paths:
      - packages/task-scheduler
    carryforward: true

remove screenshots; add localHeadless mode
  packages/dashboard-e2e/wdio.conf.js
Due: dashboard

remove acceptInsecureCerts; its not needed
  packages/dashboard-e2e/wdio.conf.js
Due: dashboard

add localIdentifier
  packages/dashboard-e2e/wdio.conf.js
Due: dashboard

fix api-server lint errors for ci
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/models/tasks.py
  packages/api-server/api_server/models/test_user.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/operators/health.py
  packages/api-server/api_server/rmf_io/operators/test_health.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/rmf_io/test_health_watchdog.py
  packages/api-server/api_server/routes/admin.py
  packages/api-server/api_server/routes/building_map.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/main.py
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/tasks/utils.py
  packages/api-server/api_server/routes/test_doors.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/routes/test_lifts.py
  packages/api-server/api_server/routes/utils.py
  packages/api-server/api_server/services/tasks.py
  packages/api-server/api_server/services/test_tasks.py
  packages/api-server/api_server/test/fast_io_app.py
  packages/api-server/api_server/test/test_data.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

upgrade wdio
  package-lock.json
  packages/dashboard-e2e/package-lock.json
  packages/dashboard-e2e/package.json
  packages/dashboard-e2e/tests/ui-interactions/door-controls.test.ts
  packages/reporting-e2e/package.json
Due: dashboard, reporting

revert to onChangePage
  packages/dashboard/src/components/admin/user-list-card.tsx
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/dashboard/src/stories/task-panel.stories.tsx
Due: dashboard

update jasmine; switch to wdio async api
  package-lock.json
  packages/dashboard-e2e/README.md
  packages/dashboard-e2e/env.d.ts
  packages/dashboard-e2e/package.json
  packages/dashboard-e2e/tests/negotiations.test.ts
  packages/dashboard-e2e/tests/ui-interactions/door-controls.test.ts
  packages/dashboard-e2e/tests/ui-interactions/schedule-visualizer-interactions.test.ts
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
  packages/dashboard-e2e/tests/utils.ts
  packages/dashboard-e2e/tests/wdio.d.ts
  packages/dashboard-e2e/tsconfig.json
  packages/dashboard-e2e/wdio.conf.js
  packages/react-components/package.json
  packages/reporting-e2e/package.json
  packages/rmf-models/package.json
  packages/ros-translator/package.json
Due: dashboard, react-components, reporting

cleanup dockerfile; remove unused deps; fix suite title; download videos on ci
  packages/dashboard-e2e/docker/Dockerfile
  packages/dashboard-e2e/package.json
  packages/dashboard-e2e/scripts/download-bstack-video.js
  packages/dashboard-e2e/tests/ui-interactions/index.test.ts
  packages/dashboard-e2e/wdio.conf.js
Due: dashboard

output public url to artifacts; use localIdentifier for react-component
  packages/dashboard-e2e/scripts/bstack.js
  packages/dashboard-e2e/scripts/download-bstack-video.js
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
  packages/dashboard-e2e/wdio.conf.js
  packages/react-components/karma.conf.js
Due: dashboard, react-components

output url to annotations
  packages/dashboard-e2e/wdio.conf.js
Due: dashboard

remove timeline prop, align time to header
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/stories/task-panel.stories.tsx
  packages/react-components/lib/tasks/task-info.tsx
  packages/react-components/lib/tasks/task-table.tsx
  packages/react-components/lib/tasks/task-timeline.tsx
Due: dashboard, react-components

remove prefixes so that annotations can work; fix missing deps; remove retry
  .github/actions/dashboard-e2e/action.yml
  .github/workflows/dashboard-e2e.yml
  packages/dashboard-e2e/package.json
  packages/dashboard-e2e/scripts/test-e2e.js
Due: dashboard

fix missing icons
  packages/dashboard/src/components/schedule-visualizer/index.tsx
Due: dashboard

ui/phase info fix (#464)
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/react-components/lib/tasks/index.ts
  packages/react-components/lib/tasks/task-info.spec.tsx
  packages/react-components/lib/tasks/task-info.stories.tsx
  packages/react-components/lib/tasks/task-info.tsx
  packages/react-components/lib/tasks/task-phases.tsx
  packages/react-components/lib/tasks/task-summary-accordion.tsx
  packages/react-components/lib/tasks/task-table.stories.tsx
  packages/react-components/lib/tasks/task-table.tsx
  packages/react-components/lib/tasks/task-timeline.spec.tsx
  packages/react-components/lib/tasks/task-timeline.stories.tsx
  packages/react-components/lib/tasks/task-timeline.tsx
Due: dashboard, react-components

title annotations
  packages/dashboard-e2e/wdio.conf.js
Due: dashboard

unable to remove wdio prefix; trying another way to annonate
  .github/actions/annonate-browserstack/action.yml
  .github/actions/annonate-browserstack/index.js
  .github/workflows/dashboard-e2e.yml
  packages/dashboard-e2e/scripts/test-e2e.js
  packages/dashboard-e2e/wdio.conf.js
Due: dashboard

add missing await
  packages/dashboard-e2e/tests/ui-interactions/schedule-visualizer-interactions.test.ts
Due: dashboard

make annonation script standalone to simplify things
  .github/actions/annonate-browserstack/action.yml
  .github/actions/annonate-browserstack/index.js
  .github/workflows/dashboard-e2e.yml
  packages/dashboard-e2e/scripts/bstack.js
  packages/dashboard-e2e/scripts/test-e2e.js
  packages/dashboard-e2e/wdio.conf.js
Due: dashboard

improve docs
  packages/dashboard-e2e/scripts/bstack.js
Due: dashboard

styling and linting fixes
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-request-form-dialog.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

fix tests
  packages/react-components/lib/lifts/lift-request-form-dialog.tsx
  packages/react-components/lib/tasks/task-timeline.spec.tsx
  packages/react-components/lib/tasks/task-timeline.tsx
Due: react-components

remove unneeded mocks
  packages/react-components/lib/doors/door-panel.spec.tsx
  packages/react-components/lib/lifts/lift-panel.spec.tsx
Due: react-components

improve styling
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
Due: dashboard, react-components

improve aria; fix e2e tests
  packages/dashboard-e2e/tests/ui-interactions/door-controls.test.ts
  packages/dashboard-e2e/tests/ui-interactions/index.test.ts
  packages/dashboard-e2e/tests/ui-interactions/schedule-visualizer-interactions.test.ts
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
  packages/dashboard-e2e/tests/utils.ts
  packages/dashboard-e2e/wdio.conf.js
  packages/react-components/lib/confirmation-dialog.tsx
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
Due: dashboard, react-components

fix tests
  packages/react-components/lib/doors/door-panel.spec.tsx
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.spec.tsx
  packages/react-components/lib/doors/test-utils.spec.ts
  packages/react-components/lib/lifts/lift-panel.spec.tsx
  packages/react-components/lib/tasks/create-task.spec.tsx
  packages/react-components/lib/workcells/workcell-panel.spec.tsx
Due: react-components

fix tests
  packages/dashboard/src/components/tasks/tests/task-panel.test.tsx
  packages/react-components/lib/confirmation-dialog.tsx
Due: dashboard, react-components

remove non existing tests
  packages/dashboard-e2e/wdio.conf.js
Due: dashboard

fix task_summaries sub and rmf_demos luanch
  example-deployment/README.md
  packages/api-server/api_server/gateway.py
  packages/dashboard/rmf-launcher.js
Due: dashboard, api-server

1 liner
  packages/api-server/api_server/gateway.py
Due: api-server

fix deps; fix tests
  .github/actions/reporting-e2e/action.yml
  Pipfile.lock
  package-lock.json
  packages/dashboard-e2e/certs/ca.crt
  packages/dashboard-e2e/certs/ca.key
  packages/dashboard-e2e/certs/keycloak.crt
  packages/dashboard-e2e/certs/keycloak.key
  packages/dashboard-e2e/certs/keycloak.pub
  packages/dashboard-e2e/certs/openssl.cnf
  packages/dashboard-e2e/generate-certs.sh
  packages/dashboard-e2e/package.json
  packages/reporting-e2e/.eslintrc.js
  packages/reporting-e2e/certs/ca.crt
  packages/reporting-e2e/certs/ca.key
  packages/reporting-e2e/certs/keycloak.crt
  packages/reporting-e2e/certs/keycloak.key
  packages/reporting-e2e/certs/keycloak.pub
  packages/reporting-e2e/certs/openssl.cnf
  packages/reporting-e2e/docker/docker-compose.yml
  packages/reporting-e2e/docker/keycloak/Dockerfile
  packages/reporting-e2e/docker/keycloak/dockert
  packages/reporting-e2e/docker/keycloak/keycloak.mv.db
  packages/reporting-e2e/env.d.ts
  packages/reporting-e2e/generate-certs.sh
  packages/reporting-e2e/package.json
  packages/reporting-e2e/reporting_server_config.py
  packages/reporting-e2e/scripts/auth-ready.js
  packages/reporting-e2e/scripts/start-reporting-server.sh
  packages/reporting-e2e/scripts/test-e2e.js
  packages/reporting-e2e/serve.json
  packages/reporting-e2e/tests/0-smoke.test.ts
  packages/reporting-e2e/tests/1-login.test.ts
  packages/reporting-e2e/tests/1-logs.test.ts
  packages/reporting-e2e/tests/2-reporting.test.ts
  packages/reporting-e2e/tests/utils.ts
  packages/reporting-e2e/tsconfig.json
  packages/reporting-e2e/wdio.conf.js
  packages/reporting-server/rest_server/app.py
  packages/reporting-server/rest_server/database.py
Due: dashboard, reporting, reporting-server

move e2e dockerfile to root dir; add lerna to image
  .github/workflows/nightly.yml
  docker/Dockerfile
Due: none

set unsafe-perm and installing lerna now done by the image
  .github/actions/dashboard-e2e/action.yml
  .github/actions/reporting-e2e/action.yml
  .github/workflows/api-server.yml
  .github/workflows/dashboard.yml
  .github/workflows/reporting-server.yml
  .github/workflows/reporting.yml
Due: none

test(api-server): fix lint errors
  packages/api-server/api_server/models/user.py
Due: api-server

try not using apply
  packages/dashboard-e2e/wdio.conf.js
Due: dashboard

fix typeerror
  packages/dashboard-e2e/wdio.conf.js
Due: dashboard
