Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

Moved custom-compose
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/descriptions/custom-compose.tsx
  packages/react-components/lib/tasks/descriptions/index.ts
Due: react-components

Added clean and delivery
  packages/react-components/lib/tasks/descriptions/clean.tsx
  packages/react-components/lib/tasks/descriptions/delivery.tsx
Due: react-components

Added delivery, renamed to SimpleDelivery
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/descriptions/delivery-custom.tsx
  packages/react-components/lib/tasks/descriptions/delivery-simple.tsx
  packages/react-components/lib/tasks/descriptions/index.ts
  packages/react-components/lib/tasks/descriptions/utils.ts
Due: react-components

Clean task added
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/descriptions/utils.ts
Due: react-components

Moved delivery-custom tests, added return type for forms
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/descriptions/clean.tsx
  packages/react-components/lib/tasks/descriptions/custom-compose.tsx
  packages/react-components/lib/tasks/descriptions/delivery-custom.spec.tsx
  packages/react-components/lib/tasks/descriptions/delivery-custom.tsx
  packages/react-components/lib/tasks/descriptions/delivery-simple.tsx
  packages/react-components/lib/tasks/descriptions/patrol.tsx
Due: react-components

Update rmf_api models
  packages/api-server/api_server/models/rmf_api/commission.py
  packages/api-server/api_server/models/rmf_api/robot_commission_request.py
  packages/api-server/api_server/models/rmf_api/robot_state.py
  packages/api-server/api_server/models/rmf_api/version.py
  packages/api-server/generate-models.sh
Due: api-server

Updated api-client
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/__init__.py
Due: api-server

Decommissioned robots will display false in all fields in robotState.commission
  packages/dashboard/src/components/robots/robot-decommission.tsx
Due: dashboard

Decommission with choice to re-assign tasks (default true)
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/routes/fleets.py
  packages/dashboard/src/components/robots/robot-decommission.tsx
Due: dashboard, api-server

Lint and tests
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/test_fleets.py
Due: api-server

Tests and error message handling
  packages/api-server/api_server/routes/test_fleets.py
  packages/dashboard/src/components/robots/robot-decommission.tsx
Due: dashboard, api-server

request type to be commission_request
  packages/api-server/api_server/routes/fleets.py
Due: api-server

Configurable supported tasks and name remapping
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/dashboard/src/managers/resource-manager-tasks.ts
  packages/dashboard/src/managers/resource-manager.ts
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/descriptions/utils.ts
Due: dashboard, react-components

Changed directory to types, since it doesn't just handle descriptions
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/index.ts
  packages/react-components/lib/tasks/types/clean.tsx
  packages/react-components/lib/tasks/types/custom-compose.tsx
  packages/react-components/lib/tasks/types/delivery-custom.spec.tsx
  packages/react-components/lib/tasks/types/delivery-custom.tsx
  packages/react-components/lib/tasks/types/delivery-simple.tsx
  packages/react-components/lib/tasks/types/index.ts
  packages/react-components/lib/tasks/types/patrol.tsx
  packages/react-components/lib/tasks/types/utils.ts
Due: react-components

Fix test imports
  packages/react-components/lib/tasks/types/delivery-custom.spec.tsx
Due: react-components

Updated commission models
  packages/api-server/api_server/models/rmf_api/robot_commission_request.py
  packages/api-server/api_server/models/rmf_api/robot_commission_response.py
  packages/api-server/api_server/models/rmf_api/version.py
  packages/api-server/generate-models.sh
Due: api-server

Updated and tested
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/rmf_api/robot_commission_response.py
  packages/api-server/api_server/models/rmf_api/version.py
  packages/api-server/api_server/rmf_io/__init__.py
  packages/api-server/api_server/rmf_io/rmf_service.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/generate-models.sh
  packages/dashboard/src/components/robots/robot-decommission.tsx
Due: dashboard, api-server

Makeshift change robot status to decommissioned
  packages/dashboard/src/components/robots/robots-app.tsx
  packages/react-components/lib/robots/robot-table-datagrid.tsx
  packages/react-components/lib/robots/robot-table.tsx
Due: dashboard, react-components

Make other policies complete
  packages/api-server/api_server/routes/fleets.py
Due: api-server

Add tooltip to reassigning choice
  packages/dashboard/src/components/robots/robot-decommission.tsx
Due: dashboard

Allow users to choose if idle behaviors are allowed during decommission
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/routes/fleets.py
  packages/dashboard/src/components/robots/robot-decommission.tsx
  packages/react-components/lib/robots/robot-table-datagrid.tsx
Due: dashboard, react-components, api-server

Fix tests
  packages/api-server/api_server/routes/test_fleets.py
Due: api-server

Hammer/alert ux and logs (#922)
  packages/api-server/api_server/gateway.py
  packages/dashboard/src/components/delivery-alert-store.tsx
Due: dashboard, api-server

New route for exports, while original query leaves out phases
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Updated api client
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

Export to use new API
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

fix tests
  packages/api-server/api_server/routes/main.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_dispensers.py
  packages/api-server/api_server/routes/test_doors.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/routes/test_ingestors.py
  packages/api-server/api_server/routes/test_lifts.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/api_server/test/test_stress.py
Due: api-server

before eject
  packages/dashboard/package.json
  packages/dashboard/scripts-old/setup/get-icons.js
  packages/dashboard/scripts-old/setup/setup.js
  packages/dashboard/scripts-old/start-rmf.js
  pnpm-lock.yaml
Due: dashboard

Using temporary task definition
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/dashboard/src/managers/resource-manager-tasks.ts
  packages/dashboard/src/managers/resource-manager.ts
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/types/utils.ts
Due: dashboard, react-components

update node
  .github/actions/bootstrap/action.yml
Due: none

Display lift session ID for lift summary
  packages/dashboard/src/components/lift-summary.tsx
  packages/dashboard/src/components/lifts-app.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
Due: dashboard, react-components

Following example in robot-summary to handle screensizes
  packages/dashboard/src/components/lift-summary.tsx
Due: dashboard

update eslint
  .eslintrc.js
  eslint.config.js
  package.json
  packages/api-client/package.json
  packages/dashboard/eslint.config.js
  packages/dashboard/package.json
  packages/dashboard/src/components/admin/drawer.tsx
  packages/dashboard/src/components/admin/tests/add-permission-dialog.test.tsx
  packages/dashboard/src/components/admin/tests/create-role-dialog.test.tsx
  packages/dashboard/src/components/admin/tests/create-user-dialog.test.tsx
  packages/dashboard/src/components/doors-app.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/tasks/task-alert.tsx
  packages/dashboard/src/managers/__mocks__/robot-trajectory-manager.ts
  packages/dashboard/src/managers/negotiation-status-manager.ts
  packages/dashboard/src/managers/resource-manager-dispensers.ts
  packages/dashboard/src/managers/resource-manager-robots.ts
  packages/dashboard/src/react-app-env.d.ts
  packages/react-components/.eslintignore
  packages/react-components/.eslintrc.js
  packages/react-components/lib/map/with-label.tsx
  packages/react-components/package.json
  packages/rmf-auth/package.json
  pnpm-lock.yaml
Due: dashboard, react-components, rmf-auth

cleanup
  packages/rmf-auth/.storybook/preview.ts
Due: rmf-auth

Display lift session ID for lift summary (#927)
  packages/dashboard/src/components/lift-summary.tsx
  packages/dashboard/src/components/lifts-app.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
Due: dashboard, react-components
