Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

Fix endpoint to receive task request
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

Remove unnecesary function and rename props
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Create hooks to reuse function
  packages/dashboard/src/hooks/useCreateTaskForm.tsx
Due: dashboard

Editing entire schedule
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Using custom hook
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Repeated functions sends to utils file
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/dashboard/src/components/utils.ts
Due: dashboard

Create method to handle editing single event
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

Add utils file to be more cleaner
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
Due: dashboard

Setting on or never depending of the schedule value
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Editing single event
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Create a custom hook to get username
  packages/dashboard/src/hooks/useFetchUser.tsx
Due: dashboard

Use custom hook to get usernmae
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Disabling cells without events
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Add test for new component
  packages/react-components/lib/tasks/task-scheduled-edit-delete-popup.spec.tsx
Due: react-components

Test created
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Order status according to meaning and use ref instead of state to set the current event id
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

End of day using insted of end of minutes in until date
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
Due: dashboard

Set current state when click onSubmit button
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Refresh events after sending submit and after close create task form
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Fix bug editing entire events
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Setting except dates as empty in editing mode
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

Separete scheduled component and tasks
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Add explanation comment in new route
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

Remove constraint for non-zero length pickup and dropoff handlers
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Renamed frontend for categories
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Remove constraint for non-zero length pickup and dropoff handlers (#771)
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Renamed category
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Fix e2e to check for correct task name
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
Due: dashboard

Adding message field to model
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/tortoise_models/delivery_alerts.py
  packages/api-server/api_server/routes/delivery_alerts.py
Due: api-server

Renamed hammer categories (#772)
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Strict forms
  packages/react-components/lib/form-inputs.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Default delivery task has sku of string 0
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Revert freeSolo on autocomplete to disable warnings
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Delivery - 1:1 for dashboard e2e
  packages/dashboard-e2e/tests/ui-interactions/create-task-from-any-tab.test.ts
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
Due: dashboard

Hammer/disable submit (#773)
  packages/dashboard-e2e/tests/ui-interactions/create-task-from-any-tab.test.ts
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
  packages/react-components/lib/form-inputs.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Add foorplans
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/three-fiber/imageOverlay.tsx
  packages/dashboard/src/components/three-fiber/index.tsx
Due: dashboard

Default cursor in cells without events
  packages/dashboard/src/components/tasks/task-schedule.tsx
Due: dashboard

Alignment fixes using scale and offset
  packages/dashboard/src/components/three-fiber/imageOverlay.tsx
Due: dashboard

Use level offset properly
  packages/dashboard/src/components/three-fiber/imageOverlay.tsx
Due: dashboard

Using the same terminology between edit and delete.
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/react-components/lib/tasks/task-scheduled-edit-delete-popup.tsx
Due: dashboard, react-components
