Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server

Catch async error
  packages/dashboard/src/components/rmf-dashboard.tsx
Due: dashboard

error log entire exception
  packages/dashboard/src/components/rmf-dashboard.tsx
Due: dashboard

Remove return
  packages/dashboard/src/services/rmf-api.ts
Due: dashboard

log tokens
  packages/dashboard/src/services/rmf-api.ts
Due: dashboard

more logging with kc
  packages/dashboard/src/services/keycloak.ts
  packages/dashboard/src/services/rmf-api.ts
Due: dashboard

Check if kc init
  packages/dashboard/src/services/keycloak.ts
Due: dashboard

Reset window location when error on interceptor response
  packages/dashboard/src/services/rmf-api.ts
Due: dashboard

Reset page interceptor request fails too
  packages/dashboard/src/services/rmf-api.ts
Due: dashboard

Revert logging changes
  packages/dashboard/src/services/keycloak.ts
  packages/dashboard/src/services/rmf-api.ts
Due: dashboard

Catch in keycloak authenticator refreshToken
  packages/dashboard/src/services/keycloak.ts
Due: dashboard

Check userprofile for userprofileprovider only
  packages/dashboard/src/components/rmf-dashboard.tsx
  packages/dashboard/src/services/keycloak.ts
Due: dashboard

Check response error fields
  packages/dashboard/src/services/rmf-api.ts
Due: dashboard

Test without userprofileprovider
  packages/dashboard/src/components/rmf-dashboard.tsx
Due: dashboard

Revert all logs and changes for debugging
  packages/dashboard/src/components/rmf-dashboard.tsx
  packages/dashboard/src/pages/login-page.tsx
  packages/dashboard/src/services/keycloak.ts
  packages/dashboard/src/services/rmf-api.ts
Due: dashboard

fix not redirecting to login
  packages/dashboard/src/components/rmf-dashboard.tsx
Due: dashboard

fix infinite redirect when token fails
  packages/dashboard/src/components/rmf-dashboard.tsx
  packages/dashboard/src/services/keycloak.ts
  packages/dashboard/src/services/rmf-api.ts
Due: dashboard

Revert changes to rmf-dashboard
  packages/dashboard/src/components/rmf-dashboard.tsx
Due: dashboard

Revert minification
  packages/dashboard/vite.config.ts
Due: dashboard

add keycloak example
  packages/dashboard/.gitignore
  packages/dashboard/examples/keycloak/README.md
  packages/dashboard/examples/keycloak/api_server_config.py
  packages/dashboard/examples/keycloak/index.html
  packages/dashboard/examples/keycloak/index.tsx
  packages/dashboard/examples/keycloak/keycloak-setup.bash
  packages/dashboard/examples/keycloak/utils.bash
Due: dashboard

use silent sso
  packages/dashboard/.gitignore
  packages/dashboard/examples/keycloak/README.md
  packages/dashboard/examples/keycloak/api_server_config.py
  packages/dashboard/examples/keycloak/index.tsx
  packages/dashboard/examples/keycloak/utils.bash
Due: dashboard

dashboard: fix not redirecting to login (#1017)
  packages/dashboard/.gitignore
  packages/dashboard/examples/keycloak/README.md
  packages/dashboard/examples/keycloak/api_server_config.py
  packages/dashboard/examples/keycloak/index.html
  packages/dashboard/examples/keycloak/index.tsx
  packages/dashboard/examples/keycloak/keycloak-setup.bash
  packages/dashboard/examples/keycloak/utils.bash
  packages/dashboard/src/components/rmf-dashboard.tsx
  packages/dashboard/src/services/keycloak.ts
  packages/dashboard/src/services/rmf-api.ts
Due: dashboard

Add location.origin to redirect URI
  packages/dashboard/src/app-config.ts
Due: dashboard

Fix issues with custom authenticators (#1016)
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/app.tsx
Due: dashboard

move kc example to rmf-dashboard-framework
  packages/rmf-dashboard-framework/examples/keycloak/README.md
  packages/rmf-dashboard-framework/examples/keycloak/api_server_config.py
  packages/rmf-dashboard-framework/examples/keycloak/index.html
  packages/rmf-dashboard-framework/examples/keycloak/index.tsx
  packages/rmf-dashboard-framework/examples/keycloak/keycloak-setup.bash
  packages/rmf-dashboard-framework/examples/keycloak/utils.bash
Due: none

Bump to version 0.2.0
  packages/api-client/package.json
  packages/api-server/package.json
  packages/api-server/setup.py
  packages/dashboard/package.json
  packages/react-components/package.json
  packages/rmf-models/package.json
  packages/ros-translator/package.json
  packages/ros-translator/ros_translator/test/ros_translator_test_msgs/package.xml
  packages/ros-translator/setup.py
  pipenv-install/package.json
Due: dashboard, react-components, api-server

fix imports
  packages/rmf-dashboard-framework/examples/keycloak/index.tsx
Due: none

fix lint
  .pylintrc
  packages/api-server/api_server/routes/tasks/missions.py
  packages/api-server/api_server/routes/tasks/test_missions.py
Due: api-server

crud missions
  packages/api-server/api_server/app.py
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/missions.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/missions.py
  packages/api-server/api_server/routes/tasks/__init__.py
  packages/api-server/api_server/routes/tasks/missions.py
  packages/api-server/api_server/routes/tasks/test_missions.py
Due: api-server

Bump to version 0.2.0 (#1018)
  packages/api-client/package.json
  packages/api-server/package.json
  packages/api-server/setup.py
  packages/dashboard/package.json
  packages/react-components/package.json
  packages/rmf-models/package.json
  packages/ros-translator/package.json
  packages/ros-translator/ros_translator/test/ros_translator_test_msgs/package.xml
  packages/ros-translator/setup.py
  pipenv-install/package.json
Due: dashboard, react-components, api-server

Fix source path
  .github/workflows/ghpages.yml
Due: none

Remove permissions and not deploy
  .github/workflows/ghpages.yml
Due: none

Full public url for extracting docs
  packages/api-server/scripts/docs_config.py
Due: api-server

Use default public URL
  .github/workflows/ghpages.yml
  packages/api-server/package.json
  packages/api-server/scripts/extract_docs.py
Due: api-server

Remove permissions temporarily
  .github/workflows/ghpages.yml
Due: none

Copy over env instead
  packages/api-server/package.json
  packages/api-server/scripts/docs_config.py
  packages/api-server/scripts/extract_docs.py
Due: api-server

Revert copy of env
  packages/api-server/scripts/extract_docs.py
Due: api-server

Use local path for extraction
  packages/api-server/scripts/extract_docs.py
Due: api-server

Revert workflow
  .github/workflows/ghpages.yml
Due: none

Revert ghpages workflow
  .github/workflows/ghpages.yml
Due: none

Fix ghpages workflow (#1019)
  .github/workflows/ghpages.yml
  packages/api-server/scripts/extract_docs.py
Due: api-server

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
