Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

Added dep and example for react-scheduler
  packages/dashboard/package.json
  packages/dashboard/src/components/tasks/tasks-app.tsx
  pnpm-lock.yaml
Due: dashboard

Basic make recurring task button
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Added custom single click buttons for full export and basic export
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components

Adding robot alert component to handler the status
  packages/dashboard/src/components/robots/robot-alert.tsx
Due: dashboard

Improving robot alert code
  packages/dashboard/src/components/robots/robot-alert.tsx
Due: dashboard

Removing unused code and separating components
  packages/dashboard/src/components/task-alert.tsx
Due: dashboard

Adding Alert dialog UI to show task and robot alerts
  packages/dashboard/src/components/alert-dialog-component.tsx
Due: dashboard

Improving code for merging components
  packages/dashboard/src/components/task-alert-store.tsx
Due: dashboard

Import file name is fixed
  packages/dashboard/src/components/robots/robot-alert.tsx
  packages/dashboard/src/components/task-alert.tsx
Due: dashboard

Rename task alert store to alert store and move task alert component into tasks folder
  packages/dashboard/src/components/alert-dialog-component.tsx
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/robots/robot-alert.tsx
  packages/dashboard/src/components/tasks/task-alert.tsx
Due: dashboard

Improving alert-dialog component to be more generic
  packages/dashboard/src/components/alert-dialog-component.tsx
Due: dashboard

Adding missing props into alert dialog component
  packages/dashboard/src/components/robots/robot-alert.tsx
  packages/dashboard/src/components/tasks/task-alert.tsx
Due: dashboard

Improving the variables name
  packages/dashboard/src/components/alert-dialog-component.tsx
  packages/dashboard/src/components/robots/robot-alert.tsx
  packages/dashboard/src/components/tasks/task-alert.tsx
Due: dashboard

Rename alert store component - TaskAlertStore to AlertStore
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/app-base.tsx
Due: dashboard

Returning message according to data type
  packages/dashboard/src/components/robots/robot-alert.tsx
Due: dashboard

fix storybook launch
  packages/dashboard/.storybook/main.js
  packages/dashboard/package.json
Due: dashboard

Adding props to make the component more understandable and eliminating the direct function as a button event allowing to receive any onclick event.
  packages/dashboard/src/components/alert-dialog-component.tsx
Due: dashboard

Adding missing props and send stopShowing onclick function
  packages/dashboard/src/components/robots/robot-alert.tsx
  packages/dashboard/src/components/tasks/task-alert.tsx
Due: dashboard

Reversing variable name change - robots to robotsWithTasks
  packages/dashboard/src/components/alert-store.tsx
Due: dashboard

Change variable name from singular to plurar because it is an array
  packages/dashboard/src/components/tasks/task-alert.tsx
Due: dashboard

Changing variable name to be more specific
  packages/dashboard/src/components/robots/robot-alert.tsx
Due: dashboard

Changing the name of the interface that defines the component props with the component name as a suffix
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/robots/robot-alert.tsx
  packages/dashboard/src/components/tasks/task-alert.tsx
Due: dashboard

use pipenv from outside venv to workaround distro-info bad versioning bug
  .github/actions/bootstrap/action.yml
  Pipfile
  Pipfile.lock
  README.md
  packages/api-server/setup.py
  pipenv-install/package.json
  scripts/pipenv-install.sh
Due: api-server

Moving alert dialgog from dashboard to react component
  packages/dashboard/src/components/robots/robot-alert.tsx
  packages/dashboard/src/components/tasks/task-alert.tsx
  packages/react-components/lib/alert-dialog.spec.tsx
  packages/react-components/lib/alert-dialog.stories.tsx
  packages/react-components/lib/alert-dialog.tsx
  packages/react-components/lib/index.ts
Due: dashboard, react-components

add apis to schedule tasks
  packages/api-server/api_server/app.py
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/routes/tasks/__init__.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
  pipenv-install/package.json
Due: api-server

Reduce default zoom level to accomodate bigger maps
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Allow different zoom settings, when events happen
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Auto modifications from pnpm install
  pnpm-lock.yaml
Due: none

after pnpm update --save caniuse-lite browserslist
  pnpm-lock.yaml
Due: none

Set TextField as multiline and set alertcontent value as string or Detail2
  packages/react-components/lib/alert-dialog.tsx
Due: react-components

Inverted if check to display the message correctly
  packages/dashboard/src/components/robots/robot-alert.tsx
Due: dashboard

Allow different zoom settings, when events happen (#667)
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Default zoom level to be 2.5
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Using cyclonedds
  .github/workflows/dashboard-e2e.yml
Due: none

Install cyclonedds in e2e image
  docker/Dockerfile
Due: none

Revert installing cyclonedds on docker image, to be installed where needed, in the dashboard e2e test
  .github/workflows/dashboard-e2e.yml
  docker/Dockerfile
Due: none

Alert Component (#664)
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/robots/robot-alert.tsx
  packages/dashboard/src/components/task-alert.tsx
  packages/dashboard/src/components/tasks/task-alert.tsx
  packages/react-components/lib/alert-dialog.spec.tsx
  packages/react-components/lib/alert-dialog.stories.tsx
  packages/react-components/lib/alert-dialog.tsx
  packages/react-components/lib/index.ts
Due: dashboard, react-components

load and run scheduler
  packages/api-server/api_server/app.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/models/user.py
  packages/api-server/api_server/routes/admin.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
