Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

Lint
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Not using object as a type
  packages/dashboard/src/managers/resource-manager.ts
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Hammer/generic alerts without location (#951)
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/alerts.py
  packages/api-server/api_server/repositories/__init__.py
  packages/api-server/api_server/repositories/alerts.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/test_alerts.py
Due: api-server

fix postgres label sorting
  Pipfile
  Pipfile.lock
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/scripts/postgres_test_config.py
Due: api-server

succesful test with both postgres and sqlite
  packages/api-server/README.md
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/models/pagination.py
  packages/api-server/api_server/query.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_building_map.py
  packages/api-server/api_server/routes/test_dispensers.py
  packages/api-server/api_server/routes/test_doors.py
  packages/api-server/api_server/routes/test_ingestors.py
  packages/api-server/api_server/routes/test_lifts.py
  packages/api-server/api_server/test/__init__.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/api_server/test/test_utils.py
  packages/api-server/scripts/postgres_test_config.py
  packages/api-server/scripts/sqlite_test_config.py
  packages/api-server/scripts/test.py
  packages/api-server/scripts/test_config.py
Due: api-server

fix lint errors
  packages/api-server/api_server/query.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

api-server: fix postgres label sorting (#957)
  Pipfile
  Pipfile.lock
  packages/api-server/README.md
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/models/pagination.py
  packages/api-server/api_server/query.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_building_map.py
  packages/api-server/api_server/routes/test_dispensers.py
  packages/api-server/api_server/routes/test_doors.py
  packages/api-server/api_server/routes/test_ingestors.py
  packages/api-server/api_server/routes/test_lifts.py
  packages/api-server/api_server/test/__init__.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/api_server/test/test_utils.py
  packages/api-server/scripts/sqlite_test_config.py
  packages/api-server/scripts/test.py
  packages/api-server/scripts/test_config.py
Due: api-server

port postgres fix by avoiding changes to Pipfile
  packages/api-server/README.md
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/models/pagination.py
  packages/api-server/api_server/query.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_building_map.py
  packages/api-server/api_server/routes/test_dispensers.py
  packages/api-server/api_server/routes/test_doors.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/routes/test_ingestors.py
  packages/api-server/api_server/routes/test_lifts.py
  packages/api-server/api_server/test/__init__.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/api_server/test/test_utils.py
  packages/api-server/api_server/test_sio_auth.py
  packages/api-server/scripts/sqlite_test_config.py
  packages/api-server/scripts/test.py
  packages/api-server/scripts/test_config.py
  pnpm-lock.yaml
Due: api-server

fix lint
  packages/api-server/.pylintrc
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/api_server/test/test_stress.py
Due: api-server

revert pnpm-lock
  pnpm-lock.yaml
Due: none

Changes to UI to make filters and sorting work
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components

Changes to UI to make filters and sorting work (#959)
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components

api-server: port postgres fix to deploy/hammer (#958)
  packages/api-server/.pylintrc
  packages/api-server/README.md
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/models/pagination.py
  packages/api-server/api_server/query.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_building_map.py
  packages/api-server/api_server/routes/test_dispensers.py
  packages/api-server/api_server/routes/test_doors.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/routes/test_ingestors.py
  packages/api-server/api_server/routes/test_lifts.py
  packages/api-server/api_server/test/__init__.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/api_server/test/test_stress.py
  packages/api-server/api_server/test/test_utils.py
  packages/api-server/api_server/test_sio_auth.py
  packages/api-server/scripts/sqlite_test_config.py
  packages/api-server/scripts/test.py
  packages/api-server/scripts/test_config.py
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components, api-server

first impl of rio
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/rio.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/rio.py
  packages/api-server/api_server/rmf_io/__init__.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/routes/__init__.py
  packages/api-server/api_server/routes/rios.py
  packages/api-server/api_server/routes/test_rios.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/generate-models.sh
Due: api-server

fix lint
  packages/api-server/api_server/models/tortoise_models/rio.py
  packages/api-server/api_server/routes/rios.py
Due: api-server

cleanup
  packages/api-server/generate-models.sh
Due: api-server

Address feedback
  packages/dashboard/src/managers/resource-manager-tasks.ts
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/types/utils.ts
Due: dashboard, react-components

Render using validTasks instead
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Use useMemo
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

force install pipenv even if it already exist on the system
  pipenv-install/bootstrap-pipenv.sh
Due: none

add option to reset app before each test
  packages/api-server/api_server/routes/test_rios.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

Hammer/demo tasks (#925)
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/dashboard/src/managers/resource-manager-tasks.ts
  packages/dashboard/src/managers/resource-manager.ts
  packages/react-components/lib/index.ts
  packages/react-components/lib/simple-filter.spec.tsx
  packages/react-components/lib/simple-filter.stories.tsx
  packages/react-components/lib/simple-filter.tsx
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/index.ts
  packages/react-components/lib/tasks/task-booking-label-utils.tsx
  packages/react-components/lib/tasks/types/compose-clean.tsx
  packages/react-components/lib/tasks/types/custom-compose.tsx
  packages/react-components/lib/tasks/types/delivery-custom.spec.tsx
  packages/react-components/lib/tasks/types/delivery-custom.tsx
  packages/react-components/lib/tasks/types/delivery.tsx
  packages/react-components/lib/tasks/types/index.ts
  packages/react-components/lib/tasks/types/patrol.tsx
  packages/react-components/lib/tasks/types/utils.ts
Due: dashboard, react-components

fix lint
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

Update ros2 pydantic messages, fix tests
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/ChargingAssignment.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/ChargingAssignments.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/InterruptRequest.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/LaneStates.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/MutexGroupAssignment.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/MutexGroupManualRelease.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/MutexGroupRequest.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/MutexGroupStates.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/RobotMode.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/SpeedLimitRequest.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/SpeedLimitedLane.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/__init__.py
  packages/api-server/api_server/models/ros_pydantic/rmf_task_msgs/Alert.py
  packages/api-server/api_server/models/ros_pydantic/rmf_task_msgs/AlertParameter.py
  packages/api-server/api_server/models/ros_pydantic/rmf_task_msgs/AlertResponse.py
  packages/api-server/api_server/models/ros_pydantic/rmf_task_msgs/ApiRequest.py
  packages/api-server/api_server/models/ros_pydantic/rmf_task_msgs/ApiResponse.py
  packages/api-server/api_server/models/ros_pydantic/rmf_task_msgs/ApiService_Request.py
  packages/api-server/api_server/models/ros_pydantic/rmf_task_msgs/ApiService_Response.py
  packages/api-server/api_server/models/ros_pydantic/rmf_task_msgs/Assignment.py
  packages/api-server/api_server/models/ros_pydantic/rmf_task_msgs/BidNotice.py
  packages/api-server/api_server/models/ros_pydantic/rmf_task_msgs/BidProposal.py
  packages/api-server/api_server/models/ros_pydantic/rmf_task_msgs/BidResponse.py
  packages/api-server/api_server/models/ros_pydantic/rmf_task_msgs/DispatchAck.py
  packages/api-server/api_server/models/ros_pydantic/rmf_task_msgs/DispatchCommand.py
  packages/api-server/api_server/models/ros_pydantic/rmf_task_msgs/DispatchRequest.py
  packages/api-server/api_server/models/ros_pydantic/rmf_task_msgs/DispatchState.py
  packages/api-server/api_server/models/ros_pydantic/rmf_task_msgs/DispatchStates.py
  packages/api-server/api_server/models/ros_pydantic/rmf_task_msgs/GetDispatchStates_Request.py
  packages/api-server/api_server/models/ros_pydantic/rmf_task_msgs/GetDispatchStates_Response.py
  packages/api-server/api_server/models/ros_pydantic/rmf_task_msgs/GetTaskList_Response.py
  packages/api-server/api_server/models/ros_pydantic/rmf_task_msgs/__init__.py
  packages/api-server/api_server/models/ros_pydantic/version.py
  packages/api-server/api_server/routes/test_alerts.py
  packages/api-server/generate-models.sh
Due: api-server

Revert update of pnpm lock file
  pnpm-lock.yaml
Due: none

Lint
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/routes/test_alerts.py
Due: api-server

Update README.md
  README.md
Due: none

support jazzy (#955)
  .github/actions/bootstrap/action.yml
  .github/minimal-rmf/Dockerfile
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml
  .github/workflows/dashboard-e2e.yml.disabled
  .github/workflows/dashboard.yml
  .github/workflows/ghpages.yml
  .github/workflows/nightly.yml
  .github/workflows/react-components.yml
  .github/workflows/rmf-auth.yml
  .github/workflows/ros-translator.yml
  .gitignore
  .pnpm-debug.log
  .venv/.gitignore
  Pipfile
  Pipfile.lock
  README.md
  docker/Dockerfile
  package.json
  packages/api-server/generate-models.sh
  packages/api-server/setup.py
  pipenv-install/bootstrap-pipenv.sh
  pipenv-install/package.json
  scripts/pipenv
Due: api-server

fix setup.bash path
  .github/workflows/ghpages.yml
Due: none

test changes
  .github/workflows/ghpages.yml
Due: none

fix base_url
  packages/api-server/scripts/extract_docs.py
Due: api-server

fix config env
  .github/workflows/ghpages.yml
  packages/api-server/scripts/extract_docs.py
Due: api-server

clean up
  packages/api-server/scripts/docs_config.py
Due: api-server

Revert "test changes"
  .github/workflows/ghpages.yml
Due: none

add paths to ghpages
  .github/workflows/ghpages.yml
Due: none

cleanup
  packages/api-server/scripts/extract_docs.py
Due: api-server

Use specific exceptions and more clean up
  packages/api-server/api_server/repositories/__init__.py
  packages/api-server/api_server/repositories/alerts.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/routes/alerts.py
  packages/api-server/api_server/routes/internal.py
Due: api-server

before update models
  Pipfile
  Pipfile.lock
  packages/api-server/api_server/app.py
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/clock.py
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/delivery_alerts.py
  packages/api-server/api_server/ros_time.py
  packages/api-server/api_server/types.py
  packages/api-server/generate-models.sh
  packages/api-server/setup.py
  pnpm-lock.yaml
Due: api-server

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
