Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

Using orthographic camera, setting target to be 1km below origin for panning, changing left click to pan, disabling other orbit controls
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Add except date to cancel a job
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

Testing clear only one job
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Remove unused endpoint
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

Using orthographic camera, setting target to be 1km below origin for panning, changing left click to pan, disabling other orbit controls (#737)
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Add beacon microapp
  packages/dashboard/src/components/robots/robots-workspace.tsx
Due: dashboard

Update browserslist and caniuse-lite
  pnpm-lock.yaml
Due: none

Update browserslist and caniuse-lite (#738)
  pnpm-lock.yaml
Due: none

Delete all jobs and create again when except date is included this week
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

Show event or not depending of the except date
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Fix comment to explain the code better
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

fix login page route
  packages/dashboard/src/components/app.tsx
Due: dashboard

also fix default route
  packages/dashboard/src/components/app.tsx
Due: dashboard

fix redirect
  packages/dashboard/src/components/app.tsx
Due: dashboard

fix login page route (#740)
  packages/dashboard/src/components/app.tsx
Due: dashboard

Add except date to the Schedule task and remove from ScheduleTaskschedule
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
Due: api-server

Create a endpoint to add a except date to the array and check whether or not the curretn date is include in the array of except_dates
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

Adding control in order to show events
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Add confirmation popup to delete one event or all events
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Rename place to waypoint
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/react-components/lib/index.ts
  packages/react-components/lib/waypoint.ts
Due: dashboard, react-components

Reduce delivery form requirements to just pickup and dropoff waypoint names
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Adding WaypointCollection, which filters each waypoint type, display waypoint options only for that type
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/waypoints-overlay.tsx
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/waypoint.ts
Due: dashboard, react-components

Disable menu item if task is unavailable
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Fix error of passing a value to element by int instead of string
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Using patrol instead of loop
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Fix documentation and create-task story
  packages/dashboard-e2e/README.md
  packages/react-components/lib/tasks/create-task.stories.tsx
Due: dashboard, react-components

Revert to Place, as Waypoint implies routes
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/waypoints-overlay.tsx
  packages/react-components/lib/index.ts
  packages/react-components/lib/place.ts
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/waypoint.ts
Due: dashboard, react-components

Revert changes to variable names
  packages/dashboard/src/components/map-app.tsx
  packages/react-components/lib/tasks/create-task.stories.tsx
Due: dashboard, react-components

Remove custom and admin tabs
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Refactor if case
  packages/react-components/lib/place.ts
Due: react-components

Update task creation form (#743)
  packages/dashboard-e2e/README.md
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/place.ts
  packages/react-components/lib/tasks/create-task.stories.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Remove custom and admin tabs (#744)
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Fixing missing handler delivery task description
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/place.ts
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Fix lint
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Disabled delivery when either pickup or dropoff points are empty
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Change zoom to 0.5
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Fixing default zoom values from app-events
  packages/dashboard/src/components/app-events.ts
Due: dashboard

Making default zoom levels a single source of truth
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/map-app.tsx
Due: dashboard
