Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

Log delivery alerts received over ROS 2
  packages/api-server/api_server/gateway.py
Due: api-server

update uvicorn
  Pipfile
  Pipfile.lock
  packages/api-server/setup.py
Due: api-server

fix docs url to follow new root path behavior
  packages/api-server/api_server/app.py
  packages/api-server/api_server/default_config.py
Due: api-server

fix Pipfile
  Pipfile
Due: none

use verbose flag in ci
  .github/workflows/api-server.yml
  packages/api-server/scripts/test.py
Due: api-server

revert change to how we determine root path
  packages/api-server/api_server/app.py
Due: api-server

fix test error
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

again
  .github/workflows/api-server.yml
Due: none

temp disable broken test
  packages/api-server/api_server/routes/test_fleets.py
Due: api-server

remove unused imports
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

skip another broken test
  packages/api-server/api_server/routes/test_fleets.py
Due: api-server

switch to new lifespan api
  packages/api-server/api_server/app.py
Due: api-server

fix broken socketio tests
  Pipfile
  Pipfile.lock
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/setup.py
Due: api-server

fix using old field
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

fix typings
  Pipfile
  package.json
  packages/api-server/api_server/app.py
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/building_map.py
  packages/api-server/api_server/models/lifts.py
  packages/api-server/api_server/models/tasks.py
  packages/api-server/api_server/models/tortoise_models/authorization.py
  packages/api-server/api_server/models/tortoise_models/building_map.py
  packages/api-server/api_server/models/tortoise_models/fleets.py
  packages/api-server/api_server/models/tortoise_models/health.py
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/models/tortoise_models/user.py
  packages/api-server/api_server/models/tortoise_support.py
  packages/api-server/api_server/repositories/fleets.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/rmf_io/test_rmf_service.py
  packages/api-server/api_server/ros.py
  packages/api-server/api_server/routes/internal.py
  packages/api-server/api_server/routes/tasks/favorite_tasks.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/package.json
  pnpm-lock.yaml
Due: api-server

remove use of deprecated code
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

update pylint
  .pylintrc
  Pipfile
  Pipfile.lock
  packages/api-server/.pylintrc
  packages/api-server/api_server/rmf_io/operators/health.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/api_server/test_sio_auth.py
  packages/api-server/package.json
  packages/ros-translator/.pylintrc
  packages/ros-translator/ros_translator/typescript/.pylintrc
  scripts/base.pylintrc
  scripts/generate-pylintrc.js
Due: api-server

update client api
  packages/api-client/generate-openapi.sh
  packages/api-client/lib/index.ts
  packages/api-client/lib/openapi/.openapi-generator/VERSION
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/openapi/base.ts
  packages/api-client/lib/openapi/common.ts
  packages/api-client/lib/openapi/configuration.ts
  packages/api-client/lib/version.ts
  packages/api-client/openapi-generator.json
  packages/api-client/openapitools.json
  packages/api-client/package.json
  packages/api-client/schema/index.ts
  packages/api-client/tsconfig.json
  packages/dashboard/package.json
  pnpm-lock.yaml
Due: dashboard

do not separate input and output schemas
  packages/api-client/lib/index.ts
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/app.py
Due: api-server

update api-client
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/tasks.py
  packages/dashboard/package.json
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/beacons-app.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/robots/robot-info-app.tsx
  packages/dashboard/src/components/robots/robot-summary.tsx
  packages/dashboard/src/components/robots/robots-app.tsx
  packages/dashboard/src/components/tasks/task-alert.tsx
  packages/dashboard/src/components/tasks/task-logs.tsx
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/dashboard/src/components/tasks/task-summary.tsx
  packages/dashboard/src/components/utils.ts
  packages/dashboard/src/util/common-subscriptions.ts
  packages/react-components/lib/beacons/beacon-table-datagrid.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-table-datagrid.tsx
  packages/react-components/lib/robots/utils.ts
  packages/react-components/lib/tasks/task-table-datagrid.tsx
  packages/react-components/lib/tasks/task-table.tsx
  packages/react-components/lib/tasks/task-timeline.tsx
Due: dashboard, react-components, api-server

fixes for frontend
  packages/api-server/api_server/default_config.py
  packages/api-server/api_server/fast_io/__init__.py
  packages/dashboard/package.json
Due: dashboard, api-server

WIP updating tests
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/test/test_data.py
Due: api-server

Closing delivery alert dialog on resume and override to make it UX simpler
  packages/dashboard/src/components/delivery-alert-store.tsx
Due: dashboard

Lint
  packages/api-server/api_server/gateway.py
Due: api-server

Ugly first attempt
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Cancellation behavior lots added in the server
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Refactored getting cancellation lots from building map into its own function
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

robot rmf service
  packages/api-server/api_server/rmf_io/rmf_service.py
Due: api-server

Updated rmf_api to latest before adding decommission related schema
  packages/api-client/lib/index.ts
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/rmf_api/fleet_log.py
  packages/api-server/api_server/models/rmf_api/fleet_log_response.py
  packages/api-server/api_server/models/rmf_api/fleet_log_update.py
  packages/api-server/api_server/models/rmf_api/robot_state.py
  packages/api-server/api_server/models/rmf_api/rtls_tag_state.py
  packages/api-server/api_server/models/rmf_api/task_request.py
  packages/api-server/api_server/models/rmf_api/transformation_2D.py
  packages/api-server/api_server/models/rmf_api/version.py
  packages/api-server/generate-models.sh
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/robots/robot-decommission.tsx
  packages/dashboard/src/components/robots/robot-summary.tsx
  packages/dashboard/src/components/tasks/task-alert.tsx
  packages/dashboard/src/components/tasks/task-logs.tsx
  packages/dashboard/src/components/tasks/task-summary.tsx
  packages/dashboard/src/util/common-subscriptions.ts
  packages/react-components/lib/robots/robot-table-datagrid.spec.tsx
  packages/react-components/lib/robots/robot-table-datagrid.stories.tsx
  packages/react-components/lib/robots/robot-table-datagrid.tsx
  packages/react-components/lib/robots/robot-table.spec.tsx
  packages/react-components/lib/robots/robot-table.stories.tsx
  packages/react-components/lib/robots/utils.ts
  packages/react-components/lib/tasks/task-table-datagrid.tsx
  packages/react-components/lib/tasks/task-table.tsx
  packages/react-components/lib/tasks/task-timeline.tsx
Due: dashboard, react-components, api-server

Fix tests
  packages/api-client/lib/version.ts
  packages/api-server/api_server/models/__init__.py
  packages/react-components/lib/robots/robot-table-datagrid.tsx
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/robots/utils.ts
Due: react-components, api-server

Hammer/server cancellation behavior (#923)
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Moved custom deliveries to separate file naively and import naively
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/descriptions/delivery_custom.tsx
  packages/react-components/lib/tasks/descriptions/index.ts
  packages/react-components/lib/tasks/descriptions/utils.ts
  packages/react-components/lib/tasks/index.ts
Due: react-components

New decommissioning API messages and schemas
  packages/api-server/api_server/models/rmf_api/robot_commission_request.py
  packages/api-server/api_server/models/rmf_api/robot_commission_response.py
  packages/api-server/api_server/models/rmf_api/robot_task_request.py
  packages/api-server/api_server/models/rmf_api/version.py
  packages/api-server/generate-models.sh
Due: api-server

Updated fleet route with new API
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/routes/fleets.py
Due: api-server

Check fleet before attempting decommission, with tests and lint
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/rmf_io/__init__.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/test_fleets.py
Due: api-server

New openapi generated
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

Clean up ROS 2 topic, fix frontend api call
  packages/api-server/api_server/gateway.py
  packages/dashboard/src/components/robots/robot-decommission.tsx
Due: dashboard, api-server

Moved patrol
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/descriptions/patrol.tsx
Due: react-components
