Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth, task-scheduler

build(dashboard): support custom gazebo launch package (#547)
  packages/dashboard/rmf-launcher.js
Due: dashboard

rename styled native components to reflect the underlying components
  packages/react-components/lib/error-overlay.tsx
  packages/react-components/lib/loading.tsx
  packages/react-components/lib/map/door-marker.tsx
  packages/react-components/lib/map/lift-marker.tsx
  packages/react-components/lib/map/robot-marker.tsx
  packages/react-components/lib/map/trajectory-time-control.tsx
  packages/react-components/lib/map/waypoint-marker.tsx
  packages/react-components/lib/map/workcell-marker.tsx
  packages/react-components/lib/reports/default-dates-form.tsx
  packages/react-components/lib/reports/default-report-interface.tsx
  packages/react-components/lib/reports/dispenser-state/dispenser-state-report.tsx
  packages/react-components/lib/reports/door-state/door-state-report.tsx
  packages/react-components/lib/reports/fleet-state/fleet-state-report.tsx
  packages/react-components/lib/reports/health/health-report.tsx
  packages/react-components/lib/reports/ingestor-state/ingestor-state-report.tsx
  packages/react-components/lib/reports/lift-state/lift-state-report.tsx
  packages/react-components/lib/reports/log-management/log-management.tsx
  packages/react-components/lib/reports/log-management/log-table.tsx
  packages/react-components/lib/reports/log-management/search-filter.tsx
  packages/react-components/lib/reports/log-management/search-log-form.tsx
  packages/react-components/lib/reports/task-summary/task-summary-report.tsx
  packages/react-components/lib/reports/user-report/user-login-failure-report.tsx
  packages/react-components/lib/reports/user-report/user-login-report.tsx
  packages/react-components/lib/reports/user-report/user-logout-report.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/lib/simple-filter.tsx
  packages/react-components/lib/simple-info.tsx
  packages/react-components/lib/status-label.tsx
  packages/react-components/lib/tasks/task-info.tsx
  packages/react-components/lib/tooltip.tsx
Due: react-components

style confirmationdialog instead of localization provider
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

rename StyledItemTableCell
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/utils/item-table.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

fix lint warnings
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/header-bar.stories.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/reports/default-dates-form.tsx
  packages/react-components/lib/reports/log-management/logging.stories.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

rename styled components in dashboard as well
  packages/dashboard/src/components/admin/page-css.ts
  packages/dashboard/src/components/admin/role-list-page.tsx
  packages/dashboard/src/components/admin/user-list-page.tsx
  packages/dashboard/src/components/admin/user-profile-page.tsx
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/drawers/drawer-header.tsx
  packages/dashboard/src/components/loading-screen.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
Due: dashboard

same for rmf-auth
  packages/rmf-auth/lib/components/login-card.tsx
  packages/rmf-auth/lib/components/login-page.tsx
Due: rmf-auth

and for reporting
  packages/reporting/src/components/page-not-found.tsx
  packages/reporting/src/components/report-dashboard.tsx
Due: reporting

fixing tests
  packages/react-components/lib/reports/log-management/log-table.spec.tsx
  packages/react-components/lib/robots/robot-table.spec.tsx
  packages/react-components/package.json
  packages/react-components/webpack.config.js
  packages/rmf-auth/lib/components/private-route.test.tsx
  packages/rmf-auth/tsconfig.json
Due: react-components, rmf-auth

remove refs from hooks, use forwardRef for schedule visualizer
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/util/common-subscriptions.ts
  packages/react-components/lib/robots/robot-panel.tsx
Due: dashboard, react-components

do not reference pyright directly
  packages/api-server/package.json
Due: api-server

fix mui char
  packages/dashboard/src/components/tasks/tests/task-panel.test.tsx
Due: dashboard

set npm unsafe perm
  .github/workflows/api-server.yml
Due: none

include workspace root
  scripts/bootstrap.sh
Due: none

fix useRef issue with custom component
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/react-components/lib/map/map.tsx
Due: dashboard, react-components

swap loading bay and destination
  packages/minimal/src/components/task-form.tsx
Due: none

unit test
  packages/minimal/src/components/test/task-form.test.tsx
Due: none

change to v5, handle refresh
  packages/minimal/package.json
  packages/minimal/src/App.tsx
  packages/minimal/src/components/appbar.tsx
  packages/minimal/src/components/task-display.tsx
  packages/minimal/src/components/task-form.tsx
Due: none

use leafletcontextinterface for components
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-utils.ts
  packages/react-components/lib/map/map.tsx
  packages/react-components/lib/workcells/utils.ts
Due: react-components

remove leaflet related stuff
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/doors/utils.ts
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/lifts/lift-utils.ts
  packages/react-components/lib/map/map.tsx
  packages/react-components/lib/workcells/utils.ts
  packages/react-components/lib/workcells/workcell-panel.spec.tsx
  packages/react-components/lib/workcells/workcell-panel.stories.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.spec.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: dashboard, react-components

add leaflet map to dashboard
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
Due: dashboard

add ref to map container
  packages/react-components/lib/map/map.tsx
Due: react-components

initial auth implementation
  packages/minimal/package.json
  packages/minimal/public/assets/ros-health.png
  packages/minimal/public/silent-check-sso.html
  packages/minimal/src/App.tsx
  packages/minimal/src/app-config.ts
  packages/minimal/src/components/task-form.tsx
  packages/minimal/src/utils/url.ts
Due: none

handle non functional refs
  packages/dashboard/src/components/schedule-visualizer/index.tsx
Due: dashboard

(feat) - add map to robot tab (#530)
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/util/common-subscriptions.ts
  packages/react-components/lib/map/map.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-panel.spec.tsx
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/tasks/test-data.spec.ts
Due: dashboard, react-components

[react-components]: updating the infrastructure components (#525)
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.spec.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/doors/test-utils.spec.ts
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/lifts/lift-utils.ts
  packages/react-components/lib/lifts/test-utils.spec.ts
  packages/react-components/lib/map/lifts-overlay.tsx
  packages/react-components/lib/map/map.tsx
  packages/react-components/lib/map/robots-overlay.tsx
  packages/react-components/lib/robots/utils.ts
  packages/react-components/lib/tasks/task-phases.tsx
  packages/react-components/lib/tasks/task-timeline.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: dashboard, react-components

update messages
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/Location.py
  packages/api-server/api_server/models/ros_pydantic/version.py
Due: api-server

fix tests
  packages/dashboard/src/components/dashboard/tests/items.ts
  packages/dashboard/src/stories/baseComponents/utils.tsx
Due: dashboard

pin rmf messages by default
  Pipfile
  Pipfile.lock
  packages/api-server/api_server/models/ros_pydantic/version.py
  packages/api-server/generate-models.sh
  scripts/rmf-helpers.sh
Due: api-server

generate rmf_api_msgs models
  packages/api-server/generate-models.sh
Due: api-server

remove update npm step for workflows using e2e container
  .github/actions/dashboard-e2e/action.yml
  .github/actions/reporting-e2e/action.yml
  .github/workflows/api-server.yml
  .github/workflows/dashboard.yml
  .github/workflows/reporting-server.yml
  .github/workflows/reporting.yml
Due: none

update rmf_api_msgs commit
  packages/api-server/generate-models.sh
Due: api-server

ignore dir from linting
  packages/api-server/package.json
  packages/api-server/pyrightconfig.json
Due: api-server

restore zoom to center on icon
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/react-components/lib/map/map.tsx
Due: dashboard, react-components

update task querying
  packages/api-server/api_server/app.py
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/fleets.py
  packages/api-server/api_server/models/tasks.py
  packages/api-server/api_server/models/test_tasks.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/task_summary.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/query.py
  packages/api-server/api_server/repositories/__init__.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/tasks/utils.py
  packages/api-server/api_server/routes/test_base_route.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/services/tasks.py
  packages/api-server/api_server/services/test_tasks.py
  packages/api-server/api_server/test/test_data.py
  packages/api-server/generate-models.sh
Due: api-server

task request and watch stubs
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  reporting: any of: packages/reporting
  reporting-server: any of: packages/reporting-server
  rmf-auth: any of: packages/rmf-auth
  task-scheduler: any of: packages/task-scheduler
