Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

include swagger bundle
  packages/api-server/scripts/extract_docs.py
Due: api-server

temp enable for all push
  .github/workflows/ghpages.yml
Due: none

fix docs pathing
  .github/workflows/ghpages.yml
  packages/api-server/api_server/app.py
  packages/api-server/package.json
  packages/api-server/scripts/docs_config.py
  packages/api-server/scripts/extract_docs.py
Due: api-server

fix openapi.json path
  packages/api-server/api_server/app.py
Due: api-server

fix openapi.json path
  packages/api-server/api_server/app.py
  packages/api-server/package.json
Due: api-server

Revert "temp enable for all push"
  .github/workflows/ghpages.yml
Due: none

fix e2e
  packages/api-server/package.json
Due: api-server

api-server: fix docs page (#907)
  .github/workflows/ghpages.yml
  packages/api-server/api_server/app.py
  packages/api-server/package.json
  packages/api-server/scripts/docs_config.py
  packages/api-server/scripts/extract_docs.py
Due: api-server

Fix readme link
  README.md
Due: none

Fix readme link (#908)
  README.md
Due: none

Use a limit of 1000 for all-task queries
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Raising limit to 5000
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/dependencies.py
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard, api-server

Make custom task always available
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/managers/resource-manager.ts
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Check exception for TypeError
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Unifying handleTaskDescriptionChange, added FIXME for allowing favoriting custom tasks
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Renaming custom to custom_compose, since the task category will always be compose, display description for short description
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Update scheduler to 2.7.8
  packages/dashboard/package.json
  pnpm-lock.yaml
Due: dashboard

Updated react-scheduler dependencies to fix broken date navigation because of x-date-picker
  packages/dashboard/package.json
  packages/dashboard/src/components/app-base.tsx
  pnpm-lock.yaml
Due: dashboard

Use newly available onSelectedDateChange prop
  packages/dashboard/src/components/tasks/task-schedule.tsx
Due: dashboard

Remove refreshTaskSchedule call when changing edit event scope
  packages/dashboard/src/components/tasks/task-schedule.tsx
Due: dashboard

Update caniuse-lite too to dismiss browserslist warning
  pnpm-lock.yaml
Due: none

Define to use the latest version that works
  packages/dashboard/package.json
  pnpm-lock.yaml
Due: dashboard

Update same dependencies in react-components so Theme is not broken
  packages/dashboard/src/components/app-base.tsx
  packages/react-components/package.json
  pnpm-lock.yaml
Due: dashboard, react-components

Update other related mui packages
  packages/dashboard/package.json
  packages/react-components/package.json
  pnpm-lock.yaml
Due: dashboard, react-components

Catch possible exception with JSON.stringify, add fixmes for task description assumptions
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Added new API to get number of task states
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

First attempt at querying by chunks with a loading backdrop
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Count tasks based on query as well
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Chunk-based query with global loading backdrop
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Query requests in chunks as well
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Clean up stale comments
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Turn off all alerts on the server
  packages/api-server/api_server/routes/internal.py
Due: api-server

Reverting removed globalstyles for leaflet
  packages/dashboard/src/components/app-base.tsx
Due: dashboard

Hammer/update scheduler (#910)
  packages/dashboard/package.json
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/react-components/package.json
  pnpm-lock.yaml
Due: dashboard, react-components

Remove count endpoint, revert changes to API
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Revert routes file
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Using normal pagination queries to query until the tasks run out, stick to 31 days of querying
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Use start time for query
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
