Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

Make linewith be smaller
  packages/dashboard/src/components/three-trajectory-overlay.tsx
Due: dashboard

Add three fiber folder
  packages/react-components/lib/map/three-fiber/door-three-maker.tsx
  packages/react-components/lib/map/three-fiber/index.tsx
  packages/react-components/lib/map/three-fiber/lift-three-maker.tsx
Due: react-components

Feature/task table auto update (#763)
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Making form fields required
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Basic checks for each task description to allow submission
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Reverting to latest pnpm version when #6994 is fixed (#754)
  .github/actions/bootstrap/action.yml
Due: none

Add component div to Box component
  packages/dashboard/src/components/robots/robot-info-app.tsx
  packages/dashboard/src/components/robots/robot-summary.tsx
  packages/dashboard/src/components/tasks/task-inspector.tsx
  packages/dashboard/src/components/tasks/task-logs.tsx
  packages/dashboard/src/components/tasks/task-summary.tsx
  packages/dashboard/src/components/workspace.tsx
Due: dashboard

Migrate component to react component
  packages/dashboard/src/components/cube.tsx
  packages/dashboard/src/components/lift-load.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/three-fiber/door-three.tsx
  packages/dashboard/src/components/three-fiber/index.tsx
  packages/dashboard/src/components/three-fiber/lift-three.tsx
  packages/dashboard/src/components/three-fiber/robot-tree.tsx
  packages/dashboard/src/components/wall.tsx
  packages/react-components/lib/map/three-fiber/index.tsx
  packages/react-components/lib/map/three-fiber/lift-three-maker.tsx
  packages/react-components/lib/map/three-fiber/robot-three-maker.tsx
Due: dashboard, react-components

Add component div to Box material component
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

react component migration
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/three-trajectory-overlay.tsx
  packages/react-components/lib/map/three-fiber/index.tsx
  packages/react-components/lib/map/three-fiber/shape-three-rendering.tsx
Due: dashboard, react-components

Fix e2e tests, select coe for patrol explicitly
  packages/dashboard-e2e/tests/ui-interactions/create-task-from-any-tab.test.ts
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
Due: dashboard

Splitting interface and refactoring validity check
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Delivery quantity to positive int field, and sku to text field, monitor null or empty value
  packages/react-components/lib/form-inputs.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Disable submit when clean zone is removed
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Show month and day view
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Turn off auto refresh when viewing schedule
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Display an alert when low display res detected
  packages/dashboard/src/components/app-base.tsx
Due: dashboard

Feature/form input required (#764)
  packages/dashboard-e2e/tests/ui-interactions/create-task-from-any-tab.test.ts
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
  packages/react-components/lib/form-inputs.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Raising e2e test resolution
  packages/dashboard-e2e/wdio.conf.js
Due: dashboard

Format date correctly to match with the frontend format
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

Adding comment about raising testing resolution
  packages/dashboard-e2e/wdio.conf.js
Due: dashboard

Auto refresh to be determined in the interval creation effect
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Changing name to be explicit for panel
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Display an alert when low display res detected (#767)
  packages/dashboard-e2e/wdio.conf.js
  packages/dashboard/src/components/app-base.tsx
Due: dashboard

Feature/scheduling month day (#765)
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard, api-server

Delivery alerts backend
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/delivery_alerts.py
  packages/api-server/api_server/rmf_io/__init__.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/routes/__init__.py
  packages/api-server/api_server/routes/delivery_alerts.py
Due: api-server

api-client updates
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

Create popup component to edit or delete events
  packages/react-components/lib/tasks/task-scheduled-edit-delete-popup.tsx
Due: react-components

Create popup component to edit or delete events
  packages/react-components/lib/tasks/index.ts
Due: react-components

Adding popup to edit events
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Enable or disable cells
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Add schedule and openSchedulepopup props
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Open create task form in edit event
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Update entire schedule
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

Update entire schedule
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
