Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

run lint in ci
  .github/workflows/dashboard.yml
Due: none

fix lint
  packages/rmf-auth/lib/components/context.tsx
  packages/rmf-auth/lib/components/login-card.tsx
  packages/rmf-auth/lib/components/login-page.test.tsx
  packages/rmf-auth/lib/components/login-page.tsx
  packages/rmf-auth/lib/components/login.stories.tsx
  packages/rmf-auth/lib/components/private-route.test.tsx
  packages/rmf-auth/lib/index.ts
  packages/rmf-auth/lib/keycloak.ts
  packages/rmf-auth/lib/stub.ts
Due: rmf-auth

Ac/clean up and fixes (#981)
  packages/dashboard/src/components/robots/robots-workspace.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Bump versions to 0.1.0 (#980)
  packages/api-client/package.json
  packages/api-server/package.json
  packages/api-server/setup.py
  packages/dashboard-e2e/package.json
  packages/dashboard/package.json
  packages/react-components/package.json
  packages/rmf-auth/package.json
  packages/rmf-models/package.json
  packages/ros-translator/package.json
  packages/ros-translator/ros_translator/test/ros_translator_test_msgs/package.xml
  packages/ros-translator/setup.py
  pipenv-install/package.json
Due: dashboard, react-components, api-server, rmf-auth

Fix linting on api-client
  packages/api-client/lib/index.spec.ts
  packages/api-client/lib/index.ts
Due: none

remove rmf-auth; update keycloak-js
  packages/dashboard/package.json
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/auth/authenticator.ts
  packages/dashboard/src/auth/index.ts
  packages/dashboard/src/auth/keycloak.ts
  packages/dashboard/src/auth/login-card.tsx
  packages/dashboard/src/auth/login-page.test.tsx
  packages/dashboard/src/auth/login-page.tsx
  packages/dashboard/src/auth/login.stories.tsx
  packages/dashboard/src/auth/private-route.test.tsx
  packages/dashboard/src/auth/private-route.tsx
  packages/dashboard/src/auth/stub.ts
  packages/dashboard/src/auth/user-profile.tsx
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/permissions.ts
  packages/dashboard/src/components/rmf-app/index.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/tasks/task-cancellation.tsx
  packages/dashboard/src/components/tests/appbar.test.tsx
  packages/dashboard/src/components/tests/test-utils.tsx
  packages/dashboard/src/managers/negotiation-status-manager.ts
  packages/dashboard/src/managers/robot-trajectory-manager.ts
  packages/rmf-auth/.eslintignore
  packages/rmf-auth/.eslintrc.js
  packages/rmf-auth/.gitignore
  packages/rmf-auth/.storybook/main.js
  packages/rmf-auth/.storybook/preview.tsx
  packages/rmf-auth/jest.config.js
  packages/rmf-auth/lib/components/index.ts
  packages/rmf-auth/lib/index.ts
  packages/rmf-auth/package.json
  packages/rmf-auth/test-data/resources/ros-health.png
  packages/rmf-auth/tsconfig.json
  pnpm-lock.yaml
Due: dashboard, rmf-auth

remove rmf-auth ci
  .github/workflows/rmf-auth.yml
Due: none

fix lint
  packages/dashboard/src/auth/login-page.test.tsx
  packages/dashboard/src/auth/login-page.tsx
  packages/dashboard/src/components/tests/test-utils.tsx
Due: dashboard

remove rmf-auth badge
  README.md
Due: none

remove more rmf-auth ci
  .github/workflows/dashboard.yml
  codecov.yml
Due: none

Fix linting on api-client (#983)
  packages/api-client/lib/index.spec.ts
  packages/api-client/lib/index.ts
Due: none

fix deps not built before building dashboard
  packages/dashboard/package.json
Due: dashboard

cleanup old config; make adminTab and customTab optional
  packages/dashboard/src/app-config.ts
Due: dashboard

allow authenticator to be tree shaked; rudimetry way to have runtime args
  packages/dashboard/index.html
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/rmf-app/index.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/vite-env.d.ts
  packages/dashboard/vite.config.ts
Due: dashboard

allow custom tabs and admin tags to be tree shaken
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/vite-env.d.ts
  packages/dashboard/vite.config.ts
Due: dashboard

actually tree shake out admin tab
  packages/dashboard/src/components/app.tsx
Due: dashboard

merge rmf-auth into dashboard (#985)
  .github/workflows/dashboard.yml
  .github/workflows/rmf-auth.yml
  README.md
  codecov.yml
  packages/dashboard/package.json
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/auth/authenticator.ts
  packages/dashboard/src/auth/index.ts
  packages/dashboard/src/auth/keycloak.ts
  packages/dashboard/src/auth/login-card.tsx
  packages/dashboard/src/auth/login-page.test.tsx
  packages/dashboard/src/auth/login-page.tsx
  packages/dashboard/src/auth/login.stories.tsx
  packages/dashboard/src/auth/private-route.test.tsx
  packages/dashboard/src/auth/private-route.tsx
  packages/dashboard/src/auth/stub.ts
  packages/dashboard/src/auth/user-profile.tsx
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/permissions.ts
  packages/dashboard/src/components/rmf-app/index.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/tasks/task-cancellation.tsx
  packages/dashboard/src/components/tests/appbar.test.tsx
  packages/dashboard/src/components/tests/test-utils.tsx
  packages/dashboard/src/managers/negotiation-status-manager.ts
  packages/dashboard/src/managers/robot-trajectory-manager.ts
  packages/rmf-auth/.eslintignore
  packages/rmf-auth/.eslintrc.js
  packages/rmf-auth/.gitignore
  packages/rmf-auth/.storybook/main.js
  packages/rmf-auth/.storybook/preview.tsx
  packages/rmf-auth/jest.config.js
  packages/rmf-auth/lib/components/index.ts
  packages/rmf-auth/lib/index.ts
  packages/rmf-auth/package.json
  packages/rmf-auth/test-data/resources/ros-health.png
  packages/rmf-auth/tsconfig.json
  pnpm-lock.yaml
Due: dashboard, rmf-auth

put all build time config in separate object
  packages/dashboard/app-config.d.ts
  packages/dashboard/app-config.json
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/rmf-app/index.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/vite-env.d.ts
  packages/dashboard/vite.config.ts
  pnpm-lock.yaml
Due: dashboard

fallback to test config
  packages/dashboard/src/app-config.ts
Due: dashboard

add base url to build config
  packages/dashboard/app-config.json
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/vite-env.d.ts
  packages/dashboard/vite.config.ts
Due: dashboard

add __init__.py so older setuptools sees ros_pydantic
  package.json
  packages/api-server/api_server/models/ros_pydantic/__init__.py
  packages/ros-translator/ros_translator/pydantic/__init__.py
Due: api-server

use header logo in login page
  packages/dashboard/src/components/app.tsx
Due: dashboard

dashboard: fix and improve build (#986)
  package.json
  packages/api-server/api_server/models/ros_pydantic/__init__.py
  packages/dashboard/app-config.d.ts
  packages/dashboard/app-config.json
  packages/dashboard/index.html
  packages/dashboard/package.json
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/vite-env.d.ts
  packages/dashboard/vite.config.ts
  packages/ros-translator/ros_translator/pydantic/__init__.py
  pnpm-lock.yaml
Due: dashboard, api-server

Allow pydantic 2.8.2 to be installed after python 3.8 following pypi
  Pipfile.lock
Due: none

add app-config json schema
  .husky/pre-commit
  package.json
  packages/dashboard/app-config.d.ts
  packages/dashboard/app-config.json
  packages/dashboard/app-config.schema.json
  packages/dashboard/package.json
  packages/dashboard/src/app-config.test.ts
  packages/dashboard/tsconfig.app.json
  packages/dashboard/tsconfig.gen.json
  pnpm-lock.yaml
Due: dashboard

Fix icon path
  packages/dashboard/index.html
Due: dashboard

Turn off minify for debugging
  packages/dashboard/vite.config.ts
Due: dashboard

Make trajectory server connection optional
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
Due: dashboard

Remove minify:false block
  packages/dashboard/vite.config.ts
Due: dashboard

Double compose delivery task (#963)
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/types/delivery-custom.spec.tsx
  packages/react-components/lib/tasks/types/delivery-custom.tsx
  packages/react-components/lib/tasks/types/delivery.tsx
  packages/react-components/lib/tasks/types/utils.ts
Due: react-components

Remove cart ID fields in double compose delivery form (#967)
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/types/delivery-custom.spec.tsx
  packages/react-components/lib/tasks/types/delivery-custom.tsx
Due: react-components

add app-config json schema (#988)
  .husky/pre-commit
  package.json
  packages/dashboard/app-config.d.ts
  packages/dashboard/app-config.json
  packages/dashboard/app-config.schema.json
  packages/dashboard/package.json
  packages/dashboard/src/app-config.test.ts
  packages/dashboard/tsconfig.app.json
  packages/dashboard/tsconfig.gen.json
  pnpm-lock.yaml
Due: dashboard

simply url
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/util/url.ts
Due: dashboard

Use BASE_URL
  packages/dashboard/index.html
Due: dashboard

Minor dashboard fixes (#989)
  packages/dashboard/index.html
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
Due: dashboard

simplify url (#991)
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/util/url.ts
Due: dashboard

use inline object over Record so that generated json schema include more information
  packages/dashboard/app-config.schema.json
  packages/dashboard/src/app-config.ts
Due: dashboard

add docs
  packages/dashboard/app-config.schema.json
  packages/dashboard/src/app-config.ts
Due: dashboard

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
