Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth, task-scheduler

fix cell width issue
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/doors/utils.ts
Due: react-components

helper test render function to provider theme and other contexts
  packages/dashboard/src/components/admin/tests/drawer.spec.tsx
  packages/dashboard/src/components/dashboard/tests/dashboard.test.tsx
  packages/dashboard/src/components/tasks/tests/task-panel.test.tsx
  packages/dashboard/src/components/tests/app-base.test.tsx
  packages/dashboard/src/components/tests/appbar.test.tsx
  packages/dashboard/src/components/tests/test-utils.tsx
Due: dashboard

make the non-interactable button a div instead
  packages/react-components/lib/robots/robot-info.tsx
Due: react-components

fix list style issues
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/doors/test-utils.spec.ts
  packages/react-components/lib/doors/utils.ts
Due: react-components

use material default theme until we have an good enough theme to use
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/drawers/settings-drawer.tsx
Due: dashboard

add support for global css in themes
  packages/dashboard/src/components/admin/drawer.tsx
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tests/test-utils.tsx
  packages/react-components/.storybook/preview.tsx
  packages/react-components/lib/themes/dark-global-theme.tsx
  packages/react-components/lib/themes/index.ts
  packages/react-components/lib/themes/rmf-dark.tsx
  packages/react-components/lib/themes/rmf-light.tsx
  packages/react-components/lib/themes/theme-provider.tsx
  packages/react-components/lib/themes/types.d.ts
Due: dashboard, react-components

remove errMsg and use custom errors
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/components/tasks/utils.ts
Due: dashboard

fix wrong logo being loaded
  packages/dashboard/src/managers/resource-manager-logos.ts
Due: dashboard

changes to throwing logic
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app-contexts.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/components/tasks/utils.ts
  packages/react-components/lib/error-snackbar.tsx
Due: dashboard, react-components

more fixes
  packages/dashboard/src/components/admin/page-css.ts
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/react-components/.storybook/preview.tsx
Due: dashboard, react-components

fix robot marker rotation and lint errors
  packages/react-components/lib/lifts/lift-request-form-dialog.tsx
  packages/react-components/lib/map/robots-overlay.tsx
  packages/react-components/lib/reports/default-dates-form.tsx
  packages/react-components/lib/reports/utils.spec.ts
Due: react-components

try using portal to force labels to be always on top of other markers
  packages/react-components/lib/map/doors-overlay.tsx
  packages/react-components/lib/map/label-marker.tsx
  packages/react-components/lib/map/labels-overlay.tsx
  packages/react-components/lib/map/lifts-overlay.tsx
  packages/react-components/lib/map/map.tsx
  packages/react-components/lib/map/robots-overlay.tsx
  packages/react-components/lib/map/schedule-visualizer.stories.tsx
  packages/react-components/lib/map/svg-overlay.tsx
  packages/react-components/lib/map/trajectories-overlay.tsx
  packages/react-components/lib/map/types.d.ts
  packages/react-components/lib/map/waypoints-overlay.tsx
  packages/react-components/lib/map/workcells-overlay.tsx
  packages/react-components/scripts/build.js
  packages/react-components/tsconfig.build.json
  packages/react-components/tsconfig.json
Due: react-components

migrate other labels
  packages/react-components/lib/map/doors-overlay.tsx
  packages/react-components/lib/map/lifts-overlay.tsx
  packages/react-components/lib/map/waypoints-overlay.tsx
  packages/react-components/lib/map/workcells-overlay.tsx
Due: react-components

fix newly discovered type errors
  packages/react-components/lib/benchmarks/robots.stories.tsx
  packages/react-components/lib/map/entity-manager.spec.ts
  packages/react-components/lib/reports/utils.spec.ts
  packages/react-components/lib/tasks/task-info.spec.tsx
  packages/react-components/lib/tasks/task-info.stories.tsx
  packages/react-components/lib/tasks/task-table.stories.tsx
Due: react-components

module augmentation does not support exporting library (at least I don't know how)
  packages/react-components/lib/map/doors-overlay.tsx
  packages/react-components/lib/map/lifts-overlay.tsx
  packages/react-components/lib/map/map.tsx
  packages/react-components/lib/map/robots-overlay.tsx
  packages/react-components/lib/map/svg-overlay.tsx
  packages/react-components/lib/map/trajectories-overlay.tsx
  packages/react-components/lib/map/types.d.ts
  packages/react-components/lib/map/waypoints-overlay.tsx
  packages/react-components/lib/map/workcells-overlay.tsx
Due: react-components

fix type erros
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/react-components/lib/map/map.tsx
  packages/react-components/lib/map/svg-overlay.tsx
Due: dashboard, react-components

fix markers from other levels being shown
  packages/dashboard/src/components/schedule-visualizer/index.tsx
Due: dashboard

fix image marker shows rendering at wrong place
  packages/react-components/lib/map/entity-manager.ts
  packages/react-components/lib/map/image-marker.tsx
Due: react-components

add reposition limit to prevent excessive labels
  packages/react-components/lib/map/entity-manager.ts
  packages/react-components/lib/map/label-marker.tsx
  packages/react-components/lib/map/robots-overlay.tsx
  packages/react-components/lib/map/workcell-marker.tsx
Due: react-components

remove dummy text when dont need anymore
  packages/react-components/lib/map/label-marker.tsx
Due: react-components

fix ordering of markers
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/react-components/lib/map/schedule-visualizer.stories.tsx
Due: dashboard, react-components

fix reposition threshold, remove search limit
  packages/dashboard/package.json
  packages/react-components/lib/map/entity-manager.ts
  packages/react-components/lib/map/label-marker.tsx
Due: dashboard, react-components

remove extra svg
  packages/react-components/lib/map/doors-overlay.tsx
  packages/react-components/lib/map/lifts-overlay.tsx
  packages/react-components/lib/map/robots-overlay.tsx
  packages/react-components/lib/map/trajectories-overlay.tsx
  packages/react-components/lib/map/waypoints-overlay.tsx
  packages/react-components/lib/map/workcells-overlay.tsx
Due: react-components

memo labels with their markers
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/react-components/lib/map/doors-overlay.tsx
  packages/react-components/lib/map/lifts-overlay.tsx
  packages/react-components/lib/map/robots-overlay.tsx
  packages/react-components/lib/map/waypoints-overlay.tsx
  packages/react-components/lib/map/with-label.tsx
  packages/react-components/lib/map/workcells-overlay.tsx
Due: dashboard, react-components

hide labels when unchecked
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/react-components/lib/map/map.tsx
Due: dashboard, react-components

fix: display error message instead of throwing an error when uploading batch task (#509)
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app-contexts.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/dashboard/src/components/tasks/utils.ts
  packages/react-components/lib/error-snackbar.tsx
Due: dashboard, react-components

refactor components to be properly memoed
  package-lock.json
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/doors/utils.ts
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/lifts/lift-utils.ts
  packages/react-components/lib/map/doors-overlay.tsx
  packages/react-components/lib/map/lifts-overlay.tsx
  packages/react-components/lib/map/robot-marker.tsx
  packages/react-components/lib/map/robots-overlay.tsx
  packages/react-components/lib/map/waypoints-overlay.tsx
  packages/react-components/lib/map/with-label.tsx
  packages/react-components/lib/map/workcells-overlay.tsx
  packages/react-components/lib/utils/misc.ts
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
  packages/react-components/package.json
Due: react-components

add simple test for almostShallowEqual
  packages/react-components/lib/utils/misc.spec.ts
Due: react-components

fix: various fixes and performance improvements (#523)
  package-lock.json
  packages/dashboard/package.json
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/react-components/lib/benchmarks/robots.stories.tsx
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/doors/utils.ts
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/lifts/lift-utils.ts
  packages/react-components/lib/map/doors-overlay.tsx
  packages/react-components/lib/map/entity-manager.spec.ts
  packages/react-components/lib/map/entity-manager.ts
  packages/react-components/lib/map/image-marker.tsx
  packages/react-components/lib/map/label-marker.tsx
  packages/react-components/lib/map/labels-overlay.tsx
  packages/react-components/lib/map/lifts-overlay.tsx
  packages/react-components/lib/map/map.tsx
  packages/react-components/lib/map/robot-marker.tsx
  packages/react-components/lib/map/robots-overlay.tsx
  packages/react-components/lib/map/schedule-visualizer.stories.tsx
  packages/react-components/lib/map/svg-overlay.tsx
  packages/react-components/lib/map/trajectories-overlay.tsx
  packages/react-components/lib/map/waypoints-overlay.tsx
  packages/react-components/lib/map/with-label.tsx
  packages/react-components/lib/map/workcell-marker.tsx
  packages/react-components/lib/map/workcells-overlay.tsx
  packages/react-components/lib/reports/utils.spec.ts
  packages/react-components/lib/tasks/task-info.spec.tsx
  packages/react-components/lib/tasks/task-info.stories.tsx
  packages/react-components/lib/tasks/task-table.stories.tsx
  packages/react-components/lib/utils/misc.spec.ts
  packages/react-components/lib/utils/misc.ts
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
  packages/react-components/package.json
  packages/react-components/scripts/build.js
  packages/react-components/tsconfig.build.json
  packages/react-components/tsconfig.json
Due: dashboard, react-components

use prefixes, rmf-auth, reporting and dashboard
  packages/dashboard/src/components/admin/drawer.tsx
  packages/dashboard/src/components/admin/manage-roles-dialog.tsx
  packages/dashboard/src/components/admin/permissions-card.tsx
  packages/dashboard/src/components/admin/role-list-card.tsx
  packages/dashboard/src/components/admin/user-list-card.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/drawers/drawer-header.tsx
  packages/dashboard/src/components/drawers/help-drawer.tsx
  packages/dashboard/src/components/drawers/hotkeys-dialog.tsx
  packages/dashboard/src/components/drawers/settings-drawer.tsx
  packages/dashboard/src/components/loading-screen.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
  packages/reporting/src/components/page-not-found.tsx
  packages/reporting/src/components/report-dashboard.tsx
  packages/rmf-auth/lib/components/login-card.tsx
  packages/rmf-auth/lib/components/login-page.tsx
Due: dashboard, reporting, rmf-auth

update gri sizing to auto
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
Due: react-components

remove table headers
  packages/react-components/lib/workcells/workcell-panel.tsx
Due: react-components

add padding to table and remove headers
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

fix height of scrollable panels and tables
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

update doors and lifts panel
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
Due: react-components

update cell colors
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
Due: react-components

add padding to door state labels
  packages/react-components/lib/doors/door-panel.tsx
Due: react-components

localise css to buttons
  packages/react-components/lib/doors/door-panel.tsx
Due: react-components

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  reporting: any of: packages/reporting
  reporting-server: any of: packages/reporting-server
  rmf-auth: any of: packages/rmf-auth
  task-scheduler: any of: packages/task-scheduler
