Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, ros2-bridge, api-server, reporting, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  ros2-bridge:
    paths:
      - packages/ros2-bridge
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  reporting:
    paths:
      - packages/reporting
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

refactor to call update token before each request is made
  packages/dashboard/e2e/rmf_server_config.py
  packages/dashboard/src/components/auth/__mocks__/fake-authenticator.ts
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/managers/negotiation-status-manager.ts
  packages/dashboard/src/managers/robot-trajectory-manager.ts
  packages/rmf-auth/lib/authenticator.ts
  packages/rmf-auth/lib/keycloak.ts
  packages/rmf-auth/lib/stub.ts
Due: dashboard, rmf-auth

reporting-sever: hide fluentd ports from external services (#313)
  example-deployment/docker/reporting-server.dockerfile
  example-deployment/k8s/fluentd-configmap.yaml
  example-deployment/k8s/fluentd.yaml
  example-deployment/k8s/reporting-server.yaml
  example-deployment/reporting_server_config.py
  packages/reporting-server/README.md
  packages/reporting-server/rest_server/__main__.py
  packages/reporting-server/rest_server/app.py
  packages/reporting-server/rest_server/app_config.py
  packages/reporting-server/rest_server/default_config.py
  packages/reporting-server/rest_server/repositories/test_log_creation_handler.py
  packages/reporting-server/rest_server/repositories/test_parser_dispatcher.py
  packages/reporting-server/rest_server/routers/test_log.py
  packages/reporting/src/components/report-dashboard.tsx
  packages/reporting/src/components/reports/all-logs-report.tsx
  packages/reporting/src/components/reports/dispenser-state-report.tsx
  packages/reporting/src/components/reports/door-state-report.tsx
  packages/reporting/src/components/reports/fleet-state-report.tsx
  packages/reporting/src/components/reports/health-report.tsx
  packages/reporting/src/components/reports/ingestor-state-report.tsx
  packages/reporting/src/components/reports/lift-state-report.tsx
  packages/reporting/src/components/reports/utils.ts
Due: reporting

All logs report are sorted by date desc
  packages/react-components/lib/reports/log-management/custom-lookup-filter.tsx
  packages/react-components/lib/reports/log-management/log-table.tsx
  packages/reporting-server/rest_server/repositories/report/raw_log.py
Due: react-components, reporting

Updated react-component tests
  packages/react-components/tests/reports/log-management/log-table.spec.tsx
Due: react-components

update keycloak.mv.db with new config
  packages/dashboard/e2e/docker/keycloak/keycloak.mv.db
Due: dashboard

Fix logging story react-component
  packages/react-components/stories/logging.stories.tsx
Due: react-components

fix unit test
  packages/reporting/src/components/auth/__mocks__/fake-authenticator.ts
  packages/rmf-auth/tests/fake-authenticator.ts
Due: reporting, rmf-auth

updated reporter-side-bar story
  packages/reporting/src/stories/reports/reporter-side-bar.stories.tsx
Due: reporting

reporting:server: Fix all-logs report are sorted by date desc (#315)
  packages/react-components/lib/reports/log-management/custom-lookup-filter.tsx
  packages/react-components/lib/reports/log-management/log-table.tsx
  packages/react-components/stories/logging.stories.tsx
  packages/react-components/tests/reports/log-management/log-table.spec.tsx
  packages/reporting-server/rest_server/repositories/report/raw_log.py
  packages/reporting/src/stories/reports/reporter-side-bar.stories.tsx
Due: react-components, reporting

change client_id to aud
  example-deployment/reporting_server_config.py
  example-deployment/rmf_server_config.py
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/default_config.py
  packages/dashboard/e2e/rmf_server_config.py
  packages/reporting-server/rest_server/app_config.py
  packages/reporting-server/rest_server/authenticator.py
  packages/reporting-server/rest_server/default_config.py
Due: dashboard, api-server, reporting

handle no keycloak and update default aud
  packages/api-server/api_server/default_config.py
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/managers/negotiation-status-manager.ts
  packages/dashboard/src/managers/robot-trajectory-manager.ts
Due: dashboard, api-server

add iss verification
  example-deployment/reporting_server_config.py
  example-deployment/rmf_server_config.py
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/default_config.py
  packages/dashboard/e2e/rmf_server_config.py
  packages/reporting-server/rest_server/app_config.py
  packages/reporting-server/rest_server/authenticator.py
  packages/reporting-server/rest_server/default_config.py
Due: dashboard, api-server, reporting

resolve test
  packages/api-server/api_server/test_rmf_io.py
Due: api-server

test-ci
  packages/api-server/api_server/authenticator.py
Due: api-server

fix e2e issuer url
  packages/api-server/api_server/authenticator.py
  packages/dashboard/e2e/rmf_server_config.py
Due: dashboard, api-server

update readme
  packages/dashboard/e2e/README.md
Due: dashboard

remove refresh token from rmf-app
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
Due: dashboard

Added more information to the rawlogs
  example-deployment/k8s/fluentd-configmap.yaml
  packages/react-components/lib/reports/log-management/custom-lookup-filter.tsx
  packages/react-components/lib/reports/log-management/log-table.tsx
  packages/reporting-server/parsers/lift_state_parser.py
  packages/reporting-server/parsers/log_type_parser.py
  packages/reporting-server/parsers/test_log_type_parser.py
  packages/reporting-server/rest_server/repositories/log_creation_handler.py
  packages/reporting/src/stories/reports/reporter-side-bar.stories.tsx
Due: react-components, reporting

Added the get_containers endpoint
  packages/react-components/lib/reports/log-management/custom-lookup-filter.tsx
  packages/react-components/lib/reports/log-management/log-table.tsx
  packages/react-components/stories/logging.stories.tsx
  packages/react-components/tests/reports/log-management/log-management.spec.tsx
  packages/react-components/tests/reports/log-management/log-table.spec.tsx
  packages/reporting-server/models/raw_log.py
  packages/reporting-server/rest_server/repositories/log_creation_handler.py
  packages/reporting-server/rest_server/repositories/report/__init__.py
  packages/reporting-server/rest_server/repositories/report/raw_log.py
  packages/reporting-server/rest_server/repositories/report/test_raw_log.py
  packages/reporting-server/rest_server/repositories/test_log_creation_handler.py
  packages/reporting-server/rest_server/routers/report.py
  packages/reporting/src/stories/reports/reporter-side-bar.stories.tsx
Due: react-components, reporting

add a switch button
  packages/dashboard/src/components/drawers/settings-drawer.tsx
  packages/dashboard/src/settings.ts
Due: dashboard

remove toolbar options
  packages/react-components/lib/title-bar.tsx
  packages/react-components/stories/title-bar.stories.tsx
Due: react-components

refactor appbar in dashboard
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

add title bar to react components
  packages/react-components/lib/title-bar.tsx
  packages/react-components/stories/title-bar.stories.tsx
Due: react-components

add navigation bar component
  packages/react-components/lib/navigation-bar.tsx
Due: react-components

add tests for navigation bar and title bar
  packages/react-components/tests/navigation-bar.spec.tsx
Due: react-components

rename navigation tabs' aria label
  packages/react-components/lib/navigation-bar.tsx
Due: react-components

update comment and test ci
  packages/api-server/api_server/default_config.py
  packages/dashboard/e2e/README.md
  packages/dashboard/e2e/rmf_server_config.py
  packages/reporting-server/rest_server/default_config.py
Due: dashboard, api-server, reporting

remove isKeycloak check, modify stub and test ci
  packages/api-server/api_server/app.py
  packages/dashboard/e2e/rmf_server_config.py
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/auth/__mocks__/fake-authenticator.ts
  packages/dashboard/src/managers/negotiation-status-manager.ts
  packages/dashboard/src/managers/robot-trajectory-manager.ts
  packages/reporting/src/components/auth/__mocks__/fake-authenticator.ts
  packages/rmf-auth/lib/stub.ts
  packages/rmf-auth/tests/fake-authenticator.ts
Due: dashboard, api-server, reporting, rmf-auth

remove _ and test ci
  packages/api-server/api_server/app.py
  packages/dashboard/src/managers/negotiation-status-manager.ts
  packages/dashboard/src/managers/robot-trajectory-manager.ts
  packages/dashboard/src/managers/trajectory-socket-manager.ts
Due: dashboard, api-server

throw error and test ci
  packages/api-server/api_server/app.py
  packages/rmf-auth/lib/keycloak.ts
Due: api-server, rmf-auth

url
  packages/api-server/api_server/app.py
Due: api-server

test ci
  packages/api-server/api_server/app.py
  packages/dashboard/e2e/rmf_server_config.py
Due: dashboard, api-server

Added log label to the UI
  packages/reporting-server/rest_server/repositories/report/raw_log.py
  packages/reporting-server/rest_server/repositories/report/test_raw_log.py
  packages/reporting-server/rest_server/routers/report.py
  packages/reporting/src/components/reports/all-logs-report.tsx
Due: reporting

remove throw error
  packages/rmf-auth/lib/keycloak.ts
Due: rmf-auth

protected and remove _
  packages/dashboard/src/managers/trajectory-socket-manager.ts
Due: dashboard

modify notifications bar
  packages/react-components/lib/navigation-bar.tsx
  packages/react-components/lib/title-bar.tsx
  packages/react-components/tests/navigation-bar.spec.tsx
Due: react-components

add navigation bar to appintrinsics and update routes
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/util/url.ts
Due: dashboard

add temporary placeholder panels
  packages/dashboard/src/components/test-panel.tsx
Due: dashboard

remove verbose code in navigation bar in dashboard
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/util/url.ts
  packages/react-components/lib/navigation-bar.tsx
Due: dashboard, react-components
