Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, ros2-bridge, api-server

Removed doors states component from logging report story
  packages/dashboard/src/stories/reports/reporter-side-bar.stories.tsx
Due: dashboard

Added tests for dashboard reporter
  packages/dashboard/src/components/reports/tests/index.test.tsx
  packages/dashboard/src/stories/reports/reporter-side-bar.stories.tsx
Due: dashboard

Removed door state report. It should be good to do this on its own PR
  packages/react-components/lib/reports/reports/door-state-report.tsx
  packages/react-components/lib/reports/reports/index.ts
Due: react-components

Added report-dashboard tests
  packages/dashboard/src/components/reports/report-dashboard.tsx
  packages/dashboard/src/components/reports/tests/report-dashboard.test.tsx
Due: dashboard

Removed reducer, added a simpler way to handle reports with a container object
  packages/dashboard/src/components/reports/index.tsx
  packages/dashboard/src/components/reports/report-list.tsx
  packages/dashboard/src/components/reports/reporter-body.tsx
  packages/dashboard/src/components/reports/reporter-reducer.tsx
  packages/dashboard/src/components/reports/reporter-side-bar.tsx
Due: dashboard

Super draft report UI
  packages/dashboard/src/components/reports/index.tsx
  packages/dashboard/src/components/reports/reporter-menu.tsx
  packages/dashboard/src/components/reports/reporter-side-bar.tsx
  packages/dashboard/src/stories/reporter/reporter-side-bar.stories.tsx
  packages/react-components/lib/log-management/index.ts
  packages/react-components/lib/log-management/reports/door-state-report.tsx
  packages/react-components/lib/log-management/reports/index.ts
Due: dashboard, react-components

Fixed outer scroll of all logs report
  packages/react-components/lib/reports/log-management/log-management.tsx
Due: react-components

Added tests for multi-level-menu and added cleanups for some other tests
  packages/dashboard/src/components/reports/tests/report-dashboard.test.tsx
  packages/react-components/lib/reports/index.ts
  packages/react-components/lib/reports/log-management/index.ts
  packages/react-components/tests/reports/multi-level-menu.spec.tsx
  packages/react-components/tests/reports/render-selected-component-from-dict.spec.tsx
Due: dashboard, react-components

Rename reporter to reportDashboard
  packages/dashboard/src/components/reports/report-dashboard.tsx
  packages/dashboard/src/components/reports/tests/report-dashboard.test.tsx
  packages/dashboard/src/stories/reports/reporter-side-bar.stories.tsx
Due: dashboard

Reestructured reports, added test for render-selected-component-from-dict
  packages/react-components/lib/index.ts
  packages/react-components/lib/reports/index.ts
  packages/react-components/lib/reports/log-management/custom-lookup-filter.tsx
  packages/react-components/lib/reports/log-management/index.ts
  packages/react-components/lib/reports/log-management/log-level.ts
  packages/react-components/lib/reports/log-management/log-management.tsx
  packages/react-components/lib/reports/log-management/log-table.tsx
  packages/react-components/lib/reports/log-management/search-filter.tsx
  packages/react-components/lib/reports/log-management/search-log-form.tsx
  packages/react-components/lib/reports/multi-level-menu.tsx
  packages/react-components/lib/reports/render-selected-component-from-dict.tsx
  packages/react-components/lib/reports/reports/door-state-report.tsx
  packages/react-components/lib/reports/reports/index.ts
  packages/react-components/tests/reports/log-management/custom-lookup-filter.spec.tsx
  packages/react-components/tests/reports/log-management/log-management.spec.tsx
  packages/react-components/tests/reports/log-management/log-table.spec.tsx
  packages/react-components/tests/reports/log-management/search-log-form.spec.tsx
  packages/react-components/tests/reports/multi-level-menu.spec.tsx
  packages/react-components/tests/reports/render-selected-component-from-dict.spec.tsx
Due: react-components

Fixed some wording
  packages/dashboard/src/components/reports/tests/report-dashboard.test.tsx
  packages/react-components/tests/reports/multi-level-menu.spec.tsx
  packages/react-components/tests/reports/render-selected-component-from-dict.spec.tsx
Due: dashboard, react-components

Fixed types issues, decoupled variables from reports index.tsx
  packages/dashboard/src/components/reports/index.tsx
  packages/dashboard/src/components/reports/reporter-side-bar-structure.tsx
  packages/dashboard/src/stories/reporter/reporter-side-bar.stories.tsx
Due: dashboard

Updated login tests
  packages/auth/lib/components/login.tsx
  packages/auth/tests/login.test.tsx
Due: none

Added pip3 install to react-components again
  .github/workflows/react-components.yml
Due: none

Removed cache comment
  packages/reporting/src/index.tsx
Due: none

Using docker image to run tests on GH actions
  .github/workflows/reporting.yml
Due: none

Added some tests and remove some files from coverage list
  packages/reporting/package.json
  packages/reporting/src/components/app.tsx
  packages/rmf-auth/jest.config.js
  packages/rmf-auth/package.json
  packages/rmf-auth/tests/components/login-base.test.tsx
  packages/rmf-auth/tests/components/private-route.test.tsx
  packages/rmf-auth/tests/utils/url.test.ts
Due: none

Tested with keycloack and working
  packages/reporting/package.json
  packages/reporting/src/components/app-contexts.tsx
  packages/reporting/src/components/app.tsx
  packages/reporting/src/components/auth/private-route.tsx
  packages/rmf-auth/lib/components/private-route-base.tsx
Due: none

Added pip3 install pipenv to reporting again
  .github/workflows/reporting.yml
Due: none

Fixed build problem
  packages/reporting/.gitignore
  packages/reporting/package.json
Due: none

Removed report vital web
  packages/reporting/src/index.tsx
  packages/reporting/src/reportWebVitals.ts
Due: none

Added report dashboard structure
  packages/reporting/package.json
  packages/reporting/src/components/app.tsx
  packages/reporting/src/components/report-dashboard.tsx
  packages/reporting/src/components/report-list.tsx
  packages/reporting/src/components/reporter-side-bar-structure.tsx
  packages/reporting/src/index.tsx
  packages/reporting/src/stories/reports/reporter-side-bar.stories.tsx
  packages/reporting/src/tests/App.test.tsx
  packages/reporting/src/tests/app.test.tsx
  packages/reporting/src/tests/report-dashboard.test.tsx
Due: none

Using private-route-base on reporting
  packages/reporting/src/components/auth/private-route.tsx
  packages/rmf-auth/lib/components/index.ts
  packages/rmf-auth/lib/components/private-route-base.tsx
  packages/rmf-auth/lib/components/private-route.tsx
  packages/rmf-auth/tests/components/private-route-base.test.tsx
Due: none

Removed render-selected-component-from-dict and added memos to multilevel-menu components
  packages/react-components/lib/reports/index.ts
  packages/react-components/lib/reports/log-management/index.ts
  packages/react-components/lib/reports/multi-level-menu.tsx
  packages/react-components/lib/reports/render-selected-component-from-dict.tsx
  packages/react-components/tests/reports/render-selected-component-from-dict.spec.tsx
  packages/reporting/src/components/report-dashboard.tsx
Due: react-components

Fixed error/warning on rmf-auth tests
  packages/rmf-auth/tests/login-base.test.tsx
  packages/rmf-auth/tests/private-route.test.tsx
Due: none

Updated private-route-base test
  packages/rmf-auth/tests/components/private-route-base.test.tsx
Due: none

Fixed build CI problem with rmf-auth
  packages/rmf-auth/.storybook/preview.js
  packages/rmf-auth/stories/tsconfig.json
Due: none

Fixed HTMLCanvasElement.prototype.getContext error in jest
  packages/reporting/package-lock.json
  packages/reporting/package.json
  packages/reporting/src/setupTests.ts
  packages/reporting/src/tests/components/auth/private-route.test.tsx
Due: none

Added codecov config, GH actions config and added to bootstrap
  .github/workflows/reporting.yml
  codecov.yml
  scripts/bootstrap.js
Due: none

Removed welcomed stories from reporting and dashboard
  packages/dashboard/src/stories/0-Welcome.stories.tsx
  packages/reporting/src/stories/0-Welcome.stories.tsx
Due: dashboard

Added codecov and GH action yml
  .github/workflows/rmf-auth.yml
  codecov.yml
Due: none

Added reporting dependencies on bootstrap
  scripts/bootstrap.js
Due: none

Added and fix tests from auth and reporting
  packages/reporting/src/tests/components/app.test.tsx
  packages/reporting/src/tests/components/auth/login.test.tsx
  packages/reporting/src/tests/components/auth/private-route.test.tsx
  packages/reporting/src/tests/components/report-dashboard.test.tsx
  packages/rmf-auth/lib/__mocks__/authenticator.ts
  packages/rmf-auth/lib/__mocks__/index.ts
  packages/rmf-auth/lib/components/login-base.tsx
  packages/rmf-auth/lib/index.ts
  packages/rmf-auth/package-lock.json
  packages/rmf-auth/tests/login-base.test.tsx
Due: none

Added multilevelmenu storybook. Changed version from 1 to 0.0.1
  packages/react-components/stories/reports/multi-level-menu.stories.tsx
  packages/reporting/package.json
Due: react-components

Reporting auth working for fake auth
  packages/auth/lib/components/login.tsx
  packages/reporting/package-lock.json
  packages/reporting/package.json
  packages/reporting/src/app-config.ts
  packages/reporting/src/components/app-contexts.tsx
  packages/reporting/src/components/app.tsx
  packages/reporting/src/components/auth-contexts.tsx
  packages/reporting/src/components/auth/login.tsx
  packages/reporting/src/components/auth/private-route-reporting.tsx
  packages/reporting/src/components/dashboard.tsx
  packages/reporting/src/util/url.ts
  packages/rmf-auth/.eslintignore
  packages/rmf-auth/.eslintrc.js
  packages/rmf-auth/.gitignore
  packages/rmf-auth/.storybook/main.js
  packages/rmf-auth/.storybook/preview.js
  packages/rmf-auth/jest.config.js
  packages/rmf-auth/lib/__mocks__/authenticator.ts
  packages/rmf-auth/lib/authenticator.ts
  packages/rmf-auth/lib/components/index.ts
  packages/rmf-auth/lib/components/login-base.tsx
  packages/rmf-auth/lib/components/login-card.tsx
  packages/rmf-auth/lib/components/login-page.tsx
  packages/rmf-auth/lib/components/private-route.tsx
  packages/rmf-auth/lib/index.ts
  packages/rmf-auth/lib/keycloak.ts
  packages/rmf-auth/lib/stub.ts
  packages/rmf-auth/lib/user.ts
  packages/rmf-auth/lib/utils/index.ts
  packages/rmf-auth/lib/utils/url.ts
  packages/rmf-auth/package-lock.json
  packages/rmf-auth/package.json
  packages/rmf-auth/stories/login.stories.tsx
  packages/rmf-auth/tests/login.test.tsx
  packages/rmf-auth/tests/private-route.test.tsx
  packages/rmf-auth/tsconfig.json
  scripts/bootstrap.js
Due: none

Move page-not-found and unautorized to react-components
  packages/react-components/lib/error-pages/index.ts
  packages/react-components/lib/error-pages/page-not-found.tsx
  packages/react-components/lib/error-pages/unauthorized.tsx
  packages/react-components/lib/index.ts
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/tests/error-pages/page-not-found.spec.tsx
  packages/react-components/tests/error-pages/unauthorized.spec.tsx
  packages/reporting/src/components/app.tsx
  packages/reporting/src/components/auth/login.tsx
  packages/reporting/src/components/auth/private-route.tsx
  packages/reporting/src/util/url.ts
Due: react-components

serving the app correctly
  packages/reporting/.env
  packages/reporting/package-lock.json
  packages/reporting/package.json
  packages/reporting/src/App.css
  packages/reporting/src/App.tsx
  packages/reporting/src/components/App.tsx
  packages/reporting/src/components/reports/report-dashboard.tsx
  packages/reporting/src/components/reports/report-list.tsx
  packages/reporting/src/components/reports/reporter-side-bar-structure.tsx
  packages/reporting/src/index.css
  packages/reporting/src/index.tsx
  packages/reporting/src/logo.svg
  packages/reporting/src/serviceWorker.ts
  packages/reporting/src/stories/reports/reporter-side-bar.stories.tsx
  packages/reporting/src/tests/App.test.tsx
  packages/reporting/src/tests/components/report-dashboard.test.tsx
Due: none

Added reporting package draft
  packages/reporting/.gitignore
  packages/reporting/.storybook/main.js
  packages/reporting/package-lock.json
  packages/reporting/package.json
  packages/reporting/public/assets/aron-visuals-3jBU9TbKW7o-unsplash.jpg
  packages/reporting/public/assets/ros-health.png
  packages/reporting/public/fast_forward-24px.svg
  packages/reporting/public/fast_rewind-24px.svg
  packages/reporting/public/favicon.ico
  packages/reporting/public/index.html
  packages/reporting/public/logo192.png
  packages/reporting/public/logo512.png
  packages/reporting/public/manifest.json
  packages/reporting/public/pause-24px.svg
  packages/reporting/public/play_arrow-24px.svg
  packages/reporting/public/robots.txt
  packages/reporting/public/silent-check-sso.html
  packages/reporting/src/App.css
  packages/reporting/src/App.test.tsx
  packages/reporting/src/App.tsx
  packages/reporting/src/index.css
  packages/reporting/src/index.tsx
  packages/reporting/src/logo.svg
  packages/reporting/src/react-app-env.d.ts
  packages/reporting/src/reportWebVitals.ts
  packages/reporting/src/setupTests.ts
  packages/reporting/src/stories/0-Welcome.stories.tsx
  packages/reporting/tsconfig.json
Due: none

Test without storybook
  .github/workflows/rmf-auth.yml
Due: none

Fix auth tests
  packages/rmf-auth/lib/__mocks__/index.ts
  packages/rmf-auth/lib/fake-authenticator.ts
  packages/rmf-auth/lib/index.ts
  packages/rmf-auth/tests/login-base.test.tsx
  packages/rmf-auth/tests/private-route.test.tsx
Due: none

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  ros2-bridge: any of: packages/ros2-bridge
  api-server: any of: packages/api-server
