Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

fix field name conflict
  Pipfile
  Pipfile.lock
  packages/api-server/api_server/models/rmf_api/robot_state.py
  packages/api-server/api_server/models/rmf_api/version.py
  packages/api-server/api_server/models/rmf_ros2/version.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/generate-models.sh
  packages/api-server/setup.py
Due: api-server

First iteration of double compose delivery task
  packages/dashboard/src/managers/resource-manager.ts
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/types/delivery-custom.spec.tsx
  packages/react-components/lib/tasks/types/delivery-custom.tsx
  packages/react-components/lib/tasks/types/utils.ts
Due: dashboard, react-components

Lint and fix dispatck task insert emergency lots workaround
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/react-components/lib/tasks/types/delivery-custom.spec.tsx
  packages/react-components/lib/tasks/types/delivery-custom.tsx
Due: react-components, api-server

first passing test
  package.json
  packages/api-server/api_server/app.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/default_config.py
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/building_map.py
  packages/api-server/api_server/models/dispensers.py
  packages/api-server/api_server/models/doors.py
  packages/api-server/api_server/models/ingestors.py
  packages/api-server/api_server/models/lifts.py
  packages/api-server/api_server/models/tasks.py
  packages/api-server/api_server/models/tortoise_support.py
  packages/api-server/api_server/models/user.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/rmf_io/__init__.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/rmf_io/operators/__init__.py
  packages/api-server/api_server/rmf_io/operators/grouped_sample.py
  packages/api-server/api_server/rmf_io/operators/health.py
  packages/api-server/api_server/rmf_io/operators/heartbeat.py
  packages/api-server/api_server/rmf_io/operators/test_grouped_sample.py
  packages/api-server/api_server/rmf_io/operators/test_health.py
  packages/api-server/api_server/routes/building_map.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_doors.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/test/test_data.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/scripts/docs_config.py
  packages/api-server/scripts/extract_docs.py
  packages/api-server/scripts/test_config.py
  pnpm-lock.yaml
Due: api-server

Fix favorite task confirmation text field, add more tests
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/types/delivery-custom.spec.tsx
  packages/react-components/lib/tasks/types/delivery-custom.tsx
Due: react-components

Revert addition of double compose delivery to resource manager
  packages/dashboard/src/managers/resource-manager.ts
Due: dashboard

Small UI tweaks to form field widths
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Fix tests, grid containers for warn time
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/types/delivery-custom.spec.tsx
Due: react-components

introducing StatefulDep to manage persistent deps
  packages/api-server/api_server/app.py
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/fast_io/stateful_dep.py
  packages/api-server/api_server/rmf_io/__init__.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/routes/alerts.py
Due: api-server

api-server: fix ghpages (#962)
  .github/workflows/ghpages.yml
  packages/api-server/scripts/docs_config.py
Due: api-server

refactor to use SingletonDep system
  packages/api-server/api_server/__main__.py
  packages/api-server/api_server/app.py
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/fast_io/singleton_dep.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/logging.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/alerts.py
  packages/api-server/api_server/models/tortoise_models/alerts.py
  packages/api-server/api_server/repositories/__init__.py
  packages/api-server/api_server/repositories/alerts.py
  packages/api-server/api_server/repositories/cached_files.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/rmf_io/__init__.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/rmf_io/rmf_service.py
  packages/api-server/api_server/ros.py
  packages/api-server/api_server/ros_time.py
  packages/api-server/api_server/routes/alerts.py
  packages/api-server/api_server/routes/beacons.py
  packages/api-server/api_server/routes/building_map.py
  packages/api-server/api_server/routes/delivery_alerts.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/internal.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_building_map.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/test/test_stress.py
Due: api-server

Address feedback
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/dashboard/src/managers/resource-manager.ts
  packages/react-components/lib/tasks/types/delivery-custom.spec.tsx
  packages/react-components/lib/tasks/types/delivery-custom.tsx
  packages/react-components/lib/tasks/types/delivery.tsx
  packages/react-components/lib/tasks/types/utils.ts
Due: dashboard, react-components, api-server

Hammer/demo tasks (#925)
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/dashboard/src/managers/resource-manager-tasks.ts
  packages/dashboard/src/managers/resource-manager.ts
  packages/react-components/lib/index.ts
  packages/react-components/lib/simple-filter.spec.tsx
  packages/react-components/lib/simple-filter.stories.tsx
  packages/react-components/lib/simple-filter.tsx
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/index.ts
  packages/react-components/lib/tasks/task-booking-label-utils.tsx
  packages/react-components/lib/tasks/types/compose-clean.tsx
  packages/react-components/lib/tasks/types/custom-compose.tsx
  packages/react-components/lib/tasks/types/delivery-custom.spec.tsx
  packages/react-components/lib/tasks/types/delivery-custom.tsx
  packages/react-components/lib/tasks/types/delivery.tsx
  packages/react-components/lib/tasks/types/index.ts
  packages/react-components/lib/tasks/types/patrol.tsx
  packages/react-components/lib/tasks/types/utils.ts
Due: dashboard, react-components

Double compose delivery task (#963)
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/types/delivery-custom.spec.tsx
  packages/react-components/lib/tasks/types/delivery-custom.tsx
  packages/react-components/lib/tasks/types/delivery.tsx
  packages/react-components/lib/tasks/types/utils.ts
Due: react-components, api-server

Port CI fixes from #955 but targeting ubuntu 22 and ROS 2 Humble
  .github/actions/bootstrap/action.yml
  .github/minimal-rmf/Dockerfile
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml
  .github/workflows/dashboard.yml
  .github/workflows/react-components.yml
  .github/workflows/rmf-auth.yml
  .github/workflows/ros-translator.yml
Due: none

Revert "Port CI fixes from #955 but targeting ubuntu 22 and ROS 2 Humble"
  .github/actions/bootstrap/action.yml
  .github/minimal-rmf/Dockerfile
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml
  .github/workflows/dashboard.yml
  .github/workflows/react-components.yml
  .github/workflows/rmf-auth.yml
  .github/workflows/ros-translator.yml
Due: none

api-server: first impl of rio (#960)
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/rio.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/rio.py
  packages/api-server/api_server/rmf_io/__init__.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/routes/__init__.py
  packages/api-server/api_server/routes/rios.py
  packages/api-server/api_server/routes/test_rios.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

Fixed port to accommodate older pydantic version
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/routes/rios.py
Due: api-server

working doors, lifts, fleets, tasks
  packages/api-server/api_server/app.py
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/fast_io/singleton_dep.py
  packages/api-server/api_server/models/dispensers.py
  packages/api-server/api_server/models/doors.py
  packages/api-server/api_server/models/ingestors.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/repositories/fleets.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/internal.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/main.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/test_dispensers.py
  packages/api-server/api_server/routes/test_ingestors.py
  packages/api-server/api_server/routes/test_lifts.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

Update pnpm version
  .github/actions/bootstrap/action.yml
Due: none

cleanup
  .pylintrc
  packages/api-server/api_server/__main__.py
  packages/api-server/api_server/app.py
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/logging.py
  packages/api-server/api_server/models/lifts.py
  packages/api-server/api_server/models/task_favorite.py
  packages/api-server/api_server/repositories/cached_files.py
  packages/api-server/api_server/repositories/fleets.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/rmf_io/test_rmf_service.py
  packages/api-server/api_server/ros.py
  packages/api-server/api_server/ros_time.py
  packages/api-server/api_server/routes/admin.py
  packages/api-server/api_server/routes/alerts.py
  packages/api-server/api_server/routes/building_map.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/internal.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/main.py
  packages/api-server/api_server/routes/tasks/favorite_tasks.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/test/test_client.py
  packages/api-server/api_server/test/test_data.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

Setup pnpm and node manually
  .github/actions/bootstrap/action.yml
Due: none

Using HOME env var of runner
  .github/actions/bootstrap/action.yml
Due: none

workflow
  .github/actions/bootstrap/action.yml
Due: none

Workflow
  .github/actions/bootstrap/action.yml
Due: none

Address feedback on frontend
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Address comments that don't break behavior
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/routes/internal.py
  packages/dashboard/src/components/alert-manager.tsx
  packages/dashboard/src/components/app-base.tsx
Due: dashboard, api-server

Started generic exceptions
  packages/api-server/api_server/exceptions.py
  packages/api-server/api_server/repositories/__init__.py
  packages/api-server/api_server/repositories/alerts.py
  packages/api-server/api_server/routes/alerts.py
  packages/api-server/api_server/routes/internal.py
Due: api-server

Proper db schema for alert request and response
  packages/api-server/api_server/models/alerts.py
  packages/api-server/api_server/models/tortoise_models/alerts.py
  packages/api-server/api_server/repositories/alerts.py
Due: api-server

Updated alerts model, frontend tweaks for subscription, using pagination for unackw query, updated API
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/alerts.py
  packages/api-server/api_server/models/tortoise_models/alerts.py
  packages/api-server/api_server/repositories/alerts.py
  packages/api-server/api_server/routes/alerts.py
  packages/dashboard/src/components/alert-manager.tsx
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/appbar.tsx
Due: dashboard, api-server

Attempt to setup minimal RMF during bootstrap step
  .github/actions/bootstrap/action.yml
  .github/workflows/api-server.yml
  .github/workflows/dashboard.yml
  .github/workflows/ghpages.yml
Due: none

Fix mistake on ci path
  .github/actions/bootstrap/action.yml
Due: none

Fix workflow
  .github/actions/bootstrap/action.yml
  .github/workflows/api-server.yml
  .github/workflows/dashboard.yml
  .github/workflows/ghpages.yml
Due: none

Fix CI temporarily for deployment distros
  .github/actions/bootstrap/action.yml
  .github/workflows/api-server.yml
Due: none

Fix CI temporarily for deployment distros (#965)
  .github/actions/bootstrap/action.yml
  .github/workflows/api-server.yml
Due: none

Revert CI changes
  .github/actions/bootstrap/action.yml
  .github/workflows/api-server.yml
Due: none
