Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth, task-scheduler

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  reporting:
    paths:
      - packages/reporting
    carryforward: true
  reporting-server:
    paths:
      - packages/reporting-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true
  task-scheduler:
    paths:
      - packages/task-scheduler
    carryforward: true

fix background colors and workcell panel margins
  packages/react-components/.storybook/preview.tsx
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/map/label-marker.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
Due: react-components

more setting up
  package-lock.json
  packages/minimal/.env
  packages/minimal/.gitignore
  packages/minimal/package.json
  packages/minimal/scripts/start-rmf.js
  packages/minimal/src/App.tsx
  packages/minimal/src/logo.svg
  packages/minimal/yarn.lock
  shared-scripts/.gitignore
  shared-scripts/.rmf/web_server.log
Due: none

change the background for table header with sticky
  packages/react-components/lib/themes/rmf-dark.tsx
  packages/react-components/lib/themes/rmf-light.tsx
Due: react-components

fix build
  packages/react-components/lib/tasks/task-table.stories.tsx
Due: react-components

initial commit
  lerna.json
  package-lock.json
  packages/dashboard/package.json
  packages/dashboard/scripts/start-rmf.js
  packages/react-components/tsconfig.json
  packages/rmf-tools/.gitignore
  packages/rmf-tools/lib/index.ts
  packages/rmf-tools/lib/rmf-launcher.ts
  packages/rmf-tools/package.json
  packages/rmf-tools/tsconfig.json
Due: dashboard, react-components

support custom gazebo launch package
  packages/dashboard/rmf-launcher.js
Due: dashboard

logo changed
  packages/dashboard/src/assets/defaultLogo.png
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

ui/theme colors (#531)
  packages/dashboard/src/components/admin/permissions-card.tsx
  packages/dashboard/src/components/admin/role-list-card.tsx
  packages/dashboard/src/components/admin/user-list-card.tsx
  packages/react-components/.storybook/preview.tsx
  packages/react-components/lib/confirmation-dialog.tsx
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/map/label-marker.tsx
  packages/react-components/lib/map/lift-marker.tsx
  packages/react-components/lib/tasks/task-table.stories.tsx
  packages/react-components/lib/tasks/task-table.tsx
  packages/react-components/lib/themes/common-theme.tsx
  packages/react-components/lib/themes/rmf-dark.tsx
  packages/react-components/lib/themes/rmf-light.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
Due: dashboard, react-components

refactor out get icons script to rmf-tools
  packages/dashboard/scripts/setup/setup.js
  packages/rmf-tools/lib/index.ts
  packages/rmf-tools/lib/setup/get-icons.ts
  packages/rmf-tools/lib/setup/index.ts
Due: dashboard

move create config function into rmf-tools
  packages/dashboard/scripts/setup/setup.js
  packages/rmf-tools/lib/setup/create-config.ts
  packages/rmf-tools/lib/setup/index.ts
Due: dashboard

ensure correct file paths for the rest of the options
  package-lock.json
  packages/rmf-tools/lib/setup/get-icons.ts
  packages/rmf-tools/package.json
Due: none

initial commit
  lerna.json
  package-lock.json
  packages/minimal/.env
  packages/minimal/.gitignore
  packages/minimal/README.md
  packages/minimal/package.json
  packages/minimal/public/favicon.ico
  packages/minimal/public/index.html
  packages/minimal/public/logo192.png
  packages/minimal/public/logo512.png
  packages/minimal/public/manifest.json
  packages/minimal/public/robots.txt
  packages/minimal/src/App.css
  packages/minimal/src/App.test.tsx
  packages/minimal/src/App.tsx
  packages/minimal/src/index.css
  packages/minimal/src/index.tsx
  packages/minimal/src/react-app-env.d.ts
  packages/minimal/src/reportWebVitals.ts
  packages/minimal/src/setupTests.ts
  packages/minimal/tsconfig.json
Due: none

fix errors on e2e
  packages/dashboard-e2e/package.json
  packages/dashboard-e2e/wdio.conf.js
  packages/react-components/tsconfig.json
  packages/rmf-tools/lib/setup/get-icons.ts
Due: dashboard, react-components

remove any typing
  packages/rmf-tools/lib/rmf-launcher.ts
Due: none

Refactor/rmf tools (#550)
  lerna.json
  package-lock.json
  packages/dashboard-e2e/package.json
  packages/dashboard-e2e/wdio.conf.js
  packages/dashboard/package.json
  packages/dashboard/scripts/setup/setup.js
  packages/dashboard/scripts/start-rmf.js
  packages/rmf-tools/.gitignore
  packages/rmf-tools/lib/index.ts
  packages/rmf-tools/lib/rmf-launcher.ts
  packages/rmf-tools/lib/setup/create-config.ts
  packages/rmf-tools/lib/setup/get-icons.ts
  packages/rmf-tools/lib/setup/index.ts
  packages/rmf-tools/package.json
  packages/rmf-tools/tsconfig.json
Due: dashboard

infra setup
  packages/minimal/.gitignore
  packages/minimal/package.json
  packages/minimal/scripts/setup/setup.js
  packages/minimal/scripts/start-rmf.js
Due: none

fix workcell panel width
  packages/react-components/lib/workcells/workcell-panel.tsx
Due: react-components

remove sticky header and update table cell variants
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/doors/test-utils.spec.ts
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/map/lifts-overlay.tsx
  packages/react-components/lib/map/robots-overlay.tsx
  packages/react-components/lib/robots/utils.ts
  packages/react-components/lib/tasks/task-phases.tsx
  packages/react-components/lib/tasks/task-timeline.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

add leaflet prop for centering function
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

fix lint errors
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/managers/resource-manager.ts
Due: dashboard

revert imports
  packages/dashboard/src/managers/resource-manager-dispensers.ts
  packages/dashboard/src/managers/resource-manager.ts
Due: dashboard

commit new api client lib version
  packages/api-client/lib/version.ts
Due: none

edit the size of the right panles
  packages/dashboard/src/components/dashboard/dashboard.tsx
Due: dashboard

appbar and icon manager
  packages/minimal/package.json
  packages/minimal/src/App.tsx
  packages/minimal/src/assets/defaultLogo.png
  packages/minimal/src/components/appbar.tsx
  packages/minimal/src/utils/simple-icon-manager.js
Due: none

add event handlers and overlay handlers to schedule visualizer
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/react-components/lib/map/schedule-visualizer.stories.tsx
Due: dashboard, react-components

get place names
  packages/minimal/.env
  packages/minimal/package.json
  packages/minimal/src/App.tsx
  packages/minimal/src/app-config.ts
  packages/minimal/src/components/appbar.tsx
Due: none

revert lint changes in dashboard components
  packages/dashboard/src/components/admin/role-list-page.tsx
  packages/dashboard/src/components/admin/user-profile-page.tsx
  packages/dashboard/src/components/dashboard/dashboard.tsx
Due: dashboard

select place radio form
  packages/minimal/src/App.tsx
  packages/minimal/src/components/task-form.tsx
Due: none

temp removal of traj time control
  packages/react-components/lib/map/trajectory-time-control.tsx
Due: react-components

task and task form infra
  packages/minimal/.env
  packages/minimal/package.json
  packages/minimal/src/app-config.ts
  packages/minimal/src/components/task-form.tsx
Due: none

submit task
  packages/minimal/src/components/task-form.tsx
Due: none

change leaflet context api
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/doors/utils.ts
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/workcells/utils.ts
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

task table
  packages/minimal/src/App.tsx
  packages/minimal/src/components/task-display.tsx
  packages/minimal/src/components/task-form.tsx
Due: none

add readme in rmf-tools and minimal package
  packages/minimal/README.md
  packages/rmf-tools/README.md
Due: none

unit test for minimal app
  packages/minimal/package.json
  packages/minimal/src/App.test.tsx
  packages/minimal/src/App.tsx
  packages/minimal/src/components/task-display.tsx
  packages/minimal/src/components/task-form.tsx
  packages/minimal/src/components/test/appbar.test.tsx
  packages/minimal/src/components/test/task-form.test.tsx
  packages/minimal/src/setupTests.ts
Due: none

github workflow
  .github/workflows/minimal.yml
Due: none

some cleaning up and other stuff
  README.md
  packages/minimal/public/favicon.ico
  packages/minimal/public/index.html
  packages/minimal/src/App.css
  packages/rmf-tools/.gitignore
  packages/rmf-tools/package.json
Due: none

more style changes
  packages/minimal/src/App.css
  packages/minimal/src/components/task-display.tsx
  packages/minimal/src/components/task-form.tsx
Due: none

fix console warning in unit test
  packages/minimal/src/App.test.tsx
Due: none
