Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, api-server

codecov.yml:

coverage:
  status:
    project: false
    patch: false
ignore:
  - packages/rmf-dashboard-framework/examples
  - "**/*.js"
  - "**/*.stories.tsx"
flags:
  dashboard:
    paths:
      - packages/rmf-dashboard-framework
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true

Before demo
  packages/rmf-dashboard-framework/examples/custom-theme/main.tsx
  packages/rmf-dashboard-framework/examples/demo/main.tsx
  packages/rmf-dashboard-framework/src/components/demo/demo.tsx
  packages/rmf-dashboard-framework/src/micro-apps/demo-app.ts
Due: dashboard

Temp cleanup
  packages/api-client/lib/index.ts
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/routes/delivery_alerts.py
  packages/rmf-dashboard-framework/src/services/rmf-api.ts
  packages/rmf-dashboard-framework/src/utils/test-utils.test.tsx
  pnpm-lock.yaml
Due: dashboard, api-server

Deprecate delivery alert model fields and route
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/models/delivery_alerts.py
  packages/api-server/api_server/routes/delivery_alerts.py
Due: api-server

Remove deprecation_message field
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/delivery_alerts.py
Due: api-server

Add default values for Field
  packages/api-server/api_server/models/delivery_alerts.py
Due: api-server

More lint
  packages/api-client/lib/version.ts
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/models/delivery_alerts.py
  packages/api-server/api_server/routes/delivery_alerts.py
Due: api-server

Deprecate router too, add description to route
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/app.py
  packages/api-server/api_server/routes/delivery_alerts.py
Due: api-server

Deprecate delivery alert model fields and route (#1047)
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/delivery_alerts.py
  packages/api-server/api_server/routes/delivery_alerts.py
Due: api-server

Update pnpm lock file to handle patchedDependencies difference
  pnpm-lock.yaml
Due: none

Update pnpm lock file to handle patchedDependencies difference (#1048)
  pnpm-lock.yaml
Due: none

Revert to pnpm official mirror
  .github/minimal-rmf/Dockerfile
  .github/workflows/nightly.yml
Due: none

Run workflows that use minimal-rmf
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml
  .github/workflows/ghpages.yml
  .github/workflows/nightly.yml
  .github/workflows/rmf-dashboard-framework.yml
  .github/workflows/ros-translator.yml
Due: none

Update pnpm lock file again
  pnpm-lock.yaml
Due: none

Test run on ubuntu-latest
  .github/workflows/api-client.yml
Due: none

Use sed in a weird way
  .github/actions/bootstrap/action.yml
  .github/workflows/api-client.yml
Due: none

Test with ubuntu-latest without sed
  .github/actions/bootstrap/action.yml
  .github/workflows/api-client.yml
Due: none

Revert
  .github/actions/bootstrap/action.yml
  .github/workflows/api-client.yml
Due: none

Debug pnpm store-dir
  .github/actions/bootstrap/action.yml
  patches/@react-three__fiber.patch
Due: none

Regenerate lockfile
  pnpm-lock.yaml
Due: none

Check sha
  .github/actions/bootstrap/action.yml
  pnpm-lock.yaml
Due: none

Use nightly images with correct tags
  .github/actions/bootstrap/action.yml
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml
  .github/workflows/rmf-dashboard-framework.yml
  .github/workflows/ros-translator.yml
  pnpm-lock.yaml
Due: none

Update eslint
  eslint.config.mjs
  package.json
  packages/api-client/.eslintignore
  packages/api-client/.eslintrc.js
  packages/api-client/lib/openapi/configuration.ts
  packages/api-client/lib/openapi/index.ts
  packages/api-client/package.json
  packages/rmf-dashboard-framework/package.json
  packages/rmf-dashboard-framework/src/components/tasks/task-form.tsx
  packages/rmf-dashboard-framework/src/components/utils/misc.ts
  packages/rmf-dashboard-framework/src/services/keycloak.ts
  pnpm-lock.yaml
Due: dashboard

Revert updates
  .github/actions/bootstrap/action.yml
  eslint.config.mjs
  package.json
  packages/api-client/.eslintignore
  packages/api-client/.eslintrc.js
  packages/api-client/lib/openapi/configuration.ts
  packages/api-client/lib/openapi/index.ts
  packages/api-client/package.json
  packages/rmf-dashboard-framework/package.json
  packages/rmf-dashboard-framework/src/components/tasks/task-form.tsx
  packages/rmf-dashboard-framework/src/components/utils/misc.ts
  packages/rmf-dashboard-framework/src/services/keycloak.ts
  patches/@react-three__fiber.patch
  pnpm-lock.yaml
Due: dashboard

Test with no frozen lockfile
  .github/actions/bootstrap/action.yml
Due: none

Revert, install devdeps
  .github/actions/bootstrap/action.yml
  package.json
  pnpm-lock.yaml
Due: none

Fix for three map
  packages/rmf-dashboard-framework/vite.config.ts
  packages/rmf-dashboard-framework/vitest.setup.ts
Due: dashboard

Test on jazzy for now
  .github/workflows/api-server.yml
Due: none

Turn off fail fast
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml
  .github/workflows/nightly.yml
  .github/workflows/rmf-dashboard-framework.yml
  .github/workflows/ros-translator.yml
Due: none

Remove unused comment
  packages/rmf-dashboard-framework/vitest.setup.ts
Due: dashboard

Revert to pnpm official mirror (#1049)
  .github/minimal-rmf/Dockerfile
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml
  .github/workflows/ghpages.yml
  .github/workflows/nightly.yml
  .github/workflows/rmf-dashboard-framework.yml
  .github/workflows/ros-translator.yml
  package.json
  packages/rmf-dashboard-framework/vite.config.ts
  packages/rmf-dashboard-framework/vitest.setup.ts
  pnpm-lock.yaml
Due: dashboard

Rebuild minimal-rmf images
  .github/minimal-rmf/Dockerfile
  .github/workflows/nightly.yml
Due: none

Revert nightly build schedule
  .github/workflows/nightly.yml
Due: none

Remove mention of figma, fix dep triggers for workflow
  .github/pull_request_template.md
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml
  .github/workflows/ghpages.yml
  .github/workflows/rmf-dashboard-framework.yml
  .github/workflows/ros-translator.yml
Due: none

Fix ros-translator test
  .github/workflows/ros-translator.yml
Due: none

Fix/ci (#1051)
  .github/minimal-rmf/Dockerfile
  .github/pull_request_template.md
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml
  .github/workflows/ghpages.yml
  .github/workflows/rmf-dashboard-framework.yml
  .github/workflows/ros-translator.yml
Due: none

Removing pnpm start from dashboard framework, since it should not be starting the API server
  README.md
  packages/rmf-dashboard-framework/package.json
Due: dashboard

Update axios
  packages/api-client/package.json
  packages/rmf-dashboard-framework/package.json
  pnpm-lock.yaml
Due: dashboard

Updated deprecated deps
  package.json
  packages/api-client/package.json
  packages/rmf-dashboard-framework/package.json
  pnpm-lock.yaml
Due: dashboard

Migrate eslint configs with changes to ignore unused vars
  eslint.config.mjs
  packages/api-client/.eslintignore
  packages/api-client/.eslintrc.js
  packages/api-client/lib/openapi/index.ts
  packages/rmf-dashboard-framework/src/components/map/layers-controller.test.tsx
  packages/rmf-dashboard-framework/src/components/map/test-utils.test.tsx
  packages/rmf-dashboard-framework/src/components/tasks/task-form.tsx
  packages/rmf-dashboard-framework/src/components/tasks/types/custom-compose.tsx
  packages/rmf-dashboard-framework/src/components/tasks/types/delivery-custom.test.tsx
  packages/rmf-dashboard-framework/src/components/tasks/types/delivery-custom.tsx
  packages/rmf-dashboard-framework/src/components/utils/misc.ts
  packages/rmf-dashboard-framework/src/services/keycloak.ts
Due: dashboard

Fix flaky test where there might be millisecond differences
  packages/rmf-dashboard-framework/src/components/tasks/task-schedule-utils.test.ts
Due: dashboard
