Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth, task-scheduler

remove unused imports
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

change dashboard component from root to Styledxxx
  packages/dashboard/src/components/admin/page-css.ts
  packages/dashboard/src/components/admin/role-list-page.tsx
  packages/dashboard/src/components/admin/user-list-page.tsx
  packages/dashboard/src/components/admin/user-profile-page.tsx
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/drawers/drawer-header.tsx
  packages/dashboard/src/components/loading-screen.tsx
  packages/dashboard/src/components/tasks/task-panel.tsx
Due: dashboard

use typescript composite projects
  package-lock.json
  packages/api-client/package.json
  packages/api-client/tsconfig.json
  packages/api-server/package.json
  packages/dashboard-e2e/package.json
  packages/dashboard/package.json
  packages/dashboard/src/components/admin/user-list-card.tsx
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/dashboard/src/components/tasks/tests/task-panel.test.tsx
  packages/dashboard/src/stories/task-panel.stories.tsx
  packages/react-components/package.json
  packages/react-components/scripts/build.js
  packages/react-components/tsconfig.build.json
  packages/react-components/tsconfig.json
  packages/reporting-e2e/package.json
  packages/reporting/package.json
  packages/rmf-auth/package.json
  packages/rmf-auth/tsconfig.json
  packages/rmf-models/package.json
  packages/rmf-models/tsconfig.json
  packages/ros-translator/package.json
Due: dashboard, react-components, api-server, reporting, rmf-auth

use noEmit to build typescript dependencies
  packages/dashboard/package.json
  packages/dashboard/src/components/drawers/tests/settings-drawer.test.tsx
  packages/dashboard/tsconfig.json
  packages/reporting/package.json
  packages/reporting/tsconfig.json
Due: dashboard, reporting

build typescript before storybook
  packages/dashboard/package.json
  packages/react-components/package.json
  packages/reporting/package.json
  packages/rmf-auth/package.json
Due: dashboard, react-components, reporting, rmf-auth

reference rmf-models in api-client
  packages/api-client/tsconfig.json
Due: none

fix path
  packages/api-client/tsconfig.json
Due: none

change to hooks, use map from ref instead
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/util/common-subscriptions.ts
  packages/react-components/lib/map/map.tsx
  packages/react-components/lib/robots/robot-panel.spec.tsx
  packages/react-components/lib/robots/robot-panel.tsx
Due: dashboard, react-components

run scripts topologically
  .github/workflows/react-components.yml
  packages/dashboard/package.json
  packages/react-components/package.json
  packages/reporting/package.json
  packages/rmf-auth/package.json
  scripts/build-deps.sh
  scripts/symlink-packages.js
  scripts/workspace-args.js
Due: dashboard, react-components, reporting, rmf-auth

use export instead of setting leafletmap
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/react-components/lib/map/map.tsx
Due: dashboard, react-components

remove unused variables
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/react-components/lib/map/map.tsx
Due: dashboard, react-components

add bootstrap script
  .github/workflows/react-components.yml
  package-lock.json
  scripts/bootstrap.sh
  scripts/build-deps.sh
Due: none

use bootstrap
  .github/actions/dashboard-e2e/action.yml
  .github/actions/reporting-e2e/action.yml
  .github/workflows/api-server.yml
  .github/workflows/dashboard.yml
  .github/workflows/react-components.yml
  .github/workflows/reporting-server.yml
  .github/workflows/reporting.yml
  .github/workflows/rmf-auth.yml
  .github/workflows/ros-translator.yml
Due: none

remove lerna; pin prettier
  .npmrc
  package.json
Due: none

pin storybook and move it to the root dir as the storybook build process is very broken
  package-lock.json
  package.json
  packages/dashboard-e2e/package-lock.json
  packages/dashboard/package.json
  packages/react-components/package.json
  packages/react-components/tsconfig.json
  packages/reporting/package.json
  packages/rmf-auth/package.json
Due: dashboard, react-components, reporting, rmf-auth

add typescript to root to force storybook to use the correct version
  package-lock.json
  package.json
Due: none

gave up and use legacy peer deps
  .npmrc
  package-lock.json
  package.json
  packages/dashboard/package.json
  packages/react-components/package.json
  packages/reporting/package.json
  packages/rmf-auth/package.json
  pipenv-install/package.json
Due: dashboard, react-components, reporting, rmf-auth

remove publishConfig.directory
  packages/react-components/package.json
  packages/rmf-auth/package.json
Due: react-components, rmf-auth

temp install latest npm in workflow until e2e image is updated
  .github/workflows/api-server.yml
  .github/workflows/dashboard.yml
  .github/workflows/reporting-server.yml
  .github/workflows/reporting.yml
  .github/workflows/ros-translator.yml
Due: none

update npm
  example-deployment/docker/builder.Dockerfile
Due: none

fix path
  .github/actions/reporting-e2e/action.yml
  .github/workflows/api-server.yml
  .github/workflows/dashboard.yml
Due: none

fix build script
  .github/workflows/rmf-auth.yml
Due: none

fix build
  packages/rmf-auth/package.json
  packages/rmf-auth/tsconfig.json
Due: rmf-auth

add removed script
  pipenv-install/package.json
Due: none

fix invalid version
  .npmrc
  package-lock.json
  packages/api-server/package.json
  packages/reporting-server/package.json
  packages/ros-translator/package.json
  pipenv-install/package.json
Due: api-server, reporting, reporting-server

revert some of the version changes; try adding pipenv-install to list of workspaces
  package.json
  packages/api-server/package.json
  packages/ros-translator/package.json
  pipenv-install/package.json
Due: api-server

package-lock
  package-lock.json
Due: none

which jasmine resolution
  packages/ros-translator/ros_translator/typescript/test/test.sh
Due: none

remove build-deps
  .github/workflows/dashboard.yml
  packages/dashboard/package.json
  packages/reporting/package.json
  scripts/build-deps.sh
Due: dashboard, reporting

@types/react@16.9.x do not support react@16.14.x. Do not pin @types/react, instead fix errors in code with casting
  package-lock.json
  packages/dashboard/package.json
  packages/react-components/lib/ant-tab.tsx
  packages/react-components/package.json
  packages/reporting/package.json
  packages/rmf-auth/package.json
Due: dashboard, react-components, reporting, rmf-auth

fix local path specifiers
  packages/dashboard-e2e/package.json
  packages/dashboard/package.json
  packages/reporting-e2e/package.json
  packages/reporting/package.json
Due: dashboard, reporting

build typescript before test
  packages/dashboard/package.json
  packages/reporting/package.json
Due: dashboard, reporting

install latest npm for e2e tests
  .github/actions/dashboard-e2e/action.yml
  .github/actions/reporting-e2e/action.yml
Due: none

install npm before bootstrap
  .github/actions/reporting-e2e/action.yml
Due: none

update themes provider
  package-lock.json
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/react-components/lib/map/doors-overlay.tsx
  packages/react-components/lib/map/hooks.ts
  packages/react-components/lib/map/index.tsx
  packages/react-components/lib/map/lifts-overlay.tsx
  packages/react-components/lib/map/map.tsx
  packages/react-components/lib/map/robots-overlay.tsx
  packages/react-components/lib/map/schedule-visualizer.stories.tsx
  packages/react-components/lib/map/svg-overlay.tsx
  packages/react-components/lib/map/trajectories-overlay.tsx
  packages/react-components/lib/map/waypoints-overlay.tsx
  packages/react-components/lib/map/workcells-overlay.tsx
  packages/react-components/lib/themes/rmf-dark.tsx
  packages/react-components/lib/themes/theme-provider.tsx
  packages/react-components/package.json
Due: dashboard, react-components

update docs
  README.md
  package-lock.json
  packages/api-server/README.md
  packages/reporting-server/README.md
  pipenv-install/README.md
Due: api-server, reporting, reporting-server

handle unclosed socket ResourceWarning errors from race conditions due to python requests keep-alive model
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/api_server/test_fast_io.py
  packages/api-server/api_server/test_sio_auth.py
Due: api-server

set up basic infra
  package-lock.json
  packages/minimal/package.json
  packages/minimal/scripts/start-rmf.js
  shared-scripts/.rmf/web_server.log
  shared-scripts/rmf-launcher.js
Due: none

test: fix ResourceWarning errors in tests (#544)
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/api_server/test_fast_io.py
  packages/api-server/api_server/test_sio_auth.py
Due: api-server

set up minimal app
  lerna.json
  package-lock.json
  packages/minimal/.gitignore
  packages/minimal/README.md
  packages/minimal/package.json
  packages/minimal/public/favicon.ico
  packages/minimal/public/index.html
  packages/minimal/public/logo192.png
  packages/minimal/public/logo512.png
  packages/minimal/public/manifest.json
  packages/minimal/public/robots.txt
  packages/minimal/scripts/start-rmf.js
  packages/minimal/src/App.css
  packages/minimal/src/App.test.tsx
  packages/minimal/src/App.tsx
  packages/minimal/src/index.css
  packages/minimal/src/index.tsx
  packages/minimal/src/logo.svg
  packages/minimal/src/react-app-env.d.ts
  packages/minimal/src/reportWebVitals.ts
  packages/minimal/src/setupTests.ts
  packages/minimal/tsconfig.json
  packages/minimal/yarn.lock
Due: none

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  reporting: any of: packages/reporting
  reporting-server: any of: packages/reporting-server
  rmf-auth: any of: packages/rmf-auth
  task-scheduler: any of: packages/task-scheduler
