Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

Show up robot summary when user click robot row (#706)
  packages/dashboard/src/components/robots/robot-summary.tsx
  packages/dashboard/src/components/robots/robots-app.tsx
  packages/dashboard/src/components/robots/robots-workspace.tsx
Due: dashboard

api-server, use requester instead of initiator for task_request and task_state
  packages/api-server/api_server/models/rmf_api/task_request.py
  packages/api-server/api_server/models/rmf_api/task_state.py
Due: api-server

Initiator to Requester
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/repositories/tasks.py
  packages/dashboard/src/components/tasks/utils.ts
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components, api-server

Update api-client
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

Using N/A instead of unknown for fields
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components

pylint
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Fix aria label text in create task test
  packages/dashboard-e2e/tests/ui-interactions/create-task-from-any-tab.test.ts
Due: dashboard

Adding arial label
  packages/dashboard/src/components/doors-app.tsx
Due: dashboard

Fix text name according to the tabname
  packages/dashboard-e2e/tests/ui-interactions/create-task-from-any-tab.test.ts
Due: dashboard

Add e2e to test door behavior
  packages/dashboard-e2e/tests/ui-interactions/door-controls.test.ts
Due: dashboard

Remove blank line
  packages/dashboard-e2e/tests/ui-interactions/door-controls.test.ts
Due: dashboard

Simple icon button and menu for alert list, fix double quotes to single quotes
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Number of alerts reflected
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Only displaying number of unacknowledged alerts
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Remove unnecessary prop and import
  packages/react-components/lib/lifts/lift-card.tsx
Due: react-components

Rename component to be more specific. LiftTableRow insted of LiftCards
  packages/dashboard/src/components/lifts-app.tsx
Due: dashboard

Rename infrastructure label to Map according to Figma
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Add more space between Door state text and arrow icons
  packages/dashboard/src/components/lifts-app.tsx
Due: dashboard

Add interface to containe DoorTableRow component props
  packages/dashboard/src/components/doors-app.tsx
Due: dashboard

Using N/A insted of Unknown string when value could be undefined
  packages/dashboard/src/components/lifts-app.tsx
Due: dashboard

Single quote is used insted of double quote
  packages/dashboard/src/components/lifts-app.tsx
Due: dashboard

Husky precommit fix
  packages/dashboard/src/components/lifts-app.tsx
Due: dashboard

System overview tab (#708)
  packages/dashboard-e2e/tests/ui-interactions/create-task-from-any-tab.test.ts
  packages/dashboard-e2e/tests/ui-interactions/door-controls.test.ts
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/dashboard.tsx
  packages/dashboard/src/components/doors-app.tsx
  packages/dashboard/src/components/lifts-app.tsx
  packages/dashboard/src/components/robots/robots-workspace.tsx
  packages/react-components/lib/lifts/lift-controls.tsx
  packages/react-components/lib/lifts/lift-utils.ts
Due: dashboard, react-components

Refactored task and robot alerts, without any additional stores
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/robots/robot-alert.tsx
  packages/dashboard/src/components/tasks/task-alert.tsx
Due: dashboard

Cleaned up robot alerts, all robot alerts commented out for now
  packages/dashboard/src/components/robots/robot-alert.tsx
Due: dashboard

Setting refresh alert count in a single call as app event
  packages/dashboard/src/components/alert-store.tsx
Due: dashboard

Stop handling robot errors for now in api-server
  packages/api-server/api_server/routes/internal.py
Due: api-server

Show RobotSummary after Robot icon click
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Re-introduced robot alerts, with tooltips and made menu items nicer
  packages/api-server/api_server/routes/internal.py
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/appbar.tsx
Due: dashboard, api-server

Showing only unacknowledged alerts, as we have no way to get numbers or filter without getting the entire list of alerts
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Fix circular state changes by using useRef, updated robot alert self ack to pub the fresh ack alert
  packages/api-server/api_server/routes/internal.py
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/appbar.tsx
Due: dashboard, api-server

Removed robot alert implementations, cleaned up unused imports
  packages/api-server/api_server/routes/internal.py
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/robots/robot-alert.tsx
Due: dashboard, api-server

Remove commented ack components for the alert list
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Adding inspect button to task alert dialog, which opens TaskInspector
  packages/dashboard/src/components/tasks/task-alert.tsx
  packages/react-components/lib/alert-dialog.tsx
Due: dashboard, react-components

Clean up and lint
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Remove commented lines
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Show Robot summary after clic robot icon (#709)
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Refactoring categorizing alerts since we only have task alerts now, and using Object.entries more
  packages/dashboard/src/components/alert-store.tsx
Due: dashboard

Removing region tags for task creation
  packages/dashboard/src/components/appbar.tsx
Due: dashboard
