Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

Point to RIO page
  README.md
Due: none

migrate to vitest
  packages/api-client/lib/index.spec.ts
  packages/api-client/package.json
  packages/api-client/spec/helpers/typescript.js
  packages/api-client/spec/support/jasmine.json
  packages/api-client/tsconfig.json
  pnpm-lock.yaml
Due: none

migrate to vitest
  packages/react-components/lib/alert-dialog.spec.tsx
  packages/react-components/lib/confirmation-dialog.spec.tsx
  packages/react-components/lib/header-bar.spec.tsx
  packages/react-components/lib/lifts/lift-request-dialog.spec.tsx
  packages/react-components/lib/logo-button.spec.tsx
  packages/react-components/lib/navigation-bar.spec.tsx
  packages/react-components/lib/robots/mutex-group-table.spec.tsx
  packages/react-components/lib/robots/robot-table-datagrid.spec.tsx
  packages/react-components/lib/tasks/task-schedule-event-edit-delete-popup.spec.tsx
  packages/react-components/lib/tasks/task-table-datagrid.spec.tsx
  packages/react-components/lib/transfer-list.spec.tsx
  packages/react-components/package.json
  packages/react-components/tsconfig.json
  packages/react-components/vite.config.ts
  pnpm-lock.yaml
Due: react-components

add coverage
  packages/react-components/package.json
  pnpm-lock.yaml
Due: react-components

update storybook
  packages/react-components/.storybook/main.ts
  packages/react-components/lib/Introduction.stories.mdx
  packages/react-components/package.json
  pnpm-lock.yaml
Due: react-components

add missing peer dep
  packages/dashboard/package.json
  packages/react-components/package.json
  pnpm-lock.yaml
Due: dashboard, react-components

skip building storybook in ci
  .github/workflows/react-components.yml
Due: none

fix lint
  packages/react-components/lib/transfer-list.spec.tsx
Due: react-components

add storybook linting
  eslint.config.js
  eslint.config.mjs
  package.json
  packages/dashboard/package.json
  packages/react-components/package.json
  packages/react-components/webpack.config.js
  packages/rmf-auth/package.json
  pnpm-lock.yaml
Due: dashboard, react-components, rmf-auth

Update main readme gif
  README.md
Due: none

Mention rmf-web-dashboard-resources branch in dashboard config setup docs
  packages/dashboard/README.md
Due: dashboard

Update default map zoom to fit office world, and fix circle shape robot rotation
  packages/dashboard/src/managers/resource-manager.ts
  packages/react-components/lib/map/circle-shape.tsx
Due: dashboard, react-components

cleanup jest stuff
  packages/react-components/jest.config.ts
  packages/react-components/package.json
Due: react-components

Update default map zoom to fit office world, and fix circle shape robot rotation (#978)
  packages/dashboard/src/managers/resource-manager.ts
  packages/react-components/lib/map/circle-shape.tsx
Due: dashboard, react-components

address review comments
  packages/dashboard/app-config.json
  packages/dashboard/src/components/map-app.tsx
  pnpm-lock.yaml
Due: dashboard

fix fonts
  packages/dashboard/src/components/three-fiber/lift-three.tsx
Due: dashboard

Update README.md
  README.md
Due: none

Update docs (#970)
  README.md
  packages/dashboard/README.md
  packages/dashboard/src/managers/resource-manager.ts
Due: dashboard

fix some deps issues
  packages/api-client/package.json
  packages/dashboard/README.md
  packages/dashboard/package.json
  packages/dashboard/src/components/admin/page-css.ts
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/tests/test-utils.tsx
  packages/dashboard/src/managers/resource-manager.ts
  packages/react-components/lib/utils/item-table.tsx
  packages/react-components/lib/window/window.tsx
  packages/react-components/package.json
  pnpm-lock.yaml
Due: dashboard, react-components

update docs
  packages/dashboard/README.md
  pnpm-lock.yaml
Due: dashboard

use woff 1
  packages/dashboard/src/components/three-fiber/lift-three.tsx
  packages/dashboard/src/components/three-fiber/robot-three.tsx
Due: dashboard

example points directly to github
  packages/dashboard/README.md
Due: dashboard

add link to rmf demos resource
  packages/dashboard/README.md
Due: dashboard

Add admin and custom tabs back and make it configurable
  packages/dashboard/app-config.json
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Update node to 18 and keycloak-js to 23.0.1
  packages/dashboard/package.json
  packages/rmf-auth/package.json
  pnpm-lock.yaml
Due: dashboard, rmf-auth

Update to node 18 and kc 22.0.5
  .github/actions/bootstrap/action.yml
  packages/dashboard/package.json
  packages/rmf-auth/package.json
  pnpm-lock.yaml
Due: dashboard, rmf-auth

Use pnpm 9.4.0
  .github/actions/bootstrap/action.yml
Due: none

Update canvas to 2.11.2
  packages/dashboard/package.json
  pnpm-lock.yaml
Due: dashboard

Using new constructor for kc
  packages/rmf-auth/lib/keycloak.ts
Due: rmf-auth

designate using legacy openssl provider
  .github/workflows/dashboard.yml
Due: none

Setting env in correct place, update readme
  .github/workflows/dashboard.yml
  README.md
Due: none

Add admin and custom tabs back and make it configurable (#969)
  packages/dashboard/app-config.json
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Hammer humble/update kc (#979)
  .github/actions/bootstrap/action.yml
  .github/workflows/dashboard.yml
  README.md
  packages/dashboard/package.json
  packages/rmf-auth/lib/keycloak.ts
  packages/rmf-auth/package.json
  pnpm-lock.yaml
Due: dashboard, rmf-auth

Bump versions to 1.0.0
  packages/api-client/package.json
  packages/api-server/package.json
  packages/api-server/setup.py
  packages/dashboard-e2e/package.json
  packages/dashboard/package.json
  packages/react-components/package.json
  packages/rmf-auth/package.json
  packages/rmf-models/package.json
  packages/ros-translator/package.json
  packages/ros-translator/ros_translator/test/ros_translator_test_msgs/package.xml
  packages/ros-translator/setup.py
  pipenv-install/package.json
Due: dashboard, react-components, api-server, rmf-auth

Remove beacons micro-app as default
  packages/dashboard/src/components/robots/robots-workspace.tsx
Due: dashboard

Fix custom compose failing check due to empty string
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

To version 0.1.0 instead
  packages/api-client/package.json
  packages/api-server/package.json
  packages/api-server/setup.py
  packages/dashboard/package.json
  packages/react-components/package.json
  packages/rmf-auth/package.json
  packages/rmf-models/package.json
  packages/ros-translator/package.json
  packages/ros-translator/ros_translator/test/ros_translator_test_msgs/package.xml
  packages/ros-translator/setup.py
  pipenv-install/package.json
Due: dashboard, react-components, api-server, rmf-auth

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
