Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, ros2-bridge, api-server

update dockerfiles
  .github/workflows/api-server.yml
  packages/dashboard/e2e/docker/e2e/Dockerfile
  packages/dashboard/e2e/docker/rmf/Dockerfile
Due: dashboard

ci: update dockerfiles (#250)
  .github/workflows/api-server.yml
  packages/dashboard/e2e/docker/e2e/Dockerfile
  packages/dashboard/e2e/docker/rmf/Dockerfile
Due: dashboard

jest to jasmine
  packages/react-components/tests/notifications-dialog.spec.tsx
  packages/react-components/tests/systems-summary/systems-summary-alert.spec.tsx
  packages/react-components/tests/systems-summary/systems-summary-banner.spec.tsx
  packages/react-components/tests/systems-summary/systems-summary-item-state.spec.tsx
  packages/react-components/tests/systems-summary/systems-summary-robot-state.spec.tsx
  packages/react-components/tests/systems-summary/systems-summary-spoilt-items.spec.tsx
  packages/react-components/tests/systems-summary/systems-summary-task-state.spec.tsx
Due: react-components

remove commands panel
  packages/dashboard/e2e/tests/delivery-request.test.ts
  packages/dashboard/e2e/tests/loop-request.test.ts
  packages/dashboard/src/components/dashboard/commands-panel.tsx
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/tests/commands-panel.test.tsx
  packages/dashboard/src/components/dashboard/tour/tests/__snapshots__/tour.test.tsx.snap
  packages/dashboard/src/components/dashboard/tour/tests/tour.test.tsx
  packages/dashboard/src/components/dashboard/tour/tour-data.tsx
  packages/dashboard/src/components/dashboard/tour/tour-manager.tsx
Due: dashboard

chore: fix rmf-launcher with new open-rmf repos
  packages/dashboard/rmf-launcher.ts
Due: dashboard

remove commands from main menu
  packages/dashboard/src/components/dashboard/main-menu.tsx
Due: dashboard

fix e2e tests
  packages/dashboard/e2e/tests/negotiations.test.ts
  packages/dashboard/e2e/tests/task-summary.test.ts
  packages/dashboard/e2e/tests/utils.ts
  packages/dashboard/src/components/schedule-visualizer/robot-trajectories-overlay.tsx
Due: dashboard

remove alert-snack-bar from coverage
  packages/dashboard/package.json
  packages/dashboard/src/components/__trash/README.md
  packages/dashboard/src/components/__trash/alert-snack-bar.tsx
  packages/dashboard/src/stories/baseComponents/alert-snack-bar-component.tsx
Due: dashboard

remove unneeded casts
  packages/dashboard/src/components/dashboard/wip-main-menu-plusplus.tsx
Due: dashboard

make ItemSummary generic
  packages/dashboard/src/components/dashboard/wip-main-menu-plusplus.tsx
  packages/dashboard/src/managers/rmf-health-state-manager.ts
  packages/react-components/lib/systems-summary/systems-summary-item-state.tsx
Due: dashboard, react-components

add react-mosaic-component and minimal route
  packages/dashboard/package-lock.json
  packages/dashboard/package.json
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/layout-manager/building-map-window.tsx
  packages/dashboard/src/components/layout-manager/layout-manager.css
  packages/dashboard/src/components/layout-manager/layout-manager.tsx
  packages/dashboard/src/util/url.ts
Due: dashboard

initaliza search and filter
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/react-components/lib/index.ts
  packages/react-components/lib/simple-search.tsx
Due: dashboard, react-components

change search rendering logic
  packages/dashboard/src/components/dashboard/dashboard.tsx
Due: dashboard

add a clear search term button
  packages/react-components/lib/simple-search.tsx
Due: react-components

rename rmf_demos to demos due a change of rmf_demos project
  packages/dashboard/rmf-launcher.ts
Due: dashboard

build(dashboard):fix build
  packages/dashboard/src/managers/rmf-health-state-manager.ts
Due: dashboard

onChange typing
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/react-components/lib/simple-search.tsx
Due: dashboard, react-components

increase timeout
  packages/dashboard/e2e/tests/negotiations.test.ts
Due: dashboard

remove tiny css file and replace with css-in-js for layout-manager
  packages/dashboard/src/components/layout-manager/layout-manager.css
  packages/dashboard/src/components/layout-manager/layout-manager.tsx
Due: dashboard

add delete search term
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/react-components/lib/simple-search.tsx
Due: dashboard, react-components

close omnipanel to prevent it from intercepting the clicks, also tests if the omnipanel auto opens
  packages/dashboard/e2e/tests/ui-interactions.test.ts
  packages/dashboard/src/components/dashboard/dashboard.tsx
Due: dashboard

increase timeout even more
  packages/dashboard/e2e/tests/negotiations.test.ts
Due: dashboard

5min timeout
  packages/dashboard/e2e/tests/negotiations.test.ts
Due: dashboard

simple search story
  packages/react-components/lib/simple-search.tsx
  packages/react-components/stories/simple-search.stories.tsx
Due: react-components

feat(dashboard): remove commands panel (#264)
  packages/dashboard/e2e/tests/delivery-request.test.ts
  packages/dashboard/e2e/tests/loop-request.test.ts
  packages/dashboard/e2e/tests/negotiations.test.ts
  packages/dashboard/e2e/tests/task-summary.test.ts
  packages/dashboard/e2e/tests/ui-interactions.test.ts
  packages/dashboard/e2e/tests/utils.ts
  packages/dashboard/src/components/dashboard/commands-panel.tsx
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/main-menu.tsx
  packages/dashboard/src/components/dashboard/tests/commands-panel.test.tsx
  packages/dashboard/src/components/dashboard/tour/tests/__snapshots__/tour.test.tsx.snap
  packages/dashboard/src/components/dashboard/tour/tests/tour.test.tsx
  packages/dashboard/src/components/dashboard/tour/tour-data.tsx
  packages/dashboard/src/components/dashboard/tour/tour-manager.tsx
  packages/dashboard/src/components/schedule-visualizer/robot-trajectories-overlay.tsx
Due: dashboard

test that DEAD takes precedence over more recent UNHEALTHY status
  packages/api-server/api_server/rmf_io/operators/test_health.py
Due: api-server

follow examples when renaming operators to ops
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/operators/health.py
  packages/api-server/api_server/rmf_io/operators/test_health.py
Due: api-server

add health watcher for lift mode
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/test_health_watchdog.py
Due: api-server

add unit tests
  packages/react-components/lib/simple-search.tsx
  packages/react-components/tests/simple-search.spec.tsx
Due: react-components

monitor robot mode
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/test_health_watchdog.py
Due: api-server

add dispenser mode monitoring
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/test_health_watchdog.py
Due: api-server

add docs to json_mixin
  packages/api-server/api_server/models/json_mixin.py
Due: api-server

remove rmf repo, use models directly
  .pylintrc
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/dispenser_state.py
  packages/api-server/api_server/models/door.py
  packages/api-server/api_server/models/door_state.py
  packages/api-server/api_server/models/fleet_state.py
  packages/api-server/api_server/models/health.py
  packages/api-server/api_server/models/ingestor_state.py
  packages/api-server/api_server/models/json_model.py
  packages/api-server/api_server/models/lift_state.py
  packages/api-server/api_server/repositories/__init__.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/repositories/sql.py
  packages/api-server/api_server/repositories/test_sql.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/gateway.py
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/operators/grouped_sample.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
Due: api-server

add grouped_sample test
  packages/api-server/api_server/rmf_io/operators/__init__.py
  packages/api-server/api_server/rmf_io/operators/test_grouped_sample.py
Due: api-server

remove disabled and x button, add divider and update stories and tests
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/react-components/lib/simple-search.tsx
  packages/react-components/stories/simple-search.stories.tsx
  packages/react-components/tests/simple-search.spec.tsx
Due: dashboard, react-components

add ingestor state
  packages/api-server/api_server/app.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/gateway.py
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/rmf_io.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/rmf_io/test_data/__init__.py
  packages/api-server/api_server/rmf_io/test_health_watchdog.py
  packages/api-server/api_server/rmf_io/test_rmf_io.py
  packages/api-server/api_server/rmf_io/topics.py
  packages/api-server/api_server/rmf_io/transport.py
Due: api-server

add logging category to book keeper
  packages/api-server/api_server/app.py
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/default_config.py
  packages/api-server/api_server/rmf_io/book_keeper.py
Due: api-server

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  ros2-bridge: any of: packages/ros2-bridge
  api-server: any of: packages/api-server
