Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

Adding routes for Task Favorites, get and create
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Change favorite task id as a char field with uuid as default value
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/rmf_api/task_favorite.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Add update icon in favorite task
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Changing id field as int type
  packages/api-server/api_server/models/tortoise_models/tasks.py
Due: api-server

Generating rest api client
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

Adjusting width size as lg -Get favorites tasks as prop and call Favorite component to render lists of tasks
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Update or create favorite task method has been added
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Controling if value is not null and saving directly in db
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Remove unnecessary favoriteTaskselected state and use the main state instead
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Changing button name from Editing to Confirm edits when user is editing his favorite task
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Resolving merge conflict
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Task Favorite model has been added
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
Due: api-server

Favorite task component has been added
  packages/react-components/lib/tasks/favorite-task.tsx
Due: react-components

Change user json field as char field
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/rmf_api/task_favorite.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Update description and category in handle description change input
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Adding sucess message according to action and setting taskrequest to default values after Delete
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Show the correct message when user is editing his favorte task
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Change id data type in get_favorite_task_by_id function
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Assign variable as TaskFavorite before return it
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Add missing argument - user field
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Disallow trailing comma tuple
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Change param name from id to favorite_task_id - Redefining built-in 'id'
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard, api-server

Sanity check that it is indeed the string getting spliced, check only time
  packages/react-components/lib/robots/robot-info.spec.tsx
  packages/react-components/lib/robots/robot-table.spec.tsx
Due: react-components

Reverting changes, selecting timezone for running karma
  packages/react-components/karma.conf.js
  packages/react-components/lib/robots/robot-info.spec.tsx
  packages/react-components/lib/robots/robot-table.spec.tsx
Due: react-components

Checking nodes and child nodes for text
  packages/react-components/lib/robots/robot-info.spec.tsx
Due: react-components

Applying changes to task-timeline and robot-table
  packages/react-components/lib/robots/robot-info.spec.tsx
  packages/react-components/lib/robots/robot-table.spec.tsx
  packages/react-components/lib/tasks/task-timeline.spec.tsx
Due: react-components

Expect robot-info spec to fail
  packages/react-components/lib/robots/robot-info.spec.tsx
Due: react-components

Expect robot-table and task-timeline specs to fail
  packages/react-components/lib/robots/robot-table.spec.tsx
  packages/react-components/lib/tasks/task-timeline.spec.tsx
Due: react-components

Check text in node immediately within root, and not the children nodes
  packages/react-components/lib/robots/robot-info.spec.tsx
  packages/react-components/lib/robots/robot-table.spec.tsx
  packages/react-components/lib/tasks/task-timeline.spec.tsx
Due: react-components

Follow the convention and use mdl instead of TaskFavorite directly
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Change the state names to be more specific and remove the validateFavoriteTitle function since it can be implemented in its call
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Use screen and toBeTruthy instead of root and not.toThrow
  packages/react-components/lib/robots/robot-info.spec.tsx
  packages/react-components/lib/robots/robot-table.spec.tsx
  packages/react-components/lib/tasks/task-timeline.spec.tsx
Due: react-components

Change the saving state name to be more specific
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Change favoriteTask state name to favoriteTaskBuffer
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Revert back to not.toThrow which is the correct test for getByText, and revert back to checking nodes and child nodes
  packages/react-components/lib/robots/robot-info.spec.tsx
  packages/react-components/lib/robots/robot-table.spec.tsx
  packages/react-components/lib/tasks/task-timeline.spec.tsx
Due: react-components

Add a comment pointing to the existing issue on testing-library, to be resolved in the future
  packages/react-components/lib/robots/robot-info.spec.tsx
  packages/react-components/lib/robots/robot-table.spec.tsx
  packages/react-components/lib/tasks/task-timeline.spec.tsx
Due: react-components

Increase timeout for asyncio calls to 5 seconds
  packages/api-server/api_server/rmf_io/rmf_service.py
Due: api-server

Fix clicking on tasks without logs for task logs app
  packages/dashboard/src/components/tasks/task-logs-app.tsx
  packages/dashboard/src/components/tasks/task-logs.tsx
Due: dashboard

Updating testing-library/*
  packages/dashboard/package.json
  packages/react-components/package.json
  packages/rmf-auth/package.json
  pnpm-lock.yaml
Due: dashboard, react-components, rmf-auth

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
