Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, ros2-bridge, api-server, reporting, rmf-auth

use react customizable progress bar package for circular progress bar
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/package.json
Due: react-components

group tests
  packages/e2e/tests/door-request.test.ts
  packages/e2e/tests/filtering.test.ts
  packages/e2e/tests/ui-interactions.test.ts
Due: none

change color of progress bar and add in task state
  packages/dashboard/package.json
  packages/react-components/lib/robots/robot-info.tsx
Due: dashboard, react-components

change file path in script
  packages/e2e/scripts/test-e2e.js
Due: none

use pydantic health
  packages/api-server/api_server/models/dispensers.py
  packages/api-server/api_server/models/doors.py
  packages/api-server/api_server/models/fleets.py
  packages/api-server/api_server/models/health.py
  packages/api-server/api_server/models/ingestors.py
  packages/api-server/api_server/models/lifts.py
  packages/api-server/api_server/models/tortoise_models/health.py
  packages/api-server/api_server/models/tortoise_models/health_status_mixin.py
  packages/api-server/api_server/models/tortoise_models/pydantic_mixins.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/operators/test_health.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/lifts.py
Due: api-server

add querying lists of values for some fields
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

revert api-server
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/test/fast_io_app.py
Due: api-server

add get robots endpoint
  packages/api-server/api_server/models/fleets.py
  packages/api-server/api_server/models/tortoise_models/fleet_state.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_fleets.py
Due: api-server

modify get resource script
  packages/.resources.json
  packages/e2e/scripts/get-resources-location.js
Due: none

update api-client
  packages/api-client/lib/openapi/apis/building-api.ts
  packages/api-client/lib/openapi/apis/dispensers-api.ts
  packages/api-client/lib/openapi/apis/doors-api.ts
  packages/api-client/lib/openapi/apis/fleets-api.ts
  packages/api-client/lib/openapi/apis/ingestors-api.ts
  packages/api-client/lib/openapi/apis/lifts-api.ts
  packages/api-client/lib/openapi/apis/tasks-api.ts
  packages/api-client/lib/openapi/models/api-server-models-tortoise-models-health-door-health-leaf.ts
  packages/api-client/lib/openapi/models/api-server-models-tortoise-models-health-lift-health-leaf.ts
  packages/api-client/lib/openapi/models/basic-health.ts
  packages/api-client/lib/openapi/models/index.ts
  packages/api-client/lib/openapi/models/robot.ts
  packages/api-client/lib/version.ts
Due: none

use Task interface to retrieve task progress for robot
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/robots/utils.ts
Due: react-components

handle different working dir
  packages/dashboard/scripts/setup/get-icons.js
  packages/e2e/scripts/test-e2e.js
Due: dashboard

shift task test into ui-interaction test
  packages/e2e/tests/tasks.test.ts
  packages/e2e/tests/ui-interactions.test.ts
Due: none

update circular compon^Ct, robot page and add smoke test
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/react-components/lib/circular-progress-bar.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/stories/circular-progress-bar.stories.tsx
  packages/react-components/tests/circular-progress-bar.spec.tsx
  packages/react-components/tests/robots/robot-info.spec.tsx
  packages/react-components/tests/robots/robot-panel.spec.tsx
  packages/react-components/tests/test-data/tasks.ts
Due: dashboard, react-components

update api client imports
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/robots/utils.ts
Due: react-components

refactor with api server changes
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/lib/robots/robot-table.tsx
Due: dashboard, react-components

notifications dialog moment to date-fns
  packages/react-components/lib/notifications-dialog.tsx
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/stories/notifications-dialog.stories.tsx
Due: react-components

fix breaking tests
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/tests/robots/robot-panel.spec.tsx
  packages/react-components/tests/test-data/tasks.ts
Due: dashboard, react-components

Revert "update api-client"
  packages/api-client/lib/openapi/apis/building-api.ts
  packages/api-client/lib/openapi/apis/dispensers-api.ts
  packages/api-client/lib/openapi/apis/doors-api.ts
  packages/api-client/lib/openapi/apis/fleets-api.ts
  packages/api-client/lib/openapi/apis/ingestors-api.ts
  packages/api-client/lib/openapi/apis/lifts-api.ts
  packages/api-client/lib/openapi/apis/tasks-api.ts
  packages/api-client/lib/openapi/models/api-server-models-tortoise-models-health-basic-health-model-leaf.ts
  packages/api-client/lib/openapi/models/api-server-models-tortoise-models-health-door-health-leaf.ts
  packages/api-client/lib/openapi/models/basic-health.ts
  packages/api-client/lib/openapi/models/index.ts
  packages/api-client/lib/openapi/models/robot.ts
  packages/api-client/lib/version.ts
Due: none

Revert "add querying lists of values for some fields"
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

Revert "add get robots endpoint"
  packages/api-server/api_server/models/fleets.py
  packages/api-server/api_server/models/tortoise_models/fleet_state.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_fleets.py
Due: api-server

Revert "use pydantic health"
  packages/api-server/api_server/models/dispensers.py
  packages/api-server/api_server/models/doors.py
  packages/api-server/api_server/models/fleets.py
  packages/api-server/api_server/models/health.py
  packages/api-server/api_server/models/ingestors.py
  packages/api-server/api_server/models/lifts.py
  packages/api-server/api_server/models/tortoise_models/health.py
  packages/api-server/api_server/models/tortoise_models/health_status_mixin.py
  packages/api-server/api_server/models/tortoise_models/pydantic_mixins.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/operators/test_health.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/lifts.py
Due: api-server

add query for fleets; include fleet state in result
  packages/api-server/api_server/app.py
  packages/api-server/api_server/dependencies/__init__.py
  packages/api-server/api_server/models/fleets.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/test_fleets.py
Due: api-server

replace form date
  packages/react-components/lib/date-time-picker.tsx
  packages/react-components/lib/reports/default-dates-form.tsx
  packages/react-components/lib/reports/default-report-interface.tsx
  packages/react-components/lib/reports/log-management/log-management.tsx
  packages/react-components/lib/reports/log-management/search-log-form.tsx
Due: react-components

robots query includes more information
  packages/api-server/api_server/models/fleets.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/fleet_state.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/test_fleets.py
Due: api-server

add logging
  packages/api-server/api_server/app.py
  packages/api-server/api_server/routes/fleets.py
Due: api-server

rename e2e package
  .github/workflows/e2e.yml
  lerna.json
  packages/dashboard-e2e/.gitignore
  packages/dashboard-e2e/README.md
  packages/dashboard-e2e/certs/ca.crt
  packages/dashboard-e2e/certs/ca.key
  packages/dashboard-e2e/certs/keycloak.crt
  packages/dashboard-e2e/certs/keycloak.key
  packages/dashboard-e2e/certs/keycloak.pub
  packages/dashboard-e2e/certs/openssl.cnf
  packages/dashboard-e2e/docker/docker-compose.yml
  packages/dashboard-e2e/docker/e2e/Dockerfile
  packages/dashboard-e2e/docker/keycloak/Dockerfile
  packages/dashboard-e2e/docker/keycloak/keycloak.mv.db
  packages/dashboard-e2e/docker/rmf/Dockerfile
  packages/dashboard-e2e/docker/rmf/rmf_entrypoint.bash
  packages/dashboard-e2e/docs/resources/e2e-E2e-start-process.png
  packages/dashboard-e2e/env.d.ts
  packages/dashboard-e2e/generate-certs.sh
  packages/dashboard-e2e/package.json
  packages/dashboard-e2e/rmf_server_config.py
  packages/dashboard-e2e/scripts/auth-ready.js
  packages/dashboard-e2e/scripts/get-resources-location.js
  packages/dashboard-e2e/scripts/start-rmf-server.sh
  packages/dashboard-e2e/scripts/test-e2e.js
  packages/dashboard-e2e/serve.json
  packages/dashboard-e2e/tests/0-smoke.test.ts
  packages/dashboard-e2e/tests/1-login.test.ts
  packages/dashboard-e2e/tests/negotiations.test.ts
  packages/dashboard-e2e/tests/ui-interactions.test.ts
  packages/dashboard-e2e/tests/utils.ts
  packages/dashboard-e2e/tsconfig.json
  packages/dashboard-e2e/wdio.conf.js
  packages/dashboard/package.json
Due: dashboard

more reliable tests with ros publishing instead of writing data to db directly
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/routes/test_fleets.py
Due: api-server

fix tests
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/rmf_io/health_watchdog.py
Due: api-server

update client
  packages/api-client/lib/openapi/apis/fleets-api.ts
  packages/api-client/lib/openapi/models/fleet.ts
  packages/api-client/lib/openapi/models/get-fleets-response.ts
  packages/api-client/lib/openapi/models/get-robots-response.ts
  packages/api-client/lib/openapi/models/index.ts
  packages/api-client/lib/openapi/models/robot.ts
  packages/api-client/lib/version.ts
Due: none

add build path
  packages/dashboard-e2e/scripts/test-e2e.js
  packages/dashboard/package.json
  packages/dashboard/src/react-app-env.d.ts
Due: dashboard

use __dirname and shift dockert
  packages/dashboard-e2e/docker/keycloak/dockert
  packages/dashboard-e2e/package.json
  packages/dashboard/scripts/setup/get-icons.js
Due: dashboard

cd into dashboard
  packages/dashboard-e2e/scripts/test-e2e.js
Due: dashboard

maybe fix e2e
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
Due: dashboard

fix robot panel test
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/react-components/stories/robots/robot-panel.stories.tsx
  packages/react-components/tests/robots/robot-panel.spec.tsx
Due: dashboard, react-components

rename lightTheme and darkTheme to rmfLight and rmfDark; add storybook global toolbar to change theme
  packages/dashboard/src/components/app-base.tsx
  packages/react-components/.storybook/preview.js
  packages/react-components/.storybook/preview.tsx
  packages/react-components/lib/index.ts
  packages/react-components/lib/theme/index.ts
  packages/react-components/lib/themes/common-theme.tsx
  packages/react-components/lib/themes/index.ts
  packages/react-components/lib/themes/rmf-dark.tsx
  packages/react-components/lib/themes/rmf-light.tsx
  packages/react-components/stories/theme.stories.tsx
Due: dashboard, react-components

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  ros2-bridge: any of: packages/ros2-bridge
  api-server: any of: packages/api-server
  reporting: any of: packages/reporting
  rmf-auth: any of: packages/rmf-auth
