Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, ros2-bridge, api-server, reporting, rmf-auth

Added reporting-server.yml for GH actions and codecov config
  .github/workflows/reporting-server.yml
  codecov.yml
  packages/reporting-server/.coveragerc
Due: reporting

Added new dashboard route to monitoring
  packages/reporting/src/util/url.ts
Due: reporting

Added dispensers, doors, fleets, health, ingestor and lifts UI reports. I need to fix the table format
  packages/react-components/lib/reports/default-dates-form.tsx
  packages/react-components/lib/reports/default-report-interface.tsx
  packages/react-components/lib/reports/dispenser-state/dispenser-state-report-table.tsx
  packages/react-components/lib/reports/dispenser-state/dispenser-state-report.tsx
  packages/react-components/lib/reports/dispenser-state/index.ts
  packages/react-components/lib/reports/door-state/door-state-report-table.tsx
  packages/react-components/lib/reports/door-state/door-state-report.tsx
  packages/react-components/lib/reports/door-state/index.ts
  packages/react-components/lib/reports/fleet-state/fleet-state-report-table.tsx
  packages/react-components/lib/reports/fleet-state/fleet-state-report.tsx
  packages/react-components/lib/reports/fleet-state/index.ts
  packages/react-components/lib/reports/health/health-report-table.tsx
  packages/react-components/lib/reports/health/health-report.tsx
  packages/react-components/lib/reports/health/index.ts
  packages/react-components/lib/reports/index.ts
  packages/react-components/lib/reports/ingestor-state/index.ts
  packages/react-components/lib/reports/ingestor-state/ingestor-state-report-table.tsx
  packages/react-components/lib/reports/ingestor-state/ingestor-state-report.tsx
  packages/react-components/lib/reports/lift-state/index.ts
  packages/react-components/lib/reports/lift-state/lift-state-report-table.tsx
  packages/react-components/lib/reports/lift-state/lift-state-report.tsx
  packages/reporting/src/components/report-list.tsx
  packages/reporting/src/components/reporter-side-bar-structure.tsx
  packages/reporting/src/components/reports/all-logs-report.tsx
  packages/reporting/src/components/reports/dispenser-state-report.tsx
  packages/reporting/src/components/reports/door-state-report.tsx
  packages/reporting/src/components/reports/fleet-state-report.tsx
  packages/reporting/src/components/reports/health-report.tsx
  packages/reporting/src/components/reports/ingestor-state-report.tsx
  packages/reporting/src/components/reports/lift-state-report.tsx
Due: react-components, reporting

Added state models and parsers
  packages/reporting-server/models/dispenser_state.py
  packages/reporting-server/models/door_state.py
  packages/reporting-server/models/fleet_state.py
  packages/reporting-server/models/health.py
  packages/reporting-server/models/ingestor_state.py
  packages/reporting-server/models/lift_state.py
  packages/reporting-server/output-example
  packages/reporting-server/parsers/dispenser_state_parser.py
  packages/reporting-server/parsers/doors_state.py
  packages/reporting-server/parsers/doors_state_parser.py
  packages/reporting-server/parsers/fleet_state_parser.py
  packages/reporting-server/parsers/health_parser.py
  packages/reporting-server/parsers/ingestor_state_parser.py
  packages/reporting-server/parsers/lift_state_parser.py
  packages/reporting-server/parsers/log_model_dispacher.py
  packages/reporting-server/parsers/test_doors_state_parser.py
  packages/reporting-server/rest_server/repositories/log_creation_handler.py
  packages/reporting-server/rest_server/repositories/parser_dispacher.py
  packages/reporting-server/rest_server/routers/log.py
Due: reporting

get all logs
  packages/react-components/lib/reports/log-management/log-level.ts
  packages/react-components/lib/reports/log-management/log-table.tsx
  packages/react-components/lib/reports/log-management/search-log-form.tsx
  packages/reporting-server/rest_server/repositories/report.py
Due: react-components, reporting

Fix fluentD-MINIO Readme rebase
  example-deployment/README.md
Due: none

Added test for routes
  packages/reporting-server/rest_server/routers/log.py
  packages/reporting-server/rest_server/routers/test_log.py
Due: reporting

Added test for log router
  packages/reporting-server/rest_server/routers/test_log.py
Due: reporting

Created pydantic for models and added routers
  packages/reporting-server/models/dispenser_state.py
  packages/reporting-server/models/door_state.py
  packages/reporting-server/models/fleet_state.py
  packages/reporting-server/models/health.py
  packages/reporting-server/models/ingestor_state.py
  packages/reporting-server/models/lift_state.py
  packages/reporting-server/rest_server/repositories/report/__init__.py
  packages/reporting-server/rest_server/repositories/report/dispenser_state.py
  packages/reporting-server/rest_server/repositories/report/door_state.py
  packages/reporting-server/rest_server/repositories/report/fleet_state.py
  packages/reporting-server/rest_server/repositories/report/health.py
  packages/reporting-server/rest_server/repositories/report/ingestor_state.py
  packages/reporting-server/rest_server/repositories/report/lift_state.py
  packages/reporting-server/rest_server/repositories/report/raw_log.py
  packages/reporting-server/rest_server/routers/report.py
Due: reporting

Updated fluentd-conf
  example-deployment/k8s/fluentd-configmap.yaml
Due: none

Updated tests of reporting and removed output example file
  packages/reporting-server/output-example
  packages/reporting/src/components/reports/dispenser-state-report.tsx
  packages/reporting/src/components/reports/door-state-report.tsx
  packages/reporting/src/components/reports/fleet-state-report.tsx
  packages/reporting/src/components/reports/health-report.tsx
  packages/reporting/src/components/reports/ingestor-state-report.tsx
  packages/reporting/src/components/reports/lift-state-report.tsx
  packages/reporting/src/tests/components/report-dashboard.test.tsx
Due: reporting

Added tests for reports
  packages/react-components/lib/reports/default-report-interface.tsx
  packages/react-components/lib/reports/dispenser-state/dispenser-state-report-table.tsx
  packages/react-components/lib/reports/door-state/door-state-report-table.tsx
  packages/react-components/lib/reports/fleet-state/fleet-state-report-table.tsx
  packages/react-components/lib/reports/health/health-report-table.tsx
  packages/react-components/lib/reports/ingestor-state/ingestor-state-report-table.tsx
  packages/react-components/lib/reports/lift-state/lift-state-report-table.tsx
  packages/react-components/lib/reports/log-management/log-table.tsx
  packages/react-components/tests/reports/dispenser-state/dispenser-state-report-table.spec.tsx
  packages/react-components/tests/reports/dispenser-state/dispenser-state-report.spec.tsx
  packages/react-components/tests/reports/door-state/door-state-report-table.spec.tsx
  packages/react-components/tests/reports/door-state/door-state-report.spec.tsx
  packages/react-components/tests/reports/fleet-state/fleet-state-report-table.spec.tsx
  packages/react-components/tests/reports/fleet-state/fleet-state-report.spec.tsx
  packages/react-components/tests/reports/health/health-report-table.spec.tsx
  packages/react-components/tests/reports/health/health-report.spec.tsx
  packages/react-components/tests/reports/ingestor-state/ingestor-state-report-table.spec.tsx
  packages/react-components/tests/reports/ingestor-state/ingestor-state-report.spec.tsx
  packages/react-components/tests/reports/lift-state/lift-state-report-table.spec.tsx
  packages/react-components/tests/reports/lift-state/lift-state-report.spec.tsx
  packages/react-components/tests/reports/utils.ts
  packages/reporting/src/components/reporter-side-bar-structure.tsx
Due: react-components, reporting

Cleaned fluentd configmap
  example-deployment/k8s/fluentd-configmap.yaml
Due: none

Added an fixed some tests on react-components
  packages/react-components/lib/reports/default-dates-form.tsx
  packages/react-components/tests/reports/default-date-form.spec.tsx
Due: react-components

Removed some warnings from react-components
  packages/react-components/lib/reports/default-dates-form.tsx
  packages/react-components/lib/reports/dispenser-state/dispenser-state-report-table.tsx
  packages/react-components/lib/reports/door-state/door-state-report-table.tsx
  packages/react-components/lib/reports/fleet-state/fleet-state-report-table.tsx
  packages/react-components/lib/reports/health/health-report-table.tsx
  packages/react-components/lib/reports/ingestor-state/ingestor-state-report-table.tsx
  packages/react-components/lib/reports/lift-state/lift-state-report-table.tsx
  packages/react-components/tests/reports/utils.ts
Due: react-components

Added test to test_parser_dispatcher
  packages/reporting-server/rest_server/repositories/test_parser_dispatcher.py
Due: reporting

Fixed tests and lint errors
  packages/reporting-server/rest_server/repositories/log_creation_handler.py
Due: reporting

fixed fluentd-configmap
  example-deployment/k8s/fluentd-configmap.yaml
Due: none

fixed lint errors
  packages/reporting-server/rest_server/app.py
  packages/reporting-server/rest_server/repositories/test_log_creation_handler.py
  packages/reporting-server/rest_server/repositories/test_parser_dispatcher.py
Due: reporting

Added tests to tables
  packages/react-components/tests/reports/dispenser-state/dispenser-state-report-table.spec.tsx
  packages/react-components/tests/reports/door-state/door-state-report-table.spec.tsx
  packages/react-components/tests/reports/fleet-state/fleet-state-report-table.spec.tsx
  packages/react-components/tests/reports/health/health-report-table.spec.tsx
  packages/react-components/tests/reports/ingestor-state/ingestor-state-report-table.spec.tsx
  packages/react-components/tests/reports/lift-state/lift-state-report-table.spec.tsx
  packages/react-components/tests/reports/utils.ts
Due: react-components

Updated coverage commands
  packages/reporting-server/package.json
Due: reporting

Added fleet report
  packages/react-components/lib/reports/dispenser-state/dispenser-state-report-table.tsx
  packages/react-components/lib/reports/door-state/door-state-report-table.tsx
  packages/react-components/lib/reports/fleet-state/fleet-state-report-table.tsx
  packages/react-components/lib/reports/health/health-report-table.tsx
  packages/react-components/lib/reports/ingestor-state/ingestor-state-report-table.tsx
  packages/react-components/lib/reports/lift-state/lift-state-report-table.tsx
  packages/react-components/tests/reports/fleet-state/fleet-state-report-table.spec.tsx
  packages/reporting-server/models/fleet_state.py
  packages/reporting-server/parsers/fleet_state_parser.py
  packages/reporting-server/parsers/test_fleet_state_parser.py
  packages/reporting-server/rest_server/repositories/parser_dispacher.py
  packages/reporting-server/rest_server/repositories/test_parser_dispatcher.py
Due: react-components, reporting

rebase packages fix
  scripts/packages.js
Due: none

Fixed lint error
  packages/reporting-server/rest_server/repositories/test_parser_dispatcher.py
Due: reporting

import tortoise in dispacher
  packages/reporting-server/rest_server/repositories/test_parser_dispatcher.py
Due: reporting

linting
  packages/ros_translator/package.json
  packages/ros_translator/ros_translator/__init__.py
  packages/ros_translator/ros_translator/typescript/.pylintrc
Due: none

add template files to setup.py
  packages/ros_translator/ros_translator/pydantic/__init__.py
  packages/ros_translator/setup.py
Due: none

add inital pydantic plugin
  packages/ros_translator/ros_translator/library.py
  packages/ros_translator/ros_translator/pydantic/__init__.py
  packages/ros_translator/ros_translator/pydantic/msg.j2
  packages/ros_translator/ros_translator/ros_types.py
  packages/ros_translator/ros_translator/typescript/__init__.py
  packages/ros_translator/ros_translator/typescript/templates/ts-definition.j2
Due: none

general ros translator in its own pkg
  packages/ros_translator/.gitignore
  packages/ros_translator/.pylintrc
  packages/ros_translator/README.md
  packages/ros_translator/ros_translator/__main__.py
  packages/ros_translator/ros_translator/library.py
  packages/ros_translator/ros_translator/typescript/Pipfile
  packages/ros_translator/ros_translator/typescript/__init__.py
  packages/ros_translator/ros_translator/typescript/templates/index.j2
  packages/ros_translator/ros_translator/typescript/templates/srv-ts-definition.j2
  packages/ros_translator/ros_translator/typescript/templates/ts-definition.j2
  packages/ros_translator/ros_translator/typescript/test/.gitignore
  packages/ros_translator/ros_translator/typescript/test/package-lock.json
  packages/ros_translator/ros_translator/typescript/test/package.json
  packages/ros_translator/ros_translator/typescript/test/spec/bounded-sequences.spec.ts
  packages/ros_translator/ros_translator/typescript/test/spec/fixed-array.spec.ts
  packages/ros_translator/ros_translator/typescript/test/spec/nested.spec.ts
  packages/ros_translator/ros_translator/typescript/test/spec/support/jasmine.json
  packages/ros_translator/ros_translator/typescript/test/spec/typed-array.spec.ts
  packages/ros_translator/ros_translator/typescript/test/test.bash
  packages/ros_translator/ros_translator/typescript/test/ts_ros_test_msgs/CMakeLists.txt
  packages/ros_translator/ros_translator/typescript/test/ts_ros_test_msgs/msg/BoundedSequence.msg
  packages/ros_translator/ros_translator/typescript/test/ts_ros_test_msgs/msg/FixedArray.msg
  packages/ros_translator/ros_translator/typescript/test/ts_ros_test_msgs/msg/Nested.msg
  packages/ros_translator/ros_translator/typescript/test/ts_ros_test_msgs/msg/TypedArray.msg
  packages/ros_translator/ros_translator/typescript/test/ts_ros_test_msgs/package.xml
  packages/ros_translator/ros_translator/typescript/test/tsconfig.json
  packages/ros_translator/setup.py
Due: none

change to ros_translator; remove ts_ros
  Pipfile
  Pipfile.lock
  packages/rmf-models/generate-models.js
  packages/rmf-models/generate-models.sh
  packages/rmf-models/lib/ros/index.ts
  packages/rmf-models/lib/version.ts
  packages/rmf-models/test/ts_ros_test_msgs/CMakeLists.txt
  packages/rmf-models/test/ts_ros_test_msgs/msg/BoundedSequence.msg
  packages/rmf-models/test/ts_ros_test_msgs/msg/FixedArray.msg
  packages/rmf-models/test/ts_ros_test_msgs/msg/Nested.msg
  packages/rmf-models/test/ts_ros_test_msgs/msg/TypedArray.msg
  packages/rmf-models/test/ts_ros_test_msgs/package.xml
  packages/rmf-models/ts_ros/README.md
  packages/rmf-models/ts_ros/__main__.py
  packages/rmf-models/ts_ros/templates/index.j2
  packages/rmf-models/ts_ros/templates/srv-ts-definition.j2
  packages/rmf-models/ts_ros/templates/ts-definition.j2
  packages/ros_translator/pyproject.toml
  packages/ros_translator/ros_translator/library.py
  packages/ros_translator/ros_translator/typescript/__init__.py
  packages/ros_translator/ros_translator/typescript/templates/srv-ts-definition.j2
  packages/ros_translator/ros_translator/typescript/templates/ts-definition.j2
Due: none

get_task returns the original task summary from rmf
  packages/api-server/api_server/models/tasks.py
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

fix wrong validation fo uint64
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/ClosedLanes.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/LaneRequest.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/Location.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/PauseRequest.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/RobotMode.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/RobotState.py
  packages/api-server/api_server/models/ros_pydantic/rmf_task_msgs/Priority.py
  packages/api-server/api_server/models/ros_pydantic/version.py
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/routes/tasks/test_dispatcher.py
  packages/ros_translator/ros_translator/pydantic/__init__.py
Due: api-server

cleanup
  packages/api-server/api_server/routes/tasks/test_dispatcher.py
Due: api-server

update models
  packages/api-client/.gitignore
  packages/api-client/generate-openapi.sh
  packages/api-client/lib/openapi/apis/tasks-api.ts
  packages/api-client/lib/openapi/models/behavior-parameter.ts
  packages/api-client/lib/openapi/models/behavior.ts
  packages/api-client/lib/openapi/models/clean.ts
  packages/api-client/lib/openapi/models/delivery.ts
  packages/api-client/lib/openapi/models/dispenser-request-item.ts
  packages/api-client/lib/openapi/models/index.ts
  packages/api-client/lib/openapi/models/loop.ts
  packages/api-client/lib/openapi/models/priority.ts
  packages/api-client/lib/openapi/models/station.ts
  packages/api-client/lib/openapi/models/task-description.ts
  packages/api-client/lib/openapi/models/task-profile.ts
  packages/api-client/lib/openapi/models/task-summary.ts
  packages/api-client/lib/openapi/models/task-type.ts
  packages/api-client/lib/openapi/models/task.ts
  packages/api-client/lib/openapi/models/time.ts
  packages/api-client/lib/version.ts
Due: none

keep original field names, this should fix parsing errors on the server
  packages/api-client/generate-openapi.sh
  packages/api-client/lib/openapi/apis/doors-api.ts
  packages/api-client/lib/openapi/apis/lifts-api.ts
  packages/api-client/lib/openapi/models/cancel-task.ts
  packages/api-client/lib/openapi/models/clean-task-description.ts
  packages/api-client/lib/openapi/models/clean.ts
  packages/api-client/lib/openapi/models/delivery-task-description.ts
  packages/api-client/lib/openapi/models/delivery.ts
  packages/api-client/lib/openapi/models/dispenser-request-item.ts
  packages/api-client/lib/openapi/models/lift-request.ts
  packages/api-client/lib/openapi/models/loop-task-description.ts
  packages/api-client/lib/openapi/models/loop.ts
  packages/api-client/lib/openapi/models/station.ts
  packages/api-client/lib/openapi/models/submit-task.ts
  packages/api-client/lib/openapi/models/task-description.ts
  packages/api-client/lib/openapi/models/task-profile.ts
  packages/api-client/lib/openapi/models/task-summary.ts
  packages/api-client/lib/openapi/models/task.ts
  packages/api-client/lib/version.ts
  packages/api-client/swagger-codegen.json
Due: none

test putting task page in dashboard
  packages/api-client/.rmf_schedule_node.yaml
  packages/api-server/api_server/dependencies/ros.py
  packages/api-server/api_server/models/tasks.py
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app-contexts.tsx
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/tasks/index.ts
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/dashboard/src/components/tests/mock-app-controller.ts
  packages/react-components/lib/task-summary/create-task.tsx
  packages/react-components/lib/task-summary/task-info.tsx
  packages/react-components/lib/task-summary/task-panel.tsx
  packages/react-components/lib/task-summary/task-table.tsx
  packages/react-components/stories/tasks/task-panel.stories.tsx
Due: dashboard, react-components, api-server

fix tests
  packages/api-server/api_server/models/test_tasks.py
  packages/api-server/api_server/routes/tasks/test_dispatcher.py
Due: api-server

add RMF_SERVER_USE_SIM_TIME
  packages/api-server/api_server/dependencies/ros.py
  packages/api-server/api_server/ros_time.py
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/test_ros_time.py
Due: api-server

add docs
  packages/api-server/README.md
Due: api-server

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  ros2-bridge: any of: packages/ros2-bridge
  api-server: any of: packages/api-server
  reporting: any of: packages/reporting
  rmf-auth: any of: packages/rmf-auth
