Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

Adding api for start time between and finish time between, as well as assigned to and status
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Server-side filtering works, except for status, and time, that uses client-side filtering
  packages/api-server/api_server/repositories/tasks.py
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components, api-server

Using default date filters, check for status object when filtering
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components, api-server

react-components, lint
  packages/react-components/lib/tasks/task-table-datagrid.spec.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components

dashboard, cleanup console logs, reintroduced regular tasks updating, now that filter entries have focus and won't be canceled
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

react-components, show time for dateTime filters
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components

api-server, cap minimum time to 0 millis, update openapi docs
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/dependencies.py
Due: api-server

api-client, updating docs with more context on generation step
  packages/api-client/README.md
Due: none

Feature/server side filtering (#658)
  packages/api-client/README.md
  packages/api-client/generate-openapi.sh
  packages/api-client/lib/index.ts
  packages/api-client/lib/openapi/.openapi-generator/VERSION
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/openapi/common.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/dashboard/src/util/common-subscriptions.ts
  packages/react-components/lib/tasks/task-table-datagrid.spec.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components, api-server

fix box type error
  packages/dashboard/src/components/robots/robot-info-app.tsx
  packages/dashboard/src/components/tasks/task-logs.tsx
  packages/dashboard/src/components/workspace.tsx
  packages/react-components/lib/lifts/lift-card.tsx
  packages/react-components/lib/robots/linear-progress-bar.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components

added react threee fiver v7 with react 17
  packages/dashboard/package.json
  packages/dashboard/src/components/box.tsx
  packages/dashboard/src/components/level.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/wall.tsx
  pnpm-lock.yaml
Due: dashboard

added walls per level
  packages/dashboard/src/components/cube.tsx
  packages/dashboard/src/components/level.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/wall.tsx
Due: dashboard

added door, wip;
  packages/dashboard/src/components/door.tsx
Due: dashboard

Adding zustand and mui/styles packages
  packages/dashboard/package.json
Due: dashboard

Task store to save global state has been added
  packages/dashboard/src/components/store.ts
Due: dashboard

Task Alert component to display completed task has been added
  packages/dashboard/src/components/task-alert-store.tsx
  packages/dashboard/src/components/task-alert.tsx
Due: dashboard

Get robots and task in progress to subscribe to them
  packages/dashboard/src/components/task-alert-store.tsx
  packages/dashboard/src/components/task-alert.tsx
Due: dashboard

Improving style and adjusting to the design
  packages/dashboard/src/components/task-alert.tsx
Due: dashboard

Adding state to show or not popup. This status accepts array of completed or failed tasks
  packages/dashboard/src/components/task-alert.tsx
Due: dashboard

Adding Task and RobotState to local state and set it if task is completed
  packages/dashboard/src/components/task-alert.tsx
Due: dashboard

Basic export of all tasks in the database
  packages/api-server/api_server/dependencies.py
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components, api-server

dashboard, use current time for query and filename
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

react-components, added columns, density and filter components to datagrid toolbar
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components

react-components, make filters reactive, instead of only being applied after preference panel closes
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components

Improving variable names
  packages/dashboard/src/components/task-alert-store.tsx
  packages/dashboard/src/components/task-alert.tsx
Due: dashboard

Adding TaskAlertComponent into App
  packages/dashboard/src/components/app-base.tsx
Due: dashboard

Removing zustand package
  packages/dashboard/package.json
  packages/dashboard/src/components/store.ts
Due: dashboard

Setting message in task alert component
  packages/dashboard/src/components/task-alert.tsx
Due: dashboard

Basic export of all tasks in the database (#661)
  packages/api-server/api_server/dependencies.py
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components, api-server

Setting success dark color according to the figma design
  packages/react-components/lib/themes/common-theme.tsx
Due: react-components

Remove TODO comment and use success dark color from common theme
  packages/dashboard/src/components/task-alert.tsx
Due: dashboard

Rename robots state to be more verbose
  packages/dashboard/src/components/task-alert-store.tsx
Due: dashboard

Revert removal of instructions of python3-venv
  README.md
Due: none

Remove unused import
  packages/api-server/api_server/routes/fleets.py
Due: api-server

Using pipenv so removing pyproject.toml for poetry
  packages/api-server/pyproject.toml
Due: api-server

Remove use of poetry for ros-translator
  packages/ros-translator/pyproject.toml
  packages/ros-translator/setup.py
Due: none

Remove use of poetry overall
  pnpm-lock.yaml
  poetry-install/README.md
  poetry-install/package.json
  poetry.lock
  poetry.toml
  pyproject.toml
  scripts/poetry-install.sh
Due: none

feat: zoom into robot on the map when a robot is selected (#630)
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Task Alert (#663)
  packages/dashboard/package.json
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/task-alert-store.tsx
  packages/dashboard/src/components/task-alert.tsx
  packages/react-components/lib/themes/common-theme.tsx
Due: dashboard, react-components

Adding sub tabs into Task panel for history and scheduled tasks
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
