Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

Using a deque to ensure we don't spam alerts when the adapter stalls
  packages/api-server/api_server/routes/internal.py
Due: api-server

Adding a mutex for saving task state to prevent race condition for db saving operation
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Adding fixme
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Fix deprecated logger.warn
  packages/api-server/api_server/routes/internal.py
Due: api-server

remove unused imports
  packages/react-components/lib/lifts/lift-request-dialog.spec.tsx
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

update lint command
  packages/api-client/package.json
Due: none

fix imports
  packages/dashboard/config/webpack.config.js
Due: dashboard

fix cjs not being processed
  packages/dashboard/config/webpack.config.js
Due: dashboard

disable treating warnings as errors
  packages/dashboard/scripts/build.js
Due: dashboard

Remap session ID label from sessionId to Session ID
  packages/dashboard/src/components/lift-summary.tsx
Due: dashboard

Remap session ID label from sessionId to Session ID (#929)
  packages/dashboard/src/components/lift-summary.tsx
Due: dashboard

Make adapter_lift_request QoS transient_local
  packages/api-server/api_server/gateway.py
Due: api-server

Make adapter_lift_request QoS transient_local (#930)
  packages/api-server/api_server/gateway.py
Due: api-server

Update hash after rmf_api_msgs#48 has been merged
  packages/api-server/generate-models.sh
Due: api-server

Update version
  packages/api-server/api_server/models/rmf_api/version.py
Due: api-server

Address review comments for route
  packages/api-server/api_server/routes/fleets.py
Due: api-server

Clearer documentation for de/recommission routes
  packages/api-server/api_server/routes/fleets.py
Due: api-server

Address dashboard component reviews
  packages/dashboard/src/components/robots/robot-decommission.tsx
  packages/react-components/lib/robots/index.ts
  packages/react-components/lib/robots/robot-table-datagrid.tsx
  packages/react-components/lib/robots/robot-table.spec.tsx
  packages/react-components/lib/robots/robot-table.stories.tsx
  packages/react-components/lib/robots/robot-table.tsx
Due: dashboard, react-components

Refactor to use a single confirmation dialog
  packages/dashboard/src/components/robots/robot-decommission.tsx
Due: dashboard

Boiler plate for mutex group table app and API
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/rmf_api/robot_state.py
  packages/api-server/api_server/models/rmf_api/version.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/generate-models.sh
  packages/dashboard/package.json
  packages/dashboard/src/components/app-registry.ts
  packages/dashboard/src/components/robots/robot-mutex-group-app.tsx
  packages/dashboard/src/components/robots/robots-workspace.tsx
  packages/react-components/lib/robots/index.ts
  packages/react-components/lib/robots/mutex-goup-table.tsx
Due: dashboard, react-components, api-server

Generate new openapi with documentation
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

server api
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/routes/fleets.py
Due: api-server

openapi generated
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

Mutex group app and table
  packages/dashboard/src/components/robots/robot-mutex-group-app.tsx
  packages/react-components/lib/robots/mutex-goup-table.tsx
Due: dashboard, react-components

standardize logging to logfmt
  Pipfile.lock
  packages/api-server/api_server/__main__.py
  packages/api-server/api_server/app.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/logger.py
  packages/api-server/api_server/logging.py
  packages/api-server/api_server/repositories/__init__.py
  packages/api-server/api_server/repositories/alerts.py
  packages/api-server/api_server/repositories/cached_files.py
  packages/api-server/api_server/repositories/fleets.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/rmf_service.py
  packages/api-server/api_server/routes/admin.py
  packages/api-server/api_server/routes/alerts.py
  packages/api-server/api_server/routes/building_map.py
  packages/api-server/api_server/routes/delivery_alerts.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/internal.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/services/__init__.py
  packages/api-server/setup.py
Due: api-server

use safer formatter for uvicorn
  packages/api-server/api_server/__main__.py
  packages/api-server/api_server/logging.py
Due: api-server

print stacktrace when logging exceptions; always escape double quotes to support logging json structures
  packages/api-server/api_server/__main__.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/logging.py
  packages/api-server/api_server/repositories/__init__.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Fixes and column max width
  packages/dashboard/src/components/robots/robot-mutex-group-app.tsx
  packages/react-components/lib/robots/mutex-goup-table.tsx
Due: dashboard, react-components

Document in context of allow_idle_behavior
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/routes/fleets.py
Due: api-server

Re-generate API and reverting dashboard start openssl line
  packages/api-client/lib/version.ts
  packages/dashboard/package.json
Due: dashboard

Generate with new api models
  packages/api-server/api_server/models/rmf_api/robot_state.py
  packages/api-server/api_server/models/rmf_api/version.py
  packages/api-server/generate-models.sh
Due: api-server

Route and gateway for mutex group release
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/routes/fleets.py
Due: api-server

Generated openapi
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

react-components, mutex group datagrid table
  packages/react-components/lib/robots/index.ts
  packages/react-components/lib/robots/mutex-group-table.spec.tsx
  packages/react-components/lib/robots/mutex-group-table.stories.tsx
  packages/react-components/lib/robots/mutex-group-table.tsx
Due: react-components

dashboard, mutex group app
  packages/dashboard/src/components/app-registry.ts
  packages/dashboard/src/components/robots/robot-mutex-group-app.tsx
  packages/dashboard/src/components/robots/robots-workspace.tsx
Due: dashboard

Added tests, stories and renaming
  packages/dashboard/src/components/robots/robot-mutex-group-app.tsx
  packages/react-components/lib/robots/mutex-group-table.spec.tsx
  packages/react-components/lib/robots/mutex-group-table.stories.tsx
  packages/react-components/lib/robots/mutex-group-table.tsx
Due: dashboard, react-components

Cleaned up documentation, regenerated api, added tests
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/test/test_data.py
Due: api-server

Fixed logs
  packages/api-server/api_server/routes/fleets.py
Due: api-server

Revert missing changes for delivery alert
  packages/api-server/api_server/gateway.py
Due: api-server

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
