Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

Rename file name to be more descriptive
  packages/react-components/lib/tasks/index.ts
  packages/react-components/lib/tasks/task-schedule-event-edit-delete-popup.spec.tsx
  packages/react-components/lib/tasks/task-schedule-event-edit-delete-popup.tsx
Due: react-components

Change name of Radio group
  packages/react-components/lib/tasks/task-schedule-event-edit-delete-popup.tsx
Due: react-components

Move function from utils to task/utils since it is related to just tasks
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/dashboard/src/components/tasks/utils.ts
  packages/dashboard/src/components/utils.ts
Due: dashboard

Rename component name to be more descriptive
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Fix test accoriing to changes on the component
  packages/react-components/lib/tasks/task-schedule-event-edit-delete-popup.spec.tsx
Due: react-components

Delete unnecesary props
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Rename props to be more descriptive
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Some minor changes to be more descriptive and clear
  packages/dashboard/src/components/tasks/task-schedule.tsx
Due: dashboard

Make comments a little more descriptive, instead of pseudocode.
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

Add react three fiber and drei
  packages/dashboard/package.json
  packages/react-components/package.json
  pnpm-lock.yaml
Due: dashboard, react-components

Use component property in Box material ui component to avoid three Box component noise
  packages/dashboard/src/components/robots/robot-summary.tsx
  packages/dashboard/src/components/tasks/task-inspector.tsx
  packages/dashboard/src/components/tasks/task-summary.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/alert-dialog.tsx
  packages/react-components/lib/beacons/beacon-table-datagrid.tsx
  packages/react-components/lib/doors/door-table-datagrid.tsx
  packages/react-components/lib/lifts/lift-card.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
  packages/react-components/lib/robots/linear-progress-bar.tsx
  packages/react-components/lib/robots/robot-table-datagrid.tsx
Due: dashboard, react-components

Use component property in Box material ui component to avoid three Box component noise
  packages/dashboard/src/components/workspace.tsx
Due: dashboard

Use component property in Box material ui component to avoid three Box component noise
  packages/dashboard/src/components/robots/robot-info-app.tsx
  packages/dashboard/src/components/tasks/task-logs.tsx
  packages/dashboard/src/components/tasks/task-summary.tsx
  packages/dashboard/src/components/workspace.tsx
Due: dashboard

Export function
  packages/react-components/lib/map/lift-marker.tsx
Due: react-components

Add wall draw calculation
  packages/react-components/lib/map/utils.ts
Due: react-components

Add reac three fiber logical
  packages/dashboard/src/components/three-fiber/door-three.tsx
  packages/dashboard/src/components/three-fiber/index.tsx
  packages/dashboard/src/components/three-fiber/layers-controller.tsx
  packages/dashboard/src/components/three-fiber/lift-three.tsx
  packages/dashboard/src/components/three-fiber/robot-three.tsx
  packages/react-components/lib/map/index.tsx
  packages/react-components/lib/map/three-fiber/cube-maker.tsx
  packages/react-components/lib/map/three-fiber/door-three-maker.tsx
  packages/react-components/lib/map/three-fiber/image-maker.tsx
  packages/react-components/lib/map/three-fiber/index.tsx
  packages/react-components/lib/map/three-fiber/lift-three-maker.tsx
  packages/react-components/lib/map/three-fiber/robot-three-maker.tsx
  packages/react-components/lib/map/three-fiber/shape-three-rendering.tsx
  packages/react-components/lib/map/three-fiber/wall-maker.tsx
Due: dashboard, react-components

Migrate to react three fiber
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Frontend without action calls yet
  packages/api-client/lib/index.ts
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/delivery-alert-store.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
Due: dashboard

Working, except refreshing removes the alerts
  packages/dashboard/src/components/delivery-alert-store.tsx
Due: dashboard

Add at time in schedule interface to set the time correctly
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Editing the schedule (#770)
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/dashboard/src/components/tasks/utils.ts
  packages/dashboard/src/hooks/useCreateTaskForm.tsx
  packages/dashboard/src/hooks/useFetchUser.tsx
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/index.ts
  packages/react-components/lib/tasks/task-schedule-event-edit-delete-popup.spec.tsx
  packages/react-components/lib/tasks/task-schedule-event-edit-delete-popup.tsx
Due: dashboard, react-components, api-server

Remove center state
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Refresh retrieves delivery alerts too, however waiting errors are always shown
  packages/dashboard/src/components/delivery-alert-store.tsx
Due: dashboard

Remove map setting
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Make circle shape smaller
  packages/react-components/lib/map/three-fiber/robot-three-maker.tsx
Due: react-components

Filters through all delivery alerts for unresolved and up-to-date ones to display
  packages/dashboard/src/components/delivery-alert-store.tsx
Due: dashboard

Lint
  packages/api-server/api_server/routes/delivery_alerts.py
Due: api-server

Add zindex to for the text layers to appear on top
  packages/dashboard/src/components/three-fiber/layers-controller.tsx
Due: dashboard

Ensure that React doesn't attempt to create or update component
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Refactored if statement, remove unnecessary null check
  packages/dashboard/src/components/delivery-alert-store.tsx
Due: dashboard

Using comparison between alert ids to filter more efficiently
  packages/dashboard/src/components/delivery-alert-store.tsx
Due: dashboard

Fixes prompt text, do not display ack button if not awknowledged and no callback
  packages/dashboard/src/components/app-base.tsx
  packages/react-components/lib/alert-dialog.tsx
Due: dashboard, react-components

Fixes prompt text, do not display ack button if not awknowledged and no callback (#776)
  packages/dashboard/src/components/app-base.tsx
  packages/react-components/lib/alert-dialog.tsx
Due: dashboard, react-components

Using composed task description for custom deliveries
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Use pickup instead of pick_up
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Lint
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Allow cancellation if task_id is present, only allow override for missing carts
  packages/dashboard/src/components/delivery-alert-store.tsx
Due: dashboard

start:react builds dependencies before starting dashboard, start just runs the concurrently command
  packages/dashboard/package.json
Due: dashboard

Port schedule editing to hammer
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/dashboard/src/components/tasks/utils.ts
  packages/dashboard/src/hooks/useCreateTaskForm.tsx
  packages/dashboard/src/hooks/useFetchUser.tsx
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/index.ts
  packages/react-components/lib/tasks/task-schedule-event-edit-delete-popup.spec.tsx
  packages/react-components/lib/tasks/task-schedule-event-edit-delete-popup.tsx
Due: dashboard, react-components, api-server

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
