Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

Change import name accoring to the api client
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Fix unix millis earliest start time data type in test_fixtures
  packages/api-server/api_server/test/test_data.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

grammar
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

api-server: scheduling backend (#672)
  .github/actions/bootstrap/action.yml
  .github/workflows/api-server.yml
  Pipfile
  Pipfile.lock
  README.md
  packages/api-server/api_server/app.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/models/user.py
  packages/api-server/api_server/routes/admin.py
  packages/api-server/api_server/routes/tasks/__init__.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
  packages/api-server/setup.py
  packages/dashboard/.storybook/main.js
  packages/dashboard/package.json
  pipenv-install/package.json
  scripts/pipenv-install.sh
Due: dashboard, api-server

Remove favorite task endpoints from tasks route
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Add new file to handle favorite tasks routes and add it into app.py
  packages/api-server/api_server/app.py
  packages/api-server/api_server/routes/tasks/__init__.py
  packages/api-server/api_server/routes/tasks/favorite_tasks.py
Due: api-server

Fix path according to the new favorite endpoint
  packages/api-server/api_server/routes/tasks/test_favorite_tasks.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

Generate api-client according to the new path of favorite tasks
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Remove unnecessary code
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Remove unnecessary import
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Fix task_favorite model (#686)
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/rmf_api/task_favorite.py
  packages/api-server/api_server/models/rmf_api/task_favorite_request.py
  packages/api-server/api_server/models/rmf_api/task_favorite_response.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/__init__.py
  packages/api-server/api_server/routes/tasks/favorite_tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_favorite_tasks.py
  packages/api-server/api_server/test/test_data.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components, api-server

Add unix-millis-request-time field in taskstate
  packages/api-server/api_server/models/tortoise_models/tasks.py
Due: api-server

Generate taskstate model according to the rmf_api_msgs changes
  packages/api-server/api_server/models/rmf_api/task_state.py
Due: api-server

Generate api client to get the new field
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

Save unix request time as now() and use previous value if the method is update
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Show unix_millis_request_time in dashboard
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components

Add Unix_millis_request_time into booking instead of taskstate directly
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/rmf_api/task_state.py
Due: api-server

Access to unix_millis_request_time field through booking
  packages/api-server/api_server/repositories/tasks.py
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components, api-server

Get previous task_state and if is not none use its request_time value
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Date column in Tasks section (#689)
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/rmf_api/task_state.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/repositories/tasks.py
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components, api-server

Added date column to minimal export, only update fields of task state when it has not been created before
  packages/api-server/api_server/repositories/tasks.py
  packages/dashboard/src/components/tasks/utils.ts
Due: dashboard, api-server

remove usage of `any`
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

add recurring ui to create task form
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/package.json
Due: react-components

disable scheduling for batch upload; pass schedule to submitTasks cb
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

wip adding calender ui
  packages/dashboard/package.json
  packages/dashboard/src/components/tasks/tasks-app.tsx
  pnpm-lock.yaml
Due: dashboard

add start_from; remove next_run
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
Due: api-server

convert recurring days to api schedule
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

add once param
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
Due: api-server

use once schedule when it is not recurring
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

use scheduled task endpoint
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Use create and get_or_none, and save model if it exists
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Add initiator column in taskstate model
  packages/api-server/api_server/models/tortoise_models/tasks.py
Due: api-server

Initiator field has been added on client side
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/rmf_api/task_state.py
Due: api-server

Set initiator field with the previous value if its is updated or use self.user.username if its is created
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Add initiator as column in datagrid and show it in TaskSection
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components

Fix/request date export (#690)
  packages/api-server/api_server/repositories/tasks.py
  packages/dashboard/src/components/tasks/utils.ts
Due: dashboard, api-server

Favorite tasks (#676)
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/rmf_api/task_favorite.py
  packages/api-server/api_server/models/rmf_api/task_favorite_request.py
  packages/api-server/api_server/models/rmf_api/task_favorite_response.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_favorite_tasks.py
  packages/api-server/api_server/test/test_data.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components, api-server

Populate initiator field with self.user.name when task is created
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Add initiator column to minimal export
  packages/dashboard/src/components/tasks/utils.ts
Due: dashboard
