Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

remove yarn from gitignore
  packages/dashboard/.gitignore
Due: dashboard

Remove usage of requests in task app, fix unix_millis_warn_time usage as map
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components

dashboard fix filter by labels
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Fix task summary
  packages/dashboard/src/components/tasks/task-summary.tsx
Due: dashboard

Fix for getting task definition id from labels
  packages/react-components/lib/tasks/task-booking-label-utils.tsx
Due: react-components

revert react-scheduler from latest to 2.7.8, due to race condition of custom event editor
  packages/dashboard/package.json
  pnpm-lock.yaml
Due: dashboard

api-server: first impl of rio (#960)
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/rio.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/rio.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/routes/__init__.py
  packages/api-server/api_server/routes/rios.py
  packages/api-server/api_server/routes/test_rios.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

Migrate rios
  packages/api-server/api_server/app.py
  packages/api-server/api_server/rmf_io/__init__.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/routes/rios.py
  packages/api-server/api_server/routes/test_rios.py
Due: api-server

Generate API for rio
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

Hammer/generic alerts (#948)
  packages/api-client/lib/index.ts
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/app.py
  packages/api-server/api_server/exceptions.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/alerts.py
  packages/api-server/api_server/models/tortoise_models/alerts.py
  packages/api-server/api_server/repositories/alerts.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/routes/alerts.py
  packages/api-server/api_server/routes/internal.py
  packages/api-server/api_server/routes/test_alerts.py
  packages/api-server/api_server/test/test_data.py
  packages/dashboard/src/components/alert-manager.tsx
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/tasks/task-alert.tsx
  packages/dashboard/src/components/tasks/task-cancellation.tsx
Due: dashboard, api-server

Increase queue for beacon and doors (#972)
  packages/api-server/api_server/gateway.py
Due: api-server

Migrate generic alerts to remove use of Book Keeper
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/alerts.py
  packages/api-server/api_server/repositories/alerts.py
  packages/api-server/api_server/routes/alerts.py
Due: api-server

Updated mui/x-date-pickers, workbox-webpack-plugin, removed unused fontawesome
  packages/dashboard/package.json
  pnpm-lock.yaml
Due: dashboard

Update mui/x-date-pickers for react-components too
  packages/react-components/package.json
  pnpm-lock.yaml
Due: react-components

first successful build
  .husky/pre-commit
  packages/api-client/package.json
  packages/api-client/tsconfig.json
  packages/dashboard/.env
  packages/dashboard/index.html
  packages/dashboard/package.json
  packages/dashboard/public/index.html
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/three-fiber/lift-three.tsx
  packages/dashboard/src/components/three-fiber/robot-three.tsx
  packages/dashboard/src/managers/resource-manager-dispensers.ts
  packages/dashboard/src/managers/resource-manager-logos.ts
  packages/dashboard/src/managers/resource-manager-robots.ts
  packages/dashboard/src/managers/resource-manager.ts
  packages/dashboard/src/react-app-env.d.ts
  packages/dashboard/src/serviceWorker.ts
  packages/dashboard/src/setupTests.ts
  packages/dashboard/src/util/url.ts
  packages/dashboard/src/vite-env.d.ts
  packages/dashboard/tsconfig.app.json
  packages/dashboard/tsconfig.json
  packages/dashboard/tsconfig.node.json
  packages/dashboard/vite.config.ts
  packages/react-components/package.json
  packages/react-components/tsconfig.json
  packages/rmf-models/package.json
  packages/rmf-models/tsconfig.json
  pnpm-lock.yaml
Due: dashboard, react-components

fix wrong scheduler being used
  packages/api-server/api_server/app.py
  packages/api-server/api_server/fast_io/singleton_dep.py
  packages/api-server/api_server/scheduler.py
Due: api-server

Removed unused props
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Fix non-updating timepicker field
  packages/react-components/lib/tasks/create-task.tsx
  pnpm-lock.yaml
Due: react-components

Clean up unused dependencies and update deprecated ones (#975)
  packages/dashboard/package.json
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/package.json
  pnpm-lock.yaml
Due: dashboard, react-components

replace resource manager with simplified json config
  packages/dashboard/app-config.json
  packages/dashboard/public/resources/defaultLogo.png
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app-contexts.tsx
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/rmf-app/index.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/dashboard/src/components/tests/appbar.test.tsx
  packages/dashboard/src/managers/__mocks__/resources.ts
  packages/dashboard/src/managers/resource-manager-dispensers.ts
  packages/dashboard/src/managers/resource-manager-logos.ts
  packages/dashboard/src/managers/resource-manager-robots.ts
  packages/dashboard/src/managers/resource-manager-tasks.ts
  packages/dashboard/src/managers/resource-manager.ts
  packages/dashboard/src/managers/tests/resource-manager-dispensers.test.ts
  packages/dashboard/src/managers/tests/resource-manager-logos.test.ts
  packages/dashboard/src/managers/tests/resource-manager-robots.test.ts
  packages/dashboard/src/managers/tests/resource-manager.test.tsx
  packages/dashboard/src/settings.ts
  packages/dashboard/tsconfig.app.json
Due: dashboard

Remove admin requirement for edit/delete schedule series
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/react-components/lib/tasks/task-schedule-event-edit-delete-popup.spec.tsx
  packages/react-components/lib/tasks/task-schedule-event-edit-delete-popup.tsx
Due: dashboard, react-components

cleanup old build files
  packages/dashboard/babel.config.js
  packages/dashboard/package.json
  packages/dashboard/public/fast_forward-24px.svg
  packages/dashboard/public/fast_rewind-24px.svg
  packages/dashboard/public/logo192.png
  packages/dashboard/public/logo512.png
  packages/dashboard/public/manifest.json
  packages/dashboard/public/pause-24px.svg
  packages/dashboard/public/play_arrow-24px.svg
  packages/dashboard/public/roboto-v18-KFOmCnqEu92Fr1Mu4mxM.woff
  packages/dashboard/scripts/build.js
  packages/dashboard/scripts/setup/get-icons.js
  packages/dashboard/scripts/setup/setup.js
  packages/dashboard/scripts/start.js
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/header-bar.tsx
Due: dashboard, react-components

cleanup deps
  packages/dashboard/config/env.js
  packages/dashboard/config/getHttpsConfig.js
  packages/dashboard/config/jest/babelTransform.js
  packages/dashboard/config/jest/cssTransform.js
  packages/dashboard/config/jest/fileTransform.js
  packages/dashboard/config/modules.js
  packages/dashboard/config/paths.js
  packages/dashboard/config/webpack.config.js
  packages/dashboard/config/webpack/persistentCache/createEnvironmentHash.js
  packages/dashboard/config/webpackDevServer.config.js
  packages/dashboard/package.json
  pnpm-lock.yaml
Due: dashboard

more cleanup
  packages/dashboard/src/logo.svg
  packages/dashboard/src/serviceWorker.ts
  packages/dashboard/src/setupTests.ts
Due: dashboard

cleanup
  packages/dashboard/src/index.tsx
Due: dashboard

Allow admin actions by default until authz is implemented
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

more cleanup
  packages/dashboard/src/components/emergency-alarm.tsx
  packages/dashboard/src/components/loading-screen.tsx
  packages/dashboard/src/components/spotlight-value.tsx
  packages/dashboard/src/components/tests/mock-app-controller.ts
  packages/dashboard/src/util/common-subscriptions.ts
  packages/dashboard/src/util/css-utils.ts
  packages/dashboard/src/util/index.ts
  packages/dashboard/src/utils.ts
  packages/dashboard/src/vite-env.d.ts
  packages/dashboard/tsconfig.app.json
  packages/react-components/lib/locale.tsx
Due: dashboard, react-components

Revert admin actions
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Add customTabs and adminTab to dashboard README
  packages/dashboard/README.md
Due: dashboard

dashboard, docs for micro-apps, layouts, workspaces
  packages/dashboard/README.md
Due: dashboard

first successful run of vitest
  packages/dashboard/package.json
  packages/dashboard/src/components/admin/tests/add-permission-dialog.test.tsx
  packages/dashboard/src/components/admin/tests/create-role-dialog.test.tsx
  packages/dashboard/src/components/admin/tests/create-user-dialog.test.tsx
  packages/dashboard/src/components/admin/tests/drawer.test.tsx
  packages/dashboard/src/components/admin/tests/manage-roles-dialog.test.tsx
  packages/dashboard/src/components/admin/tests/permissions-card.test.tsx
  packages/dashboard/src/components/admin/tests/role-list-card.test.tsx
  packages/dashboard/src/components/admin/tests/user-list-card.test.tsx
  packages/dashboard/src/components/admin/tests/user-profile.test.tsx
  packages/dashboard/src/components/tasks/tests/task-logs.test.tsx
  packages/dashboard/src/components/tests/appbar.test.tsx
  packages/dashboard/src/components/tests/emergency-alarm.test.tsx
  packages/dashboard/src/components/tests/mock-app-controller.ts
  packages/dashboard/src/components/three-fiber/layer-control.test.tsx
  packages/dashboard/tsconfig.app.json
  packages/dashboard/vite.config.ts
  packages/react-components/lib/index.ts
  packages/react-components/package.json
  packages/rmf-auth/package.json
  pnpm-lock.yaml
Due: dashboard, react-components, rmf-auth

add coverage
  packages/dashboard/package.json
  pnpm-lock.yaml
Due: dashboard

target es2020
  packages/rmf-models/tsconfig.json
Due: none

build deps before start vite
  packages/dashboard/package.json
Due: dashboard

migrate storybook to vite
  packages/react-components/.storybook/main.ts
  packages/react-components/package.json
  pnpm-lock.yaml
Due: react-components

Ac/remove permission requirements (#976)
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/react-components/lib/tasks/task-schedule-event-edit-delete-popup.spec.tsx
  packages/react-components/lib/tasks/task-schedule-event-edit-delete-popup.tsx
Due: dashboard, react-components

Custom tab gif
  custom-tabs.gif
Due: none

Custom tabs description and gif
  packages/dashboard/README.md
Due: dashboard
