Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

api-server: Support task labels in main (#950)
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/openapi/base.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/labels.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/query.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/test/test_data.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/scripts/test.py
  packages/dashboard/src/components/tasks/tasks-app.tsx
  pnpm-lock.yaml
Due: dashboard, api-server

Updating pnpm version in github workflow
  .github/actions/bootstrap/action.yml
Due: none

Reverting update to pnpm version
  .github/actions/bootstrap/action.yml
Due: none

Fix build now that we use key value strings for labels
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Refactored last parts of hard coding categories and rendering forms
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Remove rogue warn time workaround from models
  packages/api-server/api_server/models/rmf_api/task_request.py
  packages/api-server/api_server/models/rmf_api/task_state.py
Due: api-server

Regenerated API
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

Warning time to only display color and use labels
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/routes/internal.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/dashboard/src/components/tasks/task-alert.tsx
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/task-booking-label-utils.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components, api-server

Shows outdated tasks as interrupted
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/dashboard/src/managers/resource-manager.ts
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components

Use stale instead of interrupted
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components

Remove config parameter, change status display string only
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/dashboard/src/managers/resource-manager.ts
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components

Remove unused resource config
  packages/dashboard/src/managers/resource-manager.ts
Due: dashboard

Clean up tooltips, use less function calls
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components, api-server

use do_not_use on pickup and destination as well
  packages/api-server/api_server/models/tortoise_models/tasks.py
Due: api-server

Hammer/fix warning time (#953)
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/rmf_api/task_request.py
  packages/api-server/api_server/models/rmf_api/task_state.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/routes/internal.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/task-alert.tsx
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/task-booking-label-utils.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components, api-server

Fix merge conflict bug where statuses and finish time are always warning colored
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components

Shows outdated tasks as stale (#954)
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components

remove .venv
  .venv/.gitignore
Due: none

cleanup
  .pnpm-debug.log
Due: none

bootstrap pipenv in venv
  .gitignore
  Pipfile
  Pipfile.lock
  package.json
  packages/api-server/setup.py
  pipenv-install/package.json
  pipenv-install/pipenv
Due: api-server

jazzy
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml
  .github/workflows/dashboard-e2e.yml.disabled
  .github/workflows/dashboard.yml
  .github/workflows/nightly.yml
  .github/workflows/react-components.yml
  .github/workflows/rmf-auth.yml
  .github/workflows/ros-translator.yml
  README.md
  packages/api-server/generate-models.sh
Due: api-server

updating images
  .github/actions/bootstrap/action.yml
  .github/minimal-rmf/Dockerfile
  .github/workflows/api-server.yml
  .github/workflows/nightly.yml
  docker/Dockerfile
Due: none

trigger workflow
  .github/workflows/nightly.yml
Due: none

update workflow
  .github/workflows/nightly.yml
Due: none

update scripts
  .github/actions/bootstrap/action.yml
  .github/minimal-rmf/Dockerfile
  pipenv-install/bootstrap-pipenv.sh
  pipenv-install/package.json
  scripts/pipenv
Due: none

set concurrency
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml
  .github/workflows/dashboard.yml
  .github/workflows/nightly.yml
  .github/workflows/react-components.yml
  .github/workflows/rmf-auth.yml
  .github/workflows/ros-translator.yml
Due: none

update docker workflow
  .github/workflows/nightly.yml
Due: none

fix source
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml
  .github/workflows/dashboard-e2e.yml.disabled
  .github/workflows/dashboard.yml
  .github/workflows/nightly.yml
  .github/workflows/react-components.yml
  .github/workflows/rmf-auth.yml
  .github/workflows/ros-translator.yml
Due: none

undo push nightly
  .github/workflows/nightly.yml
Due: none

update workflows
  .github/actions/bootstrap/action.yml
  .github/workflows/api-client.yml
  .github/workflows/dashboard.yml
  .github/workflows/react-components.yml
  .github/workflows/rmf-auth.yml
  .github/workflows/ros-translator.yml
Due: none

update workflows
  .github/workflows/api-server.yml
Due: none

update workflows
  .github/workflows/api-server.yml
  .github/workflows/ghpages.yml
Due: none

Refactor callback names and error handling for misconfigs
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/types/compose-clean.tsx
  packages/react-components/lib/tasks/types/custom-compose.tsx
  packages/react-components/lib/tasks/types/delivery-custom.tsx
  packages/react-components/lib/tasks/types/delivery.tsx
  packages/react-components/lib/tasks/types/patrol.tsx
Due: react-components

Display error as well
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Fixed more checks and failures
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Split configuration and definition, only handle configurations in resource manager level
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/dashboard/src/managers/resource-manager-tasks.ts
  packages/dashboard/src/managers/resource-manager.ts
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/types/compose-clean.tsx
  packages/react-components/lib/tasks/types/custom-compose.tsx
  packages/react-components/lib/tasks/types/delivery-custom.tsx
  packages/react-components/lib/tasks/types/delivery.tsx
  packages/react-components/lib/tasks/types/patrol.tsx
  packages/react-components/lib/tasks/types/utils.ts
Due: dashboard, react-components
