Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, ros2-bridge, api-server, reporting, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  ros2-bridge:
    paths:
      - packages/ros2-bridge
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  reporting:
    paths:
      - packages/reporting
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

fix tests
  packages/api-server/api_server/authenticator.py
  packages/api-server/tests/test_socketio.py
Due: api-server

fix
  packages/dashboard/e2e/Pipfile
  packages/dashboard/e2e/package.json
  packages/dashboard/e2e/scripts/start-rmf-server.sh
Due: dashboard

fix
  packages/dashboard/e2e/Pipfile
  packages/dashboard/e2e/scripts/start-rmf-server.sh
Due: dashboard

ci
  .github/workflows/e2e.yml
Due: none

fix tasks
  packages/api-server/.gitignore
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/gateway.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/rmf_io/test_gateway.py
  packages/api-server/api_server/rmf_io/transport.py
  packages/api-server/package.json
  packages/api-server/setup.py
  packages/api-server/tests/test_data/__init__.py
  packages/api-server/tests/test_socketio.py
  packages/dashboard/e2e/tests/task-summary.test.ts
Due: dashboard, api-server

fix lint
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/rmf_io/test_gateway.py
Due: api-server

wait for service to be ready
  packages/api-server/api_server/routes/test_fixtures.py
Due: api-server

fix dist
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/rmf_io/test_data/__init__.py
  packages/api-server/api_server/rmf_io/test_data/connect.js
  packages/api-server/api_server/rmf_io/test_data/office.png
  packages/api-server/api_server/rmf_io/test_data/test.key
  packages/api-server/api_server/rmf_io/test_data/test.pub
  packages/api-server/api_server/rmf_io/test_health_watchdog.py
  packages/api-server/api_server/routes/test_building_map.py
  packages/api-server/api_server/test/config_auth.py
  packages/api-server/api_server/test/connect.js
  packages/api-server/api_server/test/office.png
  packages/api-server/api_server/test/ros_fixture.py
  packages/api-server/api_server/test/server.py
  packages/api-server/api_server/test/test.key
  packages/api-server/api_server/test/test.pub
  packages/api-server/api_server/test/test_data.py
  packages/api-server/api_server/test_rmf_io.py
  packages/api-server/ros_tortoise/__init__.py
  packages/api-server/setup.py
  packages/api-server/tests/__init__.py
Due: api-server

rmf-server deployment
  example-deployment/README.md
  example-deployment/docker/rmf-server.dockerfile
  example-deployment/docker/ros2-bridge.dockerfile
  example-deployment/k8s/rmf-server.yaml
  example-deployment/k8s/ros2-bridge.yaml
  example-deployment/rmf_server_config.py
Due: none

update docs
  example-deployment/README.md
  packages/api-client/generate-models.js
Due: none

add title bar to react components
  packages/react-components/lib/title-bar.tsx
  packages/react-components/stories/resources/roshealth-logo-white.png
  packages/react-components/stories/title-bar.stories.tsx
Due: react-components

fix socketio path
  packages/dashboard/.env
  packages/dashboard/e2e/scripts/test-e2e.js
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
Due: dashboard

fix socketio path
  example-deployment/docker/builder.dockerfile
  example-deployment/docker/dashboard.dockerfile
  packages/api-server/api_server/app.py
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/default_config.py
Due: api-server

fix static files path
  example-deployment/rmf_server_config.py
  packages/api-server/api_server/app.py
Due: api-server

fix lint
  packages/api-server/package.json
Due: api-server

fix path when it is root
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
Due: dashboard

remove toolbar options
  packages/react-components/lib/title-bar.tsx
  packages/react-components/stories/title-bar.stories.tsx
Due: react-components

refactor appbar in dashboard
  packages/dashboard/public/roshealth-logo-white.png
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

improve path handling
  example-deployment/rmf_server_config.py
  packages/api-server/api_server/__main__.py
  packages/api-server/api_server/app.py
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/default_config.py
  packages/api-server/api_server/routes/building_map.py
Due: api-server

add navigation bar component
  packages/react-components/lib/navigation-bar.tsx
  packages/react-components/stories/navigation-bar.stories.tsx
Due: react-components

add tests for navigation bar and title bar
  packages/react-components/tests/navigation-bar.spec.tsx
  packages/react-components/tests/title-bar.spec.tsx
Due: react-components

rename navigation tabs' aria label
  packages/react-components/lib/navigation-bar.tsx
Due: react-components

update example deployment
  .dockerignore
  example-deployment/README.md
  example-deployment/deploy.sh
  example-deployment/docker/dashboard.dockerfile
  example-deployment/k8s/rmf-server.yaml
  packages/api-server/api_server/app.py
Due: api-server

working rmf-server deployment
  example-deployment/deploy.sh
  example-deployment/rmf_server_config.py
Due: none

add docs on running behind reverse proxy
  packages/api-server/README.md
Due: api-server

document running with other dbs
  example-deployment/k8s/rmf-server.yaml
  example-deployment/rmf_server_config.py
  packages/api-server/README.md
  packages/api-server/api_server/default_config.py
  packages/api-server/setup.py
Due: api-server

deploy rmf-server with postgres
  example-deployment/docker/rmf-server.dockerfile
  example-deployment/k8s/rmf-server.yaml
Due: none

document why openapi docs authorization may not work
  example-deployment/deploy.sh
  example-deployment/keycloak-tools/bootstrap-keycloak.js
  example-deployment/keycloak-tools/get-cert.js
  example-deployment/keycloak-tools/utils.js
  packages/api-server/api_server/app.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/default_config.py
  packages/api-server/api_server/dependencies/__init__.py
  packages/api-server/api_server/dependencies/auth.py
  packages/api-server/api_server/rmf_io/rmf_io.py
Due: api-server

use git clone to ensure version
  packages/rmf-models/generate-models.sh
  packages/rmf-models/lib/version.ts
Due: none

add docs regarding pinning version
  packages/rmf-models/README.md
  packages/rmf-models/generate-models.js
  packages/rmf-models/generate-models.sh
Due: none

ci
  .github/workflows/react-components.yml
  packages/api-server/api_server/test_rmf_io.py
  packages/rmf-models/package.json
Due: api-server

ci
  packages/api-client/generate-models.js
  packages/api-client/generate-schemas.py
  packages/api-client/package.json
Due: none

cleanup
  packages/api-client/package-lock.json
  packages/api-client/package.json
Due: none

fix default public url
  packages/api-server/api_server/default_config.py
  packages/api-server/api_server/test_rmf_io.py
Due: api-server

Fluentd-minio configuration working correctly
  example-deployment/README.md
  example-deployment/k8s/fluentd-configmap.yaml
  example-deployment/k8s/fluentd.yaml
  example-deployment/k8s/minio.yaml
Due: none

Added an ingress to minio
  example-deployment/k8s/minio.yaml
Due: none

build: allow forced rmf server version, add script to generate api-client openapi
  packages/api-client/README.md
  packages/api-client/generate-openapi.py
  packages/api-client/generate-openapi.sh
  packages/api-client/lib/openapi/README.md
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/openapi/apis/building-api.ts
  packages/api-client/lib/openapi/tsconfig.json
  packages/api-client/lib/version.ts
  packages/rmf-models/README.md
  packages/rmf-models/generate-models.js
  packages/rmf-models/generate-models.sh
  packages/rmf-models/lib/version.ts
  scripts/version.sh
Due: none
