Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

Delivery task description uses perform action
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Do not return early if value is not valid for forms, revert to empty strings or 0 instead to trigger update to description
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Camera control component has been added
  packages/dashboard/src/components/three-fiber/camera-control.tsx
  packages/dashboard/src/components/three-fiber/index.tsx
Due: dashboard

Zoom in and zoom out events
  packages/dashboard/src/components/three-fiber/layers-controller.tsx
Due: dashboard

Add camera control component
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Add a wheel function to test event
  packages/dashboard/src/components/three-fiber/camera-control.tsx
Due: dashboard

Description to use compose for all
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Reverting to string for cart IDs
  packages/dashboard/src/managers/resource-manager.ts
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Workaround for rendering or editting tasks, using description category instead
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Expose debounce function
  packages/react-components/lib/map/three-fiber/shape-three-rendering.tsx
Due: react-components

Add wheel function to get the zoom value
  packages/dashboard/src/components/three-fiber/camera-control.tsx
Due: dashboard

Updating zoom properly
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/three-fiber/camera-control.tsx
Due: dashboard

Using delivery_pickup instead of delivery to clean up the cases further
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Fix editing single event setting the correct date
  packages/dashboard/src/components/tasks/task-schedule.tsx
Due: dashboard

Add toIsoFormat
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
Due: dashboard

format date to isoFormat
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

Format to isoFormat
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

Revert to exceptDateref insted of the schedule request time
  packages/dashboard/src/components/tasks/task-schedule.tsx
Due: dashboard

Fix - schedule single event (#791)
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
Due: dashboard, api-server

New route for saving and getting successfully dispatched requests
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Announce failed to dispatch instead of create task
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Cleanup
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Using composed task description for custom deliveries (#778)
  packages/dashboard/src/managers/resource-manager.ts
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Detect 0 as number as well
  packages/react-components/lib/lifts/lift-request-dialog.tsx
Due: react-components

Display error when fields are left empty during submit
  packages/react-components/lib/lifts/lift-request-dialog.tsx
Due: react-components

Remove conditional useLoader
  packages/react-components/lib/map/three-fiber/image-maker.tsx
Due: react-components

Detect 0 as number as well (#793)
  packages/react-components/lib/lifts/lift-request-dialog.tsx
Due: react-components

Remove zoom icon
  packages/dashboard/src/components/three-fiber/layers-controller.tsx
Due: dashboard

Remove zoom implementation
  packages/dashboard/src/components/three-fiber/camera-control.tsx
Due: dashboard

Fix lint
  packages/react-components/lib/map/three-fiber/shape-three-rendering.tsx
Due: react-components

Set max heap size
  .github/workflows/dashboard.yml
Due: none

Stop producing sourcemap for CI
  .github/workflows/dashboard.yml
Due: none

Add label maker to hide or not waypoints names
  packages/react-components/lib/map/waypoint-label-maker.tsx
Due: react-components

Export new component
  packages/react-components/lib/map/index.tsx
Due: react-components

Hide labels by default
  packages/dashboard/src/components/waypoints-overlay.tsx
Due: dashboard

Add waypoint labels as layers
  packages/dashboard/src/components/label-overlay.tsx
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Remove withlabel component
  packages/dashboard/src/components/waypoints-overlay.tsx
Due: dashboard

Rewrite debounce functino
  packages/react-components/lib/map/three-fiber/shape-three-rendering.tsx
Due: react-components

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
