Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, ros2-bridge, api-server

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  ros2-bridge:
    paths:
      - packages/ros2-bridge
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true

Switches to just tests again
  .github/workflows/react-components.yml
Due: none

fix heartbeat impl
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/operators/heartbeat.py
  packages/api-server/api_server/rmf_io/test_health_watchdog.py
Due: api-server

add health message
  packages/api-server/api_server/models/health_status_mixin.py
  packages/api-server/api_server/rmf_io/health_watchdog.py
Due: api-server

cleanup
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/test_health_watchdog.py
Due: api-server

add book keeper door write test
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/rmf_io/test_data/__init__.py
  packages/api-server/api_server/rmf_io/test_data/door.py
Due: api-server

run isort before black
  package.json
Due: none

fix formatting
  packages/api-server/api_server/rmf_io/rmf_io.py
Due: api-server

add read_door and sync_doors
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/repositories/sql.py
  packages/api-server/api_server/repositories/test_sql.py
Due: api-server

use the new sync_doors function
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
Due: api-server

cleanup
  packages/api-server/api_server/rmf_io/book_keeper.py
Due: api-server

log door health changes
  packages/api-server/api_server/rmf_io/health_watchdog.py
Due: api-server

save door health changes into db
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/repositories/sql.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
Due: api-server

perform a fetch for from_rmf conversion functions to ensure the metadata are correct
  packages/api-server/api_server/models/door.py
  packages/api-server/api_server/models/door_state.py
  packages/api-server/api_server/repositories/sql.py
Due: api-server

refactor health state manager and props
  packages/dashboard/src/components/dashboard/main-menu.tsx
  packages/dashboard/src/components/dashboard/tests/commands-panel.test.tsx
  packages/dashboard/src/components/dashboard/tests/items.ts
  packages/dashboard/src/components/dashboard/tests/main-menu.test.tsx
  packages/dashboard/src/components/rmf-app/contexts.ts
  packages/dashboard/src/managers/rmf-health-state-manager.ts
  packages/react-components/lib/systems-summary/systems-summary-item-state.tsx
  packages/react-components/lib/systems-summary/systems-summary-robot-state.tsx
  packages/react-components/stories/systems-summary.stories.tsx
  packages/react-components/tests/systems-summary/systems-summary-item-state.test.tsx
  packages/react-components/tests/systems-summary/test.utils.ts
Due: dashboard, react-components

add health watchdog to app
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/door.py
  packages/api-server/api_server/models/door_state.py
  packages/api-server/api_server/repositories/sql.py
Due: api-server

notifications dialog dismiss notifications function
  packages/dashboard/src/components/dashboard/main-menu.tsx
  packages/react-components/lib/notifications-dialog.tsx
  packages/react-components/lib/systems-summary/systems-summary-alert.tsx
  packages/react-components/lib/systems-summary/systems-summary-item-state.tsx
  packages/react-components/lib/systems-summary/systems-summary-robot-state.tsx
  packages/react-components/stories/systems-summary.stories.tsx
  packages/react-components/tests/systems-summary/systems-summary-alert.test.tsx
Due: dashboard, react-components

make building map a behavior subject again
  packages/api-server/api_server/rmf_io/gateway.py
Due: api-server

add door health to socketio
  packages/api-server/api_server/models/door_health.py
  packages/api-server/api_server/models/health_status_mixin.py
  packages/api-server/api_server/rmf_io/gateway.py
  packages/api-server/api_server/rmf_io/rmf_io.py
  packages/api-server/api_server/rmf_io/test_rmf_io.py
  packages/api-server/api_server/rmf_io/topics.py
Due: api-server

test single run on CI: true
  packages/react-components/karma.conf.js
  packages/react-components/package.json
Due: react-components

splited normal tests from coverage tests
  .github/workflows/react-components.yml
  packages/react-components/karma-config/webpack.test.js
  packages/react-components/karma.conf.js
  packages/react-components/package.json
Due: react-components

react-components: Add web based tests with karma (#219)
  packages/react-components/.gitignore
  packages/react-components/jest.config.js
  packages/react-components/karma-config/webpack.test.js
  packages/react-components/karma.conf.js
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/tests/alert-dialog.spec.tsx
  packages/react-components/tests/alert-dialog.test.tsx
  packages/react-components/tests/auth/login-page.spec.tsx
  packages/react-components/tests/commands/delivery-request-form.spec.tsx
  packages/react-components/tests/commands/loop-request-form.spec.tsx
  packages/react-components/tests/confirmation-alert-dialog.spec.tsx
  packages/react-components/tests/date-time-picker.spec.tsx
  packages/react-components/tests/dispensers/dispenser-accordion.spec.tsx
  packages/react-components/tests/dispensers/dispenser-marker.spec.tsx
  packages/react-components/tests/doors/door-accordion.spec.tsx
  packages/react-components/tests/doors/door-accordion.test.tsx
  packages/react-components/tests/doors/door-marker.spec.tsx
  packages/react-components/tests/geometry-utils.spec.ts
  packages/react-components/tests/lifts/lift-accordion.spec.tsx
  packages/react-components/tests/lifts/lift-marker.spec.tsx
  packages/react-components/tests/lifts/lift-request-form.spec.tsx
  packages/react-components/tests/lifts/lift-request-form.test.tsx
  packages/react-components/tests/log-management/log-management.spec.tsx
  packages/react-components/tests/log-management/log-table.spec.tsx
  packages/react-components/tests/log-management/search-log-form.spec.tsx
  packages/react-components/tests/omni-panel.spec.tsx
  packages/react-components/tests/omni-panel.test.tsx
  packages/react-components/tests/robots/robot-accordion.spec.tsx
  packages/react-components/tests/robots/robot-marker.spec.tsx
  packages/react-components/tests/robots/robot-marker.test.tsx
  packages/react-components/tests/spotlight-accordion.spec.tsx
  packages/react-components/tests/stack-navigator.spec.ts
  packages/react-components/tests/stack-navigator.test.ts
  packages/react-components/tests/status-label.spec.tsx
  packages/react-components/tests/task-summary/task-summary-accordion.spec.tsx
  packages/react-components/tests/tooltip.spec.tsx
  packages/react-components/tests/trashbin-control-button-group.spec.tsx
  packages/react-components/tests/utils.spec.ts
  packages/react-components/tests/waypoints/waypoint-marker.spec.tsx
Due: react-components

add tests
  packages/react-components/lib/notifications-dialog.tsx
  packages/react-components/tests/notifications-dialog.test.tsx
  packages/react-components/tests/systems-summary/systems-summary-robot-state..test.tsx
  packages/react-components/tests/systems-summary/test.utils.ts
Due: react-components

fix tests
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/tests/omni-panel.test.tsx
  packages/react-components/tests/stack-navigator.test.ts
Due: react-components

fix ros2-bridge ci path
  .github/workflows/ros2-bridge.yml
Due: none

refactor storybook summaries and main-menu-wip
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/main-menu.tsx
  packages/dashboard/src/components/dashboard/tests/main-menu.test.tsx
  packages/dashboard/src/components/dashboard/tests/wip-main-menu-plusplus.test.tsx
  packages/dashboard/src/components/dashboard/wip-main-menu-plusplus.tsx
  packages/react-components/stories/notifications-dialog.stories.tsx
  packages/react-components/stories/systems-summary.stories.tsx
Due: dashboard, react-components

refactory system summary alert dialog
  packages/react-components/stories/systems-summary.stories.tsx
Due: react-components

fix tests
  packages/api-server/api_server/rmf_io/test_rmf_io.py
Due: api-server

ignore coverage for test files
  packages/api-server/.coveragerc
Due: api-server

ci(api-server): ignore coverage for test files (#235)
  packages/api-server/.coveragerc
Due: api-server

share eslint config
  .eslintrc.js
  package-lock.json
  package.json
  packages/react-components/.eslintrc.js
  packages/react-components/package-lock.json
  packages/react-components/package.json
Due: react-components

resolve storybook not showing actions error
  packages/dashboard/package-lock.json
  packages/react-components/stories/system-summary-alert.stories.tsx
  packages/react-components/stories/system-summary-banner.stories.tsx
  packages/react-components/stories/system-summary-item.stories.tsx
  packages/react-components/stories/system-summary-spoilt-items.stories.tsx
  packages/react-components/stories/system-summary-task-state.stories.tsx
  packages/react-components/stories/systems-summary.stories.tsx
Due: dashboard, react-components

dont emit declaration
  packages/react-components/karma-config/webpack.test.js
Due: react-components

add alarm drawer and emergency dialog
  packages/dashboard/src/components/drawers/alarm-drawer.tsx
  packages/dashboard/src/components/drawers/emergency-dialog.tsx
  packages/dashboard/src/components/drawers/tests/alarm-drawer.test.tsx
  packages/dashboard/web_server.log
Due: dashboard

update overlay test to be smoke test
  packages/dashboard/src/components/schedule-visualizer/tests/robot-trajectories-overlay.test.tsx
Due: dashboard

add color maanger tests
  packages/react-components/karma-config/webpack.test.js
  packages/react-components/karma.conf.js
  packages/react-components/lib/color-manager.ts
  packages/react-components/lib/robots/base-marker.ts
  packages/react-components/lib/robots/default-marker.tsx
  packages/react-components/lib/robots/image-marker.tsx
  packages/react-components/lib/robots/robot-marker.tsx
  packages/react-components/tests/assets/tiny-robot.png
  packages/react-components/tests/color-manager.spec.ts
  packages/react-components/tests/robots/robot-marker.spec.tsx
Due: react-components

revert webpack changes
  packages/react-components/karma-config/webpack.test.js
Due: react-components

remove extra read
  packages/api-server/api_server/app.py
Due: api-server

docs
  packages/api-server/api_server/rmf_io/operators/heartbeat.py
Due: api-server

fix lint error
  packages/api-server/api_server/rmf_io/operators/heartbeat.py
Due: api-server
