Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

Log at and until times from api-server
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
Due: api-server

More logs when creating job from schedule model, using fromtimestamp instead of utc_from_timestamp
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
Due: api-server

More logs in node 18 to test locally, use fromtimestamp
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components, api-server

Mentioning schedule starting task
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

Use schedule 1.2.1, with timezone information when creating schedules
  Pipfile.lock
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/setup.py
Due: api-server

Using Asia/Singapore timezone for all jobs
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
Due: api-server

Remove stale comment and ignore type issues error by pyright for now
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
Due: api-server

Ignore pyright error
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
Due: api-server

More logs for retrieving and rendering schedules
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
  packages/dashboard/src/components/tasks/task-schedule.tsx
Due: dashboard

Designate semicolon as column separator, supported by Excel directly
  packages/dashboard/src/components/tasks/utils.ts
Due: dashboard

Lint for timezone string parsing
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
Due: api-server

Stopping ci that uses self runners for now
  .github/workflows/dashboard-e2e.yml
  .github/workflows/nightly.yml
  README.md
Due: none

Timezone included in app config, propagated to be used in schedule to jobs
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/sqlite_local_config.py
Due: api-server

Fixed missing timezone config in default config
  packages/api-server/api_server/default_config.py
Due: api-server

Cleaned up logs, changed some to debug
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Stop subscribing to tasks and refreshing task app when viewing schedule tab
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Lift op mode to mode
  packages/dashboard/src/components/lift-summary.tsx
  packages/dashboard/src/components/lifts-app.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
Due: dashboard, react-components

Disable start time on create task
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Scheduled task description as an additional viewer component
  packages/dashboard/src/components/tasks/task-schedule.tsx
Due: dashboard

Hammer/fix uat (#869)
  Pipfile.lock
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/default_config.py
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/setup.py
  packages/api-server/sqlite_local_config.py
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/lift-summary.tsx
  packages/dashboard/src/components/lifts-app.tsx
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/dashboard/src/components/tasks/utils.ts
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components, api-server

Remove stale logging
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Task json that accommodates on-cancel emergency lots (#865)
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/managers/resource-manager.ts
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Change building map to debug
  packages/api-server/api_server/rmf_io/book_keeper.py
Due: api-server

Calling os._exit(1) 20 seconds after connection
  packages/api-server/api_server/routes/internal.py
Due: api-server

Trigger exit after receiving BuildingMap instead
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/routes/internal.py
Due: api-server

Shut down if there are more than 5 disconnections within 2 minutes
  packages/api-server/api_server/routes/internal.py
Due: api-server

Adding clean up logic, and more logs
  packages/api-server/api_server/routes/internal.py
Due: api-server

Clean up tests with building map
  packages/api-server/api_server/rmf_io/book_keeper.py
Due: api-server

Lint
  packages/api-server/api_server/routes/internal.py
Due: api-server

Clean up keycloak authenticator logs
  packages/rmf-auth/lib/keycloak.ts
Due: rmf-auth

Shuts down server if websocket connection is unhealthy (#876)
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/routes/internal.py
  packages/rmf-auth/lib/keycloak.ts
Due: api-server, rmf-auth

Stopping ci that uses self runners for now (#873)
  .github/workflows/dashboard-e2e.yml
  .github/workflows/nightly.yml
  README.md
Due: none

Stopping ci that uses self runners for now (#872)
  .github/workflows/dashboard-e2e.yml
  .github/workflows/nightly.yml
  README.md
Due: none

Added a timeout for receive_json to prevent busy loops when routes disconnect
  packages/api-server/api_server/routes/internal.py
Due: api-server

Some updates by saha
  packages/api-server/api_server/default_config.py
  packages/api-server/package.json
  packages/dashboard/src/components/app-registry.ts
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/header-bar.spec.tsx
  packages/react-components/lib/header-bar.stories.tsx
Due: dashboard, react-components, api-server

Remove individual task subscriptions
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Remove individual task subscriptions (#878)
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
