Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

Making default zoom levels a single source of truth (#747)
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Fixing missing handler delivery task description (#745)
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/place.ts
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Export function in order to use in others components
  packages/react-components/lib/map/lift-marker.tsx
Due: react-components

Draw a square to represent lift status
  packages/dashboard/src/components/door.tsx
Due: dashboard

Sort alphabetical order
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Remove console.log
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Using throw error to show message in console
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Change the endpoint and endpoint parameters to make them more accurate and understandable.
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard, api-server

Make getMotionState funcion local
  packages/react-components/lib/map/lift-marker.tsx
Due: react-components

Draw lifts and liftstates
  packages/dashboard/src/components/door.tsx
Due: dashboard

Hammer zoom (#746)
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Delete the entire recurring event or only the selected event (#742)
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard, api-server

Adding lift name
  packages/dashboard/src/components/door.tsx
Due: dashboard

Drawing a circle to represent robots
  packages/dashboard/src/components/robot-loader.tsx
Due: dashboard

Remove patrol and clean tasks, support new delivery hunting tasks
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Cleanup up further, removed unused fields for normal delivery
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Test CI with older pnpm
  .github/actions/bootstrap/action.yml
Due: none

Remove task upload button
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Increase font size on title bar and change button size
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Test CI with older pnpm (#751)
  .github/actions/bootstrap/action.yml
Due: none

Reverting to latest pnpm version when #6994 is fixed
  .github/actions/bootstrap/action.yml
Due: none

Remove task upload button (#752)
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Add robots' name
  packages/dashboard/src/components/robot-loader.tsx
Due: dashboard

Change appbar title fontsize according to logo height
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Draw a circle if data is dispenser or ingestor
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/three-object-render.tsx
Due: dashboard

Load object or draw a circle. Handling robots
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/robot-loader.tsx
Due: dashboard

Remove unused variable
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Sort import and comment what object model variable is
  packages/dashboard/src/components/robot-loader.tsx
Due: dashboard

Making buttons, icons and window titles larger as well
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/window/window-toolbar.tsx
Due: dashboard, react-components

App bar changes (#753)
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/window/window-toolbar.tsx
Due: dashboard, react-components

Configurable pickup zones
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/managers/resource-manager.ts
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Align to left
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Hammer/tasks (#750)
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/managers/resource-manager.ts
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Using default zoom from resources if available
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/managers/resource-manager.ts
Due: dashboard

Add resourceManager as dependency
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Warning time frontend and backend
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/rmf_api/task_request.py
  packages/api-server/api_server/models/rmf_api/task_state.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components, api-server

Alerts started
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/internal.py
Due: api-server

Add defaultRobotZoom as dependency
  packages/dashboard/src/managers/resource-manager.ts
Due: dashboard

Using defaultRobotzoom if available
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Add attributionPrefix as dependency
  packages/dashboard/src/managers/resource-manager.ts
Due: dashboard

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
