Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, ros2-bridge, api-server

lift state
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/lift_state.py
  packages/api-server/api_server/models/ros_convert.py
  packages/api-server/api_server/models/test_ros_convert.py
  packages/api-server/api_server/repositories/sql.py
  packages/api-server/api_server/repositories/test_sql.py
  packages/api-server/api_server/rmf_io/test_data/__init__.py
  packages/api-server/api_server/rmf_io/test_data/building_map.py
  packages/api-server/api_server/rmf_io/test_data/door.py
  packages/api-server/api_server/rmf_io/test_data/door_state.py
Due: api-server

lift health
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/health.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/repositories/sql.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/gateway.py
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/rmf_io/test_health_watchdog.py
Due: api-server

add endpoints to rmf_io
  packages/api-server/api_server/rmf_io/rmf_io.py
  packages/api-server/api_server/rmf_io/test_rmf_io.py
  packages/api-server/api_server/rmf_io/topics.py
Due: api-server

refactor tests
  packages/api-server/api_server/rmf_io/test_rmf_io.py
Due: api-server

refactor rmf_io
  packages/api-server/api_server/rmf_io/rmf_io.py
Due: api-server

record lift state in bookkeeper
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/rmf_io/test_data/__init__.py
Due: api-server

load lift states on start
  packages/api-server/api_server/app.py
Due: api-server

add test for writing healths
  packages/api-server/api_server/repositories/test_sql.py
Due: api-server

subscribe to lift states, remove unused code
  packages/api-server/api_server/models/door_mode.py
  packages/api-server/api_server/rmf_io/transport.py
Due: api-server

dashboard: stub auth (#245)
  .github/workflows/e2e.yml
  packages/dashboard/.env
  packages/dashboard/.gitignore
  packages/dashboard/README.md
  packages/dashboard/e2e/README.md
  packages/dashboard/e2e/docker/docker-compose.yml
  packages/dashboard/e2e/docker/keycloak/Dockerfile
  packages/dashboard/e2e/docker/keycloak/keycloak.mv.db
  packages/dashboard/e2e/docs/resources/e2e-Container-networks.png
  packages/dashboard/e2e/env.d.ts
  packages/dashboard/e2e/package.json
  packages/dashboard/e2e/scripts/test-e2e.js
  packages/dashboard/e2e/tests/utils.ts
  packages/dashboard/e2e/tsconfig.json
  packages/dashboard/e2e/wdio.conf.js
  packages/dashboard/package.json
  packages/dashboard/rmf-launcher.ts
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/auth/authenticator.ts
  packages/dashboard/src/components/auth/keycloak.ts
  packages/dashboard/src/components/auth/login.tsx
  packages/dashboard/src/components/auth/stub.ts
  packages/dashboard/src/components/auth/tests/login.test.tsx
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/react-app-env.d.ts
  packages/dashboard/src/rpc-client.ts
Due: dashboard

door health from door mode
  packages/api-server/api_server/rmf_io/health_watchdog.py
Due: api-server

add tests for checking health on door mode
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/operators/__init__.py
  packages/api-server/api_server/rmf_io/operators/health.py
  packages/api-server/api_server/rmf_io/operators/test_health.py
  packages/api-server/api_server/rmf_io/test_health_watchdog.py
Due: api-server

generalized json mixin
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/dispenser_state.py
  packages/api-server/api_server/models/json_mixin.py
  packages/api-server/api_server/models/lift_state.py
  packages/api-server/api_server/repositories/sql.py
Due: api-server

load states after init RmfIO
  packages/api-server/api_server/app.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/repositories/sql.py
  packages/api-server/api_server/rmf_io/gateway.py
  packages/api-server/api_server/rmf_io/health_watchdog.py
Due: api-server

catch dead heartbeat for items that never sends any events
  packages/api-server/api_server/rmf_io/gateway.py
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/test_data/__init__.py
  packages/api-server/api_server/rmf_io/test_health_watchdog.py
Due: api-server

add test for door with no state
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/test_health_watchdog.py
Due: api-server

change name to id
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/health.py
  packages/api-server/api_server/repositories/sql.py
  packages/api-server/api_server/repositories/test_sql.py
  packages/api-server/api_server/rmf_io/gateway.py
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/rmf_io.py
  packages/api-server/api_server/rmf_io/test_health_watchdog.py
  packages/api-server/api_server/rmf_io/test_rmf_io.py
Due: api-server

change type of spoilt item to unknown
  packages/dashboard/src/components/dashboard/wip-main-menu-plusplus.tsx
  packages/dashboard/src/managers/rmf-health-state-manager.ts
  packages/react-components/lib/systems-summary/systems-summary-item-state.tsx
  packages/react-components/stories/system-summary-item.stories.tsx
  packages/react-components/tests/systems-summary/systems-summary-item-state.test.tsx
  packages/react-components/tests/systems-summary/test.utils.ts
Due: dashboard, react-components

add dispenser state + health
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/repositories/sql.py
  packages/api-server/api_server/repositories/test_sql.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/gateway.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/rmf_io/test_data/__init__.py
Due: api-server

dispenser health heartbeat
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/test_health_watchdog.py
Due: api-server

add test emergency panel
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app-contexts.tsx
  packages/dashboard/src/components/app-drawers.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/drawers/emergency-dialog.tsx
  packages/dashboard/src/components/emergency-alarm.tsx
  packages/dashboard/src/components/tests/mock-app-controller.ts
Due: dashboard

endpoints for dispenser state and health
  packages/api-server/api_server/rmf_io/rmf_io.py
  packages/api-server/api_server/rmf_io/test_rmf_io.py
  packages/api-server/api_server/rmf_io/topics.py
  packages/api-server/api_server/rmf_io/transport.py
Due: api-server

load dispenser states
  packages/api-server/api_server/app.py
Due: api-server

fleet states and robot health
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/fleet_state.py
  packages/api-server/api_server/models/health.py
  packages/api-server/api_server/models/json_mixin.py
  packages/api-server/api_server/models/robot.py
  packages/api-server/api_server/models/ros_convert.py
  packages/api-server/api_server/models/test_ros_convert.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/repositories/sql.py
  packages/api-server/api_server/repositories/test_sql.py
  packages/api-server/api_server/rmf_io/gateway.py
  packages/api-server/api_server/rmf_io/test_data/__init__.py
Due: api-server

record fleet states and robot health
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
Due: api-server

update emergency panel
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/emergency-panel.tsx
  packages/dashboard/src/components/styled-chip.tsx
Due: dashboard

remove unused element
  packages/dashboard/src/components/dashboard/emergency-panel.tsx
Due: dashboard

watch robot heartbeat
  packages/api-server/api_server/models/health.py
  packages/api-server/api_server/repositories/test_sql.py
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/rmf_io/test_health_watchdog.py
Due: api-server

subscribe to fleet_states
  packages/api-server/api_server/rmf_io/transport.py
Due: api-server

fleet state and robot health endpoint
  packages/api-server/api_server/rmf_io/rmf_io.py
  packages/api-server/api_server/rmf_io/test_rmf_io.py
  packages/api-server/api_server/rmf_io/topics.py
Due: api-server

load fleet states and robot health
  packages/api-server/api_server/app.py
Due: api-server

default to unhealthy if door mode is unknown
  packages/api-server/api_server/rmf_io/health_watchdog.py
Due: api-server

fix lint errors
  packages/api-server/api_server/app.py
  packages/api-server/api_server/repositories/test_sql.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/rmf_io/test_health_watchdog.py
Due: api-server

ci: fix repo paths
  .github/workflows/api-server.yml
  .github/workflows/dashboard.yml
  .github/workflows/e2e.yml
  README.md
  packages/dashboard/README.md
Due: dashboard

chore: fix codecov badge url
  README.md
Due: none

chore: update for repo paths
  packages/dashboard/scripts/setup/setup.js
  packages/ros2-bridge/package.json
Due: dashboard, ros2-bridge

remove unneeded casts
  packages/dashboard/src/components/dashboard/wip-main-menu-plusplus.tsx
Due: dashboard

make ItemSummary generic
  packages/dashboard/src/components/dashboard/wip-main-menu-plusplus.tsx
  packages/dashboard/src/managers/rmf-health-state-manager.ts
  packages/react-components/lib/systems-summary/systems-summary-item-state.tsx
Due: dashboard, react-components

remove backend dependencies from dashboard
  packages/dashboard/README.md
  packages/dashboard/e2e/package.json
  packages/dashboard/package-lock.json
  packages/dashboard/package.json
  packages/ros2-bridge/package.json
  scripts/bootstrap.js
Due: dashboard, ros2-bridge

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  ros2-bridge: any of: packages/ros2-bridge
  api-server: any of: packages/api-server
