Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

Revert to old tests to check with updated testing-library/*
  packages/react-components/lib/robots/robot-info.spec.tsx
  packages/react-components/lib/robots/robot-table.spec.tsx
  packages/react-components/lib/tasks/task-timeline.spec.tsx
Due: react-components

Continue to use convoluted tests
  packages/react-components/lib/robots/robot-info.spec.tsx
  packages/react-components/lib/robots/robot-table.spec.tsx
  packages/react-components/lib/tasks/task-timeline.spec.tsx
Due: react-components

Add favorite_task test data to test endpoints
  packages/api-server/api_server/test/test_data.py
Due: api-server

Add error message if favorite_task_id does not exists in delete endpoint
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Add create_favorite_task test function to test endpoints
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

Favorite task endpoints tests has been added
  packages/api-server/api_server/routes/tasks/test_favorite_tasks.py
Due: api-server

Remove unnecessary code
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Set id as None in TaskFavorite class to send a post method as test
  packages/api-server/api_server/routes/tasks/test_favorite_tasks.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

Set 1636388410000 as default value to unix_millis start time in test case
  packages/api-server/api_server/routes/tasks/test_favorite_tasks.py
Due: api-server

Setting start_time data type as string
  packages/api-server/api_server/routes/tasks/test_favorite_tasks.py
Due: api-server

Setting start_time data type as datetime
  packages/api-server/api_server/routes/tasks/test_favorite_tasks.py
Due: api-server

Unused models imported from api_server as mdl
  packages/api-server/api_server/routes/tasks/test_favorite_tasks.py
Due: api-server

Fix react-components test failure on win10 (#681)
  packages/dashboard/package.json
  packages/react-components/karma.conf.js
  packages/react-components/lib/robots/robot-info.spec.tsx
  packages/react-components/lib/robots/robot-table.spec.tsx
  packages/react-components/lib/tasks/task-timeline.spec.tsx
  packages/react-components/package.json
  packages/rmf-auth/package.json
  pnpm-lock.yaml
Due: dashboard, react-components, rmf-auth

Resolving permissions issue when cleaning up github runner workspace
  .github/workflows/nightly.yml
Due: none

Resolving permissions issue when cleaning up github runner workspace (#683)
  .github/workflows/nightly.yml
Due: none

Remove unused error parameter, added console log to mention task id
  packages/dashboard/src/components/tasks/task-logs-app.tsx
Due: dashboard

Fix/cancel api (#682)
  packages/api-server/api_server/rmf_io/rmf_service.py
  packages/dashboard/src/components/tasks/task-logs-app.tsx
  packages/dashboard/src/components/tasks/task-logs.tsx
Due: dashboard, api-server

Run generate_model.sh script to generate rmf_api python files
  packages/api-server/api_server/models/rmf_api/task_favorite.py
  packages/api-server/api_server/models/rmf_api/task_favorite_response.py
Due: api-server

Alphabetical order in import
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Favorite tasks (#676)
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/rmf_api/task_favorite.py
  packages/api-server/api_server/models/rmf_api/task_favorite_request.py
  packages/api-server/api_server/models/rmf_api/task_favorite_response.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_favorite_tasks.py
  packages/api-server/api_server/test/test_data.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components, api-server

Set name, description and category fields as requiered according to the rmf_api_msgs schema
  packages/api-server/api_server/models/rmf_api/task_favorite.py
Due: api-server

Build api-client
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

fix datamodel-codegen not running in pipenv env
  packages/api-server/generate-models.sh
  packages/api-server/package.json
Due: api-server

fix datamodel-codegen not running in pipenv env (#688)
  packages/api-server/generate-models.sh
  packages/api-server/package.json
Due: api-server

Pydantic model creator is used instead of data model generator
  packages/api-server/api_server/models/tortoise_models/tasks.py
Due: api-server

Tasks favorites files were remove from rmf_api
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/rmf_api/task_favorite.py
  packages/api-server/api_server/models/rmf_api/task_favorite_request.py
  packages/api-server/api_server/models/rmf_api/task_favorite_response.py
Due: api-server

Add TaskFavoritePydantic model to can import it
  packages/api-server/api_server/models/tortoise_models/__init__.py
Due: api-server

User Pydantic model instead of rmf_api model
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Adjusting tests according to the new changes in task favorite routes
  packages/api-server/api_server/routes/tasks/test_favorite_tasks.py
  packages/api-server/api_server/test/test_data.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

Generate api client objects
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

Change request type according to the new post method
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Remove default uuid value
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/tortoise_models/tasks.py
Due: api-server

Client send empty id if the favorite task is new
  packages/api-server/api_server/repositories/tasks.py
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components, api-server

Using dict instead of pydantic object
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

Fix pydantic datatype
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Remove code from repositories and move it to routes
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Remove unnucessary import
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Add pydantic base model to request and response parameters
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Reverse change
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Create a pydantic model to use in response and request data
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
