Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, ros2-bridge, api-server, reporting, rmf-auth

properly highlight multiple rows on hover
  packages/react-components/lib/task-summary/task-table.tsx
  packages/react-components/package.json
Due: react-components

add test for task panel
  packages/react-components/tests/task-summary/task-panel.spec.tsx
Due: react-components

styling
  packages/react-components/lib/task-summary/task-panel.tsx
  packages/react-components/lib/task-summary/task-table.tsx
Due: react-components

align text right for when it overflows
  packages/react-components/lib/task-summary/task-info.tsx
Due: react-components

add border to divide
  packages/dashboard/src/util/url.ts
  packages/react-components/lib/title-bar.tsx
Due: dashboard, react-components

feat(react-components): task panel (#305)
  package-lock.json
  package.json
  packages/api-client/lib/index.ts
  packages/react-components/.storybook/preview.js
  packages/react-components/lib/index.ts
  packages/react-components/lib/task-summary/create-task.tsx
  packages/react-components/lib/task-summary/index.ts
  packages/react-components/lib/task-summary/task-info.tsx
  packages/react-components/lib/task-summary/task-panel.tsx
  packages/react-components/lib/task-summary/task-phases.tsx
  packages/react-components/lib/task-summary/task-table.tsx
  packages/react-components/lib/task-summary/utils.ts
  packages/react-components/lib/utils.ts
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/stories/tasks/create-task.stories.tsx
  packages/react-components/stories/tasks/task-info.stories.tsx
  packages/react-components/stories/tasks/task-panel.stories.tsx
  packages/react-components/stories/tasks/task-phases.stories.tsx
  packages/react-components/stories/tasks/task-table.stories.tsx
  packages/react-components/tests/task-summary/create-task.spec.tsx
  packages/react-components/tests/task-summary/task-info.spec.tsx
  packages/react-components/tests/task-summary/task-panel.spec.tsx
  packages/react-components/tests/task-summary/task-table.spec.tsx
  packages/react-components/tests/test-data/tasks.ts
  packages/rmf-models/lib/ros/index.ts
  packages/rmf-models/lib/version.ts
  packages/rmf-models/test/index.ts
  packages/rmf-models/ts_ros/__main__.py
  packages/rmf-models/ts_ros/templates/index.j2
  scripts/bootstrap.js
  scripts/packages.js
  scripts/symlink-packages.js
Due: react-components

Fluentd-minio configuration working correctly
  example-deployment/k8s/fluentd-configmap.yaml
  example-deployment/k8s/minio.yaml
Due: none

Add minio and update fluentd
  example-deployment/k8s/fluentd-configmap.yaml
Due: none

Added fluentD to deploy
  example-deployment/docker/fluentd-dockerfile/Gemfile
  example-deployment/docker/fluentd-dockerfile/Gemfile.lock
  example-deployment/docker/fluentd-dockerfile/dockerfile
  example-deployment/docker/fluentd-dockerfile/entrypoint.sh
  example-deployment/docker/fluentd-dockerfile/plugins/parser_kubernetes.rb
  example-deployment/docker/fluentd-dockerfile/plugins/parser_multiline_kubernetes.rb
  example-deployment/k8s/fluentd-configmap.yaml
  example-deployment/k8s/output-example
  example-deployment/k8s/test.yaml
Due: none

Added routers and example repository
  .gitignore
  packages/reporting-server/.gitignore
  packages/reporting-server/main.py
  packages/reporting-server/rest_server/__init__.py
  packages/reporting-server/rest_server/__main__.py
  packages/reporting-server/rest_server/app.py
  packages/reporting-server/rest_server/repository/__init__.py
  packages/reporting-server/rest_server/repository/raw_log.py
  packages/reporting-server/rest_server/repository/report.py
  packages/reporting-server/rest_server/routers/__init__.py
  packages/reporting-server/rest_server/routers/log.py
  packages/reporting-server/rest_server/routers/report.py
Due: reporting

Added an ingress to minio
  packages/reporting-server/.coverage
Due: reporting

Removed fluentd dockerfile and updated readme
  example-deployment/docker/fluentd-dockerfile/Gemfile
  example-deployment/docker/fluentd-dockerfile/Gemfile.lock
  example-deployment/docker/fluentd-dockerfile/dockerfile
  example-deployment/docker/fluentd-dockerfile/entrypoint.sh
  example-deployment/docker/fluentd-dockerfile/plugins/parser_kubernetes.rb
  example-deployment/docker/fluentd-dockerfile/plugins/parser_multiline_kubernetes.rb
Due: none

Created an reporting-server package
  example-deployment/k8s/fluentd-configmap.yaml
  example-deployment/k8s/postgres-logs.yaml
  packages/reporting-server/.coveragerc
  packages/reporting-server/.gitignore
  packages/reporting-server/.pylintrc
  packages/reporting-server/LICENSE
  packages/reporting-server/README.md
  packages/reporting-server/main.py
  packages/reporting-server/models/__init__.py
  packages/reporting-server/models/raw_log.py
  packages/reporting-server/package-lock.json
  packages/reporting-server/package.json
  packages/reporting-server/parsers/__init__.py
  packages/reporting-server/pyproject.toml
  packages/reporting-server/rest_server/__main__.py
  packages/reporting-server/rest_server/app.py
  packages/reporting-server/rest_server/app_config.py
  packages/reporting-server/rest_server/default_config.py
  packages/reporting-server/setup.py
Due: reporting

Added exception to log
  packages/reporting-server/rest_server/routers/__init__.py
  packages/reporting-server/rest_server/routers/log.py
Due: reporting

Minio- fluentd config working
  example-deployment/k8s/fluentd-configmap.yaml
Due: none

Added reporting server to pipfile, added reporting_server_config added reporting-server docker file, set REACT_APP_REPORTING_SEVER on react app and on docker
  Pipfile
  Pipfile.lock
  example-deployment/docker/reporting-server.dockerfile
  example-deployment/docker/reporting.dockerfile
  example-deployment/k8s/reporting-server.yaml
  example-deployment/reporting_server_config.py
  packages/reporting-server/.gitignore
  packages/reporting-server/package.json
  packages/reporting-server/setup.py
  packages/reporting/.env
  packages/reporting/src/app-config.ts
Due: reporting

Fluentd points to reporting service and updated config of reporting-server
  example-deployment/k8s/fluentd-configmap.yaml
  packages/reporting-server/main.py
  packages/reporting-server/rest_server/__main__.py
  packages/reporting-server/rest_server/app.py
  packages/reporting-server/rest_server/app_config.py
  packages/reporting-server/rest_server/default_config.py
  packages/reporting-server/rest_server/routers/report.py
Due: reporting

importlib.util
  packages/reporting-server/rest_server/app_config.py
Due: reporting

Added rmf-server as source in fluentd config and modified the log creating with real data
  example-deployment/k8s/fluentd-configmap.yaml
  packages/reporting-server/output-example
  packages/reporting-server/rest_server/repositories/log_creation_handler.py
  packages/reporting-server/rest_server/routers/log.py
Due: reporting

Fluentd sending data to reporting-server and reporting server is storing the data
  example-deployment/k8s/fluentd-configmap.yaml
  example-deployment/k8s/reporting.yaml
Due: none

Changed port of reporting to 8001 and add debug config to repoting_server
  example-deployment/k8s/reporting.yaml
  example-deployment/reporting_server_config.py
Due: none

added root path
  packages/reporting-server/rest_server/default_config.py
Due: reporting

Added reporting dockerfile, a test docker to print logs and switch log level from api-server to Debug
  example-deployment/docker/dashboard.dockerfile
  example-deployment/docker/reporting.dockerfile
  example-deployment/k8s/fluentd-configmap.yaml
  example-deployment/k8s/nodeserver.yaml
  example-deployment/k8s/output-example
  example-deployment/k8s/reporting.yaml
  packages/api-server/api_server/default_config.py
Due: api-server

updated URL and added params to the request
  example-deployment/reporting_server_config.py
  packages/reporting/src/components/reports/all-logs.tsx
Due: reporting

reporting-server working outside cluseter
  .venv/.gitignore
  example-deployment/docker/reporting.dockerfile
  packages/reporting-server/models/raw_log.py
  packages/reporting-server/rest_server/__main__.py
  packages/reporting-server/rest_server/app.py
  packages/reporting-server/rest_server/repositories/__init__.py
  packages/reporting-server/rest_server/repositories/raw_log.py
  packages/reporting-server/rest_server/repositories/report.py
  packages/reporting-server/rest_server/repository/raw_log.py
  packages/reporting-server/rest_server/repository/report.py
  packages/reporting-server/rest_server/routers/log.py
  packages/reporting-server/rest_server/routers/report.py
  packages/reporting-server/setup.py
Due: reporting

Created rawlog model and enum, it's storing the data. Created a doors_model. Added url to the UI. Activated All logs report
  packages/reporting-server/models/door_state.py
  packages/reporting-server/models/raw_log.py
  packages/reporting-server/output-example
  packages/reporting-server/parsers/doors_state.py
  packages/reporting-server/parsers/log_model_dispacher.py
  packages/reporting-server/parsers/log_type_parser.py
  packages/reporting-server/rest_server/repositories/log_creation_handler.py
  packages/reporting-server/rest_server/repositories/raw_log.py
  packages/reporting-server/rest_server/repositories/report.py
  packages/reporting-server/rest_server/routers/log.py
  packages/reporting/.env
  packages/reporting/package-lock.json
  packages/reporting/package.json
  packages/reporting/src/app-config.ts
  packages/reporting/src/components/report-list.tsx
  packages/reporting/src/components/reports/all-logs.tsx
Due: reporting

Updated fluentd-configmap. Removed postgres yaml. Updated default config
  example-deployment/k8s/fluentd-configmap.yaml
  example-deployment/k8s/postgres-logs.yaml
  packages/reporting-server/output-example
  packages/reporting-server/rest_server/default_config.py
Due: reporting

get all logs with filter
  packages/reporting-server/rest_server/repositories/report.py
  packages/reporting-server/rest_server/routers/report.py
  packages/reporting/src/components/reports/all-logs.tsx
Due: reporting

Fixed lint erros
  packages/reporting-server/rest_server/app.py
  packages/reporting-server/rest_server/repositories/log_creation_handler.py
  packages/reporting-server/rest_server/repositories/report/dispenser_state.py
  packages/reporting-server/rest_server/repositories/report/door_state.py
  packages/reporting-server/rest_server/repositories/report/fleet_state.py
  packages/reporting-server/rest_server/repositories/report/health.py
  packages/reporting-server/rest_server/repositories/report/ingestor_state.py
  packages/reporting-server/rest_server/repositories/report/lift_state.py
  packages/reporting-server/rest_server/repositories/report/raw_log.py
  packages/reporting-server/rest_server/routers/log.py
  packages/reporting-server/rest_server/routers/report.py
  packages/reporting-server/rest_server/routers/test_log.py
Due: reporting

Removed fastapi
  packages/reporting-server/rest_server/app.py
Due: reporting

Adapted reports
  packages/react-components/lib/reports/door-state/door-state-report-table.tsx
  packages/react-components/lib/reports/fleet-state/fleet-state-report-table.tsx
  packages/react-components/lib/reports/health/health-report-table.tsx
  packages/react-components/lib/reports/ingestor-state/ingestor-state-report-table.tsx
  packages/react-components/lib/reports/lift-state/lift-state-report-table.tsx
Due: react-components

Added tests for log_creation_handler
  packages/reporting-server/rest_server/repositories/log_creation_handler.py
  packages/reporting-server/rest_server/repositories/test_log_creation_handler.py
  packages/reporting-server/rest_server/repositories/test_parser_dispatcher.py
Due: reporting

Added again the reporting UI and server deploy spteps to the REadme file
  example-deployment/README.md
Due: none

Added tests for parsers
  packages/reporting-server/models/dispenser_state.py
  packages/reporting-server/models/lift_state.py
  packages/reporting-server/parsers/dispenser_state_parser.py
  packages/reporting-server/parsers/health_parser.py
  packages/reporting-server/parsers/ingestor_state_parser.py
  packages/reporting-server/parsers/lift_state_parser.py
  packages/reporting-server/parsers/test_dispenser_state_parser.py
  packages/reporting-server/parsers/test_doors_state_parser.py
  packages/reporting-server/parsers/test_fleet_state_parser.py
  packages/reporting-server/parsers/test_health_parser.py
  packages/reporting-server/parsers/test_ingestor_parser.py
  packages/reporting-server/parsers/test_lift_state_parser.py
  packages/reporting-server/parsers/test_log_type_parser.py
  packages/reporting-server/rest_server/routers/test_log.py
Due: reporting

Added error checking
  packages/reporting-server/parsers/doors_state_parser.py
  packages/reporting-server/parsers/health_parser.py
  packages/reporting-server/rest_server/repositories/log_creation_handler.py
  packages/reporting-server/rest_server/repositories/parser_dispacher.py
  packages/reporting-server/rest_server/routers/log.py
Due: reporting

removed egg-info
  packages/reporting-server/.gitignore
Due: reporting

Added created to health
  packages/reporting-server/models/health.py
Due: reporting

Pagination working correctly
  packages/react-components/lib/reports/log-management/log-management.tsx
  packages/react-components/lib/reports/log-management/log-table.tsx
  packages/react-components/lib/reports/log-management/search-log-form.tsx
  packages/reporting-server/rest_server/app.py
  packages/reporting-server/rest_server/repositories/report.py
  packages/reporting-server/rest_server/routers/report.py
  packages/reporting/src/components/reports/all-logs.tsx
Due: react-components, reporting

Added dispatcher test
  packages/reporting-server/models/dispenser_state.py
  packages/reporting-server/models/lift_state.py
  packages/reporting-server/parsers/dispenser_state_parser.py
  packages/reporting-server/parsers/doors_state_parser.py
  packages/reporting-server/parsers/fleet_state_parser.py
  packages/reporting-server/parsers/health_parser.py
  packages/reporting-server/parsers/ingestor_state_parser.py
  packages/reporting-server/parsers/lift_state_parser.py
  packages/reporting-server/rest_server/repositories/log_creation_handler.py
  packages/reporting-server/rest_server/repositories/parser_dispacher.py
  packages/reporting-server/rest_server/repositories/test_parser_dispatcher.py
Due: reporting

Added awaits
  example-deployment/k8s/fluentd-configmap.yaml
  packages/reporting-server/models/__init__.py
  packages/reporting-server/parsers/doors_state_parser.py
  packages/reporting-server/rest_server/app.py
  packages/reporting-server/rest_server/repositories/log_creation_handler.py
  packages/reporting-server/rest_server/repositories/parser_dispacher.py
Due: reporting

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  ros2-bridge: any of: packages/ros2-bridge
  api-server: any of: packages/api-server
  reporting: any of: packages/reporting
  rmf-auth: any of: packages/rmf-auth
