Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, ros2-bridge, api-server

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  ros2-bridge:
    paths:
      - packages/ros2-bridge
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true

reset search on new panel
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/main-menu.tsx
Due: dashboard

update wip main menu
  packages/dashboard/src/components/dashboard/wip-main-menu-plusplus.tsx
Due: dashboard

update api-client
  packages/api-client/examples/listen.ts
  packages/api-client/generate-models.js
  packages/api-client/generate-schemas.py
  packages/api-client/lib/index.ts
  packages/api-client/lib/models/index.ts
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/door.py
Due: api-server

clear search when spotlight
  packages/dashboard/src/components/dashboard/dashboard.tsx
Due: dashboard

fix lint error
  packages/api-server/api_server/rmf_io/book_keeper.py
Due: api-server

fix integration test
  packages/api-server/tests/api_server/config.py
Due: api-server

task summaries
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/task_summary.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/gateway.py
  packages/api-server/api_server/rmf_io/rmf_io.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/rmf_io/test_gateway.py
  packages/api-server/api_server/rmf_io/test_rmf_io.py
  packages/api-server/api_server/rmf_io/topics.py
  packages/api-server/api_server/rmf_io/transport.py
Due: api-server

Revert "task summaries"
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/task_summary.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/gateway.py
  packages/api-server/api_server/rmf_io/rmf_io.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/rmf_io/test_gateway.py
  packages/api-server/api_server/rmf_io/test_rmf_io.py
  packages/api-server/api_server/rmf_io/topics.py
  packages/api-server/api_server/rmf_io/transport.py
Due: api-server

Added fluentd package
  packages/monitoring/configurations/file-fluent.conf
  packages/monitoring/configurations/fluent.conf
  packages/monitoring/docker-compose.yaml
  packages/monitoring/dockerfile
Due: none

Added fluentd conf and simple example
  packages/monitoring/README.md
  packages/monitoring/configurations/container-fluent.conf
  packages/monitoring/configurations/fluent.conf
  packages/monitoring/configurations/http-fluent.conf
  packages/monitoring/docker-compose.yaml
  packages/monitoring/dockerfile
  packages/monitoring/file-mock/app.sh
  packages/monitoring/file-mock/example-log.log
  packages/monitoring/http-mock/app.sh
Due: none

Renamed containers fluentd conf
  packages/monitoring/configurations/containers-fluent.conf
Due: none

Fixed time container issues
  packages/monitoring/configurations/containers-fluent.conf
Due: none

Update gitignore
  .gitignore
Due: none

Added a monitoring package and created a fluentd log class
  packages/dashboard/package.json
  packages/monitoring/.eslintignore
  packages/monitoring/.eslintrc.js
  packages/monitoring/.gitignore
  packages/monitoring/configurations/http-fluent.conf
  packages/monitoring/docker-compose.yaml
  packages/monitoring/dockerfile
  packages/monitoring/http-logs/index.js
  packages/monitoring/lib/http-log-class.ts
  packages/monitoring/lib/index.ts
  packages/monitoring/package-lock.json
  packages/monitoring/package.json
  packages/monitoring/tsconfig.json
Due: dashboard

Logger instanced in Dashboard
  packages/dashboard/package-lock.json
  packages/dashboard/src/app-config.ts
  packages/monitoring/lib/http-log-class.ts
Due: dashboard

Removed leftover, Add an ignore on welcome story
  packages/dashboard/src/stories/0-Welcome.stories.tsx
  packages/monitoring/README.md
  packages/monitoring/docker-compose.yaml
  packages/monitoring/http-mock/app.sh
Due: dashboard

Added kubernetes fluentd's daemonset + example of with a cluster
  packages/monitoring/kubernetes/README.md
  packages/monitoring/kubernetes/app-that-writes-logs.yaml
  packages/monitoring/kubernetes/dockerfiles/Gemfile
  packages/monitoring/kubernetes/dockerfiles/Gemfile.lock
  packages/monitoring/kubernetes/dockerfiles/dockerfile
  packages/monitoring/kubernetes/dockerfiles/entrypoint.sh
  packages/monitoring/kubernetes/dockerfiles/plugins/parser_kubernetes.rb
  packages/monitoring/kubernetes/dockerfiles/plugins/parser_multiline_kubernetes.rb
  packages/monitoring/kubernetes/fluentd-configmap.yaml
  packages/monitoring/kubernetes/fluentd.yaml
Due: none

change search to filter
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/main-menu.tsx
  packages/react-components/lib/index.ts
  packages/react-components/lib/simple-filter.tsx
  packages/react-components/stories/simple-filter.stories.tsx
  packages/react-components/stories/simple-search.stories.tsx
  packages/react-components/tests/simple-filter.spec.tsx
Due: dashboard, react-components

set up filtering e2e tests
  packages/dashboard/e2e/tests/filtering.test.ts
  packages/dashboard/src/components/dashboard/dashboard.tsx
Due: dashboard

changes
  packages/dashboard/e2e/tests/filtering.test.ts
Due: dashboard

changes to test
  packages/dashboard/e2e/tests/filtering.test.ts
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/react-components/lib/simple-filter.tsx
Due: dashboard, react-components

set filter and name to lower case
  packages/dashboard/src/components/dashboard/dashboard.tsx
Due: dashboard

add e2e filtering test logic
  packages/dashboard/e2e/tests/filtering.test.ts
Due: dashboard

log out some stuff
  packages/dashboard/e2e/tests/filtering.test.ts
Due: dashboard

finish test logic
  packages/dashboard/e2e/tests/filtering.test.ts
Due: dashboard

clean up filtering e2e test
  packages/dashboard/e2e/tests/filtering.test.ts
Due: dashboard

exclude dashboard in test
  packages/dashboard/package.json
Due: dashboard

update main-menu test, migrate wip-main-menu to RTL
  packages/dashboard/src/components/dashboard/tests/main-menu.test.tsx
  packages/dashboard/src/components/dashboard/tests/wip-main-menu-plusplus.test.tsx
  packages/dashboard/src/components/dashboard/wip-main-menu-plusplus.tsx
  packages/react-components/lib/systems-summary/systems-summary-item-state.tsx
  packages/react-components/lib/systems-summary/systems-summary-robot-state.tsx
Due: dashboard, react-components

remove command panel, button tests and refactor tests
  packages/dashboard/src/components/dashboard/tests/main-menu.test.tsx
  packages/dashboard/src/components/dashboard/tests/wip-main-menu-plusplus.test.tsx
  packages/dashboard/src/components/dashboard/wip-main-menu-plusplus.tsx
Due: dashboard

add docs for setFilter
  packages/dashboard/src/components/dashboard/main-menu.tsx
  packages/dashboard/src/components/dashboard/wip-main-menu-plusplus.tsx
Due: dashboard

update e2e test to include expaneded panel
  packages/dashboard/e2e/tests/filtering.test.ts
Due: dashboard

add task summary to client; improve typings
  Pipfile
  Pipfile.lock
  packages/api-client/generate-models.js
  packages/api-client/generate-schemas.py
  packages/api-client/lib/index.ts
  packages/api-client/lib/models/index.ts
Due: none

fix typings
  packages/api-client/lib/models/index.ts
Due: none

feat(dashboard): add feature to filter items in omnipanel (#265)
  packages/dashboard/e2e/tests/filtering.test.ts
  packages/dashboard/package.json
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/main-menu.tsx
  packages/dashboard/src/components/dashboard/tests/main-menu.test.tsx
  packages/dashboard/src/components/dashboard/tests/wip-main-menu-plusplus.test.tsx
  packages/dashboard/src/components/dashboard/wip-main-menu-plusplus.tsx
  packages/react-components/lib/index.ts
  packages/react-components/lib/simple-filter.tsx
  packages/react-components/lib/systems-summary/systems-summary-item-state.tsx
  packages/react-components/lib/systems-summary/systems-summary-robot-state.tsx
  packages/react-components/stories/simple-filter.stories.tsx
  packages/react-components/tests/simple-filter.spec.tsx
Due: dashboard, react-components

fix tests
  Pipfile
  Pipfile.lock
  packages/api-server/api_server/rmf_io/test_rmf_io.py
  packages/api-server/setup.py
Due: api-server

feat(api-server): task summary (#267)
  Pipfile
  Pipfile.lock
  packages/api-client/generate-models.js
  packages/api-client/generate-schemas.py
  packages/api-client/lib/index.ts
  packages/api-client/lib/models/index.ts
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/task_summary.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/gateway.py
  packages/api-server/api_server/rmf_io/rmf_io.py
  packages/api-server/api_server/rmf_io/test_book_keeper.py
  packages/api-server/api_server/rmf_io/test_gateway.py
  packages/api-server/api_server/rmf_io/test_rmf_io.py
  packages/api-server/api_server/rmf_io/topics.py
  packages/api-server/api_server/rmf_io/transport.py
  packages/api-server/setup.py
Due: api-server
