Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server

Share docker images between build steps with dependencies, update README
  .github/workflows/nightly.yml
  README.md
Due: none

Use specific tags to ensure no pulling is involved
  .github/workflows/nightly.yml
Due: none

Revert to just use docker registry instead of manual loading
  .github/workflows/nightly.yml
Due: none

Inject env script
  .github/dashboard/99-inject-env.sh
  .github/dashboard/Dockerfile
Due: none

Use configurable configs, inject envs before start
  .github/dashboard/99-inject-env.sh
  .github/dashboard/Dockerfile
  .github/dashboard/app-config.json
Due: none

Use nginx instead
  .github/dashboard/Dockerfile
  .github/dashboard/nginx.default.conf
  .github/workflows/nightly.yml
Due: none

Revert nginx use, run injection script during entrypoint command
  .github/dashboard/Dockerfile
  .github/dashboard/inject-env.sh
  .github/dashboard/nginx.default.conf
Due: none

Revert testing changes, update README
  .github/workflows/nightly.yml
  README.md
Due: none

Basic build and upload for dashboad (#994)
  .github/api-server/Dockerfile
  .github/dashboard/Dockerfile
  .github/dashboard/app-config.json
  .github/dashboard/inject-env.sh
  .github/workflows/nightly.yml
  README.md
Due: none

Use icons for favorite
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

add container
  packages/dashboard/src/components/rmf-dashboard.tsx
Due: dashboard

docs
  packages/dashboard/src/components/rmf-dashboard.tsx
Due: dashboard

Fix warning time, use switch and made buttons nicer
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components

To display priority
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
  packages/react-components/lib/tasks/utils.ts
Due: react-components

Document use of CSS color string
  packages/dashboard/app-config.schema.json
  packages/dashboard/src/app-config.ts
Due: dashboard

Configurable schedule event color based on task type (#998)
  packages/dashboard/app-config.schema.json
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/types/compose-clean.tsx
  packages/react-components/lib/tasks/types/custom-compose.tsx
  packages/react-components/lib/tasks/types/delivery-custom.tsx
  packages/react-components/lib/tasks/types/delivery.tsx
  packages/react-components/lib/tasks/types/patrol.tsx
Due: dashboard, react-components

port tasks app
  packages/dashboard/src/app.tsx
  packages/dashboard/src/components/doors-table.tsx
  packages/dashboard/src/components/micro-app.tsx
  packages/dashboard/src/components/rmf-dashboard.tsx
  packages/dashboard/src/components/tasks/tasks-window.tsx
  packages/dashboard/src/components/workspace.tsx
  packages/dashboard/src/micro-apps/tasks-app.ts
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components

Lint
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

implement login route
  packages/dashboard/src/app.tsx
  packages/dashboard/src/components/admin/drawer.tsx
  packages/dashboard/src/components/admin/router.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/rmf-dashboard.tsx
Due: dashboard

fix routes
  packages/dashboard/src/app.tsx
  packages/dashboard/src/components/rmf-dashboard.tsx
Due: dashboard

cleanup
  packages/dashboard/src/app.tsx
Due: dashboard

unload current tab when pending transition
  packages/dashboard/src/components/rmf-dashboard.tsx
Due: dashboard

Helper function to handle null and undefined priority, clean up creation
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/utils.ts
Due: react-components

Use switch for priority, flip low priority icon
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components

Remove getDefaultTaskPriorty
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/utils.ts
Due: react-components

migrated app-base
  packages/dashboard/src/components/admin/add-permission-dialog.tsx
  packages/dashboard/src/components/admin/create-role-dialog.tsx
  packages/dashboard/src/components/admin/create-user-dialog.tsx
  packages/dashboard/src/components/admin/manage-roles-dialog.tsx
  packages/dashboard/src/components/admin/permissions-card.tsx
  packages/dashboard/src/components/admin/role-list-card.tsx
  packages/dashboard/src/components/admin/user-list-card.tsx
  packages/dashboard/src/components/admin/user-profile.tsx
  packages/dashboard/src/components/alert-manager.tsx
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app-contexts.tsx
  packages/dashboard/src/components/appbar.test.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/beacons-table.tsx
  packages/dashboard/src/components/delivery-alert-store.tsx
  packages/dashboard/src/components/index.ts
  packages/dashboard/src/components/map.tsx
  packages/dashboard/src/components/micro-app.tsx
  packages/dashboard/src/components/rmf-dashboard.tsx
  packages/dashboard/src/components/robots/robot-decommission.tsx
  packages/dashboard/src/components/robots/robot-info-card.tsx
  packages/dashboard/src/components/robots/robot-mutex-group-table.tsx
  packages/dashboard/src/components/tasks/task-cancellation.tsx
  packages/dashboard/src/components/tasks/task-details-app.tsx
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/dashboard/src/components/tasks/tasks-window.tsx
  packages/dashboard/src/hooks/use-app-controller.ts
  packages/dashboard/src/hooks/use-settings.ts
  packages/dashboard/src/services/settings.ts
  packages/dashboard/src/utils/test-utils.test.tsx
Due: dashboard

Allow configurable alert audio when alert occurs
  packages/dashboard/app-config.schema.json
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/alert-manager.tsx
Due: dashboard

managed to mock everything needed for appbar tests
  packages/dashboard/src/components/appbar.test.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/private-route.test.tsx
  packages/dashboard/src/components/private-route.tsx
  packages/dashboard/src/components/rmf-dashboard.tsx
  packages/dashboard/src/services/rmf-api.ts
  packages/dashboard/src/utils/test-utils.test.tsx
Due: dashboard

Allow configurable alert audio when alert occurs (#1001)
  packages/dashboard/app-config.schema.json
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/alert-manager.tsx
Due: dashboard

hacky workaround for react-three-fiber and material conflict
  package.json
  packages/dashboard/src/components/admin/user-list-card.tsx
  packages/dashboard/src/components/admin/user-profile.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/index.ts
  packages/dashboard/src/components/react-three-fiber-hack.d.ts
  packages/dashboard/src/pages/login-page.stories.tsx
  packages/react-components/lib/react-three-fiber-hack.d.ts
  packages/react-components/lib/transfer-list.tsx
  packages/react-components/lib/window/demo.stories.tsx
  patches/@react-three__fiber.patch
  pnpm-lock.yaml
Due: dashboard, react-components

test passes
  packages/dashboard/app-config.json
  packages/dashboard/app-config.schema.json
  packages/dashboard/src/components/admin/add-permission-dialog.test.tsx
  packages/dashboard/src/components/admin/create-role-dialog.test.tsx
  packages/dashboard/src/components/admin/create-user-dialog.test.tsx
  packages/dashboard/src/components/admin/manage-roles-dialog.test.tsx
  packages/dashboard/src/components/admin/permissions-card.test.tsx
  packages/dashboard/src/components/admin/role-list-card.test.tsx
  packages/dashboard/src/components/admin/user-list-card.test.tsx
  packages/dashboard/src/components/admin/user-profile.test.tsx
Due: dashboard

add AlertManager and DeliveryAlertStore
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/rmf-dashboard.tsx
Due: dashboard

fix alert audio
  eslint.config.mjs
  packages/dashboard/app-config.schema.json
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/alert-manager.tsx
Due: dashboard

update schema
  packages/dashboard/app-config.schema.json
Due: dashboard

fix hooks violation
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/rmf-app.tsx
  packages/dashboard/src/components/robots/robot-summary.tsx
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/dashboard/src/components/tasks/task-summary.tsx
Due: dashboard

Basic implementation working, still with frontend errors
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/react-components/lib/tasks/create-task.stories.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

dashboard: fix alert audio (#1002)
  eslint.config.mjs
  packages/dashboard/app-config.schema.json
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/alert-manager.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/rmf-app.tsx
  packages/dashboard/src/components/robots/robot-summary.tsx
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/dashboard/src/components/tasks/task-summary.tsx
Due: dashboard

fix design mode
  packages/dashboard/package.json
  packages/dashboard/src/app.tsx
  packages/dashboard/src/components/micro-app.tsx
  packages/dashboard/src/components/workspace.tsx
  packages/react-components/lib/doors/door-table-datagrid.tsx
  packages/react-components/lib/window/window-container.tsx
  packages/react-components/lib/window/window-toolbar.tsx
  packages/react-components/lib/window/window.tsx
  pnpm-lock.yaml
Due: dashboard, react-components

ported custom tabs
  packages/dashboard/src/app.tsx
  packages/dashboard/src/components/workspace.tsx
  packages/react-components/lib/window/window.tsx
Due: dashboard, react-components

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
