Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

Remove unnecesary states
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Create plane robot to put it into map
  packages/dashboard/src/components/robot-loader.tsx
Due: dashboard

Add scheduled sufix to the requester name
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Include icon in the requester column
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components

Change prefix order to find the tabvalue correctly
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Use React create portal to avoid react 18 warning rerender
  packages/react-components/lib/map/trajectory-time-control.tsx
Due: react-components

Remove unuse import
  packages/react-components/lib/map/trajectory-time-control.tsx
Due: react-components

Loading object
  packages/dashboard/src/components/robot-loader.tsx
Due: dashboard

Fix react 18 warning and show appbar tab correctly (#732)
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/map/trajectory-time-control.tsx
Due: dashboard, react-components

Calculating yaw value
  packages/dashboard/src/components/robot-loader.tsx
Due: dashboard

Change door color based on open moving and close
  packages/dashboard/src/components/door.tsx
Due: dashboard

Remove __shceduled and display only the username from schedule task and add Tooltip to the icons
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components

Feature/display adhooc or scheduled (#731)
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components

Add a yaw position to the robotlocations
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/robot-loader.tsx
Due: dashboard

Add Hatchback model
  packages/dashboard/public/Hatchback/materials/textures/hatchback.png
  packages/dashboard/public/Hatchback/materials/textures/wheels3.png
  packages/dashboard/public/Hatchback/meshes/hatchback.mtl
  packages/dashboard/public/Hatchback/meshes/hatchback.obj
  packages/dashboard/public/Hatchback/model.config
  packages/dashboard/public/Hatchback/model.sdf
  packages/dashboard/public/Hatchback/thumbnails/1.png
  packages/dashboard/public/Hatchback/thumbnails/2.png
  packages/dashboard/public/Hatchback/thumbnails/3.png
  packages/dashboard/public/Hatchback/thumbnails/4.png
  packages/dashboard/public/Hatchback/thumbnails/5.png
Due: dashboard

Remove unused import
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Add waypoints in the map
  packages/dashboard/src/components/robot-loader.tsx
Due: dashboard

Change cube color from red to black
  packages/dashboard/src/components/cube.tsx
Due: dashboard

Building lifts
  packages/dashboard/src/components/level.tsx
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Building lift doors
  packages/dashboard/src/components/door.tsx
Due: dashboard

Change place size
  packages/dashboard/src/components/robot-loader.tsx
Due: dashboard

Open robot info clicling react three fiber object
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/robot-loader.tsx
Due: dashboard

Beacons API
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

Subscription for beacon states
  packages/api-client/lib/index.ts
Due: none

Adding beacon datagrid table to react-components
  packages/react-components/lib/beacons/beacon-table-datagrid.spec.tsx
  packages/react-components/lib/beacons/beacon-table-datagrid.stories.tsx
  packages/react-components/lib/beacons/beacon-table-datagrid.tsx
  packages/react-components/lib/beacons/index.ts
  packages/react-components/lib/beacons/test-utils.spec.ts
  packages/react-components/lib/index.ts
Due: react-components

Beacons microapp
  packages/dashboard/src/components/app-registry.ts
  packages/dashboard/src/components/beacons-app.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
Due: dashboard

Start by getting all beacons
  packages/dashboard/src/components/beacons-app.tsx
Due: dashboard

Added more entries to storybook
  packages/react-components/lib/beacons/beacon-table-datagrid.stories.tsx
Due: react-components

Calculate z position of waypoint and objects
  packages/dashboard/src/components/robot-loader.tsx
Due: dashboard

Using more explicit import instead of glob
  packages/react-components/lib/beacons/beacon-table-datagrid.tsx
  packages/react-components/lib/doors/door-table-datagrid.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
Due: react-components

Feature/beacons frontend (#733)
  packages/api-client/lib/index.ts
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/dashboard/src/components/app-registry.ts
  packages/dashboard/src/components/beacons-app.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/react-components/lib/beacons/beacon-table-datagrid.spec.tsx
  packages/react-components/lib/beacons/beacon-table-datagrid.stories.tsx
  packages/react-components/lib/beacons/beacon-table-datagrid.tsx
  packages/react-components/lib/beacons/index.ts
  packages/react-components/lib/beacons/test-utils.spec.ts
  packages/react-components/lib/doors/door-table-datagrid.tsx
  packages/react-components/lib/index.ts
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
Due: dashboard, react-components

Show dispenser and ingestors
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/robot-loader.tsx
Due: dashboard

Set elevation value as 0
  packages/dashboard/src/components/door.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/robot-loader.tsx
  packages/dashboard/src/components/wall.tsx
Due: dashboard

Create component to separate logic
  packages/dashboard/src/components/three-object-render.tsx
  packages/dashboard/src/components/three-trajectory-overlay.tsx
Due: dashboard

Add comment
  packages/dashboard/src/components/level.tsx
Due: dashboard

Remove component from robot loader and use generic component in map
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/robot-loader.tsx
Due: dashboard

Deletes all existing building map entries if the id does not match the current served map, before saving
  packages/api-server/api_server/models/building_map.py
Due: api-server

Fix remapped variable
  packages/api-server/api_server/models/building_map.py
Due: api-server

Add routes to delete only one job
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

Deletes all existing building map entries if the id does not match the current served map, before saving (#735)
  packages/api-server/api_server/models/building_map.py
Due: api-server
