Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth, task-scheduler

fix tests
  packages/api-server/api_server/models/tasks.py
  packages/api-server/api_server/test/test_data.py
Due: api-server

use autosizer for fixed size list
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/doors/utils.ts
Due: react-components

use autosize for lift table and panels
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/lifts/lift-utils.ts
Due: react-components

use contrastText instead of getContrastText
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
Due: react-components

use autosize for workcell
  packages/react-components/lib/workcells/utils.ts
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

fix disabled auth in example-full
  example-deployment/k8s/example-full/kustomization.yaml
Due: none

fix table resize issue
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

remove padding
  packages/react-components/lib/workcells/workcell-panel.tsx
Due: react-components

run pyright on lint
  packages/api-server/package.json
Due: api-server

docs: fix auth disabled in example-full (#536)
  example-deployment/k8s/example-full/kustomization.yaml
Due: none

add style for workcells table
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

switch to quay.io
  README.md
Due: none

move auth config dashboard package
  packages/dashboard/auth_local_config.py
  packages/dashboard/package.json
Due: dashboard

address comments
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/doors/utils.ts
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/lifts/lift-utils.ts
  packages/react-components/lib/workcells/utils.ts
  packages/react-components/lib/workcells/workcell-table.tsx
Due: dashboard, react-components

add wrapper around cells and table list
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

combine fleet logic
  packages/dashboard/src/components/schedule-visualizer/index.tsx
Due: dashboard

perf(dashboard): loading robot icons is no longer delayed (#537)
  packages/dashboard/src/components/schedule-visualizer/index.tsx
Due: dashboard

remove states and update interfaces
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

generate tortoise config and make available for aerich cli
  packages/api-server/api_server/__main__.py
  packages/api-server/api_server/app.py
  packages/api-server/api_server/app_config.py
Due: api-server

Add README and document basic aerich usage
  .gitignore
  README.md
  packages/api-server/README.md
  packages/api-server/api_server/app.py
Due: api-server

add more info to readme
  packages/api-server/README.md
Due: api-server

update dialog button colors and theme color order
  packages/dashboard/src/components/admin/permissions-card.tsx
  packages/dashboard/src/components/admin/role-list-card.tsx
  packages/dashboard/src/components/admin/user-list-card.tsx
  packages/react-components/lib/confirmation-dialog.tsx
  packages/react-components/lib/themes/common-theme.tsx
  packages/react-components/lib/themes/rmf-light.tsx
Due: dashboard, react-components

fix lint error
  Pipfile
  Pipfile.lock
Due: none

resolve cherry pick
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/react-components/lib/map/map.tsx
Due: dashboard, react-components

zooming for door panel
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/doors/utils.ts
Due: dashboard, react-components

remove redundant pipfile
  packages/api-server/api_server/Pipfile
Due: api-server

onclick lift cell
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-utils.ts
Due: dashboard, react-components

use flex instead of fix percentages for table cells
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/utils/index.ts
  packages/react-components/lib/utils/item-table.ts
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

run pyright in venv
  packages/api-server/package.json
Due: api-server

remove ProtectResourceModel as it interferes with tortoise
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/base_models.py
  packages/api-server/api_server/models/tortoise_models/task_summary.py
  packages/api-server/api_server/permissions.py
  packages/api-server/api_server/test_permissions.py
Due: api-server

fix tests
  packages/api-server/api_server/models/health.py
  packages/api-server/api_server/permissions.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_dispensers.py
  packages/api-server/api_server/routes/test_doors.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/routes/test_ingestors.py
  packages/api-server/api_server/routes/test_lifts.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

add zomming for remaining components
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/managers/resource-manager-dispensers.ts
  packages/dashboard/src/managers/resource-manager.ts
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/lifts/lift-utils.ts
  packages/react-components/lib/workcells/index.ts
  packages/react-components/lib/workcells/utils.ts
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: dashboard, react-components

add hover and fix story and test errors
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/lifts/lift-utils.ts
  packages/react-components/lib/workcells/workcell-panel.spec.tsx
  packages/react-components/lib/workcells/workcell-panel.stories.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.spec.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

clean up
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/react-components/lib/map/map.tsx
Due: dashboard, react-components

add hover color
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/doors/door-table.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/lifts/lift-table.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
  packages/react-components/lib/workcells/workcell-table.tsx
Due: react-components

fix build
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-server/api_server/models/health.py
  packages/api-server/api_server/models/user.py
  packages/dashboard/src/components/admin/role-list-page.tsx
  packages/dashboard/src/components/admin/user-profile-page.tsx
  packages/dashboard/src/components/permissions.ts
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
Due: dashboard, api-server

fix breaking story and fix setview panning animation
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/tasks/test-data.spec.ts
Due: react-components

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  reporting: any of: packages/reporting
  reporting-server: any of: packages/reporting-server
  rmf-auth: any of: packages/rmf-auth
  task-scheduler: any of: packages/task-scheduler
