Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, ros2-bridge, api-server, reporting, rmf-auth

retry submit task test
  packages/dashboard/e2e/tests/tasks.test.ts
Due: dashboard

add browser logs to artifacts
  packages/dashboard/e2e/wdio.conf.js
Due: dashboard

test: retry submit task test (#344)
  packages/dashboard/e2e/tests/tasks.test.ts
  packages/dashboard/e2e/wdio.conf.js
Due: dashboard

remove unused deps
  package-lock.json
  packages/dashboard/package.json
Due: dashboard

remove clsx; make everything devdependencies
  packages/dashboard/package.json
Due: dashboard

remove styled-components
  packages/dashboard/package.json
Due: dashboard

remove unused packages
  packages/rmf-auth/package.json
Due: rmf-auth

remove unused deps
  package-lock.json
  packages/reporting/package.json
  scripts/generate-pylintrc.js
Due: reporting

change typeface-roboto to fontsource/roboto
  packages/dashboard/src/components/app.tsx
  packages/reporting/src/components/app.tsx
Due: dashboard, reporting

remove typeface-roboto import
  packages/dashboard/src/components/dashboard/dashboard.tsx
Due: dashboard

use arrayed refs
  packages/dashboard/src/components/schedule-visualizer/index.tsx
Due: dashboard

add styled-components back, turns out it is a peerdep of reactour
  packages/dashboard/package.json
Due: dashboard

script to generate pylintrc
  package-lock.json
  packages/reporting-server/.pylintrc
  packages/ros-translator/.pylintrc
  packages/ros-translator/ros_translator/typescript/.pylintrc
  scripts/base.pylintrc
  scripts/generate-pylintrc.js
Due: reporting

dont know why tests fail
  packages/ros-translator/ros_translator/typescript/test/test.sh
Due: none

try setting pipenv max depth
  packages/ros-translator/ros_translator/typescript/test/test.sh
  packages/ros-translator/test.sh
Due: none

fix wrong shebang
  packages/ros-translator/test.sh
Due: none

Added a docker file adding a keycloak pluggin
  example-deployment/README.md
  example-deployment/docker/keycloak.dockerfile
  example-deployment/docker/keycloak/jsonlog-event-listener.jar
  example-deployment/docker/keycloak/keycloak.dockerfile
  example-deployment/k8s/fluentd-configmap.yaml
  example-deployment/k8s/keycloak.yaml
Due: none

Added building keycloak steps to the deploy script
  example-deployment/deploy.sh
Due: none

Added embed server to keycloak
  example-deployment/docker/keycloak.dockerfile
  packages/keycloak/startup-scripts/logging.cli
Due: none

Added AuthEvent, authEvent creation handler, route and tests
  packages/reporting-server/models/__init__.py
  packages/reporting-server/models/auth_events.py
  packages/reporting-server/parsers/auth_event_parser.py
  packages/reporting-server/parsers/test_auth_event_parser.py
  packages/reporting-server/rest_server/repositories/log_creation_handler.py
  packages/reporting-server/rest_server/repositories/test_log_creation_handler.py
  packages/reporting-server/rest_server/routers/log.py
Due: reporting

Keycloak logs on json format
  example-deployment/README.md
  example-deployment/jsonlog-event-listener.jar
  example-deployment/k8s/keycloak.yaml
  example-deployment/keycloak-startup-script.cli
  example-deployment/keycloak-tools/bootstrap-keycloak.js
Due: none

Fixed importing on login, logout, login failures
  packages/react-components/lib/reports/index.ts
  packages/react-components/lib/reports/user-report/user-logout-report-table.tsx
  packages/react-components/lib/reports/user-report/user-logout-report.tsx
  packages/reporting/src/components/report-list.tsx
  packages/reporting/src/components/reports/user-login-report.tsx
  packages/reporting/src/components/reports/user-logout-report.tsx
Due: react-components, reporting

Added report auth routes and created auth report repositories
  packages/reporting-server/models/auth_events.py
  packages/reporting-server/models/user.py
  packages/reporting-server/parsers/auth_event_parser.py
  packages/reporting-server/rest_server/repositories/report/__init__.py
  packages/reporting-server/rest_server/repositories/report/auth_event_report.py
  packages/reporting-server/rest_server/repositories/test_log_creation_handler.py
  packages/reporting-server/rest_server/routers/log.py
  packages/reporting-server/rest_server/routers/report.py
  packages/reporting-server/rest_server/routers/test_log.py
  packages/reporting/src/components/reports/user-login-failure-report.tsx
  packages/reporting/src/components/reports/user-login-report.tsx
  packages/reporting/src/components/reports/user-logout-report.tsx
Due: reporting

Activate events from script
  example-deployment/docker/keycloak.dockerfile
  example-deployment/keycloak-tools/bootstrap-keycloak.js
  packages/keycloack/startup-scripts/logging.cli
Due: none

Keacloak logging on container
  example-deployment/README.md
  example-deployment/k8s/keycloak.yaml
  example-deployment/keycloak-startup-script.cli
Due: none

renamed folder
  example-deployment/docker/keycloak.dockerfile
  packages/keycloak/startup-scripts/logging.cli
Due: none

updated logging.cli
  packages/keycloak/startup-scripts/logging.cli
Due: none

Added user login, login failure and logout reports on the UI
  packages/keycloak/startup-scripts/logging.cli
  packages/react-components/lib/reports/user-report/index.ts
  packages/react-components/lib/reports/user-report/user-login-failure-report-table.tsx
  packages/react-components/lib/reports/user-report/user-login-failure-report.tsx
  packages/react-components/lib/reports/user-report/user-login-report-table.tsx
  packages/react-components/lib/reports/user-report/user-login-report.tsx
  packages/react-components/lib/reports/user-report/user-logout-report-table.tsx
  packages/react-components/lib/reports/user-report/user-logout-report.tsx
  packages/reporting/src/components/report-list.tsx
  packages/reporting/src/components/reporter-side-bar-structure.tsx
  packages/reporting/src/components/reports/user-login-failure-report.tsx
  packages/reporting/src/components/reports/user-login-report.tsx
  packages/reporting/src/components/reports/user-logout-report.tsx
Due: react-components, reporting

Updated keycloak kubetenetes file to fix the image pull error
  example-deployment/README.md
  example-deployment/k8s/keycloak.yaml
Due: none

Changes from CR
  example-deployment/docker/keycloak/keycloak.dockerfile
  packages/react-components/lib/reports/user-report/user-login-failure-report-table.tsx
  packages/react-components/lib/reports/user-report/user-login-report-table.tsx
  packages/react-components/lib/reports/user-report/user-logout-report-table.tsx
  packages/reporting-server/models/auth_events.py
  packages/reporting-server/rest_server/repositories/test_log_creation_handler.py
  packages/reporting-server/rest_server/routers/log.py
Due: react-components, reporting

Feature/user auth report (#324)
  example-deployment/README.md
  example-deployment/deploy.sh
  example-deployment/docker/keycloak.dockerfile
  example-deployment/docker/keycloak/jsonlog-event-listener.jar
  example-deployment/docker/keycloak/keycloak.dockerfile
  example-deployment/k8s/fluentd-configmap.yaml
  example-deployment/k8s/keycloak.yaml
  example-deployment/keycloak-tools/bootstrap-keycloak.js
  packages/react-components/lib/reports/index.ts
  packages/react-components/lib/reports/user-report/index.ts
  packages/react-components/lib/reports/user-report/user-login-failure-report-table.tsx
  packages/react-components/lib/reports/user-report/user-login-failure-report.tsx
  packages/react-components/lib/reports/user-report/user-login-report-table.tsx
  packages/react-components/lib/reports/user-report/user-login-report.tsx
  packages/react-components/lib/reports/user-report/user-logout-report-table.tsx
  packages/react-components/lib/reports/user-report/user-logout-report.tsx
  packages/reporting-server/models/__init__.py
  packages/reporting-server/models/auth_events.py
  packages/reporting-server/models/user.py
  packages/reporting-server/parsers/auth_event_parser.py
  packages/reporting-server/parsers/test_auth_event_parser.py
  packages/reporting-server/rest_server/repositories/log_creation_handler.py
  packages/reporting-server/rest_server/repositories/report/__init__.py
  packages/reporting-server/rest_server/repositories/report/auth_event_report.py
  packages/reporting-server/rest_server/repositories/test_log_creation_handler.py
  packages/reporting-server/rest_server/routers/log.py
  packages/reporting-server/rest_server/routers/report.py
  packages/reporting-server/rest_server/routers/test_log.py
  packages/reporting/src/components/report-list.tsx
  packages/reporting/src/components/reporter-side-bar-structure.tsx
  packages/reporting/src/components/reports/user-login-failure-report.tsx
  packages/reporting/src/components/reports/user-login-report.tsx
  packages/reporting/src/components/reports/user-logout-report.tsx
Due: react-components, reporting

update lockfile, this seems to fix missing jinja
  Pipfile.lock
Due: none

sort by priority desc
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard

chore: cleanup deps (#345)
  Pipfile.lock
  package-lock.json
  packages/dashboard/package.json
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/reporting-server/.pylintrc
  packages/reporting/package.json
  packages/reporting/src/components/app.tsx
  packages/rmf-auth/package.json
  packages/ros-translator/.pylintrc
  packages/ros-translator/ros_translator/typescript/.pylintrc
  packages/ros-translator/ros_translator/typescript/test/test.sh
  packages/ros-translator/test.sh
  scripts/base.pylintrc
  scripts/generate-pylintrc.js
Due: dashboard, reporting, rmf-auth

docs(ros-translator): update readme
  packages/ros-translator/README.md
  packages/ros-translator/ros_translator/typescript/README.md
Due: none

fix timer; thought was still in python and it meant secs
  packages/dashboard/e2e/tests/tasks.test.ts
Due: dashboard

update build script
  packages/dashboard/package.json
Due: dashboard

clean up
  packages/dashboard/.gitignore
  packages/public/assets/icons/dashboard_config.json
  packages/public/assets/icons/dispensers/coke_dispenser/coke_dispenser.json
  packages/public/assets/icons/dispensers/coke_ingestor/coke_ingestor.json
  packages/public/assets/icons/dispensers/coke_ingestor/humanIcon.png
  packages/public/assets/icons/main.json
  packages/public/assets/icons/robots/deliveryRobot/deliveryRobot.json
  packages/public/assets/icons/robots/deliveryRobot/deliveryRobot.png
  packages/public/assets/icons/robots/tinyRobot/tinyRobot.json
  packages/public/assets/icons/robots/tinyRobot/tinyRobot.png
Due: dashboard

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  ros2-bridge: any of: packages/ros2-bridge
  api-server: any of: packages/api-server
  reporting: any of: packages/reporting
  rmf-auth: any of: packages/rmf-auth
