Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

Use task request labels to encode information required by dashboard (#912)
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/task_booking_label.py
  packages/api-server/api_server/models/task_favorite.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/favorite_tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/test/test_data.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/migrations/migrate_db_912.py
  packages/dashboard/package.json
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/task-summary.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/dashboard/src/components/tasks/utils.ts
  packages/dashboard/src/components/utils.ts
  packages/dashboard/src/managers/resource-manager.ts
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/index.ts
  packages/react-components/lib/tasks/task-booking-label-utils.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
  packages/react-components/lib/utils/index.ts
  packages/react-components/lib/utils/schema-utils.ts
  packages/react-components/package.json
  pnpm-lock.yaml
Due: dashboard, react-components, api-server

Basic location complete post route for task
  packages/api-server/api_server/models/alerts.py
  packages/api-server/api_server/routes/alerts.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Tests for alert routes
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/routes/alerts.py
  packages/api-server/api_server/routes/test_alerts.py
  packages/api-server/api_server/test/test_data.py
Due: api-server

Test for location complete route
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/test_alerts.py
Due: api-server

save generic labels
  packages/api-server/api_server/models/task_booking_label.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/test/test_data.py
Due: api-server

Lint and tests
  packages/api-server/api_server/models/alerts.py
  packages/api-server/api_server/routes/alerts.py
  packages/api-server/api_server/routes/internal.py
  packages/api-server/api_server/routes/test_alerts.py
  packages/api-server/api_server/test/test_data.py
Due: api-server

Basic implementation
  packages/api-client/lib/index.ts
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/routes/internal.py
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/tasks/task-alert.tsx
  packages/dashboard/src/components/tasks/task-cancellation.tsx
Due: dashboard, api-server

Basic task based alerts working as expected
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/routes/internal.py
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/appbar.tsx
Due: dashboard, api-server

document problems with tortoise-orm
  packages/api-server/api_server/query.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/test/test_data.py
Due: api-server

Only display and list alerts that have display true
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/routes/internal.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/appbar.tsx
Due: dashboard, api-server

Add doc to location_complete route about instability
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

cleanup
  packages/api-server/api_server/query.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

cleanup
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

fix test client not cleaning up if setup fails
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/scripts/test.py
Due: api-server

add preliminary support for key-value labels
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/labels.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/test/test_data.py
  pnpm-lock.yaml
Due: api-server

fix lint
  packages/api-server/api_server/models/labels.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

Refactored alert db interactions to repository, with lru cache for location alerts checking
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/repositories/__init__.py
  packages/api-server/api_server/repositories/alerts.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/routes/alerts.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/test_alerts.py
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/tasks/task-cancellation.tsx
Due: dashboard, api-server

Regenerated docs and return early on gateway last location checking
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/gateway.py
Due: api-server

Lint and better typing with static methods
  packages/api-server/api_server/models/alerts.py
  packages/api-server/api_server/models/tortoise_models/alerts.py
  packages/api-server/api_server/repositories/alerts.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/alerts.py
  packages/api-server/api_server/routes/internal.py
  packages/dashboard/src/components/alert-store.tsx
Due: dashboard, api-server

finally managed to get multi label filtering working with tortoise
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

label sorting works!
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/query.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

filter with AND
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

fix lint
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

First round of cleanup
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/alerts.py
  packages/api-server/api_server/repositories/__init__.py
  packages/api-server/api_server/repositories/alerts.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/test_alerts.py
Due: api-server

Regenerate API
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

fix no results when a task has all labels
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

port generic label filtering from main
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/labels.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

successfully ported generic label sorting
  packages/api-server/api_server/query.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

fix test leaking to other tests
  packages/api-server/api_server/rmf_io/test_rmf_service.py
  packages/api-server/api_server/test/__init__.py
  packages/api-server/api_server/test/test_client.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/api_server/test_sio_auth.py
  packages/api-server/scripts/test.py
Due: api-server

add TODO
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

update client api
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

update api client
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/openapi/base.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

Refactoring new rename changes
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
  packages/dashboard/src/managers/resource-manager-tasks.ts
  packages/dashboard/src/managers/resource-manager.ts
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/task-booking-label-utils.tsx
  packages/react-components/lib/tasks/types/compose-clean.tsx
  packages/react-components/lib/tasks/types/custom-compose.tsx
  packages/react-components/lib/tasks/types/delivery-custom.spec.tsx
  packages/react-components/lib/tasks/types/delivery-custom.tsx
  packages/react-components/lib/tasks/types/delivery.tsx
  packages/react-components/lib/tasks/types/index.ts
  packages/react-components/lib/tasks/types/patrol.tsx
  packages/react-components/lib/tasks/types/utils.ts
Due: dashboard, react-components

Clean up
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/types/patrol.tsx
  packages/react-components/lib/tasks/types/utils.ts
Due: react-components

Removed problematic and unsused component and test
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/react-components/lib/index.ts
  packages/react-components/lib/simple-filter.spec.tsx
  packages/react-components/lib/simple-filter.stories.tsx
  packages/react-components/lib/simple-filter.tsx
  packages/react-components/lib/tasks/types/utils.ts
Due: dashboard, react-components

uncomment out test
  packages/api-server/api_server/rmf_io/test_rmf_service.py
Due: api-server

fix api call
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

api-server: Support generic labels (#949)
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/labels.py
  packages/api-server/api_server/models/task_booking_label.py
  packages/api-server/api_server/query.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/test/__init__.py
  packages/api-server/api_server/test/test_client.py
  packages/api-server/api_server/test/test_data.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/api_server/test_sio_auth.py
  packages/api-server/scripts/test.py
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard, api-server

Lint
  packages/react-components/lib/tasks/types/utils.ts
Due: react-components

update frontend api call
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
