Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, ros2-bridge, api-server, reporting, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  ros2-bridge:
    paths:
      - packages/ros2-bridge
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  reporting:
    paths:
      - packages/reporting
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

remove theme utils
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/util/theme.ts
Due: dashboard

update unit test
  packages/dashboard/src/components/dashboard/tests/dashboard.test.tsx
  packages/dashboard/src/components/schedule-visualizer/tests/index.test.tsx
  packages/dashboard/src/components/tasks/tests/task-page.test.tsx
  packages/dashboard/src/components/tests/app-base.test.tsx
  packages/dashboard/src/components/tests/appbar.test.tsx
  packages/reporting/src/components/app.tsx
Due: dashboard, reporting

fix refresh intervals and update info component
  packages/react-components/lib/progressbar.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/robots/utils.ts
  packages/react-components/tests/robots/robot-panel.spec.tsx
Due: react-components

set robot battery % to be in 2dp for default mode
  packages/react-components/lib/robots/robot-table.tsx
Due: react-components

move robots tab to before tasks tab
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/robots/index.ts
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/components/robots/tests/robot-page.test.tsx
  packages/dashboard/src/util/url.ts
Due: dashboard

remove console log line
  packages/dashboard/src/components/robots/robot-page.tsx
Due: dashboard

fix tests
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_fixtures.py
Due: api-server

add task querying
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/tasks.py
  packages/api-server/api_server/models/tortoise_models/task_summary.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/ros_time.py
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_fixtures.py
  packages/api-server/api_server/test/server.py
Due: api-server

add query for get tasks
  packages/api-server/api_server/app.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/routes/tasks/dispatcher.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_fixtures.py
Due: api-server

docs
  packages/api-server/api_server/dependencies/__init__.py
Due: api-server

update api to allow fetching tasks
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/stories/tasks/task-panel.stories.tsx
Due: react-components

fix storybook not peforming type checking
  packages/react-components/.storybook/main.js
Due: react-components

add pagination metadata to responses
  packages/api-server/api_server/dependencies/__init__.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/pagination.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/test_base_route.py
Due: api-server

update tasks from rmf
  packages/api-server/api_server/app.py
  packages/api-server/api_server/gateway.py
Due: api-server

add pagination and sorting
  packages/api-server/api_server/dependencies/__init__.py
  packages/api-server/api_server/models/tortoise_models/task_summary.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_base_route.py
Due: api-server

make fast_io docs note that an endpoint is available in socket.io bold
  packages/api-server/api_server/fast_io.py
Due: api-server

add introduction story to prevent storybook from jumping to benchmarks by default
  packages/react-components/stories/Introduction.stories.mdx
  packages/react-components/stories/assets/code-brackets.svg
  packages/react-components/stories/assets/colors.svg
  packages/react-components/stories/assets/comments.svg
  packages/react-components/stories/assets/direction.svg
  packages/react-components/stories/assets/flow.svg
  packages/react-components/stories/assets/plugin.svg
  packages/react-components/stories/assets/repo.svg
  packages/react-components/stories/assets/ros-health.png
  packages/react-components/stories/assets/roshealth-logo-white.png
  packages/react-components/stories/assets/stackalt.svg
  packages/react-components/stories/assets/tinyRobot.png
  packages/react-components/stories/dispenser-marker.stories.tsx
  packages/react-components/stories/header-bar.stories.tsx
  packages/react-components/stories/logo-button.stories.tsx
  packages/react-components/stories/robot-markers.stories.tsx
Due: react-components

update to use new task query api
  packages/api-client/generate-openapi.py
  packages/api-client/lib/openapi/apis/building-api.ts
  packages/api-client/lib/openapi/apis/dispensers-api.ts
  packages/api-client/lib/openapi/apis/doors-api.ts
  packages/api-client/lib/openapi/apis/fleets-api.ts
  packages/api-client/lib/openapi/apis/ingestors-api.ts
  packages/api-client/lib/openapi/apis/lifts-api.ts
  packages/api-client/lib/openapi/apis/tasks-api.ts
  packages/api-client/lib/openapi/models/index.ts
  packages/api-client/lib/openapi/models/response-model.ts
  packages/api-client/lib/version.ts
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard

get total count from fetch tasks as that can change sporatically
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/stories/tasks/task-panel.stories.tsx
Due: react-components

prevent conflicts in generated interfaces
  packages/api-client/generate-openapi.sh
  packages/api-client/lib/openapi/apis/default-api.ts
  packages/api-client/lib/openapi/apis/tasks-api.ts
  packages/api-client/lib/openapi/models/get-tasks-response.ts
  packages/api-client/lib/openapi/models/index.ts
  packages/api-client/lib/openapi/models/task.ts
  packages/api-client/lib/version.ts
  packages/api-server/api_server/models/pagination.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

allow scrolling task phases
  packages/react-components/lib/tasks/task-phases.tsx
Due: react-components

resp with error when limit exceeds max
  packages/api-server/api_server/dependencies/__init__.py
  packages/api-server/api_server/routes/test_base_route.py
Due: api-server

fix dispenser scroll bar and test ci
  packages/react-components/lib/dispensers/dispenser-accordion.tsx
  packages/react-components/lib/error-overlay.tsx
  packages/rmf-auth/lib/keycloak.ts
Due: react-components, rmf-auth

fix tests
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

try debug
  packages/dashboard/e2e/wdio.conf.js
Due: dashboard

fix tests
  packages/react-components/tests/tasks/task-panel.spec.tsx
Due: react-components

add a timeout of 2minutes
  example-deployment/deploy.sh
Due: none

revert
  packages/dashboard/e2e/wdio.conf.js
  packages/rmf-auth/lib/keycloak.ts
Due: dashboard, rmf-auth

build(example-deployment): add a timeout of 2minutes (#342)
  example-deployment/deploy.sh
Due: none

retry get requests to make test more stable
  packages/api-server/api_server/routes/test_building_map.py
  packages/api-server/api_server/routes/test_dispensers.py
  packages/api-server/api_server/routes/test_doors.py
  packages/api-server/api_server/routes/test_fixtures.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/routes/test_ingestors.py
  packages/api-server/api_server/routes/test_lifts.py
Due: api-server

increase default timeout
  packages/api-server/api_server/routes/test_fixtures.py
Due: api-server

fix check in try_get
  packages/api-server/api_server/routes/test_fixtures.py
Due: api-server

publish every try
  packages/api-server/api_server/routes/test_building_map.py
  packages/api-server/api_server/routes/test_dispensers.py
  packages/api-server/api_server/routes/test_doors.py
  packages/api-server/api_server/routes/test_fixtures.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/routes/test_ingestors.py
  packages/api-server/api_server/routes/test_lifts.py
Due: api-server

fix lint
  packages/api-server/api_server/routes/test_fixtures.py
Due: api-server

add browser logs to artifacts
  packages/dashboard/e2e/wdio.conf.js
Due: dashboard

wait for app to be ready before injecting db entries
  packages/api-server/api_server/app.py
  packages/api-server/api_server/routes/test_base_route.py
Due: api-server

fix no loop in main thread
  packages/api-server/api_server/app.py
Due: api-server

better wait ready impl
  packages/api-server/api_server/app.py
  packages/api-server/api_server/routes/test_base_route.py
Due: api-server
