Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, ros2-bridge, api-server, reporting, rmf-auth

recursively handle transitive deps
  scripts/bootstrap.js
Due: none

add rmf-models
  packages/rmf-models/.gitignore
  packages/rmf-models/README.md
  packages/rmf-models/generate-models.js
  packages/rmf-models/package-lock.json
  packages/rmf-models/package.json
  packages/rmf-models/setup.py
  packages/rmf-models/test/.gitignore
  packages/rmf-models/test/index.ts
  packages/rmf-models/test/spec/bounded-sequences.spec.ts
  packages/rmf-models/test/spec/fixed-array.spec.ts
  packages/rmf-models/test/spec/nested.spec.ts
  packages/rmf-models/test/spec/support/jasmine.json
  packages/rmf-models/test/spec/typed-array.spec.ts
  packages/rmf-models/test/test.bash
  packages/rmf-models/test/ts_ros_test_msgs/CMakeLists.txt
  packages/rmf-models/test/ts_ros_test_msgs/msg/BoundedSequence.msg
  packages/rmf-models/test/ts_ros_test_msgs/msg/FixedArray.msg
  packages/rmf-models/test/ts_ros_test_msgs/msg/Nested.msg
  packages/rmf-models/test/ts_ros_test_msgs/msg/TypedArray.msg
  packages/rmf-models/test/ts_ros_test_msgs/package.xml
  packages/rmf-models/test/tsconfig.json
  packages/rmf-models/ts_ros/__main__.py
  packages/rmf-models/ts_ros/templates/index.j2
  packages/rmf-models/ts_ros/templates/srv-ts-definition.j2
  packages/rmf-models/ts_ros/templates/ts-definition.j2
  packages/rmf-models/tsconfig.json
Due: none

use rmf-models
  Pipfile
  Pipfile.lock
  packages/api-client/.gitignore
  packages/api-client/generate-models.js
  packages/api-client/lib/models/index.ts
  packages/api-client/package-lock.json
  packages/api-client/package.json
  packages/rmf-models/generate-models.js
  packages/rmf-models/package.json
  packages/rmf-models/tsconfig.json
  scripts/bootstrap.js
Due: none

do not use const enum as it doesnt work in isolatedModules mode
  packages/rmf-models/package.json
  packages/rmf-models/test/test.bash
  packages/rmf-models/ts_ros/templates/srv-ts-definition.j2
  packages/rmf-models/ts_ros/templates/ts-definition.j2
Due: none

migrate to rmf-models
  packages/react-components/lib/commands/delivery-request-form.tsx
  packages/react-components/lib/dispensers/dispenser-accordion.tsx
  packages/react-components/lib/doors/door-accordion.tsx
  packages/react-components/lib/doors/door-marker.tsx
  packages/react-components/lib/doors/enums.ts
  packages/react-components/lib/lifts/lift-accordion.tsx
  packages/react-components/lib/lifts/lift-marker.tsx
  packages/react-components/lib/lifts/lift-request-form.tsx
  packages/react-components/lib/lifts/lift-utils.ts
  packages/react-components/lib/robots/base-marker.ts
  packages/react-components/lib/robots/robot-accordion.tsx
  packages/react-components/lib/robots/utils.ts
  packages/react-components/lib/systems-summary/systems-summary-spoilt-items.tsx
  packages/react-components/lib/systems-summary/systems-summary-task-state.tsx
  packages/react-components/lib/task-summary/task-summary-accordion.tsx
  packages/react-components/lib/task-summary/task-summary-utils.ts
  packages/react-components/lib/waypoints/waypoint-marker.tsx
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/stories/benchmarks/robots.stories.tsx
  packages/react-components/stories/design-decisions.stories.tsx
  packages/react-components/stories/dispenser-accordion.stories.tsx
  packages/react-components/stories/door-accordion.stories.tsx
  packages/react-components/stories/door-markers.stories.tsx
  packages/react-components/stories/lift-accordion.stories.tsx
  packages/react-components/stories/lift-marker.stories.tsx
  packages/react-components/stories/robot-accordion.stories.tsx
  packages/react-components/stories/robot-markers.stories.tsx
  packages/react-components/stories/system-summary-spoilt-items.stories.tsx
  packages/react-components/tests/dispensers/dispenser-accordion.spec.tsx
  packages/react-components/tests/dispensers/test-utils.ts
  packages/react-components/tests/doors/door-accordion.spec.tsx
  packages/react-components/tests/doors/test-utils.ts
  packages/react-components/tests/lifts/lift-accordion.spec.tsx
  packages/react-components/tests/lifts/test-utils.ts
  packages/react-components/tests/robots/robot-accordion.spec.tsx
  packages/react-components/tests/robots/test-utils.ts
  packages/react-components/tests/systems-summary/test.utils.ts
  packages/react-components/tests/task-summary/task-summary-accordion.spec.tsx
Due: react-components

update bootstrap script
  scripts/bootstrap.js
Due: none

add default constructor
  packages/rmf-models/ts_ros/__main__.py
  packages/rmf-models/ts_ros/templates/ts-definition.j2
Due: none

wait for bookkeeper tasks to finish when stopping
  packages/api-server/api_server/app.py
  packages/api-server/api_server/rmf_io/book_keeper.py
Due: api-server

move all models here
  packages/rmf-models/.gitignore
  packages/rmf-models/generate-models.js
  packages/rmf-models/generate-schemas.py
  packages/rmf-models/lib/index.ts
  packages/rmf-models/package-lock.json
  packages/rmf-models/package.json
Due: none

use rmf-models
  packages/api-client/lib/index.ts
  packages/api-client/lib/models/index.ts
Due: none

update bootstrap
  scripts/bootstrap.js
Due: none

fix weird bug with concurrently
  packages/api-server/api_server/app.py
Due: api-server

wip removing ros2-bridge and romi-js-core-interfaces
  packages/dashboard/README.md
  packages/dashboard/package-lock.json
  packages/dashboard/package.json
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/task-summary-panel.tsx
  packages/dashboard/src/components/dashboard/tests/items.ts
  packages/dashboard/src/components/dashboard/tests/task-summary.ts
  packages/dashboard/src/components/dashboard/tour/tour-map.tsx
  packages/dashboard/src/components/dashboard/wip-main-menu-plusplus.tsx
  packages/dashboard/src/components/rmf-app/contexts.ts
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/schedule-visualizer/doors-overlay.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/components/schedule-visualizer/lift-overlay.tsx
  packages/dashboard/src/components/schedule-visualizer/robot-trajectories-overlay.tsx
  packages/dashboard/src/components/schedule-visualizer/robots-overlay.tsx
  packages/dashboard/src/components/schedule-visualizer/tests/building-map.ts
  packages/dashboard/src/components/schedule-visualizer/tests/doors-overlay.test.tsx
  packages/dashboard/src/components/schedule-visualizer/tests/fleets.ts
  packages/dashboard/src/components/schedule-visualizer/tests/lifts-overlay.test.tsx
  packages/dashboard/src/components/schedule-visualizer/tests/robot-trajectories-overlay.test.tsx
  packages/dashboard/src/components/schedule-visualizer/waypoints-overlay.tsx
  packages/dashboard/src/managers/dispenser-state-manager.ts
  packages/dashboard/src/managers/emergency-manager.ts
  packages/dashboard/src/managers/fleet-manager.ts
  packages/dashboard/src/managers/lift-state-manager.ts
  packages/dashboard/src/managers/task-manager.ts
  packages/dashboard/src/react-app-env.d.ts
  packages/dashboard/src/ros2-transport.ts
  packages/dashboard/src/rpc-client.ts
  packages/dashboard/src/stories/baseComponents/utils.tsx
Due: dashboard

building map contains full url
  packages/api-server/api_server/app.py
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/default_config.py
  packages/api-server/api_server/repositories/static_files.py
  packages/api-server/package.json
  packages/api-server/tests/test_socketio.py
Due: api-server

update pipfile
  Pipfile
  Pipfile.lock
  packages/dashboard/package-lock.json
  packages/dashboard/package.json
Due: dashboard

enable cors
  packages/api-server/api_server/app.py
Due: api-server

things seems to be working
  packages/dashboard/.env
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/rmf-app/contexts.ts
  packages/reporting/package-lock.json
  packages/ros2-bridge/package-lock.json
Due: dashboard, ros2-bridge, reporting

update pipfile
  Pipfile
  Pipfile.lock
  packages/api-server/package.json
  packages/api-server/setup.py
Due: api-server

package-lock
  packages/dashboard/package-lock.json
Due: dashboard

ci
  .github/workflows/dashboard.yml
  .github/workflows/e2e.yml
  .github/workflows/react-components.yml
  .github/workflows/reporting.yml
  .github/workflows/rmf-auth.yml
  example-deployment/docker/rmf-server.dockerfile
  example-deployment/k8s/rmf-server.yaml
  example-deployment/k8s/ros2-bridge.yaml
  packages/dashboard/e2e/docker/e2e/Dockerfile
  packages/reporting/package-lock.json
Due: dashboard, reporting

ci
  .github/workflows/api-server.yml
  .github/workflows/dashboard.yml
  .github/workflows/react-components.yml
  .github/workflows/reporting.yml
  packages/react-components/stories/benchmarks/robots.stories.tsx
  packages/react-components/stories/robot-accordion.stories.tsx
  packages/react-components/stories/robot-markers.stories.tsx
  packages/react-components/stories/system-summary-spoilt-items.stories.tsx
  packages/react-components/stories/system-summary-task-state.stories.tsx
  packages/react-components/stories/task-summary-accordion.stories.tsx
  packages/react-components/tests/robots/robot-accordion.spec.tsx
  packages/react-components/tests/robots/test-utils.ts
  packages/react-components/tests/systems-summary/test.utils.ts
  packages/react-components/tests/task-summary/task-summary-accordion.spec.tsx
Due: react-components

ci
  .github/workflows/rmf-models.yml
Due: none

ci
  .github/workflows/react-components.yml
Due: none

ci
  scripts/bootstrap.js
Due: none

ci
  .github/workflows/react-components.yml
  packages/react-components/karma.conf.js
Due: react-components

ci
  packages/api-server/package.json
Due: api-server

ci
  packages/dashboard/package.json
Due: dashboard

ci
  packages/react-components/karma.conf.js
Due: react-components

fix socketio auth
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/default_config.py
  packages/dashboard/e2e/.gitignore
  packages/dashboard/e2e/README.md
  packages/dashboard/e2e/package.json
  packages/dashboard/e2e/rmf_server_config.py
  packages/dashboard/e2e/scripts/test-e2e.js
  packages/dashboard/src/app-config.ts
  packages/dashboard/src/components/rmf-app/contexts.ts
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/managers/robot-trajectory-manager.ts
  packages/rmf-auth/lib/keycloak.ts
  packages/rmf-auth/lib/stub.ts
  packages/rmf-auth/lib/user.ts
Due: dashboard, api-server, rmf-auth

hopefully working e2e
  .github/workflows/e2e.yml
  packages/api-client/README.md
  packages/api-client/lib/openapi/models/index.ts
  packages/dashboard/README.md
  packages/dashboard/e2e/README.md
  packages/dashboard/e2e/docker/docker-compose.yml
  packages/dashboard/e2e/docker/keycloak/Dockerfile
  packages/dashboard/e2e/docker/keycloak/keycloak.mv.db
  packages/dashboard/e2e/package.json
  packages/dashboard/e2e/rmf_server_config.py
  packages/dashboard/e2e/scripts/test-e2e.js
  packages/dashboard/package.json
  packages/dashboard/public/index.html
  packages/dashboard/rmf-launcher.ts
  packages/dashboard/scripts/setup/setup.js
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/tour/tour-data.tsx
  packages/dashboard/src/components/dashboard/tour/tour-navigation-control.tsx
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/index.tsx
  packages/rmf-auth/lib/keycloak.ts
Due: dashboard, rmf-auth

fix api-client
  packages/api-client/lib/openapi/models/index.ts
  packages/ros2-bridge/package-lock.json
Due: ros2-bridge

package lock
  packages/dashboard/package-lock.json
Due: dashboard

fix
  packages/rmf-auth/tests/components/login-base.test.tsx
  packages/rmf-auth/tests/components/login-hoc.test.tsx
  packages/rmf-auth/tests/components/private-route-hoc.test.tsx
Due: rmf-auth

fix
  packages/rmf-auth/tests/components/private-route-base.test.tsx
Due: rmf-auth

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  ros2-bridge: any of: packages/ros2-bridge
  api-server: any of: packages/api-server
  reporting: any of: packages/reporting
  rmf-auth: any of: packages/rmf-auth
