Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server

add key for micro app settings
  packages/dashboard/src/services/settings.ts
Due: dashboard

Set up ROS 2 subs for updates
  packages/api-server/api_server/gateway.py
Due: api-server

fix onclose
  packages/dashboard/src/components/workspace.tsx
Due: dashboard

fix tasks window
  packages/dashboard/src/components/micro-app.tsx
  packages/dashboard/src/components/tasks/tasks-window.tsx
  packages/react-components/lib/window/window-toolbar.tsx
Due: dashboard, react-components

fix importing app-config
  packages/dashboard/src/components/rmf-dashboard.tsx
Due: dashboard

add example
  packages/dashboard/examples/demo/app.css
  packages/dashboard/examples/demo/index.html
  packages/dashboard/examples/demo/index.tsx
  packages/dashboard/examples/demo/public/favicon.ico
  packages/dashboard/examples/demo/public/resources/defaultLogo.png
  packages/dashboard/examples/demo/public/robots.txt
  packages/dashboard/examples/demo/public/silent-check-sso.html
  packages/dashboard/examples/demo/vite.config.ts
  packages/dashboard/tsconfig.app.json
Due: dashboard

add custom theme example
  packages/dashboard/examples/custom-theme/index.html
  packages/dashboard/examples/custom-theme/index.tsx
  packages/dashboard/examples/shared/app.css
  packages/dashboard/examples/shared/index.tsx
  packages/dashboard/examples/shared/public/favicon.ico
  packages/dashboard/examples/shared/public/resources/defaultLogo.png
  packages/dashboard/examples/shared/public/robots.txt
  packages/dashboard/examples/shared/public/silent-check-sso.html
  packages/dashboard/examples/shared/vite.config.ts
  packages/dashboard/package.json
  packages/dashboard/src/components/rmf-dashboard.tsx
Due: dashboard

some fixes to the theme
  packages/dashboard/examples/custom-theme/index.tsx
  packages/dashboard/package.json
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/dashboard/src/components/workspace.tsx
  packages/react-components/lib/window/window-toolbar.tsx
Due: dashboard, react-components

add support for toggling dark mode
  packages/dashboard/examples/custom-theme/index.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/index.ts
  packages/dashboard/src/components/rmf-dashboard.tsx
  packages/dashboard/src/components/theme.ts
  packages/dashboard/src/services/settings.ts
Due: dashboard

fix tests
  packages/dashboard/src/utils/test-utils.test.tsx
Due: dashboard

Fix component render sequence issues
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/dashboard/src/hooks/useCreateTaskForm.tsx
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/types/patrol.tsx
Due: dashboard, react-components

Lint
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Bump to 0.2.0
  packages/api-client/package.json
  packages/api-server/package.json
  packages/api-server/setup.py
  packages/dashboard/package.json
  packages/react-components/package.json
  packages/rmf-models/package.json
  packages/ros-translator/package.json
  packages/ros-translator/ros_translator/test/ros_translator_test_msgs/package.xml
  packages/ros-translator/setup.py
  pipenv-install/package.json
Due: dashboard, react-components, api-server

fix alert manager not getting some context
  packages/dashboard/src/components/rmf-dashboard.tsx
Due: dashboard

Task prioritization and cleanup of task form (#1000)
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
  packages/react-components/lib/tasks/utils.ts
Due: react-components

enable admin actions button
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Add troubleshooting step for levels not rendering
  README.md
Due: none

Fix plural
  README.md
Due: none

Add troubleshooting step for levels not rendering (#1006)
  README.md
Due: none

Fix capitalization, disable scheuling for robot dispatch, allow edit scheduled fleet task
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Comments and consolidate logs
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Slight tree view for robots, change dropdown size, use const enum
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

fix tests
  packages/dashboard/vite.config.ts
Due: dashboard

fix lint errors
  packages/rmf-dashboard-framework/package.json
  packages/rmf-dashboard-framework/src/components/window/demo.stories.tsx
Due: none

move all deps to peerDeps
  packages/dashboard-e2e/package.json
  packages/rmf-dashboard-framework/.gitignore
  packages/rmf-dashboard-framework/docs/getting-started.md
  packages/rmf-dashboard-framework/package.json
  pnpm-lock.yaml
Due: dashboard

update dockerfile and docs
  .github/demo-dashboard/Dockerfile
  .github/rmf-dashboard-framework/Dockerfile
  .github/rmf-dashboard-framework/app-config.json
  .github/rmf-dashboard-framework/inject-env.sh
  .github/workflows/nightly.yml
  README.md
Due: none

fix @aldabil/react-scheduler incompatibility
  packages/rmf-dashboard-framework/package.json
  pnpm-lock.yaml
Due: none

rename index.tsx to main.tsx to follow vite default template
  packages/rmf-dashboard-framework/docs/getting-started.md
  packages/rmf-dashboard-framework/examples/custom-theme/index.html
  packages/rmf-dashboard-framework/examples/custom-theme/main.tsx
  packages/rmf-dashboard-framework/examples/demo/index.html
  packages/rmf-dashboard-framework/examples/demo/main.tsx
Due: none

fix imports
  packages/api-client/package.json
  packages/rmf-dashboard-framework/.storybook/preview.tsx
  packages/rmf-dashboard-framework/docs/getting-started.md
  packages/rmf-dashboard-framework/examples/custom-theme/index.tsx
  packages/rmf-dashboard-framework/examples/demo/index.tsx
  packages/rmf-dashboard-framework/examples/shared/index.tsx
  packages/rmf-dashboard-framework/examples/shared/vite.config.ts
  packages/rmf-dashboard-framework/tsconfig.app.json
Due: none

cleanup
  packages/rmf-dashboard-framework/.gitignore
Due: none

abit of refactor to make it easier to create custom windows
  packages/rmf-dashboard-framework/src/components/tasks/tasks-window.tsx
  packages/rmf-dashboard-framework/src/components/window/index.ts
  packages/rmf-dashboard-framework/src/components/window/window-container.tsx
  packages/rmf-dashboard-framework/src/components/window/window.tsx
Due: none

update docs
  packages/rmf-dashboard-framework/docs/getting-started.md
  packages/rmf-dashboard-framework/docs/micro-apps.md
  packages/rmf-dashboard-framework/src/components/tasks/tasks-window.tsx
  packages/rmf-dashboard-framework/src/components/window/index.ts
  packages/rmf-dashboard-framework/src/components/window/window-close-button.tsx
  packages/rmf-dashboard-framework/src/components/window/window.tsx
  packages/rmf-dashboard-framework/src/micro-apps/tasks-app.ts
  packages/rmf-dashboard-framework/src/micro-apps/tasks-app.tsx
Due: none

build deps before starting example
  packages/rmf-dashboard-framework/package.json
Due: none

english
  packages/rmf-dashboard-framework/docs/getting-started.md
Due: none

add updateSettings to props param
  packages/rmf-dashboard-framework/docs/micro-apps.md
  packages/rmf-dashboard-framework/src/micro-apps/index.tsx
Due: none

fix after rebase
  packages/rmf-dashboard-framework/src/components/tasks/utils.ts
Due: none

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
