Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

Use Button instead of IconButton for export and refresh
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Remove stale import
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Add a fixme for still querying for task requests during csv export
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Rename variables more accurately since it will only query for the past month
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Introduced task completion alert, testing with mui alert
  packages/api-server/api_server/routes/internal.py
  packages/dashboard/src/components/alert-store.tsx
Due: dashboard, api-server

Changing download to export
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/dashboard/src/components/tasks/utils.ts
Due: dashboard

Moving task request query for only minimal export
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Hammer/max downloads (#909)
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/dashboard/src/components/tasks/utils.ts
Due: dashboard

Pickup and destination in task state labels
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/task_request_label.py
  packages/api-server/api_server/repositories/tasks.py
  packages/dashboard/src/components/tasks/task-summary.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/dashboard/src/components/tasks/utils.ts
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
  packages/react-components/lib/tasks/utils.ts
Due: dashboard, react-components, api-server

Clean up past workaround where pickup and destination is saved when a request is saved
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Add username to cancellation request label
  packages/dashboard/src/components/tasks/task-cancellation.tsx
Due: dashboard

Log cancellation request
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Adding user dep to delivery alert response, logging user and delivery action response
  packages/api-server/api_server/routes/delivery_alerts.py
Due: api-server

Custom task type support, refactor tasks to be singular, cleaned up (#903)
  packages/dashboard/src/components/tasks/task-schedule-utils.ts
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Migration script
  packages/api-server/api_server/models/migrate/migrate_db_912.py
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components, api-server

Remove stale testing label, push label instead of setting
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Lint
  packages/api-server/api_server/models/migrate/migrate_db_912.py
Due: api-server

Add scheduled to label, read label to display requester icon
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components

Getting ScheduledTask as well
  packages/api-server/api_server/models/migrate/migrate_db_912.py
Due: api-server

Handle schedules as well
  packages/api-server/api_server/models/migrate/migrate_db_912.py
Due: api-server

Hammer/log user actions (#914)
  packages/api-server/api_server/routes/delivery_alerts.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/dashboard/src/components/tasks/task-cancellation.tsx
Due: dashboard, api-server

Log schedule creation
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

Acknowledgement now closes task alert
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/tasks/task-alert.tsx
Due: dashboard

Revert to original implementation, with just checking for acknowledgement in categorizeAndPushAlerts
  packages/dashboard/src/components/alert-store.tsx
Due: dashboard

Logging for schedule creation, simplify alert ack (#916)
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/tasks/task-alert.tsx
Due: dashboard, api-server

disable e2e which is using browserstack that we no longer have access to
  .github/workflows/dashboard-e2e.yml.disabled
Due: none

disable e2e which is using browserstack that we no longer have access to (#918)
  .github/workflows/dashboard-e2e.yml.disabled
Due: none

Updating route for responding to delivery alert
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/routes/delivery_alerts.py
  packages/dashboard/src/components/delivery-alert-store.tsx
Due: dashboard, api-server

New fleets routes to decommission and reinstate robots
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/routes/fleets.py
Due: api-server

Generated new API for decomm and reinstate robots
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

New button component for robot decommissioning and reinstating
  packages/dashboard/src/components/robots/robot-decommission.tsx
  packages/dashboard/src/components/robots/robot-summary.tsx
Due: dashboard

Using recommission instead of reinstate
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/routes/fleets.py
Due: api-server

Built api-client with recommission instead of reinstate
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

Recommission, add new color to robot table to show offline or uninitialized
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/robots/robot-decommission.tsx
  packages/dashboard/src/components/robots/robots-app.tsx
  packages/react-components/lib/robots/robot-table-datagrid.tsx
Due: dashboard, react-components

lint
  packages/api-server/api_server/models/migrate/migrate_db_912.py
Due: api-server

Hammer/use labels schedules (#921)
  packages/api-server/api_server/models/migrate/migrate_db_912.py
Due: api-server

Test de/re-commission route
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/test/test_data.py
Due: api-server

Generate new refactored API
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

Refactor API to not pass labels due to generated API having a requestBody
  packages/api-client/lib/version.ts
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/routes/fleets.py
  packages/dashboard/src/components/robots/robot-decommission.tsx
Due: dashboard, api-server

Lint
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/test/test_data.py
Due: api-server
