Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

Remove console log test
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Adding working-directory on step due to nick-fields/retry#89
  .github/workflows/dashboard-e2e.yml
  .github/workflows/nightly.yml
Due: none

Updated alerts backend using task and fleet logs with ids, instead of storing information
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/tortoise_models/alerts.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/rmf_io/__init__.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/routes/alerts.py
  packages/api-server/api_server/routes/internal.py
Due: api-server

Rename AppEvent subject and useState used as flag
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Rename react state to make more understanding
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Task creation as big button accessible from any tab (#697)
  packages/dashboard-e2e/tests/ui-interactions/create-task-from-any-tab.test.ts
  packages/dashboard-e2e/tests/ui-interactions/index.test.ts
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Add modal component to render details and logs when users click task row
  packages/dashboard/src/components/tasks/task-logs-details.tsx
Due: dashboard

Remove import - Component deleted deleted
  packages/dashboard/src/components/tasks/task-logs-details.tsx
Due: dashboard

Changing title fontsize and add title props
  packages/dashboard/src/components/tasks/task-logs.tsx
  packages/react-components/lib/tasks/task-info.tsx
Due: dashboard, react-components

Remove task detail and task logs microapps from TaskApp
  packages/dashboard/src/components/tasks/tasks-workspace.tsx
Due: dashboard

Add Details and tasks logs pop up when user clicked task row
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Adjusting design according to Figma
  packages/dashboard/src/components/tasks/task-logs-details.tsx
Due: dashboard

Task alerts working
  packages/api-client/lib/index.ts
  packages/api-server/api_server/routes/internal.py
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/robots/robot-alert.tsx
  packages/dashboard/src/components/tasks/task-alert.tsx
  packages/react-components/lib/alert-dialog.tsx
Due: dashboard, react-components, api-server

Alert dialog spec and story, cleaning up unused components
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/tasks/task-alert.tsx
  packages/react-components/lib/alert-dialog.spec.tsx
  packages/react-components/lib/alert-dialog.stories.tsx
  packages/react-components/lib/alert-dialog.tsx
Due: dashboard, react-components

Original ID in alerts, where unix millis are BigIntFields now, changes ids once acknowledged
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/tortoise_models/alerts.py
  packages/api-server/api_server/routes/alerts.py
  packages/api-server/api_server/routes/internal.py
  packages/dashboard/src/components/tasks/task-alert.tsx
Due: dashboard, api-server

Add start waypoint and finish waypoint
  packages/dashboard/src/components/tasks/task-logs-details.tsx
Due: dashboard

Add TaskInfo component to show short info about task
  packages/dashboard/src/components/tasks/task-info-dialog.tsx
Due: dashboard

Open TaskInfo when user click task row
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Remove unnecessary fetch
  packages/dashboard/src/components/tasks/task-logs-details.tsx
Due: dashboard

Date column in Tasks section (#689)
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/rmf_api/task_state.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/repositories/tasks.py
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components, api-server

Fix/request date export (#690)
  packages/api-server/api_server/repositories/tasks.py
  packages/dashboard/src/components/tasks/utils.ts
Due: dashboard, api-server

Feature/task initiator (#692)
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/rmf_api/task_state.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/repositories/tasks.py
  packages/dashboard/src/components/tasks/utils.ts
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components, api-server

Rename component to be more specific and change logic to get start waypoint
  packages/dashboard/src/components/tasks/task-inspector.tsx
  packages/dashboard/src/components/tasks/task-summay.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Change task summary design to be consistent with task alert
  packages/dashboard/src/components/tasks/task-summay.tsx
Due: dashboard

Removed old commented code
  packages/react-components/lib/tasks/task-info.tsx
Due: react-components

Remove unnused import
  packages/dashboard/src/components/tasks/task-summay.tsx
Due: dashboard

Making snackbar alerts mention if alerts were already acknowledged by other users, fix but in task requests list
  packages/dashboard/src/components/tasks/task-alert.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Add map microapp into task section in order to make it similar to figma
  packages/dashboard/src/components/tasks/tasks-workspace.tsx
Due: dashboard

Fix typo. Add missing r. task-summary insted of task-summay
  packages/dashboard/src/components/tasks/task-summary.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Fix task progress value calculate
  packages/dashboard/src/components/tasks/task-summary.tsx
Due: dashboard

Remove console.log
  packages/dashboard/src/components/tasks/task-summary.tsx
Due: dashboard

Rename props name to be more consistent
  packages/dashboard/src/components/tasks/task-summary.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Fix state function name according to the state name
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Fix state name to be more specific
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Phase is used insted of message in TextField description
  packages/dashboard/src/components/tasks/task-summary.tsx
Due: dashboard

Console log message when task pogress can't calculate is added
  packages/dashboard/src/components/tasks/task-summary.tsx
Due: dashboard

Move start waypoint and finish waypoint into Task info component
  packages/dashboard/src/components/tasks/task-inspector.tsx
  packages/react-components/lib/tasks/task-info.tsx
Due: dashboard, react-components

Add title in dialog title
  packages/dashboard/src/components/tasks/task-inspector.tsx
Due: dashboard

Use getTaskStateObs directly insted of AppEvents
  packages/dashboard/src/components/tasks/task-inspector.tsx
Due: dashboard

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
