Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

Checking for superuser realm-access.roles
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/models/user.py
  packages/rmf-auth/lib/keycloak.ts
Due: api-server, rmf-auth

User name and icons on the profile button
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Disable any warnings
  packages/rmf-auth/lib/keycloak.ts
Due: rmf-auth

Type check just in case user not found on db
  packages/api-server/api_server/models/user.py
Due: api-server

Stub to admin, display admin status on profile as well
  packages/api-server/api_server/authenticator.py
  packages/dashboard/src/components/appbar.tsx
Due: dashboard, api-server

More debugging messages
  packages/api-server/api_server/authenticator.py
Due: api-server

Clean up admin checking step
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/models/user.py
Due: api-server

Commented out failing tests due to await
  packages/api-server/api_server/routes/test_admin.py
  packages/api-server/api_server/routes/test_main.py
Due: api-server

Lint
  packages/api-server/api_server/routes/test_admin.py
  packages/api-server/api_server/routes/test_main.py
Due: api-server

Setting zoom and map center back after a map change
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/three-fiber/camera-control.tsx
Due: dashboard

Change datagrid format if height is less than 800
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/beacons/beacon-table-datagrid.tsx
  packages/react-components/lib/doors/door-table-datagrid.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
  packages/react-components/lib/robots/robot-table-datagrid.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components

Change toolbar if height is less than 800
  packages/react-components/lib/window/window-toolbar.tsx
Due: react-components

Make download and refresh button smaller
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Make layers smaller
  packages/dashboard/src/components/three-fiber/layers-controller.tsx
Due: dashboard

Adding console logs to test logged in events
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Adding level change sub to effect that already handles resourceManager
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/three-fiber/camera-control.tsx
Due: dashboard

Using more specific dependency for defaultZoom
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Use specific returns rather than filter
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Resets camera settings as well
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/three-fiber/camera-control.tsx
Due: dashboard

New event specifically for resetting camera
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/three-fiber/camera-control.tsx
Due: dashboard

Moving view to robot location and zoom
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/managers/resource-manager.ts
Due: dashboard

Clicking on robot centers around it, as well as changing levels
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Triggering justLoggedIn when user changes
  packages/dashboard/src/components/app.tsx
Due: dashboard

Clean up console logs
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Fullscreen icon for resetting map view
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/three-fiber/layers-controller.tsx
Due: dashboard

Hammer/map changing (#837)
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/three-fiber/camera-control.tsx
  packages/dashboard/src/components/three-fiber/layers-controller.tsx
  packages/dashboard/src/managers/resource-manager.ts
Due: dashboard

Hammer/roles and groups (#836)
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/models/user.py
  packages/api-server/api_server/routes/test_admin.py
  packages/api-server/api_server/routes/test_main.py
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/rmf-auth/lib/keycloak.ts
Due: dashboard, api-server, rmf-auth

Minor changes to make nicer
  packages/react-components/lib/beacons/beacon-table-datagrid.tsx
  packages/react-components/lib/doors/door-table-datagrid.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
  packages/react-components/lib/robots/robot-table-datagrid.tsx
Due: react-components

Adjustments for screen heights less than 800 (#838)
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/robots/robots-workspace.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/dashboard/src/components/three-fiber/layers-controller.tsx
  packages/react-components/lib/beacons/beacon-table-datagrid.tsx
  packages/react-components/lib/doors/door-table-datagrid.tsx
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
  packages/react-components/lib/robots/robot-table-datagrid.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
  packages/react-components/lib/window/window-toolbar.tsx
Due: dashboard, react-components

Vertically align lift state, visible in lower resolutions
  packages/react-components/lib/lifts/lift-table-datagrid.tsx
Due: react-components

Fixed odd left-top floating menu dropdown by reverting StyledIcons
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Fullscreen icon to scale with resolution too
  packages/dashboard/src/components/three-fiber/layers-controller.tsx
Due: dashboard

Log errors when lift or door apps fail to get health status instead of throwing
  packages/dashboard/src/components/doors-app.tsx
  packages/dashboard/src/components/lifts-app.tsx
Due: dashboard

Double configured zoom level for non-low resolution setting
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Remove publishing request to lift_requests
  packages/api-server/api_server/gateway.py
Due: api-server

Obstructed and Cancelled delivery alert category with desired behaviors
  packages/api-server/api_server/models/delivery_alerts.py
  packages/api-server/api_server/models/tortoise_models/delivery_alerts.py
  packages/dashboard/src/components/delivery-alert-store.tsx
Due: dashboard, api-server

Remove powered-by text and theme settings from appbar
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Attribution prefix
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Obstructed and Cancelled delivery alert category with desired behaviors (#839)
  packages/api-server/api_server/models/delivery_alerts.py
  packages/api-server/api_server/models/tortoise_models/delivery_alerts.py
  packages/dashboard/src/components/delivery-alert-store.tsx
Due: dashboard, api-server

Rearrange schedule view, with better word prompts
  packages/dashboard/src/components/tasks/task-schedule.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
