Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

Unified task app refresh counter to be used for queue table and scheduler
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Remove unused import
  packages/api-server/api_server/repositories/alerts.py
Due: api-server

Use instance of Phases instead of dict in get task logs functions
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Get phases key correctly and add comments to describe changes
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Add comment to describe code changes
  packages/api-server/api_server/repositories/alerts.py
Due: api-server

Lint warning and erros fixed
  packages/api-server/api_server/repositories/tasks.py
Due: api-server

Unused import
  packages/api-server/api_server/repositories/alerts.py
Due: api-server

Add level in robot table interface
  packages/react-components/lib/robots/robot-table.tsx
Due: react-components

Display current level in robot table
  packages/dashboard/src/components/robots/robots-app.tsx
  packages/react-components/lib/robots/robot-table-datagrid.tsx
Due: dashboard, react-components

Unused import
  packages/react-components/lib/robots/robot-table.tsx
Due: react-components

Add style to status column and remove unused class
  packages/react-components/lib/robots/robot-table-datagrid.tsx
Due: react-components

Add function to convert Status2 to upperString
  packages/react-components/lib/robots/robot-table-datagrid.tsx
  packages/react-components/lib/robots/utils.ts
Due: react-components

Rename function name to be more precise
  packages/react-components/lib/robots/robot-table-datagrid.tsx
  packages/react-components/lib/robots/utils.ts
Due: react-components

Adjust design according to figma
  packages/react-components/lib/robots/robot-table-datagrid.tsx
Due: react-components

Changes in the robot table (#722)
  packages/dashboard/src/components/robots/robots-app.tsx
  packages/react-components/lib/robots/robot-table-datagrid.tsx
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/robots/utils.ts
Due: dashboard, react-components

remove the construction of task_repo
  packages/api-server/api_server/repositories/alerts.py
Due: api-server

Revert changes
  packages/api-server/api_server/repositories/alerts.py
Due: api-server

Adding try catch to handle error
  packages/api-server/api_server/repositories/alerts.py
Due: api-server

Lint fix
  packages/api-server/api_server/repositories/alerts.py
Due: api-server

Add job tag and fix delete job bug
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

Add return data type in get function
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

Changing delete order
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

Adding getter for protected id member
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

Revert use of single global client for tests, as concurrency with client context fails
  packages/api-server/api_server/test/test_client.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

Remove instance of TaskRepository and pass it as params in Alert
  packages/api-server/api_server/repositories/alerts.py
  packages/api-server/api_server/routes/internal.py
Due: api-server

Add task repository dependency in alert repository
  packages/api-server/api_server/repositories/alerts.py
Due: api-server

Feature/acknowledged by showed in task logs (#721)
  packages/api-server/api_server/repositories/alerts.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/internal.py
Due: api-server

Lint and fix e2e test
  packages/dashboard-e2e/tests/ui-interactions/create-task-from-any-tab.test.ts
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Adding aria-label to submit button for e2e test
  packages/dashboard-e2e/tests/ui-interactions/create-task-from-any-tab.test.ts
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

scheduling frontend (#700)
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/tortoise_models/scheduled_task.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/test_scheduled_tasks.py
  packages/api-server/api_server/test/test_client.py
  packages/dashboard-e2e/tests/ui-interactions/create-task-from-any-tab.test.ts
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
  packages/dashboard/package.json
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
  packages/react-components/package.json
  pnpm-lock.yaml
Due: dashboard, react-components, api-server

Changing N/A to unknown
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components

Adding try catch for username promise
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Port/date initiator columns (#702)
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/rmf_api/task_request.py
  packages/api-server/api_server/models/rmf_api/task_state.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/repositories/tasks.py
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/tasks/utils.ts
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: dashboard, react-components, api-server

Loop task form cleaned up
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Clean and Delivery forms
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Use theme spacing for grid container spacing
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Mention endpoint
  README.md
Due: none

Update to 18 rmf auth
  packages/rmf-auth/package.json
Due: rmf-auth

Update to react router v6
  packages/rmf-auth/lib/components/private-route.test.tsx
  packages/rmf-auth/lib/components/private-route.tsx
Due: rmf-auth

Update to 18 rmf component
  packages/react-components/package.json
Due: react-components
