Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, ros2-bridge, api-server, reporting, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  ros2-bridge:
    paths:
      - packages/ros2-bridge
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  reporting:
    paths:
      - packages/reporting
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

add refresh button
  packages/react-components/lib/task-summary/task-panel.tsx
  packages/react-components/lib/task-summary/task-table.tsx
Due: react-components

working task submit
  packages/api-server/api_server/ros_time.py
  packages/dashboard/package.json
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/react-components/lib/task-summary/task-panel.tsx
Due: dashboard, react-components, api-server

add tasks route
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/util/url.ts
Due: dashboard

fix routes
  packages/dashboard/src/components/app.tsx
Due: dashboard

add ros_translator to the list of packages
  scripts/packages.js
Due: none

Added tests to reports
  packages/react-components/tests/reports/dispenser-state/dispenser-state-report.spec.tsx
  packages/react-components/tests/reports/door-state/door-state-report.spec.tsx
  packages/react-components/tests/reports/fleet-state/fleet-state-report.spec.tsx
  packages/react-components/tests/reports/health/health-report.spec.tsx
  packages/react-components/tests/reports/ingestor-state/ingestor-state-report.spec.tsx
  packages/react-components/tests/reports/lift-state/lift-state-report.spec.tsx
Due: react-components

restored .venv/gitignore
  .venv/.gitignore
Due: none

Added tier on selector (reporting-server)
  example-deployment/docker/reporting.dockerfile
  example-deployment/k8s/reporting-server.yaml
Due: none

fix table getting resized by status text is long
  packages/react-components/lib/task-summary/task-panel.tsx
  packages/react-components/lib/task-summary/task-phases.tsx
  packages/react-components/lib/task-summary/task-table.tsx
  packages/react-components/stories/tasks/task-panel.stories.tsx
Due: react-components

move rmf-models test to ros_translator
  .github/workflows/ros_translator.yml
  packages/rmf-models/package.json
  packages/rmf-models/test/.gitignore
  packages/rmf-models/test/spec/bounded-sequences.spec.ts
  packages/rmf-models/test/spec/fixed-array.spec.ts
  packages/rmf-models/test/spec/nested.spec.ts
  packages/rmf-models/test/spec/support/jasmine.json
  packages/rmf-models/test/spec/typed-array.spec.ts
  packages/rmf-models/test/test.bash
  packages/rmf-models/test/tsconfig.json
  packages/ros_translator/.gitignore
  packages/ros_translator/package-lock.json
  packages/ros_translator/package.json
  packages/ros_translator/ros_translator/test/build_messages.sh
  packages/ros_translator/ros_translator/test/ros_translator_test_msgs/CMakeLists.txt
  packages/ros_translator/ros_translator/test/ros_translator_test_msgs/msg/BoundedSequence.msg
  packages/ros_translator/ros_translator/test/ros_translator_test_msgs/msg/FixedArray.msg
  packages/ros_translator/ros_translator/test/ros_translator_test_msgs/msg/Nested.msg
  packages/ros_translator/ros_translator/test/ros_translator_test_msgs/msg/TypedArray.msg
  packages/ros_translator/ros_translator/test/ros_translator_test_msgs/package.xml
  packages/ros_translator/ros_translator/typescript/Pipfile
  packages/ros_translator/ros_translator/typescript/test/.gitignore
  packages/ros_translator/ros_translator/typescript/test/test.sh
  packages/ros_translator/test.sh
Due: none

remove credentials
  .github/workflows/ros_translator.yml
Due: none

fix time tests
  packages/api-server/api_server/ros_time.py
  packages/api-server/api_server/test_ros_time.py
Due: api-server

typo
  .github/workflows/ros_translator.yml
Due: none

add package.json
  packages/ros_translator/package-lock.json
  packages/ros_translator/package.json
  packages/ros_translator/ros_translator/typescript/test/package-lock.json
  packages/ros_translator/ros_translator/typescript/test/package.json
  packages/ros_translator/ros_translator/typescript/test/test.sh
Due: none

remove plans panel in omnipanel
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/main-menu.tsx
  packages/dashboard/src/components/dashboard/task-summary-panel.tsx
Due: dashboard

remove models from coverage
  packages/api-server/.coveragerc
Due: api-server

use exact path
  packages/dashboard/src/components/app.tsx
Due: dashboard

remove commands panel tour
  packages/dashboard/src/components/dashboard/tour/tour-manager.tsx
Due: dashboard

remove functionalities referencing commands panel and tasks panels
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/wip-main-menu-plusplus.tsx
  packages/dashboard/src/hotkeys.ts
Due: dashboard

resolve more conflict
  .github/workflows/react-components.yml
  example-deployment/k8s/rmf-server.yaml
  packages/rmf-models/README.md
Due: none

resolve more file diffs
  .github/workflows/react-components.yml
  packages/api-client/lib/openapi/README.md
  packages/api-server/api_server/app_config.py
  packages/dashboard/README.md
Due: dashboard, api-server

remove file
  packages/rmf-models/test/index.ts
Due: none

export theme
  packages/dashboard/e2e/package-lock.json
  packages/react-components/lib/index.ts
Due: dashboard, react-components

fix not returning response when ros is not connectable
  packages/api-server/api_server/app.py
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/dependencies/logging.py
  packages/api-server/api_server/dependencies/ros.py
Due: api-server

add e2e tests
  packages/dashboard/e2e/package-lock.json
  packages/dashboard/e2e/scripts/start-rmf-server.sh
  packages/dashboard/e2e/scripts/test-e2e.js
  packages/dashboard/e2e/serve.json
  packages/dashboard/e2e/tests/task-summary.test.ts
  packages/dashboard/e2e/tests/tasks.test.ts
  packages/react-components/lib/index.ts
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/index.ts
  packages/react-components/lib/tasks/task-info.tsx
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/lib/tasks/task-phases.tsx
  packages/react-components/lib/tasks/task-summary-accordion.tsx
  packages/react-components/lib/tasks/task-summary-utils.ts
  packages/react-components/lib/tasks/task-table.tsx
  packages/react-components/lib/tasks/utils.ts
Due: dashboard, react-components

Reporting docker using ros:foxy as base
  example-deployment/docker/reporting.dockerfile
Due: none

added authentication and logging
  packages/reporting-server/dependencies/__init__.py
  packages/reporting-server/dependencies/auth.py
  packages/reporting-server/dependencies/logging.py
  packages/reporting-server/rest_server/app.py
  packages/reporting-server/rest_server/authenticator.py
Due: reporting

fix test
  packages/react-components/tests/tasks/create-task.spec.tsx
  packages/react-components/tests/tasks/task-info.spec.tsx
  packages/react-components/tests/tasks/task-panel.spec.tsx
  packages/react-components/tests/tasks/task-summary-accordion.spec.tsx
  packages/react-components/tests/tasks/task-table.spec.tsx
Due: react-components

fix tests
  packages/dashboard/src/components/dashboard/tests/main-menu.test.tsx
  packages/dashboard/src/components/dashboard/tests/task-summary-panel.test.tsx
  packages/dashboard/src/components/dashboard/tests/task-summary.ts
  packages/dashboard/src/components/dashboard/tests/wip-main-menu-plusplus.test.tsx
  packages/dashboard/src/components/dashboard/tour/tests/__snapshots__/tour.test.tsx.snap
  packages/dashboard/src/tests/hotkeys.test.ts
Due: dashboard

add smoke test
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/rmf-app/contexts.ts
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/dashboard/src/components/tasks/tests/task-page.test.tsx
Due: dashboard

fix e2e
  packages/dashboard/e2e/scripts/test-e2e.js
Due: dashboard

docs(example-deployment): fix missing tier selector
  example-deployment/k8s/rmf-server.yaml
Due: none

cleanup
  packages/api-client/.rmf_schedule_node.yaml
Due: none

remove ros2-bridge
  .github/workflows/ros2-bridge.yml
  README.md
  codecov.yml
  packages/ros2-bridge/.eslintrc.js
  packages/ros2-bridge/.gitignore
  packages/ros2-bridge/jest.config.js
  packages/ros2-bridge/package-lock.json
  packages/ros2-bridge/package.json
  packages/ros2-bridge/src/authenticator.ts
  packages/ros2-bridge/src/index.ts
  packages/ros2-bridge/src/logger.ts
  packages/ros2-bridge/src/plugins/ros2/index.ts
  packages/ros2-bridge/src/plugins/ros2/tests/index.test.ts
  packages/ros2-bridge/src/rpc-middleware.ts
  packages/ros2-bridge/src/tests/authenticator.test.ts
  packages/ros2-bridge/src/tests/rpc-middleware.test.ts
  packages/ros2-bridge/src/tests/websocket-connect.test.ts
  packages/ros2-bridge/src/websocket-connect.ts
  packages/ros2-bridge/tsconfig.json
  scripts/packages.js
Due: ros2-bridge

chore: remove ros2-bridge (#309)
  .github/workflows/ros2-bridge.yml
  README.md
  codecov.yml
  packages/ros2-bridge/.eslintrc.js
  packages/ros2-bridge/.gitignore
  packages/ros2-bridge/jest.config.js
  packages/ros2-bridge/package-lock.json
  packages/ros2-bridge/package.json
  packages/ros2-bridge/src/authenticator.ts
  packages/ros2-bridge/src/index.ts
  packages/ros2-bridge/src/logger.ts
  packages/ros2-bridge/src/plugins/ros2/index.ts
  packages/ros2-bridge/src/plugins/ros2/tests/index.test.ts
  packages/ros2-bridge/src/rpc-middleware.ts
  packages/ros2-bridge/src/tests/authenticator.test.ts
  packages/ros2-bridge/src/tests/rpc-middleware.test.ts
  packages/ros2-bridge/src/tests/websocket-connect.test.ts
  packages/ros2-bridge/src/websocket-connect.ts
  packages/ros2-bridge/tsconfig.json
  scripts/packages.js
Due: ros2-bridge

push components up to reduce drilling
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/lib/tasks/task-table.tsx
  packages/react-components/stories/tasks/task-table.stories.tsx
  packages/react-components/tests/tasks/task-panel.spec.tsx
  packages/react-components/tests/tasks/task-table.spec.tsx
Due: react-components

add autocomplete for some fields
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/stories/tasks/create-task.stories.tsx
Due: react-components

expose the autocomplete options to taskpanel
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/stories/tasks/task-panel.stories.tsx
  packages/react-components/stories/tasks/task-table.stories.tsx
Due: react-components

use all places for the autocomplete waypoints
  packages/dashboard/src/components/rmf-app/contexts.ts
  packages/dashboard/src/components/rmf-app/place.ts
  packages/dashboard/src/components/rmf-app/rmf-app.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
Due: dashboard

output commonjs to support node
  packages/api-client/tsconfig.json
Due: none
