Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

Update version to merged rmf_api_msgs
  packages/api-server/api_server/models/rmf_api/version.py
  packages/api-server/generate-models.sh
Due: api-server

Boiler plate for UI, backend ROS 2 topic and endpoints
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/building_map.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/routes/building_map.py
  packages/dashboard/src/components/appbar.tsx
Due: dashboard, api-server

Simple dialog and reset working
  packages/api-client/lib/index.ts
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/routes/building_map.py
  packages/dashboard/src/components/appbar.tsx
Due: dashboard, api-server

Basic UI
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Lint
  packages/api-server/api_server/gateway.py
Due: api-server

use HTTPConnection over Request to workaround websocket bug; cleanup and fix lint errors
  packages/api-server/api_server/app.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/logging.py
  packages/api-server/api_server/repositories/fleets.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/delivery_alerts.py
  packages/api-server/api_server/routes/internal.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

fix sio test
  packages/api-server/api_server/app.py
  packages/api-server/api_server/authenticator.py
Due: api-server

fix after meging
  packages/api-server/api_server/app.py
  packages/api-server/api_server/routes/fleets.py
Due: api-server

Using a new generated file to handle parsing between json and object
  packages/api-server/api_server/models/task_request_label.py
  packages/api-server/migrations/migrate_db_912.py
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/task-request-label.tsx
  packages/react-components/lib/tasks/utils.ts
Due: react-components, api-server

pin pnpm version to workaround node16 eol
  .github/actions/bootstrap/action.yml
Due: none

pin pnpm version to workaround node16 eol (#936)
  .github/actions/bootstrap/action.yml
Due: none

update readme to use pnpm and node20
  README.md
Due: none

fix missing logger arg
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

revert to global connection manager
  packages/api-server/api_server/routes/internal.py
Due: api-server

workaround pydantic serialization problem
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/fast_io/pydantic_json_serializer.py
Due: api-server

fix conversion in tests
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/test/test_fixtures.py
Due: api-server

Address review comments
  packages/api-server/api_server/routes/fleets.py
  packages/dashboard/src/components/robots/robot-mutex-group-app.tsx
  packages/react-components/lib/robots/mutex-group-table.tsx
Due: dashboard, react-components, api-server

Lint
  packages/api-server/api_server/routes/fleets.py
Due: api-server

Fix test
  packages/api-server/api_server/routes/test_fleets.py
Due: api-server

Remove overlay for internal msgs
  .github/actions/overlay/action.yml
  .github/workflows/api-server.yml
  .github/workflows/dashboard-e2e.yml
  .github/workflows/dashboard.yml
  .github/workflows/ghpages.yml
  .github/workflows/nightly.yml
Due: none

Remove background loading if no tasks were found
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Remove background loading if no tasks were found (#939)
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Hammer/mutex groups (#933)
  .github/actions/overlay/action.yml
  .github/workflows/api-server.yml
  .github/workflows/dashboard-e2e.yml
  .github/workflows/dashboard.yml
  .github/workflows/ghpages.yml
  .github/workflows/nightly.yml
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/rmf_api/robot_state.py
  packages/api-server/api_server/models/rmf_api/version.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/test/test_data.py
  packages/api-server/generate-models.sh
  packages/dashboard/src/components/app-registry.ts
  packages/dashboard/src/components/robots/robot-mutex-group-app.tsx
  packages/dashboard/src/components/robots/robots-workspace.tsx
  packages/react-components/lib/robots/index.ts
  packages/react-components/lib/robots/mutex-group-table.spec.tsx
  packages/react-components/lib/robots/mutex-group-table.stories.tsx
  packages/react-components/lib/robots/mutex-group-table.tsx
Due: dashboard, react-components, api-server

Use logfmt for logging (#931)
  Pipfile.lock
  packages/api-client/lib/openapi/api.ts
  packages/api-server/api_server/__main__.py
  packages/api-server/api_server/app.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/logger.py
  packages/api-server/api_server/logging.py
  packages/api-server/api_server/repositories/__init__.py
  packages/api-server/api_server/repositories/alerts.py
  packages/api-server/api_server/repositories/cached_files.py
  packages/api-server/api_server/repositories/fleets.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/rmf_service.py
  packages/api-server/api_server/routes/admin.py
  packages/api-server/api_server/routes/alerts.py
  packages/api-server/api_server/routes/building_map.py
  packages/api-server/api_server/routes/delivery_alerts.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/internal.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/services/__init__.py
  packages/api-server/setup.py
Due: api-server

resubscribe on reconnect
  packages/api-client/lib/index.ts
  packages/api-server/api_server/fast_io/__init__.py
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
Due: dashboard, api-server

throttle so ui is only updated once every 5s
  packages/dashboard/src/components/doors-app.tsx
  packages/dashboard/src/components/doors-overlay.tsx
  packages/dashboard/src/components/lifts-app.tsx
  packages/dashboard/src/components/lifts-overlay.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/robots-overlay.tsx
  packages/dashboard/src/components/robots/robot-info-app.tsx
  packages/dashboard/src/components/three-fiber/door-three.tsx
  packages/dashboard/src/components/three-fiber/lift-three.tsx
Due: dashboard

use dummy test to make ci pass
  packages/api-client/lib/index.spec.ts
Due: none

reduce throttle on map; remove unused code
  packages/dashboard/src/components/doors-overlay.tsx
  packages/dashboard/src/components/lifts-overlay.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/robots-overlay.tsx
  packages/dashboard/src/components/waypoints-overlay.tsx
  packages/dashboard/src/components/workcells-overlay.tsx
Due: dashboard

reduce throttle to 3s
  packages/dashboard/src/components/doors-app.tsx
  packages/dashboard/src/components/lifts-app.tsx
  packages/dashboard/src/components/robots/robot-info-app.tsx
  packages/dashboard/src/components/three-fiber/door-three.tsx
  packages/dashboard/src/components/three-fiber/lift-three.tsx
Due: dashboard

resubscribe on reconnect (#940)
  packages/api-client/lib/index.spec.ts
  packages/api-client/lib/index.ts
  packages/api-server/api_server/fast_io/__init__.py
  packages/dashboard/src/components/doors-app.tsx
  packages/dashboard/src/components/doors-overlay.tsx
  packages/dashboard/src/components/lifts-app.tsx
  packages/dashboard/src/components/lifts-overlay.tsx
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/robots-overlay.tsx
  packages/dashboard/src/components/robots/robot-info-app.tsx
  packages/dashboard/src/components/three-fiber/door-three.tsx
  packages/dashboard/src/components/three-fiber/lift-three.tsx
  packages/dashboard/src/components/waypoints-overlay.tsx
  packages/dashboard/src/components/workcells-overlay.tsx
Due: dashboard, api-server

Display commission status
  packages/dashboard/src/components/robots/robot-summary.tsx
Due: dashboard

Adding warning to decommission confirm dialog
  packages/dashboard/src/components/robots/robot-decommission.tsx
Due: dashboard

Add warning before recommissioning
  packages/dashboard/src/components/robots/robot-decommission.tsx
Due: dashboard

Hammer/decom info (#941)
  packages/dashboard/src/components/robots/robot-decommission.tsx
  packages/dashboard/src/components/robots/robot-summary.tsx
Due: dashboard

Made fields all optional, nested in a description object, regenerated api-client
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/task_request_label.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/react-components/lib/tasks/index.ts
  packages/react-components/lib/tasks/task-request-label.tsx
Due: react-components, api-server

Using Ajv properly, with basic json stringify and parse
  packages/api-server/api_server/repositories/tasks.py
  packages/dashboard/src/components/tasks/task-summary.tsx
  packages/dashboard/src/components/tasks/utils.ts
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/index.ts
  packages/react-components/lib/tasks/task-request-label-utils.tsx
  packages/react-components/lib/tasks/task-request-label.tsx
  packages/react-components/lib/tasks/task-table-datagrid.tsx
  packages/react-components/lib/tasks/utils.ts
  packages/react-components/package.json
  pnpm-lock.yaml
Due: dashboard, react-components, api-server

Renaming to task booking label, with the endpoint getting the label from the state, instead of the request
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/task_booking_label.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/test/test_data.py
Due: api-server

Generated API client after rename
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
