Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, reporting, reporting-server, rmf-auth, task-scheduler

internal gateway server
  packages/api-server/api_server/__main__.py
  packages/api-server/api_server/app.py
  packages/api-server/api_server/app_config.py
  packages/api-server/api_server/default_config.py
  packages/api-server/api_server/rmf_gateway_app.py
  packages/api-server/api_server/rmf_io/events.py
Due: api-server

fix lint errors
  packages/api-server/api_server/__main__.py
  packages/api-server/api_server/app.py
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/rmf_gateway_app.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/test/test_data.py
Due: api-server

fix tests
  packages/api-server/api_server/routes/test_base_route.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/test/test_config.py
Due: api-server

improved fastio
  packages/api-server/api_server/app.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/base_app.py
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/routes/admin.py
  packages/api-server/api_server/routes/building_map.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/main.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_dispensers.py
  packages/api-server/api_server/routes/test_doors.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/routes/test_ingestors.py
  packages/api-server/api_server/routes/test_lifts.py
  packages/api-server/api_server/routes/utils.py
  packages/api-server/api_server/test/fast_io_app.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/api_server/test_fast_io.py
Due: api-server

fix route prefix not shown on socketio docs
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/routes/building_map.py
Due: api-server

fix lint errors
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/routes/building_map.py
  packages/api-server/api_server/test/fast_io_app.py
Due: api-server

ci: install latest npm on e2e image
  docker/Dockerfile
Due: none

update api-client
  packages/api-client/lib/index.ts
  packages/api-server/api_server/app.py
  packages/api-server/api_server/fast_io/__init__.py
Due: api-server

fix lint errors
  packages/api-server/api_server/app.py
Due: api-server

custom sio serializer to support pydantic models
  packages/api-server/api_server/app.py
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/test/fast_io_app.py
Due: api-server

workaround to get sio user in a type safe way
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

refactor: fastio v2 (#560)
  packages/api-client/lib/index.ts
  packages/api-server/api_server/app.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/base_app.py
  packages/api-server/api_server/dependencies.py
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/routes/admin.py
  packages/api-server/api_server/routes/building_map.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/main.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_dispensers.py
  packages/api-server/api_server/routes/test_doors.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/routes/test_ingestors.py
  packages/api-server/api_server/routes/test_lifts.py
  packages/api-server/api_server/routes/utils.py
  packages/api-server/api_server/test/fast_io_app.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/api_server/test_fast_io.py
Due: api-server

update rmf_api_msgs ver
  packages/api-server/api_server/models/rmf_api/version.py
  packages/api-server/generate-models.sh
Due: api-server

render maps
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/react-components/lib/map/map.tsx
Due: dashboard, react-components

revert svgoverlay ref to previous
  packages/react-components/lib/map/map.tsx
Due: react-components

add lift and door states to robot page:
  packages/dashboard/src/components/robots/robot-page.tsx
  packages/dashboard/src/util/common-subscriptions.ts
Due: dashboard

update piplock and package-lock
  Pipfile.lock
  package-lock.json
Due: none

add in prev traj time control, exclude from build
  packages/react-components/lib/map/trajectory-time-control.tsx
  packages/react-components/tsconfig.json
Due: react-components

minor ui updates for celled components
  packages/react-components/lib/doors/door-panel.tsx
  packages/react-components/lib/lifts/lift-panel.tsx
  packages/react-components/lib/workcells/workcell-panel.tsx
Due: react-components

add todo and eslint disable line
  packages/dashboard/src/components/schedule-visualizer/index.tsx
Due: dashboard

print node and npm ver
  .github/actions/dashboard-e2e/action.yml
Due: none

turns out we do need to install latest npm because setup-node overwrites the system ver
  .github/actions/dashboard-e2e/action.yml
  .github/actions/reporting-e2e/action.yml
  .github/workflows/api-server.yml
  .github/workflows/dashboard-e2e.yml
  .github/workflows/dashboard.yml
  .github/workflows/nightly.yml
  .github/workflows/react-components.yml
  .github/workflows/reporting-e2e.yml
  .github/workflows/reporting-server.yml
  .github/workflows/reporting.yml
  .github/workflows/rmf-auth.yml
  .github/workflows/ros-translator.yml
  docker/Dockerfile
Due: none

ci: cleanup (#559)
  .github/actions/dashboard-e2e/action.yml
  .github/actions/reporting-e2e/action.yml
  .github/workflows/api-server.yml
  .github/workflows/dashboard-e2e.yml
  .github/workflows/dashboard.yml
  .github/workflows/nightly.yml
  .github/workflows/react-components.yml
  .github/workflows/reporting-e2e.yml
  .github/workflows/reporting-server.yml
  .github/workflows/reporting.yml
  .github/workflows/rmf-auth.yml
  .github/workflows/ros-translator.yml
  docker/Dockerfile
Due: none

support running multiple apps in same loop
  packages/api-server/api_server/__main__.py
  packages/api-server/api_server/app.py
  packages/api-server/api_server/ros.py
  packages/api-server/api_server/test/fast_io_app.py
  packages/api-server/api_server/test/server.py
  packages/api-server/api_server/test/setup.py
  packages/api-server/api_server/test/test_config.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/api_server/test/test_server.py
  packages/api-server/api_server/test_fast_io.py
  packages/api-server/api_server/test_sio_auth.py
  packages/api-server/scripts/test.py
Due: api-server

support new fleet api
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/fleets.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/fleet_state.py
  packages/api-server/api_server/models/tortoise_models/fleets.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/repositories/__init__.py
  packages/api-server/api_server/repositories/fleets.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/rmf_gateway_app.py
  packages/api-server/api_server/rmf_io/__init__.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/test/test_data.py
Due: api-server

remove old fleet and tasks apis
  packages/api-server/api_server/app.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/fleets.py
  packages/api-server/api_server/models/tortoise_models/fleets.py
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/health_watchdog.py
Due: api-server

task and fleet updates
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/fleets.py
  packages/api-server/api_server/models/tasks.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/fleets.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/repositories/fleets.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/test/test_data.py
Due: api-server

task and fleet log updates
  packages/api-server/api_server/rmf_gateway_app.py
Due: api-server

bug fixes
  Pipfile
  Pipfile.lock
  packages/api-server/api_server/models/tortoise_models/fleets.py
  packages/api-server/api_server/rmf_gateway_app.py
  packages/api-server/api_server/routes/building_map.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/routes/test_building_map.py
  packages/api-server/api_server/routes/test_dispensers.py
  packages/api-server/api_server/routes/test_doors.py
  packages/api-server/api_server/routes/test_fleets.py
  packages/api-server/api_server/routes/test_ingestors.py
  packages/api-server/api_server/routes/test_lifts.py
  packages/api-server/api_server/test/test_data.py
  packages/api-server/api_server/test/test_fixtures.py
  packages/api-server/api_server/test_rmf_gateway_app.py
  packages/api-server/package.json
  packages/api-server/scripts/test.key
  packages/api-server/scripts/test.pub
  packages/api-server/scripts/test.py
  packages/api-server/scripts/test_config.py
Due: api-server

downgrade typescript
  package-lock.json
  package.json
  packages/api-client/package.json
  packages/dashboard-e2e/package.json
  packages/dashboard/package.json
  packages/react-components/lib/lifts/lift-utils.ts
  packages/react-components/lib/map/map.tsx
  packages/react-components/package.json
  packages/reporting-e2e/package.json
  packages/reporting/package.json
  packages/rmf-auth/package.json
  packages/rmf-models/package.json
  packages/ros-translator/package.json
Due: dashboard, react-components, reporting, rmf-auth

missing tlide
  package-lock.json
  package.json
Due: none

standardize minor version
  packages/api-client/package.json
  packages/react-components/package.json
Due: react-components

package-lock
  package-lock.json
Due: none

build: downgrade typescript (#561)
  package-lock.json
  package.json
  packages/api-client/package.json
  packages/dashboard-e2e/package.json
  packages/dashboard/package.json
  packages/react-components/lib/lifts/lift-utils.ts
  packages/react-components/lib/map/map.tsx
  packages/react-components/package.json
  packages/reporting-e2e/package.json
  packages/reporting/package.json
  packages/rmf-auth/package.json
  packages/rmf-models/package.json
  packages/ros-translator/package.json
Due: dashboard, react-components, reporting, rmf-auth

add engines to the root package
  .npmrc
  package.json
Due: none

drop use of typescript reference project, use custom npm script runner to build dependencies
  packages/api-client/package.json
  packages/api-client/tsconfig.json
  packages/api-server/package.json
  packages/dashboard-e2e/package.json
  packages/dashboard/package.json
  packages/dashboard/tsconfig.json
  packages/react-components/package.json
  packages/react-components/tsconfig.json
  packages/reporting/tsconfig.json
  packages/rmf-auth/package.json
  packages/rmf-auth/tsconfig.json
  scripts/current-package.js
  scripts/nws.sh
  scripts/workspace-args.js
Due: dashboard, react-components, api-server, reporting, rmf-auth

fix script running multiple times
  scripts/nws.sh
Due: none

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  reporting: any of: packages/reporting
  reporting-server: any of: packages/reporting-server
  rmf-auth: any of: packages/rmf-auth
  task-scheduler: any of: packages/task-scheduler
