Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, ros2-bridge, api-server, reporting, rmf-auth

remove bootstrap scripts; add dependency to pipenv-install for python packages
  packages/api-server/package.json
  packages/reporting-server/package.json
  packages/ros-translator/package.json
  scripts/add.js
  scripts/bootstrap.js
  scripts/packages.js
Due: api-server, reporting

add dep to rmf-dashboard
  packages/dashboard/e2e/package.json
Due: dashboard

update workflows
  .github/workflows/api-server.yml
  .github/workflows/dashboard.yml
  .github/workflows/e2e.yml
  .github/workflows/react-components.yml
  .github/workflows/reporting-server.yml
  .github/workflows/reporting.yml
  .github/workflows/rmf-auth.yml
  .github/workflows/ros-translator.yml
Due: none

change table header color
  packages/react-components/lib/tasks/task-table.tsx
Due: react-components

add missing packages
  .github/workflows/e2e.yml
  .github/workflows/react-components.yml
  packages/dashboard/package.json
  packages/reporting/package.json
Due: dashboard, reporting

cleanup package-lock
  lerna-debug.log
  package-lock.json
  packages/api-client/package-lock.json
  packages/api-server/package-lock.json
  packages/react-components/package-lock.json
  packages/reporting-server/package-lock.json
  packages/reporting/package-lock.json
  packages/rmf-auth/package-lock.json
  packages/rmf-models/package-lock.json
  packages/ros-translator/package-lock.json
Due: react-components, api-server, reporting, rmf-auth

hoist and include dependencies by default
  .github/workflows/api-server.yml
  .github/workflows/dashboard.yml
  .github/workflows/e2e.yml
  .github/workflows/react-components.yml
  .github/workflows/reporting-server.yml
  .github/workflows/reporting.yml
  .github/workflows/rmf-auth.yml
  .github/workflows/ros-translator.yml
  lerna.json
Due: none

add dep to api-server
  packages/dashboard/package.json
  packages/reporting/package.json
Due: dashboard, reporting

change negotiations panel button colors
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/negotiations-panel.tsx
  packages/dashboard/src/util/css-utils.ts
Due: dashboard

fix sourcemap
  packages/react-components/karma.conf.js
  packages/react-components/webpack.config.js
Due: react-components

fix include dependencies
  lerna.json
Due: none

re-enable quiet webpack
  packages/react-components/karma.conf.js
Due: react-components

remove undefined websocket
  packages/dashboard/src/components/app.tsx
Due: dashboard

fix(dashboard): send only when websocket is ready (#323)
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
Due: dashboard

fix e2e build
  packages/dashboard/e2e/package.json
  packages/dashboard/e2e/tsconfig.json
  packages/dashboard/e2e/wdio.conf.js
Due: dashboard

update readme and dockerfiles
  README.md
  example-deployment/docker/dashboard.dockerfile
  example-deployment/docker/reporting-server.dockerfile
  example-deployment/docker/reporting.dockerfile
  example-deployment/docker/rmf-server.dockerfile
  packages/api-server/README.md
  packages/dashboard/README.md
  packages/dashboard/e2e/README.md
Due: dashboard, api-server

add robot table component and tests
  packages/react-components/lib/robots/index.ts
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/robots/utils.ts
  packages/react-components/stories/robots/robot-table.stories.tsx
  packages/react-components/tests/robots/robot-table.spec.tsx
  packages/react-components/tests/robots/test-utils.ts
  packages/react-components/tests/test-data/robots.ts
  packages/react-components/tests/test-data/tasks.ts
Due: react-components

first iteration of theme converter
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/util/theme.ts
Due: dashboard

typos & formatting
  pipenv-install/README.md
Due: none

remove unneeded fields as it will never be published
  pipenv-install/package.json
Due: none

remove leftover when trying npm7
  packages/rmf-auth/.npmrc
Due: rmf-auth

add no sticky feature
  packages/api-server/api_server/fast_io.py
  packages/api-server/api_server/test/fast_io_app.py
  packages/api-server/api_server/test_fast_io.py
Due: api-server

update config
  packages/dashboard/e2e/rmf_server_config.py
Due: dashboard

update docs
  packages/api-server/README.md
  packages/api-server/api_server/fast_io.py
Due: api-server

omnipanel and other miscellenous theming
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/util/theme.ts
  packages/react-components/lib/dispensers/dispenser-accordion.tsx
  packages/react-components/lib/doors/door-accordion.tsx
  packages/react-components/lib/item-accordion-summary.tsx
  packages/react-components/lib/lifts/lift-accordion.tsx
  packages/react-components/lib/navigation-bar.tsx
  packages/react-components/lib/robots/robot-accordion.tsx
  packages/react-components/lib/simple-info.tsx
  packages/react-components/lib/tasks/task-table.tsx
Due: dashboard, react-components

fix lint errors
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/test/fast_io_app.py
  packages/api-server/api_server/test_fast_io.py
Due: api-server

refactor task panel styles
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/dashboard/src/util/theme.ts
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/lib/tasks/task-table.tsx
Due: dashboard, react-components

add robot info component
  packages/react-components/lib/progressbar.tsx
  packages/react-components/lib/robots/index.ts
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/utils.ts
Due: react-components

add new story for robot info component
  packages/react-components/stories/robots/robot-info.stories.tsx
Due: react-components

add robot panel to index and remove extra code
  packages/react-components/lib/robots/index.ts
  packages/react-components/lib/robots/robot-table.tsx
Due: react-components

add robot panel with panel tests and info tests
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/stories/robots/robot-panel.stories.tsx
  packages/react-components/tests/robots/robot-info.spec.tsx
  packages/react-components/tests/robots/robot-panel.spec.tsx
Due: react-components

theme leaflet elements
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/util/theme.ts
Due: dashboard

clean up and more docs
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/util/theme.ts
Due: dashboard

update serve command
  packages/e2e/scripts/test-e2e.js
Due: none

update github flow, gitignore
  .github/workflows/e2e.yml
  packages/e2e/.gitignore
  packages/e2e/artifacts/0-smoke.test.ts/can load/end.png
  packages/e2e/artifacts/1-login.test.ts/can login/end.png
  packages/e2e/artifacts/1-login.test.ts/subsequent visits do not require login/end.png
  packages/e2e/artifacts/door-request.test.ts/clicking on close button closes the door/end.png
  packages/e2e/artifacts/door-request.test.ts/clicking on open button opens the door/end.png
  packages/e2e/artifacts/filtering.test.ts/Clicking on an equipment on the map resets the filter/end.png
  packages/e2e/artifacts/negotiations.test.ts/renders negotiation trajectory/end.png
  packages/e2e/artifacts/task-summary.test.ts/renders task summary/end.png
  packages/e2e/artifacts/tasks.test.ts/can submit loop task/end.png
  packages/e2e/artifacts/ui-interactions.test.ts/clicking a dispenser on the map focuses it on the panel/end.png
  packages/e2e/artifacts/ui-interactions.test.ts/clicking a door on the map focuses it on the panel/end.png
  packages/e2e/artifacts/ui-interactions.test.ts/clicking a robot on the map focuses it on the panel/end.png
Due: none

reinstate keycloak.mv.db file
  packages/e2e/docker/keycloak/keycloak.mv.db
Due: none

refactor theming
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/app.tsx
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/main-menu.tsx
  packages/dashboard/src/components/dashboard/negotiations-panel.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/dashboard/src/util/theme.ts
  packages/react-components/lib/dispensers/dispenser-accordion.tsx
  packages/react-components/lib/doors/door-accordion.tsx
  packages/react-components/lib/header-bar.tsx
  packages/react-components/lib/index.ts
  packages/react-components/lib/lifts/lift-accordion.tsx
  packages/react-components/lib/logo-button.tsx
  packages/react-components/lib/navigation-bar.tsx
  packages/react-components/lib/omni-panel.tsx
  packages/react-components/lib/robots/robot-accordion.tsx
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/lib/tasks/task-table.tsx
  packages/react-components/lib/theme/common-theme.tsx
  packages/react-components/lib/theme/dark-theme.tsx
  packages/react-components/lib/theme/index.ts
  packages/react-components/lib/theme/light-theme.tsx
  packages/react-components/lib/theme/theme.tsx
  packages/react-components/stories/theme.stories.tsx
Due: dashboard, react-components

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  ros2-bridge: any of: packages/ros2-bridge
  api-server: any of: packages/api-server
  reporting: any of: packages/reporting
  rmf-auth: any of: packages/rmf-auth
