Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

Log jobs left in schedule
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
Due: api-server

New schedule app refreshing event, since an ongoing task is force refresh the schedule as well
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/tasks/task-schedule.tsx
Due: dashboard

Fix id access for scheduled task
  packages/api-server/api_server/app.py
Due: api-server

Lint
  packages/api-server/api_server/app.py
  packages/api-server/api_server/authenticator.py
Due: api-server

Catch failure to load old schedules in database (#859)
  packages/api-server/api_server/app.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/routes/tasks/scheduled_tasks.py
  packages/api-server/psql_local_config.py
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/tasks/task-schedule.tsx
Due: dashboard, api-server

Fixing storybook
  package-lock.json.bak
  packages/react-components/.babelrc.json
  packages/react-components/.storybook/main.js
  packages/react-components/.storybook/preview.tsx
  packages/react-components/lib/alert-dialog.stories.tsx
  packages/react-components/lib/alert-dialog.tsx
  packages/react-components/lib/benchmarks/robots.stories.tsx
  packages/react-components/lib/benchmarks/trajectories.stories.tsx
  packages/react-components/lib/info-card.stories.tsx
  packages/react-components/lib/robots/circular-progress-bar.stories.tsx
  packages/react-components/lib/robots/robot-table.stories.tsx
  packages/react-components/lib/tasks/create-task.stories.tsx
  packages/react-components/package.json
  packages/react-components/webpack.config.js
  pnpm-lock.yaml.bak
Due: react-components

react-components, using default storybook webpack config, cleaned up commented debugs
  README.md
  packages/react-components/.storybook/main.js
  packages/react-components/.storybook/preview.tsx
  packages/react-components/lib/alert-dialog.stories.tsx
  packages/react-components/lib/alert-dialog.tsx
  packages/react-components/lib/info-card.stories.tsx
  packages/react-components/lib/robots/circular-progress-bar.stories.tsx
  packages/react-components/lib/robots/robot-table.stories.tsx
  packages/react-components/lib/tasks/create-task.stories.tsx
  packages/react-components/webpack.config.js
Due: react-components

Use dev ci mode for storybook
  .github/workflows/react-components.yml
  packages/react-components/package.json
Due: react-components

Not build storybook in ci for react-components for now
  .github/workflows/react-components.yml
  packages/react-components/package.json
Due: react-components

Reverted axios to lower version to prevent axios.request is not a function issue, axios#5038
  packages/api-client/package.json
  pnpm-lock.yaml
Due: none

rmf-auth, install missing jest-environment-jsdom for tests
  packages/rmf-auth/package.json
  pnpm-lock.yaml
Due: rmf-auth

Bump dashboard axios version, fix axios API
  packages/dashboard/package.json
  packages/dashboard/src/components/utils.ts
  pnpm-lock.yaml
Due: dashboard

dashboard, updated tests, remove use of waitForElementToBeRemoved (react-testing-library#1033)
  package-lock.json.bak
  packages/dashboard/package.json
  packages/dashboard/src/components/admin/create-role-dialog.tsx
  packages/dashboard/src/components/admin/role-list-card.tsx
  packages/dashboard/src/components/admin/tests/add-permission-dialog.test.tsx
  packages/dashboard/src/components/admin/tests/create-role-dialog.test.tsx
  packages/dashboard/src/components/admin/tests/create-user-dialog.test.tsx
  packages/dashboard/src/components/admin/tests/manage-roles-dialog.test.tsx
  packages/dashboard/src/components/admin/tests/permissions-card.test.tsx
  packages/dashboard/src/components/admin/tests/role-list-card.test.tsx
  packages/dashboard/src/components/admin/tests/user-list-card.test.tsx
  packages/dashboard/src/components/admin/tests/user-profile.test.tsx
  packages/dashboard/src/components/tests/appbar.test.tsx
  pnpm-lock.yaml
  pnpm-lock.yaml.bak
Due: dashboard

Commit package-lock back even though unused, to keep diff small
  package-lock.json
Due: none

react-components, revert karma-chrome-launcher version
  packages/react-components/package.json
Due: react-components

react-components, missing pnpm-lock change for karma-chrome-launcher reversion
  pnpm-lock.yaml
Due: none

Simple logs regarding authentications and user deps
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/routes/internal.py
Due: api-server

Book keeper logs as debug, lint, demo log level as info
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/sqlite_local_config.py
Due: api-server

Add timestamps to uvicorn logging
  packages/api-server/api_server/__main__.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/routes/internal.py
Due: api-server

More specific exceptions when verifying token
  packages/api-server/api_server/authenticator.py
Due: api-server

Hammer/debug api server (#860)
  packages/api-server/api_server/__main__.py
  packages/api-server/api_server/authenticator.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/routes/internal.py
  packages/api-server/sqlite_local_config.py
Due: api-server

Log all verification information used
  packages/api-server/api_server/authenticator.py
Due: api-server

Logging in rmf-auth
  packages/rmf-auth/lib/keycloak.ts
Due: rmf-auth

Fix typo
  packages/api-server/api_server/authenticator.py
Due: api-server

Log tokens in server
  packages/api-server/api_server/authenticator.py
Due: api-server

Log auth steps in rmf-auth
  packages/rmf-auth/lib/keycloak.ts
Due: rmf-auth

Time stamping client logs
  packages/rmf-auth/lib/keycloak.ts
Due: rmf-auth

Disable lift request destination and door state fields when request type is end session
  packages/react-components/lib/lifts/lift-request-dialog.tsx
Due: react-components

Separate app event for favorite tasks
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Hammer/log tokens (#862)
  packages/api-server/api_server/authenticator.py
  packages/rmf-auth/lib/keycloak.ts
Due: api-server, rmf-auth

30 seconds token refresh allowance
  packages/rmf-auth/lib/keycloak.ts
Due: rmf-auth

Adding response handling for unauthorized error code
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
Due: dashboard

Log on axios request or response error
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
Due: dashboard

emergencyLots added to resourceManager
  packages/dashboard/src/managers/resource-manager.ts
Due: dashboard

Pass emergency lots to task creation
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

On cancel behavior
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components

Frontend changes, more auth logs, relax token refresh interval (#863)
  packages/dashboard/src/components/app-events.ts
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/react-components/lib/lifts/lift-request-dialog.tsx
  packages/rmf-auth/lib/keycloak.ts
Due: dashboard, react-components, rmf-auth

Handle axios request and response, refresh token with 30 seconds interval
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/rmf-auth/lib/keycloak.ts
Due: dashboard, rmf-auth

Hammer/kc23 auth (#864)
  packages/api-server/api_server/authenticator.py
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/rmf-auth/lib/keycloak.ts
Due: dashboard, api-server, rmf-auth

Revert pyright version
  package.json
  pnpm-lock.yaml
Due: none
