Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

Fix lint error
  packages/react-components/lib/map/three-fiber/robot-three-maker.tsx
Due: react-components

Checking if font exists, render with font only if font is available
  packages/dashboard/src/components/three-fiber/lift-three.tsx
  packages/dashboard/src/components/three-fiber/robot-three.tsx
  packages/react-components/lib/map/three-fiber/lift-three-maker.tsx
  packages/react-components/lib/map/three-fiber/robot-three-maker.tsx
Due: dashboard, react-components

Add clean and patrol test
  packages/dashboard-e2e/tests/ui-interactions/create-task-from-any-tab.test.ts
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
  packages/dashboard/rmf-launcher.js
Due: dashboard

Remove hasOwn property control
  packages/dashboard/src/managers/resource-manager-robots.ts
Due: dashboard

Using icon to display robot (#809)
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/three-fiber/robot-three.tsx
  packages/dashboard/src/managers/__mocks__/resources.ts
  packages/dashboard/src/managers/resource-manager-robots.ts
  packages/react-components/lib/map/three-fiber/robot-three-maker.tsx
  packages/react-components/lib/map/three-fiber/shape-three-rendering.tsx
  packages/react-components/lib/map/three-fiber/text-maker.tsx
Due: dashboard, react-components

Fix spanish description
  packages/react-components/lib/map/three-fiber/circle-shape.spec.tsx
Due: react-components

Change the way to import circle shape component
  packages/react-components/lib/map/three-fiber/robot-three-maker.tsx
Due: react-components

Fixing merge conflict
  packages/react-components/lib/map/three-fiber/robot-three-maker.tsx
Due: react-components

Minimal change to save task request. Copy from feature/save-request
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/tasks.py
  packages/api-server/api_server/repositories/tasks.py
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Test for react three fiber component (#816)
  packages/dashboard/src/components/three-fiber/layer-control.test.tsx
  packages/dashboard/src/components/three-fiber/layers-controller.tsx
  packages/react-components/lib/map/three-fiber/circle-shape.spec.tsx
  packages/react-components/lib/map/three-fiber/circle-shape.tsx
  packages/react-components/lib/map/three-fiber/cube-marker.spec.tsx
  packages/react-components/lib/map/three-fiber/index.tsx
  packages/react-components/lib/map/three-fiber/robot-three-maker.spec.tsx
  packages/react-components/lib/map/three-fiber/robot-three-maker.tsx
  packages/react-components/lib/map/three-fiber/shape-three-rendering.spec.tsx
  packages/react-components/lib/map/three-fiber/text-maker.spec.tsx
  packages/react-components/package.json
  pnpm-lock.yaml
Due: dashboard, react-components

Generate api client
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

Add dispatch component
  packages/dashboard/src/components/dispatch-task-request-store.tsx
Due: dashboard

Resubmit task
  packages/dashboard/src/components/dispatch-task-request-store.tsx
Due: dashboard

Show task request popup with timer
  packages/dashboard/src/components/app-base.tsx
  packages/dashboard/src/components/dispatch-task-request-store.tsx
Due: dashboard

enabled or disabled button
  packages/dashboard/src/components/dispatch-task-request-store.tsx
Due: dashboard

change variable names
  packages/dashboard/src/components/dispatch-task-request-store.tsx
Due: dashboard

Adding beacons to book keeping to subscribe from ROS 2
  packages/api-server/api_server/app.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/beacons.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/BeaconState.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/DeliveryAlert.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/DeliveryAlertAction.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/DeliveryAlertCategory.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/DeliveryAlertTier.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/__init__.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/generate-models.sh
Due: api-server

Lint
  packages/api-server/api_server/models/beacons.py
Due: api-server

Cleaned up from_tortoise for linting
  packages/api-server/api_server/models/beacons.py
  packages/api-server/api_server/rmf_io/book_keeper.py
Due: api-server

Cast to proper bool type from ttm
  packages/api-server/api_server/models/beacons.py
Due: api-server

Disable pylint for import error as we are not using the same released API
  packages/api-server/api_server/gateway.py
Due: api-server

Disable block
  packages/api-server/api_server/gateway.py
Due: api-server

Disable just for the next issue instead of entire file
  packages/api-server/api_server/gateway.py
Due: api-server

Adding beacons to book keeping to subscribe from ROS 2 (#823)
  packages/api-server/api_server/app.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/beacons.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/BeaconState.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/DeliveryAlert.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/DeliveryAlertAction.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/DeliveryAlertCategory.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/DeliveryAlertTier.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/__init__.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/generate-models.sh
Due: api-server

Fix the bug that keeps the robot in the opposite position to its task
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Check if robot location is available before attempting to render
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/three-fiber/robot-three.tsx
Due: dashboard

Delete robot name from state if we can't get the current level
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Check if robot location is available before attempting to render (#825)
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/three-fiber/robot-three.tsx
Due: dashboard

Display robot according to its level correctly (#824)
  packages/dashboard/src/components/map-app.tsx
  packages/dashboard/src/components/three-fiber/robot-three.tsx
Due: dashboard

Fix recursive call in effect
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Fix recursive call in effect (#826)
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Add dependency to useEffect to avoid rerenders
  packages/dashboard/src/components/three-fiber/lift-three.tsx
  packages/dashboard/src/components/three-fiber/robot-three.tsx
Due: dashboard

Add dependency to useEffect to avoid rerenders (#828)
  packages/dashboard/src/components/three-fiber/lift-three.tsx
  packages/dashboard/src/components/three-fiber/robot-three.tsx
Due: dashboard

Models to and from tortoise for delivery alerts
  packages/api-server/api_server/models/delivery_alerts.py
  packages/api-server/api_server/models/ros_pydantic/rmf_fleet_msgs/__init__.py
Due: api-server

Refactor beacon and delivery alert events into rmf_events
  packages/api-server/api_server/app.py
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/rmf_io/__init__.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/routes/beacons.py
  packages/api-server/api_server/routes/delivery_alerts.py
Due: api-server

Response
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/routes/delivery_alerts.py
Due: api-server
