Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, api-server

codecov.yml:

coverage:
  status:
    project: false
    patch: false
ignore:
  - packages/rmf-dashboard-framework/examples
  - "**/*.js"
  - "**/*.stories.tsx"
flags:
  dashboard:
    paths:
      - packages/rmf-dashboard-framework
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true

working, need a way to exclude linting checks for jazzy
  packages/api-server/api_server/alerts_gateway.py
  packages/api-server/api_server/app.py
  packages/api-server/api_server/stub_alerts_gateway.py
  packages/api-server/pyrightconfig.json
Due: api-server

Bump version before release 0.3.0
  packages/api-client/package.json
  packages/api-server/package.json
  packages/api-server/setup.py
  packages/rmf-dashboard-framework/package.json
  packages/rmf-models/package.json
  packages/ros-translator/package.json
  packages/ros-translator/ros_translator/test/ros_translator_test_msgs/package.xml
  packages/ros-translator/setup.py
  pipenv-install/package.json
Due: dashboard, api-server

Bump version before release 0.3.0 (#1065)
  packages/api-client/package.json
  packages/api-server/package.json
  packages/api-server/setup.py
  packages/rmf-dashboard-framework/package.json
  packages/rmf-models/package.json
  packages/ros-translator/package.json
  packages/ros-translator/ros_translator/test/ros_translator_test_msgs/package.xml
  packages/ros-translator/setup.py
  pipenv-install/package.json
Due: dashboard, api-server

Add alerts back, clean up docker images, build nightly on pr for testing, use branch for builds
  .github/api-server/Dockerfile
  .github/minimal-rmf/Dockerfile
  .github/workflows/api-server.yml
  .github/workflows/nightly.yml
  .github/workflows/rmf-dashboard-framework.yml
  .github/workflows/ros-translator.yml
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/routes/alerts.py
Due: api-server

fix nightly workflow file, and only based on ROS_DISTRO
  .github/api-server/Dockerfile
  .github/workflows/nightly.yml
Due: none

Fix dockerfile
  .github/api-server/Dockerfile
Due: none

Add building dashboard with distro, fix testing checkout
  .github/demo-dashboard/Dockerfile
  .github/workflows/api-server.yml
  .github/workflows/nightly.yml
  .github/workflows/rmf-dashboard-framework.yml
Due: none

Use main branch for rolling in checkout
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml
  .github/workflows/rmf-dashboard-framework.yml
  .github/workflows/ros-translator.yml
Due: none

deps for codecov
  .github/workflows/api-server.yml
  .github/workflows/ghpages.yml
  .github/workflows/rmf-dashboard-framework.yml
Due: none

Update readme and revert nightly run on PR
  .github/workflows/nightly.yml
  README.md
Due: none

Revert alerts, refactor docker image builds (#1066)
  .github/api-server/Dockerfile
  .github/demo-dashboard/Dockerfile
  .github/minimal-rmf/Dockerfile
  .github/workflows/api-client.yml
  .github/workflows/api-server.yml
  .github/workflows/ghpages.yml
  .github/workflows/nightly.yml
  .github/workflows/rmf-dashboard-framework.yml
  .github/workflows/ros-translator.yml
  README.md
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/routes/alerts.py
Due: api-server

Remove activity discovery endpoint
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Update api-client
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/openapi/index.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
Due: none

Fix/unimplemented endpoint (#1067)
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/openapi/index.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/routes/tasks/tasks.py
Due: api-server

Basic form
  packages/rmf-dashboard-framework/package.json
  packages/rmf-dashboard-framework/src/components/appbar.tsx
  packages/rmf-dashboard-framework/src/components/json-form-dialog.tsx
  pnpm-lock.yaml
Due: dashboard

Correct typo
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/routes/building_map.py
Due: api-server

Correct typo (#1068)
  packages/api-server/api_server/repositories/rmf.py
  packages/api-server/api_server/routes/building_map.py
Due: api-server

Clean up stale API models and tests
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/rmf_api/activity_discovery_request.py
  packages/api-server/api_server/models/rmf_api/activity_discovery_response.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

Clean up stale API models and tests (#1069)
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/rmf_api/activity_discovery_request.py
  packages/api-server/api_server/models/rmf_api/activity_discovery_response.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

refactor to create scene bounding box taking into account of nav graphs too
  packages/rmf-dashboard-framework/src/components/map/utils.ts
  packages/rmf-dashboard-framework/src/components/map/wall-maker.tsx
Due: dashboard

Push alert when a scene bounding box is invalid
  packages/rmf-dashboard-framework/src/components/map/map.tsx
  packages/rmf-dashboard-framework/src/components/map/utils.ts
Due: dashboard

fallback to a generic scale, and changing to better worded warning
  packages/rmf-dashboard-framework/src/components/map/map.tsx
Due: dashboard

refactor to create scene bounding box taking into account of nav graphs too (#1072)
  packages/rmf-dashboard-framework/src/components/map/map.tsx
  packages/rmf-dashboard-framework/src/components/map/utils.ts
  packages/rmf-dashboard-framework/src/components/map/wall-maker.tsx
Due: dashboard

use generated pydantic model, fix function calls
  packages/api-server/api_server/models/beacons.py
  packages/api-server/api_server/repositories/rmf.py
Due: api-server

test lines
  packages/api-server/api_server/repositories/rmf.py
Due: api-server

revert test lines
  packages/api-server/api_server/repositories/rmf.py
Due: api-server

update workflow for build
  .github/actions/bootstrap/action.yml
Due: none

use skip-build instead
  .github/actions/bootstrap/action.yml
  .github/workflows/api-server.yml
Due: none

revert workflow fix
  .github/workflows/api-server.yml
Due: none

skip building api-server
  .github/workflows/api-server.yml
Due: none

skip building api-server (#1075)
  .github/workflows/api-server.yml
Due: none

fix usage of build flag
  .github/actions/bootstrap/action.yml
Due: none

properly evaluate boolean
  .github/actions/bootstrap/action.yml
Due: none

fix
  .github/actions/bootstrap/action.yml
Due: none

trigger api-server run
  .github/workflows/api-server.yml
Due: none

remove build step to test
  .github/actions/bootstrap/action.yml
Due: none

revert
  .github/actions/bootstrap/action.yml
  .github/workflows/api-server.yml
Due: none

remove if-present
  .github/actions/bootstrap/action.yml
Due: none

Fix bootstrap action skip-build (#1076)
  .github/actions/bootstrap/action.yml
Due: none

use string for input
  .github/workflows/api-server.yml
Due: none
