Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, ros2-bridge, api-server, reporting, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  ros2-bridge:
    paths:
      - packages/ros2-bridge
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  reporting:
    paths:
      - packages/reporting
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

fix reporting
  packages/reporting/src/components/app.tsx
Due: reporting

fix lint errors
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
  packages/api-server/api_server/test/fast_io_app.py
Due: api-server

fix imports
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/api_server/routes/tasks/test_tasks.py
Due: api-server

replace log tables and unit tests
  packages/react-components/lib/date-time-picker.tsx
  packages/react-components/lib/reports/dispenser-state/dispenser-state-report-table.tsx
  packages/react-components/lib/reports/door-state/door-state-report-table.tsx
  packages/react-components/lib/reports/fleet-state/fleet-state-report-table.tsx
  packages/react-components/lib/reports/health/health-report-table.tsx
  packages/react-components/lib/reports/ingestor-state/ingestor-state-report-table.tsx
  packages/react-components/lib/reports/lift-state/lift-state-report-table.tsx
  packages/react-components/lib/reports/log-management/log-table.tsx
  packages/react-components/lib/reports/user-report/user-login-failure-report-table.tsx
  packages/react-components/lib/reports/user-report/user-login-report-table.tsx
  packages/react-components/lib/reports/user-report/user-logout-report-table.tsx
  packages/react-components/tests/date-time-picker.spec.tsx
  packages/react-components/tests/notifications-dialog.spec.tsx
  packages/react-components/tests/reports/dispenser-state/dispenser-state-report-table.spec.tsx
  packages/react-components/tests/reports/door-state/door-state-report-table.spec.tsx
  packages/react-components/tests/reports/fleet-state/fleet-state-report-table.spec.tsx
  packages/react-components/tests/reports/health/health-report-table.spec.tsx
  packages/react-components/tests/reports/ingestor-state/ingestor-state-report-table.spec.tsx
  packages/react-components/tests/reports/lift-state/lift-state-report-table.spec.tsx
  packages/react-components/tests/reports/log-management/log-table.spec.tsx
  packages/react-components/tests/systems-summary/test.utils.ts
  packages/reporting/src/components/reports/all-logs-report.tsx
  packages/reporting/src/components/reports/utils.ts
Due: react-components, reporting

more unit tests
  packages/react-components/lib/notifications-dialog.tsx
  packages/react-components/tests/reports/default-date-form.spec.tsx
  packages/react-components/tests/reports/log-management/search-log-form.spec.tsx
Due: react-components

Modify bootstrap file to automatically add dashboard client scope
  example-deployment/keycloak-tools/bootstrap-keycloak.js
Due: none

revert from open-rmf url to example.com
  example-deployment/keycloak-tools/bootstrap-keycloak.js
Due: none

remove leftover from testing
  example-deployment/keycloak-tools/bootstrap-keycloak.js
Due: none

using third equal to avoid type errors
  example-deployment/keycloak-tools/bootstrap-keycloak.js
Due: none

remove moment from package.json
  package-lock.json
  packages/react-components/package.json
Due: react-components

add unit test and stories for progress bar
  packages/react-components/lib/index.ts
  packages/react-components/stories/progressbar.stories.tsx
  packages/react-components/tests/progressbar.spec.tsx
Due: react-components

ignore test utils files in code cov
  codecov.yml
  packages/react-components/tests/test-data/robots.ts
Due: react-components

add dark theme logo
  packages/dashboard/public/roshealth-logo-blue.png
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/logo-button.tsx
Due: dashboard, react-components

add useEffect hook to robot info and update tests with expect assertions
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/tests/robots/robot-info.spec.tsx
  packages/react-components/tests/robots/robot-table.spec.tsx
Due: react-components

add TODO comments; no code changes
  packages/react-components/lib/robots/utils.ts
Due: react-components

remove primary and secondary color
  packages/dashboard/src/components/dashboard/dashboard.tsx
  packages/dashboard/src/components/dashboard/main-menu.tsx
  packages/dashboard/src/components/schedule-visualizer/index.tsx
  packages/dashboard/src/components/tasks/task-page.tsx
  packages/react-components/lib/dispensers/dispenser-accordion.tsx
  packages/react-components/lib/doors/door-accordion.tsx
  packages/react-components/lib/header-bar.tsx
  packages/react-components/lib/lifts/lift-accordion.tsx
  packages/react-components/lib/logo-button.tsx
  packages/react-components/lib/omni-panel.tsx
  packages/react-components/lib/robots/robot-accordion.tsx
  packages/react-components/lib/status-label.tsx
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/lib/tasks/task-table.tsx
  packages/react-components/lib/themes/rmf-dark.tsx
  packages/react-components/lib/themes/rmf-light.tsx
  packages/react-components/stories/theme.stories.tsx
Due: dashboard, react-components

add ui for batch edit submit task
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/stories/tasks/create-task.stories.tsx
  packages/react-components/stories/tasks/task-panel.stories.tsx
  packages/react-components/stories/tasks/task-table.stories.tsx
Due: react-components

add select file dialog to task panel
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/stories/tasks/create-task.stories.tsx
Due: react-components

Refactor/replace moment (#355)
  package-lock.json
  packages/react-components/lib/date-time-picker.tsx
  packages/react-components/lib/notifications-dialog.tsx
  packages/react-components/lib/reports/default-dates-form.tsx
  packages/react-components/lib/reports/default-report-interface.tsx
  packages/react-components/lib/reports/dispenser-state/dispenser-state-report-table.tsx
  packages/react-components/lib/reports/door-state/door-state-report-table.tsx
  packages/react-components/lib/reports/fleet-state/fleet-state-report-table.tsx
  packages/react-components/lib/reports/health/health-report-table.tsx
  packages/react-components/lib/reports/ingestor-state/ingestor-state-report-table.tsx
  packages/react-components/lib/reports/lift-state/lift-state-report-table.tsx
  packages/react-components/lib/reports/log-management/log-management.tsx
  packages/react-components/lib/reports/log-management/log-table.tsx
  packages/react-components/lib/reports/log-management/search-log-form.tsx
  packages/react-components/lib/reports/user-report/user-login-failure-report-table.tsx
  packages/react-components/lib/reports/user-report/user-login-report-table.tsx
  packages/react-components/lib/reports/user-report/user-logout-report-table.tsx
  packages/react-components/package-lock.json
  packages/react-components/package.json
  packages/react-components/stories/notifications-dialog.stories.tsx
  packages/react-components/tests/date-time-picker.spec.tsx
  packages/react-components/tests/notifications-dialog.spec.tsx
  packages/react-components/tests/reports/default-date-form.spec.tsx
  packages/react-components/tests/reports/dispenser-state/dispenser-state-report-table.spec.tsx
  packages/react-components/tests/reports/door-state/door-state-report-table.spec.tsx
  packages/react-components/tests/reports/fleet-state/fleet-state-report-table.spec.tsx
  packages/react-components/tests/reports/health/health-report-table.spec.tsx
  packages/react-components/tests/reports/ingestor-state/ingestor-state-report-table.spec.tsx
  packages/react-components/tests/reports/lift-state/lift-state-report-table.spec.tsx
  packages/react-components/tests/reports/log-management/log-table.spec.tsx
  packages/react-components/tests/reports/log-management/search-log-form.spec.tsx
  packages/react-components/tests/systems-summary/test.utils.ts
  packages/reporting/src/components/reports/all-logs-report.tsx
  packages/reporting/src/components/reports/utils.ts
Due: react-components, reporting

use camelCase
  example-deployment/keycloak-tools/bootstrap-keycloak.js
Due: none

move states into create task form to simplify the props
  packages/react-components/lib/tasks/create-task.tsx
  packages/react-components/lib/tasks/task-panel.tsx
  packages/react-components/stories/tasks/create-task.stories.tsx
  packages/react-components/tests/tasks/create-task.spec.tsx
  packages/react-components/tests/tasks/task-panel.spec.tsx
Due: react-components

Add configmap file of the reporting server to the deploy script
  example-deployment/deploy.sh
Due: none

Deploy minio first
  example-deployment/deploy.sh
Due: none

Added reporting uid
  example-deployment/keycloak-tools/bootstrap-keycloak.js
Due: none

removed leftovers
  example-deployment/keycloak-tools/bootstrap-keycloak.js
Due: none

reverse order of robot assigned tasks
  package-lock.json
  packages/react-components/lib/robots/robot-info.tsx
Due: react-components

fix camelCasing, add files to code cov exclusions, move progress bar files into robot
  packages/react-components/lib/circular-progress-bar.tsx
  packages/react-components/lib/index.ts
  packages/react-components/lib/progressbar.tsx
  packages/react-components/lib/robots/index.ts
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/lib/robots/robot-table.tsx
  packages/react-components/lib/robots/utils.ts
  packages/react-components/stories/circular-progress-bar.stories.tsx
  packages/react-components/stories/progressbar.stories.tsx
  packages/react-components/tests/circular-progress-bar.spec.tsx
  packages/react-components/tests/progressbar.spec.tsx
  packages/react-components/tests/robots/robot-panel.spec.tsx
  packages/react-components/tests/test-data/tasks.ts
  packages/react-components/webpack.config.js
Due: react-components

add progressbars to robot folder
  packages/react-components/lib/robots/circular-progress-bar.tsx
  packages/react-components/lib/robots/progressbar.tsx
  packages/react-components/stories/robots/circular-progress-bar.stories.tsx
  packages/react-components/stories/robots/progressbar.stories.tsx
  packages/react-components/tests/robots/circular-progress-bar.spec.tsx
  packages/react-components/tests/robots/progressbar.spec.tsx
Due: react-components

remove ignore line in codecov yml
  codecov.yml
Due: none

rename progress bar
  packages/react-components/lib/robots/index.ts
  packages/react-components/lib/robots/linear-progress-bar.tsx
  packages/react-components/lib/robots/robot-info.tsx
  packages/react-components/stories/robots/circular-progress-bar.stories.tsx
  packages/react-components/stories/robots/linear-progress-bar.stories.tsx
  packages/react-components/stories/robots/progressbar.stories.tsx
  packages/react-components/tests/robots/linear-progress-bar.spec.tsx
Due: react-components

example-deployment:Fixed reporting-server not running with the deploy script (#357)
  example-deployment/deploy.sh
Due: none

example-deployment:Fixed reporting auth uid problem (#358)
  example-deployment/keycloak-tools/bootstrap-keycloak.js
Due: none

Added get icons by workspace
  packages/dashboard/scripts/setup/setup.js
Due: dashboard

find executing task
  packages/react-components/lib/robots/robot-info.tsx
Due: react-components

Added get icons by workspace (#362)
  packages/dashboard/scripts/setup/setup.js
Due: dashboard

update assign tasks and progress bar
  packages/react-components/lib/robots/robot-panel.tsx
  packages/react-components/lib/robots/robot-table.tsx
Due: react-components

update topic to filtered_task_summaries
  packages/api-server/api_server/gateway.py
  packages/api-server/api_server/rmf_io/topics.py
Due: api-server

add demo logo path to appbar
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Added resource-manager-logos
  package-lock.json
  packages/dashboard/src/components/appbar.tsx
  packages/dashboard/src/managers/resource-manager-logos.ts
  packages/dashboard/src/managers/resource-manager.ts
Due: dashboard
