Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

codecov.yml:

coverage:
  status:
    project: false
    patch: false
flags:
  dashboard:
    paths:
      - packages/dashboard
    carryforward: true
  react-components:
    paths:
      - packages/react-components
    carryforward: true
  api-server:
    paths:
      - packages/api-server
    carryforward: true
  rmf-auth:
    paths:
      - packages/rmf-auth
    carryforward: true

Fix asyncio deprecation warning
  packages/api-server/api_server/rmf_io/test_rmf_service.py
  packages/api-server/api_server/test_sio_auth.py
Due: api-server

Demo package change to gz from ign
  packages/dashboard/rmf-launcher.js
Due: dashboard

Close event loops
  packages/api-server/api_server/rmf_io/test_rmf_service.py
  packages/api-server/api_server/test_sio_auth.py
Due: api-server

Bumping rx to reactivex 4.0.4
  Pipfile.lock
  packages/api-server/api_server/fast_io/__init__.py
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/rmf_io/health_watchdog.py
  packages/api-server/api_server/rmf_io/operators/grouped_sample.py
  packages/api-server/api_server/rmf_io/operators/health.py
  packages/api-server/api_server/rmf_io/operators/heartbeat.py
  packages/api-server/api_server/rmf_io/operators/test_grouped_sample.py
  packages/api-server/api_server/rmf_io/operators/test_health.py
  packages/api-server/api_server/routes/building_map.py
  packages/api-server/api_server/routes/dispensers.py
  packages/api-server/api_server/routes/doors.py
  packages/api-server/api_server/routes/fleets.py
  packages/api-server/api_server/routes/ingestors.py
  packages/api-server/api_server/routes/lifts.py
  packages/api-server/api_server/routes/tasks/tasks.py
  packages/api-server/setup.py
Due: api-server

Using DisposableBase, and use Subject since type hints are fixed
  packages/api-server/api_server/rmf_io/book_keeper.py
  packages/api-server/api_server/rmf_io/events.py
Due: api-server

Suppress PIPENV_VERBOSITY
  .github/workflows/api-server.yml
Due: none

target .venv/bin/pipenv instead
  .github/workflows/api-server.yml
Due: none

Adding debug as dependency for rmf-auth
  packages/rmf-auth/package.json
Due: rmf-auth

dashboard-e2e, use place-input for loop task, add aria-labelledby for door cells
  packages/dashboard-e2e/tests/ui-interactions/submit-task.test.ts
  packages/dashboard-e2e/tests/utils.ts
  packages/dashboard/src/components/doors-app.tsx
Due: dashboard

Search with tag with proper closing square brackets
  packages/dashboard-e2e/tests/utils.ts
Due: dashboard

Fix starting with psql (#635)
  packages/api-server/package.json
  packages/dashboard/package.json
Due: dashboard, api-server

Removing unnecesary dep in use effect
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

react-components: Add arrows to sort by date title (#638)
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/task-table.tsx
Due: dashboard, react-components

Add datagrid component instead of TAskTAble to test ordering
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

safe check internal ws msg 'type' field (#634)
  packages/api-server/api_server/routes/internal.py
Due: api-server

Removing Unexpected any
  packages/react-components/lib/tasks/task-datagrid-table.tsx
Due: react-components

Adding a task datagrid table component
  packages/react-components/lib/tasks/task-datagrid-table.tsx
Due: react-components

Changing how the data is displayed. Using Datagrid instead of table
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Setting class name according to the status
  packages/react-components/lib/tasks/task-datagrid-table.tsx
Due: react-components

Adding onRowclick event and set into it Task selected detaiils and logs
  packages/react-components/lib/tasks/task-datagrid-table.tsx
Due: react-components

Adding test file to Datagrid component
  package-lock.json
  packages/react-components/lib/tasks/task-datagrid.spec.tsx
Due: react-components

add last update time for robot page, automate robot page update [Dashboard] (#597)
  packages/dashboard/src/components/robots/robots-app.tsx
  packages/react-components/lib/robots/robot-table.spec.tsx
  packages/react-components/lib/robots/robot-table.stories.tsx
  packages/react-components/lib/robots/robot-table.tsx
Due: dashboard, react-components

Adding a task datagrid table component to index
  packages/react-components/lib/tasks/index.ts
Due: react-components

docs: Update installation steps in readme (#645)
  README.md
Due: none

Adding custom filter in start time column
  packages/react-components/lib/tasks/task-datagrid-table.tsx
Due: react-components

build: switch to pnpm; switch to ros humble (#628)
  README.md
Due: none

Adding select with state tasks enum to filter State column
  packages/react-components/lib/tasks/task-datagrid-table.tsx
Due: react-components

Adding filter in End time column with TimePicker component
  packages/react-components/lib/tasks/task-datagrid-table.tsx
Due: react-components

Removing cronological order state
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Manually switching to Infrastructure tab
  packages/dashboard-e2e/tests/ui-interactions/door-controls.test.ts
Due: dashboard

Display the correct waypoints of the level
  packages/dashboard/src/components/map-app.tsx
Due: dashboard

Implement server side filter and restructuring pagination to get 10 data per each page instead of get all data at once
  packages/dashboard/src/components/tasks/tasks-app.tsx
  packages/react-components/lib/tasks/task-datagrid-table.tsx
Due: dashboard, react-components

Default value to be 0 UTC time, just for the workshop
  packages/react-components/lib/tasks/create-task.tsx
Due: react-components

Adding Task table datagrid component
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components

Adding Task datagrid component to index
  packages/react-components/lib/tasks/index.ts
Due: react-components

Adding task datagrid component instead of TaskTable component
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard

Filter per category has been added
  packages/react-components/lib/tasks/task-table-datagrid.tsx
Due: react-components

Setting default filter fieldsto use server side filtering
  packages/dashboard/src/components/tasks/tasks-app.tsx
Due: dashboard
