Repository open-rmf/rmf-web: changes, and which Codecov flags are due for each by the changed paths.
All: dashboard, react-components, api-server, rmf-auth

Mentioning storybook, adding blurb to dashboard readme
  README.md
  packages/dashboard/README.md
Due: dashboard

Added code of conduct and general open-rmf contributing guidelines
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: none

Visually shift link
  README.md
Due: none

Add battery icon and add some details to make design according to figma
  packages/dashboard/src/components/robots/robot-summary.tsx
Due: dashboard

Add start current waypoint and next waypoint
  packages/dashboard/src/components/robots/robot-summary.tsx
Due: dashboard

Fix name
  CODE_OF_CONDUCT.md
Due: none

Publish api-server docs to ghpages (#704)
  .github/workflows/ghpages.yml
  README.md
  packages/api-server/scripts/extract_docs.py
Due: api-server

Adding link to statically hosted API definition
  README.md
Due: none

Added API definition mentions in package as well
  packages/api-server/README.md
Due: api-server

Documentation (#705)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  packages/api-server/README.md
  packages/dashboard/README.md
  packages/dashboard/package.json
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/header-bar.spec.tsx
  packages/react-components/lib/header-bar.stories.tsx
Due: dashboard, react-components, api-server

Retry on dashboard e2e workflows (#701)
  .github/workflows/dashboard-e2e.yml
  .github/workflows/nightly.yml
Due: none

Use switch statement instead of if elses
  packages/dashboard/src/components/alert-store.tsx
Due: dashboard

Using a typescript enum, since the API does not provide that
  packages/dashboard/src/components/alert-store.tsx
Due: dashboard

Moving useStyles outside of component
  packages/react-components/lib/alert-dialog.tsx
Due: react-components

Setting width of task alert to 95%
  packages/react-components/lib/alert-dialog.tsx
Due: react-components

Updated api-client with merged API with api usage fixes
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/dashboard/src/components/robots/robot-alert.tsx
  packages/dashboard/src/components/tasks/task-alert.tsx
Due: dashboard

Set battery icon according to battery level
  packages/dashboard/src/components/robots/robot-summary.tsx
Due: dashboard

Add empty grid item to center Dialog title
  packages/dashboard/src/components/robots/robot-summary.tsx
Due: dashboard

Change the info title in order to be more precise
  packages/dashboard/src/components/robots/robot-summary.tsx
Due: dashboard

Else case getting robot navigation
  packages/dashboard/src/components/robots/robot-summary.tsx
Due: dashboard

Style changes to improve the design
  packages/dashboard/src/components/robots/robot-summary.tsx
Due: dashboard

Alerts rework (#694)
  packages/api-client/lib/index.ts
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/app.py
  packages/api-server/api_server/models/__init__.py
  packages/api-server/api_server/models/tortoise_models/__init__.py
  packages/api-server/api_server/models/tortoise_models/alerts.py
  packages/api-server/api_server/repositories/__init__.py
  packages/api-server/api_server/repositories/alerts.py
  packages/api-server/api_server/rmf_io/__init__.py
  packages/api-server/api_server/rmf_io/events.py
  packages/api-server/api_server/routes/__init__.py
  packages/api-server/api_server/routes/alerts.py
  packages/api-server/api_server/routes/internal.py
  packages/dashboard/src/components/alert-store.tsx
  packages/dashboard/src/components/rmf-app/rmf-ingress.ts
  packages/dashboard/src/components/robots/robot-alert.tsx
  packages/dashboard/src/components/tasks/task-alert.tsx
  packages/react-components/lib/alert-dialog.spec.tsx
  packages/react-components/lib/alert-dialog.stories.tsx
  packages/react-components/lib/alert-dialog.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components, api-server

Set navigation and destination state null as default and use console.error insted of console.log
  packages/dashboard/src/components/robots/robot-summary.tsx
Due: dashboard

Fix showBatteryIcon function and clip decimal points
  packages/dashboard/src/components/robots/robot-summary.tsx
Due: dashboard

Using all battery bar icons with unknown and empty
  packages/dashboard/src/components/robots/robot-summary.tsx
Due: dashboard

Using all battery bar icons with unknown and empty (#707)
  packages/dashboard/src/components/robots/robot-summary.tsx
Due: dashboard

Show up robot summary when user click robot row (#706)
  packages/dashboard/src/components/robots/robot-summary.tsx
  packages/dashboard/src/components/robots/robots-app.tsx
  packages/dashboard/src/components/robots/robots-workspace.tsx
Due: dashboard

Adding user and request time to requests before submitting
  packages/api-client/lib/openapi/api.ts
  packages/api-client/lib/version.ts
  packages/api-client/schema/index.ts
  packages/api-server/api_server/models/rmf_api/task_request.py
  packages/api-server/api_server/repositories/tasks.py
  packages/dashboard/src/components/appbar.tsx
  packages/react-components/lib/tasks/create-task.tsx
Due: dashboard, react-components, api-server

Change robot tab name by system overview
  packages/dashboard/src/components/appbar.tsx
Due: dashboard

Remove doors and lifts from map section
  packages/dashboard/src/components/dashboard.tsx
Due: dashboard

Add doors and lifts to robot section
  packages/dashboard/src/components/robots/robots-workspace.tsx
Due: dashboard

Table is used insted of cards to show doors
  packages/dashboard/src/components/doors-app.tsx
Due: dashboard

Show lift as table instead of cards
  packages/dashboard/src/components/lifts-app.tsx
  packages/react-components/lib/lifts/lift-card.tsx
Due: dashboard, react-components

Combine the open and close button in a single column
  packages/dashboard/src/components/doors-app.tsx
Due: dashboard

Remove fullwithd property to the button
  packages/react-components/lib/lifts/lift-controls.tsx
Due: react-components

Combine arrows icons in a single column
  packages/dashboard/src/components/lifts-app.tsx
Due: dashboard

Combine door state and up down arrows in a single column
  packages/dashboard/src/components/lifts-app.tsx
Due: dashboard

Show Lift door state as uppercase
  packages/react-components/lib/lifts/lift-utils.ts
Due: react-components

Fix tablecell style
  packages/dashboard/src/components/doors-app.tsx
  packages/dashboard/src/components/lifts-app.tsx
Due: dashboard

Path conditions:
  dashboard: any of: packages/dashboard
  react-components: any of: packages/react-components
  api-server: any of: packages/api-server
  rmf-auth: any of: packages/rmf-auth
